﻿@model MeetSignIn.Areas.Admin.ViewModels.PFSeason.PFSeasonView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增評比季度" : "編輯評比季度";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        評比季度管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PFSeasonAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeptId)
                    @Html.HiddenFor(model => model.ClassID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ThaiTitle)
                                        @Html.TextBoxFor(model => model.ThaiTitle, new { @class = "form-control", @maxlength = "100" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptId)                                       
                                        @Html.DropDownListFor(model => model.DeptId, Model.DeptOptions, "---選擇部門---", new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate)
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate)
                                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsOnline)
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", new { DeptId = Model.DeptId }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //預設監聽
            setDateTime($("#StartDate"), 2);
            setDateTime($("#EndDate"), 2);          
        });

    </script>
}