﻿@model MeetSignIn.Areas.Admin.ViewModels.PFSeason.PFSeasonIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        評比季度管理 - @Model.DeptId @Model.DeptName
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                    <a class="btn btn-default" href="@Url.Action("DeptPFEdit", "PFCategoryAdmin", new { DeptId = Model.DeptId + "_" + Model.DeptName })">返回評比分類管理</a>
                </div>
                @using (Html.BeginForm("Index", "PFSeasonAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                         <div class="form-group">
                            @Html.LabelFor(model => model.DeptId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeptId, Model.DeptOptions, "---選擇部門---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "季度標題" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增季度", "Edit", "PFSeasonAdmin", new { DeptId = Model.DeptId }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">評比季度列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td>
                                                    <p>@Model.DeptOptions.Where(q => q.Value == item.DeptId).FirstOrDefault().Text</p>
                                                </td>
                                                <td>
                                                    @item.StartDate.ToString("yyyy-MM-dd HH:mm")
                                                </td>
                                                <td>
                                                    @item.EndDate.ToString("yyyy-MM-dd HH:mm")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "PFSeasonAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


