﻿@model MeetSignIn.Areas.Admin.ViewModels.Person.PersonView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增履歷資料" : "編輯履歷資料";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    adminInfo = adminInfo == null ? new MeetSignIn.Models.Others.AdminInfo() : adminInfo;
    bool isHR = adminInfo.DeptId == "B40";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        履歷資料管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PersonAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.JobID)
                                            @Html.TextBoxFor(model => model.JobID, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.JobID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.Name)
                                            @Html.TextBoxFor(model => model.PersonInfo.Name, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.Name)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.Gender)
                                            @Html.TextBoxFor(model => model.PersonInfo.Gender, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.Gender)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.Department)
                                            @Html.TextBoxFor(model => model.PersonInfo.Department, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.Department)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.JobTitle)
                                            @Html.TextBoxFor(model => model.PersonInfo.JobTitle, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.JobTitle)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.Educate)
                                            @Html.TextBoxFor(model => model.PersonInfo.Educate, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.Educate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.InductionDate)
                                            @Html.TextBoxFor(model => model.PersonInfo.InductionDateStr, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.InductionDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PersonInfo.Quit)
                                            @Html.TextBoxFor(model => model.PersonInfo.Quit, new { @class = "form-control", @maxlength = "50", @disabled = "true" })
                                            @Html.HiddenFor(model => model.PersonInfo.Quit)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.UpdateDate)
                                            @Html.TextBoxFor(model => model.UpdateDate, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.UpdateDate)
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">人員培訓資料列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @*@Html.Partial("_PageSizeAdmin", Model.TrainingList)*@
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                上課日期
                                            </th>
                                            <th>
                                                訓練類別
                                            </th>
                                            <th>
                                                課程名稱
                                            </th>
                                            <th>
                                                訓練單位
                                            </th>
                                            <th>
                                                時數
                                            </th>
                                            <th>
                                                費用
                                            </th>
                                            <th>
                                                是否合格
                                            </th>
                                            <th width="20%">
                                                備註
                                            </th>
                                            <th>課後驗收</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TrainingList != null && Model.TrainingList.Count() > 0)
                                        {
                                            foreach (var item in Model.TrainingList)
                                            {
                                                var tp = item.TrainingPersonInfo;
                                                var tr = item.TrainingInfo;
                                                string remark = !string.IsNullOrEmpty(tr.Remark) ? System.Text.RegularExpressions.Regex.Replace(tr.Remark, "<.*?>", String.Empty) : "";
                                                if (tr != null)
                                                {
                                                string cateStr = tr.Category.ToString();
                                                <tr>
                                                    <td>
                                                        @tr.StartDate.ToString("yyyy/MM/dd HH:mm")
                                                    </td>
                                                    <td>
                                                        @tr.CategoryOptions.Where(q => q.Value == cateStr).FirstOrDefault().Text
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.AuditStatus, "_ParticipateStateStatus")
                                                        <br />
                                                        <a href="@Url.Action("Edit", "TrainingAdmin", new { id = tr.ID})" target="_blank" style="font-weight:bold; color:#8e2f2f;">@tr.Title</a>
                                                    </td>
                                                    <td>
                                                        @tr.DeptIDOptions.Where(q => q.Value == tr.DeptID).FirstOrDefault().Text @tr.DeptID
                                                    </td>
                                                    <td>
                                                        @tr.Hours
                                                    </td>
                                                    <td>
                                                        @tr.Fee
                                                    </td>
                                                    <td>
                                                        @*@Html.DisplayFor(model => tp.IsPassed, "_PassedStatus")*@
                                                        @if (tr.Cert != 2 && tr.Cert != 0)
                                                        {
                                                            string checkedStr = tp.IsPassed ? "checked" : "";
                                                            <div class="pretty p-switch p-slim">
                                                                <input type="checkbox" class="switch_passed" id="@tp.ID" @checkedStr />
                                                                <div class="state p-success">
                                                                    <label id="passed_text">通過</label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.Raw(remark)
                                                    </td>
                                                    <td>
                                                        @if (item.TrainingInfo.Category == (int)MeetSignIn.Models.Category.External)
                                                        {
                                                            @Html.DisplayFor(model => item.EAStatus, "_ParticipateStateStatus")
                                                            <br />
                                                            if (item.EAStatus != "尚未填寫")
                                                            {
                                                                @Html.ActionLink("外訓驗收", "Edit", "ExternalAcceptanceAdmin", new { trainingId = item.TrainingInfo.ID, personId = Model.JobID }, new { @class = "btn bg-fuchsia external_btn", @style = "margin: 3px !important;" })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(model => item.IAStatus, "_ParticipateStateStatus")
                                                            <br />
                                                            if (item.IAStatus != "尚未填寫")
                                                            {
                                                                @Html.ActionLink("內訓驗收", "Edit", "InternalAcceptanceAdmin", new { trainingId = item.TrainingInfo.ID, personId = Model.JobID }, new { @class = "btn bg-fuchsia internal_btn", @style = "margin: 3px !important;" })
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TrainingInfo.Category == (int)MeetSignIn.Models.Category.External)
                                                        {
                                                            @Html.ActionLink("查看課程", "ExternalEdit", "TrainingAdmin", new { id = item.TrainingInfo.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink("查看課程", "Edit", "TrainingAdmin", new { id = item.TrainingInfo.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                        }
                                                        @*@Html.ActionLink("刪除", "Delete", "TrainingPersonAdmin", new { id = tp.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })*@
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                上課日期
                                            </th>
                                            <th>
                                                訓練類別
                                            </th>
                                            <th>
                                                課程名稱
                                            </th>
                                            <th>
                                                訓練單位
                                            </th>
                                            <th>
                                                時數
                                            </th>
                                            <th>
                                                費用
                                            </th>
                                            <th>
                                                是否合格
                                            </th>
                                            <th>
                                                備註
                                            </th>
                                            <th>課後驗收</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-primary">
                @using (Html.BeginForm("Edit", "PersonAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.JobID)
                    @Html.HiddenFor(model => model.PersonInfo.Name)
                    @Html.HiddenFor(model => model.PersonInfo.Gender)
                    @Html.HiddenFor(model => model.PersonInfo.Department)
                    @Html.HiddenFor(model => model.PersonInfo.JobTitle)
                    @Html.HiddenFor(model => model.PersonInfo.Educate)
                    @Html.HiddenFor(model => model.PersonInfo.InductionDate)
                    @Html.HiddenFor(model => model.PersonInfo.Quit)
                    @Html.HiddenFor(model => model.UpdateDate)

                    <div class="box-body">
                        <div class="nav-tabs-custom">

                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(model => model.Competency)
                                            @Html.TextAreaFor(model => model.Competency, new { @class = "form-control js-ckeditor", @style = "height: 300px;" })
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PersonFileList) (非必填)
                                        @Html.TextBoxFor(model => model.PersonFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/*", @style = "height: 100% !important;" })
                                        @*@Html.HiddenFor(model => model.PersonFiles)*@
                                        @*<input type="file" id="fileone" name="fileone" accept="image/*">*@
                                        <code>請上傳不超過10MB的檔案</code>
                                        @Html.ValidationMessageFor(model => model.PersonFiles, "", new { @class = "text-danger" })
                                        @if (Model.PersonFileList != null && Model.PersonFileList.Count() > 0)
                                        {
                                            foreach (var item in Model.PersonFileList)
                                            {
                                                <img src="~/FileUploads/PersonFilePhoto/@item.MainFile" class="img-thumbnail" style="width:400px" />

                                            }
                                            @*@Html.HiddenFor(model => model.PersonFiles)

                                    <br />
                                    @Html.ActionLink("刪除檔案", "DeleteImage", "TrainingAdmin", new { id = Model.ID, t = 1 }, new { @class = "btn btn-danger js-delete-confirm" })*@

                                        }
                                    </div>
                                </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                         @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin || isHR)
                         {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                         }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('.switch_passed').on('change', function () {
                var passed = false;
                if ($(this).is(':checked')) {
                    passed = true;
                }

                $.ajax({
                    url: "/Admin/PersonAdmin/ChangePassed",
                    type: 'POST',
                    dataType: "text",
                    data: {
                        id: $(this).attr('id'),
                        passed: passed
                    },
                    success: function (data) {
                        //return data;
                        console.log(data);
                        $('#passed_text').text(data);
                    }
                });
            });
        });
    </script>
    <!--ckeditor-->
    <!--<script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>-->
    <script>
        $(function () {
            ////Ckeditor init
            //$('.js-ckeditor').each(function (i, e) {
            //    var id = $(e).attr('id');
            //    CKEDITOR.replace(id, {
            //        filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
            //        height: '500px'
            //    });
            //});
        });
    </script>
}