﻿@model MeetSignIn.Areas.Admin.ViewModels.Person.PersonIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        履歷資料管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "PersonAdmin", FormMethod.Get, new { @class = "form-horizontal", @id = "List_Form" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobID, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.DeptID, Model.DeptOptions, "---課別---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增人員培訓資料", "Edit", "PersonAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }            
            <div class="box-header with-border">
                <h3 class="box-title">新增</h3>
            </div>
                @using (Html.BeginForm("Edit", "PersonAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <input id="jid" name="jid" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">新增/查看</button>
                                @*@Html.ActionLink("新增人員培訓資料", "Edit", "PersonAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">人員培訓資料列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Department)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.TrainingCount)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.JobID
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "PersonAdmin", new { jid = item.JobID})" target="_blank"><i class="fa fa-user"></i>@item.PersonInfo.Name</a>
                                                </td>
                                                <td>
                                                    <label class="dept_tag">@item.PersonInfo.Department</label>
                                                </td>
                                                @*<td>
                                                    @item.TrainingCount
                                                </td>*@
                                                <td>
                                                    @item.UpdateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "PersonAdmin", new { jid = item.JobID })" class="btn btn-primary">
                                                        <i class="fa fa-user"></i>
                                                        <span>查看</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Department)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.TrainingCount)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('#DeptID').on('change', function () {
                $('#List_Form').submit();
            });
        })
    </script>
}


