﻿@model MeetSignIn.Areas.Admin.ViewModels.DeptKPI.DeptKPIView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增部門指標" : "編輯部門指標";
}

@section styles{
    <style>
        .check_list_area{
            font-size: 20px;
        }
    </style>    
}

<section class="content-header">
    <h1>
        部門指標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "DeptKPIAdmin")"> 部門指標列表</a></li>
        <li class="active">部門指標管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">@title</h3>
                </div>
                @using (Html.BeginForm("Edit", "DeptKPIAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ParentKPIID)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.Updater)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.Title)
                    @*@Html.HiddenFor(model => model.Type)
                @Html.HiddenFor(model => model.Level)*@

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentKPIID)
                            @Html.TextBoxFor(model => model.ParentKPITitle, new { @class = "form-control", @disabled = "true" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @disabled = "true" })
                        </div>
                        @*<div class="form-group">
                        @Html.LabelFor(model => model.Type)
                        @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control", @disabled = "true" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Level)
                        @Html.DropDownListFor(model => model.Level, Model.LevelOptions, new { @class = "form-control", @disabled = "true" })
                    </div>*@

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.Dept)</label><br />
                            @foreach (var item in Model.DeptOptions.Where(q => Model.Dept.Contains(q.Text)))
                            {
                                <div class="label label-default" id="dept_@item.Value" style="margin: 2px 5px; background-color: #a97d63; color: #fff;">@item.Text</div>
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CheckDate)
                            @Html.TextBoxFor(model => model.CheckDate, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        </div>

                        <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <div class="state p-success">
                                @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                            </div>
                        </div>
                        <br />
                        <button type="button" class="btn btn-info add_dept_kpi" data-toggle="modal" data-target="#selectPersonDeptModal">
                            <i class="fa fa-plus"></i>參與人員
                        </button>
                        @*<button type="button" class="btn bg-olive add_dept_kpi" data-toggle="modal" data-target="#selectPersonModel">
                            參與人員2
                        </button>*@
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">儲存</button>
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                        </div>
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!--==================列表==================-->

            @if (true)
            {
                <!--季度占比-->
                @*<div class="box">
                <div class="box-header">
                    <h3 class="box-title">季度個人目標占比</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].PersonKPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].PersonKPIStateTitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].Percentage)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PersonKPIPercentageTasks != null && Model.PersonKPIPercentageTasks.Count() > 0)
                                            {
                                                @Html.EditorFor(model => model.PersonKPIPercentageTasks)
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].PersonKPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].PersonKPIStateTitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIPercentageTasks[0].Percentage)</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

                <!--參與指標-->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">參與人員列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @*@if (Model.PersonKPIList == null || Model.PersonKPIList.Count() == 0)
                    {
                        <a href="@Url.Action("History", new { PersonId = Model.PersonId })" class="btn bg-olive" target="_blank">
                            <i class="fa fa-undo"> 恢復</i>
                        </a>
                    }*@
                        @if (Model.PersonKPIList != null && Model.PersonKPIList.Count() > 0)
                        {
                            <button class="btn btn-success" id="save_percentage">
                                <i class="fa fa-save"> 儲存</i>
                            </button>
                        }
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th width="9%">@Html.DisplayNameFor(x => x.PersonKPIList[0].PersonId)</th>
                                                <th width="9%">@Html.DisplayNameFor(x => x.PersonKPIList[0].DeptId)</th>
                                                <th width="9%">負責部分</th>
                                                <th width="9%">分級</th>
                                                <th width="4%">占比</th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">
                                            @if (Model.PersonKPIList != null && Model.PersonKPIList.Count() > 0)
                                            {
                                                for (int j = 0; j < Model.PersonKPIList.Count(); j++)
                                                {
                                                    var item = Model.PersonKPIList[j];
                                                    string division = "";
                                                    decimal rank = 1;
                                                    int percentage = 0;
                                                    if (item.DivisionInfo != null)
                                                    {
                                                        division = item.DivisionInfo.Division;
                                                        rank = item.DivisionInfo.Rank;
                                                        percentage = item.DivisionInfo.Percentage;
                                                    }
                                                    <tr id="personkpi_id_@item.ID" class="participant">
                                                        <td>
                                                            <a class="btn btn-default" href="@Url.Action("MonthsEdit", "PersonKPIAdmin", new { PersonId = item.PersonId})">
                                                                @item.PersonId - @item.Name
                                                            </a>
                                                            <input type="hidden" class="participant_personKpiId" value="@item.ID" />
                                                            <input type="hidden" class="participant_personId" value="@item.PersonId" />
                                                        </td>
                                                        <td>
                                                            <a class="btn dept_btn" href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = item.DeptName})">
                                                                @item.DeptId - @item.DeptName
                                                            </a>
                                                                <input type="hidden" class="participant_deptId" value="@item.DeptId" />
                                                        </td>
                                                        <td><input type="text" class="form-control participant_division" value="@division" /></td>
                                                        <td><input type="text" class="form-control participant_rank" value="@rank" /></td>
                                                        <td><input type="number" class="form-control participant_percentage" value="@percentage" /> % </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIList[0].PersonId)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonKPIList[0].DeptId)</th>
                                                <th width="9%">負責部分</th>
                                                <th width="9%">分級</th>
                                                <th width="4%">占比</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            }

            <!-- Popup Modal -->
            <div class="modal fade" id="selectPersonDeptModal" tabindex="-1" aria-labelledby="selectPersonDeptModal" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 60%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h3 class="modal-title">參與人員-選擇部門</h3>
                        </div>
                        <div class="modal-body">
                            <div class="box-body">
                                <input type="hidden" id="personkpi_id" name="personkpi_id" />

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Dept)<br />*@
                                    @foreach (var item in Model.DeptOptions.Where(q => Model.Dept.Contains(q.Text)))
                                    {
                                        <button class="btn dept_btn" id="dept_kpi_@item.Value" style="margin: 2px 5px;" data-toggle="modal" data-target="#selectPersonModel">@item.Text</button>
                                        @*<div class="btn dept_btn" id="dept_kpi_@item.Value" style="margin: 2px 5px;" data-toggle="modal" data-target="#selectPersonModal">@item.Text</div>*@
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="selectPersonModel" tabindex="-1" role="dialog" style="padding-left: 0px !important;">
                <div class="modal-dialog" style="max-width: 80%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h3 class="modal-title">參與人員-選擇人員</h3>
                            <h5 class="modal-title" id="participant_dept"></h5>
                        </div>

                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <div id="check_list_area" class="check_list_area">
                                        <input type="hidden" id="personkpi_id" name="personkpi_id" />
                                        <div class="pretty p-svg p-curve">
                                            <input type="checkbox" id="check_all" name="all" onclick="Check_All(this,'ckb')" />
                                            <div class="state p-info">
                                                <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label>All</label>
                                            </div>
                                        </div>
                                        <div id="check_list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_participant">儲存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



@section scripts{
    <script>
        var selectedArr = [];

        $(function () {
            setDateTime($("#CheckDate"), 0);

            $('#save_percentage').on('click', function () {
                Save_Percentage();
            });

            $('#save_participant').on('click', function () {
                Save_Participant();
            });

            CheckedNotify();
            SetCheckedParticipant(); 

            $('.dept_btn').on('click', function () {
                var deptId = $(this).attr('id').split('_')[2];
                $('#participant_dept').text('【' + $(this).text() + '】');
                $('#check_list').children().remove();

                $.ajax({
                    url: "/BaseAdmin/GetPersonByDeptId",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        'DeptId': deptId
                    },
                    success: function (data) {
                        console.log(data);
                        var checkall = '1';
                        $.map(data, function (employee) {
                            var name = employee.Name + ' ' + (employee.EngName || "");
                            var checked = selectedArr.indexOf(employee.JobID) >= 0 ? 'checked' : '';
                            if (checked == '') {
                                checkall = '0';
                            }
                            $('#check_list').append('<div class="pretty p-svg p-curve"><input type="checkbox" id="' + employee.ID + '_' + employee.JobID + '_' + employee.DepartmentStr + '_' + name + '" name="ckb" class="notify_ckb" ' + checked + ' /><div class="state p-success">' +
                                    '<svg class="svg svg-icon" viewBox="0 0 20 20">' +
                '<path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>' +
            '</svg>' +
                                    '<label> ' + name + '</label>' +
                                '</div>' +
                            '</div><br>');
                        });
                        if (checkall == '1') {
                            $('#check_all').prop("checked", true);
                        }
                        else {
                            $('#check_all').prop("checked", false);
                        }

                        CheckedNotify();

                        toastr.success('資料已更新');
                        $('#close_popup').click();
                    //    location.reload();
                    },
                    error: function () {
                        toastr.error('更新失敗');
                    }
                });
            });
        })

        function SetCheckedParticipant() {
            $('.participant').each(function () {
                var personId = $(this).find('.participant_personId').val();
                if (selectedArr.indexOf(personId < 0)) {
                    selectedArr.push(personId);
                }
            });
        }

        function Save_Percentage()
        {
            var deptKpiId = $('#ID').val();
            var datas = [];
            $('.participant').each(function () {
                var data = {
                    PersonKPIID: $(this).find('.participant_personKpiId').val(),
                    PersonId: $(this).find('.participant_personId').val(),
                    DeptId: $(this).find('.participant_deptId').val(),
                    Division: $(this).find('.participant_division').val(),
                    Rank: $(this).find('.participant_rank').val(),
                    Percentage: $(this).find('.participant_percentage').val(),
                }

                datas.push(data);
            });

            $.ajax({
                url: "/DeptKPIAdmin/SavePercentage",
                type: 'POST',
                anysc: false,
                dataType: "text",
                data: {
                    'deptKpiId': parseInt(deptKpiId),
                    'jsonData': JSON.stringify({ 'datas': datas })
                },
                success: function (response) {
                    toastr.success('資料已更新');
                    $('#close_popup').click();
                    location.reload();
                    //    Reload('/Admin/PersonKPIAdmin/Edit?PersonId=' + personId);
                },
                error: function () {
                    toastr.error('更新失敗');
                }
            });
        }

        function Save_Participant() {
            var deptKpiId = $('#ID').val();
          
            $.ajax({
                url: "/DeptKPIAdmin/Save_Participant",
                type: 'POST',
                anysc: false,
                dataType: "text",
                data: {
                    'deptKpiId': parseInt(deptKpiId),
                    'PersonIdList': selectedArr
                },
                success: function (response) {
                    toastr.success('資料已更新');
                    $('#close_popup').click();
                    location.reload();
                },
                error: function () {
                    toastr.error('更新失敗');
                }
            });
        }

        function Check_All(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) {
                checkboxs[i].checked = obj.checked;
            }
            $('input[name="ckb"]').each(function () {
                SwitchNotifyStatus($(this));
            });
        }

        function CheckedNotify() {
            $('.notify_ckb').on('change', function () {
                SwitchNotifyStatus($(this));
            });
        }

        function SwitchNotifyStatus(target) {
            var thisId = target.attr('id');
            var info = thisId.split('_');
            if (target.is(":checked")) {//勾選
                if (selectedArr.indexOf(info[1]) < 0) {
                    selectedArr.push(info[1]);
                }
            }
            else {//取消勾選
                var index = selectedArr.indexOf(info[1]);
                if (index >= 0) {
                    selectedArr.splice(index, 1);
                }
            }
        }
    </script>
}