﻿@model MeetSignIn.Areas.Admin.ViewModels.KPI.KPIIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        部門指標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">部門指標管理</li>
    </ol>
</section>

<section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">搜尋</h3>                     
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "DeptKPIAdmin", FormMethod.Get, new { @class = "form-horizontal", @id = "List_Form" }))
                        {
                            @*@Html.AntiForgeryToken()*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentKPIID, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.ParentKPITitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Type, Model.TypeOptions, "選擇指標類型", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Dept, new { @class = "col-sm-2 control-label" })<br />
                                <div class="col-sm-10">
                                    @foreach (var item in Model.DeptOptions)
                                    {
                                        <div class="js-signer-Dept btn btn-default dept_btn" id="dept_@item.Value" style="margin: 2px 5px; ">@item.Text</div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.TextBoxFor(model => model.Dept, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApprovalState, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.ApprovalState, Model.ApprovalStateOptions, "選擇狀態", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">搜尋</button>
                                </div>
                            </div>
                           
                        }
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">部門指標列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.ParentKPIID)</th>
                                                <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                <th width="40%">@Html.DisplayNameFor(x => x.DeptId)</th>
                                                <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.PageResult.Data)
                                            {
                                                <tr>
                                                    <td>@item.ParentKPITitle</td>
                                                    <td>@item.Title</td>
                                                    <td>@item.TypeOptions.Where(q => q.Value == item.Type.ToString()).FirstOrDefault().Text</td>
                                                    <td>
                                                        @foreach (var dept in item.Dept.Split(','))
                                                        {
                                                            if (!string.IsNullOrEmpty(dept))
                                                            {
                                                                <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = dept })" class="btn btn-sm bg-dafault dept-tag" style="background-color: #a97d63; color: #fff;">@dept</a>
                                                            }

                                                        }
                                                    </td>
                                                    <td>@Html.DisplayFor(model => item.IsOnline, "_Status")</td>
                                                    <th>@item.CheckDate.ToString("yyyy/MM/dd HH:mm")</th>
                                                    <td>
                                                        <a href="@Url.Action("Edit", "DeptKPIAdmin", new { id = item.ID })" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.ParentKPIID)</th>
                                                <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                <th width="40%">@Html.DisplayNameFor(x => x.DeptId)</th>
                                                <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @Html.Partial("_PageAdmin", Model.PageResult)
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- Popup Modal -->
                @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedDeptType = $('#Dept');
            var remove;

            //Dept
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }               
            });
            $selectedDeptType.on('itemRemoved', function (event) {
                $('#List_Form').submit();
            });
            $('.js-signer-Dept').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
                $('#List_Form').submit();
            });
        });
    </script>
}
