﻿@model MeetSignIn.Areas.Admin.ViewModels.Test.UserIndexView
@{
    ViewBag.Title = "Edit";
}

@section styles
{
    <style>
        .container {
            margin: 20px auto 0;
            max-width: 500px;
            word-wrap: break-word
        }

        * {
            box-sizing: border-box;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 5px 0;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            background: #136a8a;
            background: -webkit-linear-gradient(to right, #267871, #136a8a);
            background: linear-gradient(to right, #267871, #136a8a);
            color: #fff;
            list-style: none;
        }

            li.drag-sort-active {
                background: transparent;
                color: transparent;
                border: 1px solid #4ca1af;
            }

        span.drag-sort-active {
            background: transparent;
            color: transparent;
        }
    </style>
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">個人目標列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UserTasks[0].TaskName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UserTasks[0].CompletedDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UserTasks[0].UserId)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <!-- Using Edit Template to Edit List Data -->
                                            @Html.EditorFor(model => model.UserTasks)
                                        </tbody>

                                        <!-- Using For Loop to Get Correct Element Name -->
                                        @*@for (int i = 0; i < Model.UserTasks.Count; i++)
                                        {
                                            @Html.HiddenFor(model => Model.UserTasks[i].UserTaskId)

                                            <tr>
                                                <td>
                                                    @Html.EditorFor(model => Model.UserTasks[i].TaskName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => Model.UserTasks[i].TaskName, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => Model.UserTasks[i].CompletedDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => Model.UserTasks[i].CompletedDate, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => Model.UserTasks[i].UserId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => Model.UserTasks[i].UserId, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        }*@

                                    </table>
                                    <input type="submit" value="Save" class="btn btn-default" />

                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="container">
            <h3>Drag and Sort :</h3>
            <div class="drag-sort-enable">
                <p class="drag-sort-enable">
                    <span> You</span>
                    <span> can</span>
                    <span> rearrange</span>
                    <span> any</span>
                    <span> elements</span>
                    <span> within</span>
                    <span> a</span>
                    <span> parent</span>
                    <span> node</span>
                    <span> with</span>
                    <span> class</span>
                    <span> 'drag-sort-enable'</span>
                    <span> or</span>
                    <span> anything</span>
                    <span> with</span>
                    <span> event</span>
                    <span> function</span>
                    <span> handleDrag()</span>
                    <span> and</span>
                    <span> handleDrop()</span>.
                    <span> You can also rearrange this text.</span>
                </p>
                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Doesn't work on mobile devices.<p>
            </div>
            <hr>
            <ul class="drag-sort-enable">
                <li>Application</li>
                <li>Blank</li>
                <li>Class</li>
                <li>Data</li>
                <li>Element</li>
            </ul>
        </div>
    </div>
</section>

@section scripts{
    @*<script>
        /* Made with love by @@fitri
This is a component of my ReactJS project
https://codepen.io/fitri/full/oWovYj/ */

        function enableDragSort(listClass) {
            const sortableLists = document.getElementsByClassName(listClass);
            Array.prototype.map.call(sortableLists, (list) => { enableDragList(list) });
        }

        function enableDragList(list) {
            Array.prototype.map.call(list.children, (item) => { enableDragItem(item) });
        }

        function enableDragItem(item) {
            item.setAttribute('draggable', true)
            item.ondrag = handleDrag;
            item.ondragend = handleDrop;
        }

        function handleDrag(item) {
            const selectedItem = item.target,
                list = selectedItem.parentNode,
                x = event.clientX,
                y = event.clientY;

            selectedItem.classList.add('drag-sort-active');
            let swapItem = document.elementFromPoint(x, y) === null ? selectedItem : document.elementFromPoint(x, y);

            if (list === swapItem.parentNode) {
                swapItem = swapItem !== selectedItem.nextSibling ? swapItem : swapItem.nextSibling;
                list.insertBefore(selectedItem, swapItem);
            }
        }

        function handleDrop(item) {
            item.target.classList.remove('drag-sort-active');
        }

        (() => { enableDragSort('drag-sort-enable') })();
    </script>*@
}
