﻿@model Int32
@{
    var statusStyle = "";
    var statusDisplay = "";
    switch ((MeetSignIn.Models.AuditType)Model)
    {
        case MeetSignIn.Models.AuditType.External:
            statusStyle = "#f3db65";
            statusDisplay = "外訓計畫表";
            break;
        case MeetSignIn.Models.AuditType.Internal:
            statusStyle = "#b4f3ed";
            statusDisplay = "內訓計畫表";
            break;
        case MeetSignIn.Models.AuditType.ExternalAcceptance:
            statusStyle = "#98df97";
            statusDisplay = "外訓驗收";
            break;
        case MeetSignIn.Models.AuditType.InternalAcceptance:
            statusStyle = "#ffb1d5";
            statusDisplay = "內訓驗收";
            break;
        case MeetSignIn.Models.AuditType.Seminar:
            statusStyle = "#ff8f8f";
            statusDisplay = "內訓研討會";
            break;
        case MeetSignIn.Models.AuditType.PersonKPI:
            statusStyle = "#babcff";
            statusDisplay = "個人目標";
            break;
        case MeetSignIn.Models.AuditType.PF:
            statusStyle = "#8dc7b9";
            statusDisplay = "績效評比";
            break;
        case MeetSignIn.Models.AuditType.CloseExternalTraining:
            statusStyle = "#89aeff";
            statusDisplay = "外訓結案";
            break;
        case MeetSignIn.Models.AuditType.CloseInternalTraining:
            statusStyle = "#ffa671";
            statusDisplay = "內訓結案";
            break;
        case MeetSignIn.Models.AuditType.TrainingAbnormal:
            statusStyle = "#ffe210";
            statusDisplay = "課程異動";
            break;
    }
}
@*<span class="label label-default" style="background-color: #f3db65">外訓計畫表</span>
    <span class="label label-default" style="background-color: #b4f3ed">內訓計畫表</span>
    <span class="label label-default" style="background-color: #98df97">外訓驗收</span>
    <span class="label label-default" style="background-color: #ffb1d5">內訓驗收</span>
    <span class="label label-default" style="background-color: #ff8f8f">內訓研討會</span>
    <span class="label label-default" style="background-color: #babcff">個人目標</span>
    <span class="label label-default" style="background-color: #8dc7b9">績效評比</span>
    <span class="label label-default" style="background-color: #89aeff">外訓結案</span>
    <span class="label label-default" style="background-color: #ffa671">內訓結案</span>
    <span class="label label-default" style="background-color: #ffe210">課程異動</span>*@

<span class="label label-default" style="background-color: @statusStyle">@statusDisplay</span>