﻿@model MeetSignIn.Areas.Admin.ViewModels.AuditView

@{
    int reject = (int)MeetSignIn.Models.ApprovalState.Reject;
    int approved = (int)MeetSignIn.Models.ApprovalState.Approved;
}

<div class="form-group">
    <div class="signature_area">
        <label class="label label-default bg-maroon">承辦人簽章</label>
        <div style="position: relative; width: 170px">
            @if (Model.OfficerAudit > 1)
            {
                if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.OfficerSignature)))
                {
                    Model.OfficerSignature = "0001.jpg";
                }
                if (Model.OfficerDeptId == null)
                {
                    Model.OfficerSignature = "0000.jpg";
                    Model.OfficerAuditDate = Model.OfficerAuditDate;
                }
                string approval_state = "";
                if (Model.OfficerAudit == reject)
                {
                    approval_state = "signature_img_reject";
                }
                else if (Model.OfficerAudit == approved)
                {
                    approval_state = "signature_img_Approved";
                }
                <img class="signature_img @approval_state" src="~/Content/Signature/@Model.OfficerSignature" style=" width: 160px; height: 160px;" />
                if (Model.OfficerSignature == "0001.jpg")
                {
                    if (Model.OfficerDeptId == "0001")
                    {
                        <p class="signature_dept signature_dept_officer">菲力工業</p>
                    }
                    else
                    {
                        string fontSize = "22px;";
                        if (Model.OfficerDeptName.Length > 4)
                        {
                            fontSize = "18px;";
                        }
                        <p class="signature_dept signature_dept_officer" style="font-size: @fontSize">@Model.OfficerDeptName</p>
                    }
                    <p class="signature_name signature_name_officer">@Model.OfficerName</p>
                }
                else if (Model.OfficerSignature == "0000.jpg")
                {
                    <p class="signature_dept signature_dept_officer">菲力工業</p>
                    <p class="signature_name signature_name_officer">人資部</p>
                }
                <p class="signature_date signature_date_officer">@Model.OfficerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
            }
            else
            {
                <label class="text text-danger no_signature">無簽章</label>
            }
        </div>
        @Html.HiddenFor(model => model.OfficerSignature)
        @Html.HiddenFor(model => model.OfficerRemark)
        @Html.HiddenFor(model => model.OfficerAuditDate)
    </div>
</div>
<div class="form-group">
    @if (!string.IsNullOrEmpty(Model.ManagerSignature))
    {
        <div class="signature_area">
            <label class="label label-default bg-maroon">主管簽章</label>
            <div style="position: relative; width: 170px">
                @if (Model.ManagerAudit > 1)
                {
                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ManagerSignature)))
                    {
                        Model.ManagerSignature = "0001.jpg";
                    }
                    string approval_state = "";
                    if (Model.ManagerAudit == reject)
                    {
                        approval_state = "signature_img_reject";
                    }
                    else if (Model.ManagerAudit == approved)
                    {
                        approval_state = "signature_img_Approved";
                    }
                    <img class="signature_img @approval_state" src="~/Content/Signature/@Model.ManagerSignature" style=" width: 160px; height: 160px;" />
                    if (Model.ManagerSignature == "0001.jpg")
                    {
                        if (Model.OfficerDeptId == "0001")
                        {
                            <p class="signature_dept signature_dept_manager">菲力工業</p>
                        }
                        else
                        {
                            string fontSize = "22px;";
                            if (Model.OfficerDeptName.Length > 4)
                            {
                                fontSize = "18px;";
                            }
                            <p class="signature_dept signature_dept_manager" style="font-size: @fontSize">@Model.ManagerDeptName</p>
                        }
                        <p class="signature_name signature_name_manager">@Model.ManagerName</p>
                    }
                    else if (Model.ManagerSignature == "0000.jpg")
                    {
                        <p class="signature_dept signature_dept_manager">菲力工業</p>
                        <p class="signature_name signature_name_manager">人資部</p>
                    }
                    <p class="signature_date signature_date_manager">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                }
                else
                {
                    <label class="text text-danger no_signature">無簽章</label>
                }
            </div>
            @Html.HiddenFor(model => model.ManagerSignature)
            @Html.HiddenFor(model => model.ManagerRemark)
            @Html.HiddenFor(model => model.ManagerAuditDate)
        </div>
    }
</div>
<div class="form-group">
    @if (!string.IsNullOrEmpty(Model.ViceSignature))
    {
        <div class="signature_area">
            <label class="label label-default bg-maroon">副總簽章</label>
            <div style="position: relative; width: 170px">
                @if (Model.ViceAudit > 1)
                {
                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ViceSignature)))
                    {
                        Model.ViceSignature = "0001.jpg";
                    }
                    string approval_state = "";
                    if (Model.ViceAudit == reject)
                    {
                        approval_state = "signature_img_reject";
                    }
                    else if (Model.ViceAudit == approved)
                    {
                        approval_state = "signature_img_Approved";
                    }
                    <img class="signature_img @approval_state" src="~/Content/Signature/@Model.ViceSignature" style=" width: 160px; height: 160px;" />
                    if (Model.ViceSignature == "0001.jpg")
                    {
                        string fontSize = "22px;";
                        if (Model.OfficerDeptName.Length > 4)
                        {
                            fontSize = "18px;";
                        }
                        <p class="signature_dept signature_dept_vice" style="font-size: @fontSize">@Model.ViceDeptName</p>
                        <p class="signature_name signature_name_vice">@Model.ViceName</p>
                    }
                    else if (Model.ViceSignature == "0000.jpg")
                    {
                        <p class="signature_dept signature_dept_vice">菲力工業</p>
                        <p class="signature_name signature_name_vice">人資部</p>
                    }
                    <p class="signature_date signature_date_vice">@Model.ViceAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                }
                else
                {
                    <label class="text text-danger no_signature">無簽章</label>
                }
            </div>
            @Html.HiddenFor(model => model.ViceSignature)
            @Html.HiddenFor(model => model.ViceRemark)
            @Html.HiddenFor(model => model.ViceAuditDate)
        </div>
    }
</div>
<div class="form-group">
    @if (!string.IsNullOrEmpty(Model.PresidentSignature))
    {
        <div class="signature_area">
            <label class="label label-default bg-maroon">總經理簽章</label>
            <div style="position: relative; width:170px">
                @if (Model.PresidentAudit > 1)
                {
                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.PresidentSignature)))
                    {
                        Model.PresidentSignature = "0001.jpg";
                    }
                    string approval_state = "";
                    if (Model.PresidentAudit == reject)
                    {
                        approval_state = "signature_img_reject";
                    }
                    else if (Model.PresidentAudit == approved)
                    {
                        approval_state = "signature_img_Approved";
                    }
                    <img class="signature_img @approval_state" src="~/Content/Signature/@Model.PresidentSignature" style=" width: 160px; height: 160px;" />
                    if (Model.PresidentSignature == "0001.jpg")
                    {
                        string fontSize = "22px;";
                        if (Model.OfficerDeptName.Length > 4)
                        {
                            fontSize = "18px;";
                        }
                        <p class="signature_dept signature_dept_president" style="font-size: @fontSize">@Model.PresidentDeptName</p>
                        <p class="signature_name signature_name_president">@Model.PresidentName</p>
                    }
                    else if (Model.PresidentSignature == "0000.jpg")
                    {
                        <p class="signature_dept signature_dept_president">菲力工業</p>
                        <p class="signature_name signature_name_president">人資部</p>
                    }
                    <p class="signature_date signature_date_president">@Model.PresidentAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                }
                else
                {
                    <label class="text text-danger no_signature">無簽章</label>
                }
            </div>
            @Html.HiddenFor(model => model.PresidentSignature)
            @Html.HiddenFor(model => model.PresidentRemark)
            @Html.HiddenFor(model => model.PresidentAuditDate)
        </div>
    }
</div>
<div class="form-group">
    <div class="signature_area">
        <label class="label label-default bg-maroon">校長簽章</label>
        <div style="position: relative; width: 170px">
            @if (Model.PrincipalAudit > 1)
            {
                Model.PrincipalSignature = "0001.jpg";
                string approval_state = "";
                if (Model.PrincipalAudit == reject)
                {
                    approval_state = "signature_img_reject";
                }
                else if (Model.PrincipalAudit == approved)
                {
                    approval_state = "signature_img_Approved";
                }
                <img class="signature_img @approval_state" src="~/Content/Signature/0001.jpg" style=" width: 160px; height: 160px;" />
                if (Model.PrincipalSignature == "0001.jpg")
                {
                    <p class="signature_dept signature_dept_principal" style="font-size: 36px;">校長</p>
                    <p class="signature_name signature_name_principal">@Model.PrincipalName</p>
                }
                else if (Model.PrincipalSignature == "0000.jpg")
                {
                    <p class="signature_dept signature_dept_principal">菲力工業</p>
                    <p class="signature_name signature_name_principal">人資部</p>
                }
                <p class="signature_date signature_date_principal">@Model.PrincipalAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
            }
            else
            {
                <label class="text text-danger no_signature">無簽章</label>
            }
        </div>
        @Html.HiddenFor(model => model.PrincipalSignature)
        @Html.HiddenFor(model => model.PrincipalRemark)
        @Html.HiddenFor(model => model.PrincipalAuditDate)
    </div>
</div>
