﻿@model Int32
@switch (Model)
{
    case 1:
        <div><label class="label label-warning">待審</label></div>
        break;
    case 2:
        <div><label class="label label-success">核准</label></div>
        break;
    case 3:
        <div><label class="label label-danger">駁回</label></div>
        break;
}