﻿@model Int32
@switch (Model)
{
    case 1:
<div><label class="label label-default">未中獎</label></div>
        break;
    case 2:
<div><label class="label label-success">中獎</label></div>
        break;
    case 3:
<div><label class="label bg-olive">多次中獎</label></div>
        break;
}