﻿@model Model.
@{
//var statusStyle = Model ? "label-info" : "label label-default";
//var statusDisplay = Model ? "是" : "否";
}

<div class="col-sm-6">
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "1")<div class="state p-success-o"><label>非常不滿意</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "2")<div class="state p-success-o"><label>不滿意</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "3")<div class="state p-success-o"><label>稍微不滿意</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "4")<div class="state p-success-o"><label>普通</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "5")<div class="state p-success-o"><label>還行</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "6")<div class="state p-success-o"><label>滿意</label></div>
    </div>
    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
        @Html.RadioButtonFor(model => model, "7")<div class="state p-success-o"><label>非常滿意</label></div>
    </div>
</div>