﻿@model Int32
@{
    //var statusStyle = Model ? "label-info" : "label label-default";
    //var statusDisplay = Model ? "是" : "否";
}

@if (Model == (int)MeetSignIn.Models.Category.External)
{
    <p class="label bg-navy add_external_btn">外訓</p>
}
else if (Model == (int)MeetSignIn.Models.Category.Internal)
{
    <p class="label bg-navy add_internal_btn">內訓</p>
}
else if (Model == (int)MeetSignIn.Models.Category.Seminar)
{
    <p class="label bg-navy add_seminar_btn">研討會</p>
}