﻿@model MeetSignIn.Areas.Admin.ViewModels.SignIn.SignInIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        會議名單管理 【@Model.MeetingTitle】
    </h1>  
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                    @Html.ActionLink("返回會議編輯", "Edit", "MeetingAdmin", new { id = Model.MeetingID }, new { @class = "btn btn-default" })                  
                </div>
                @using (Html.BeginForm("Index", "SignInAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.MeetingID)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobID, new { @class = "form-control", @placeholder = "工號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "姓名" })
                            </div>
                        </div>
                        
                       <div class="form-group">
                            @Html.LabelFor(model => model.IsSign, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsSign, "SignDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
           
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("匯出Excel", "ExportExcel", "SignInAdmin", new { mid = Model.MeetingID }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">名單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th data-sorting="SignStatus">
                                                @Html.DisplayNameFor(x => x.SignStatus)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.SignTime)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.IsSent)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.JobID
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.SignStatus, "_SignStatusList")
                                                </td>
                                                <td>
                                                    @if (item.SignTime.Millisecond > 0)
                                                    {
                                                        @item.SignTime.ToString("yyyy/MM/dd HH:mm")
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsSent, "_SentStatus")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("補簽", "SignIn", "SignInAdmin", new { id = item.ID }, new { @class = "btn btn-default bg-black", @style = "margin: 3px !important;", @onclick = "return confirm('確定要補簽【" + item.Name + "】嗎 ? ');" })
                                                    @Html.ActionLink("請假", "Leave", "SignInAdmin", new { id = item.ID }, new { @class = "btn btn-default bg-black", @style = "margin: 3px !important;", @onclick = "return confirm('確定要將【" + item.Name + "】改為請假嗎?');" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.SignStatus)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.SignTime)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.IsSent)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            currentDate.setMinutes(0, 0, 0);
            currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            $('#StartDate').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });
            $('#EndDate').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });
        });
    </script>
}


