﻿@model MeetSignIn.Areas.Admin.ViewModels.Meeting.MeetingView
@using MeetSignIn.Utility.Helpers;
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "申請會議" : "編輯會議";
    bool isCreater = Model.AdminInfo.ID == Model.Creater || Model.ID == 0;
    bool isTimeOut = Model.ID != 0 && Model.EndDate < DateTime.Now;
    string signInUrl = Model.ID != 0 ? $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/Check?rn={Model.RoomNum}&mid={Model.ID}" : "";

    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    adminInfo = adminInfo == null ? new MeetSignIn.Models.Others.AdminInfo() : adminInfo;
    bool isHR = adminInfo.DeptId == "B40";
}

@section styles
{
    <style>
        .mask {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 2;
            top: 0;
            left: 0;
            opacity: 0.5;
        }
        .pop {
            display: none;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*width: 90%;
            height: 60%;*/
            /*text-align: center;*/
            background-color: #e8eae6;
            box-sizing: border-box;
            padding: 4%;
            z-index: 100;
            /*to hide popup initially*/
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 15px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 4px;
        }

        .pop h2, h6 {
            padding-top: 40px !important;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        會議管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.ID != 0)
                    {
                        <input type="button" class="btn btn-success" id="open_qrcode" value="簽到Qrcode" />
                        @Html.ActionLink("複製會議", "Copy", new { id = Model.ID }, new { @class = "btn btn-default" })
                        <br />
                        <div class="form-group" style="margin: 5px 0px;">
                            <div class="col-sm-6" style="margin-left:0px;">
                                <label class="label bg-olive">簽到連結</label>
                                <input class="form-control" style="background-color:wheat; font-weight:bold;" value="@signInUrl" disabled />
                            </div>
                        </div>
                    }
                </div>
                <input id="controller_str" type="hidden" value="MeetingAdmin"/>
                @using (Html.BeginForm("Edit", "MeetingAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @*@Html.HiddenFor(model => model.StartDate)
                @Html.HiddenFor(model => model.EndDate)*@
                    @Html.HiddenFor(model => model.MeetingNumber)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control lock_switch", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Organiser)
                                        @Html.TextBoxFor(model => model.Organiser, new { @class = "form-control lock_switch", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Organiser, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group" style="padding-bottom: 60px;">
                                        <div class="col-sm-6" style="padding-left: 0px !important;">
                                            @Html.LabelFor(model => model.FactoryID)
                                            @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                        <div class="col-sm-6" style="right: 0px !important;">
                                            @Html.LabelFor(model => model.RoomID)
                                            @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="url_form" style="display:none;">
                                        @Html.LabelFor(model => model.Url, new { style = "margin-top: 15px !important;" })
                                        @Html.TextAreaFor(model => model.Url, new { @class = "form-control lock_switch", @rows = "5" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, new { style = "margin-top: 15px !important;" })
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control lock_switch", @rows = "10" })
                                    </div>
                                    <div class="notify-list-area">
                                        @*<div class="form-check pretty p-switch p-fill" style="margin-bottom:5px;">
            <input type="checkbox" id="check_cadre" name="cadre" onclick="Check_Cadre(this,'ckb')" />
            <div class="state p-info">
                <label class="form-check-label">幹部</label>
            </div>
        </div>*@
                                        @if (isTimeOut)
                                        {
                                            @Html.HiddenFor(model => model.Department)
                                            @Html.HiddenFor(model => model.selectedNotifyList)
                                        }
                                        else
                                        {
                                            <input type="button" class="btn btn-info" value="選擇幹部" id="iscadre" />
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Department, new { style = "margin-top: 15px !important;" })
                                                @Html.DropDownListFor(model => model.Department, Model.DepartmentOptions, new { @class = "form-control lock_switch" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.selectedNotifyList, new { style = "margin-top: 15px !important;" })
                                                <button class="btn" data-widget="collapse" id="switch_check_list"><i class="fa fa-eye-slash"></i></button>
                                                <div id="check_list_area" class="check_list_area">
                                                    @Html.HiddenFor(model => model.selectedNotifyList)
                                                    <p><input type="checkbox" id="check_all" name="all" onclick="Check_All(this,'ckb')" /> All</p>
                                                    <div id="check_list">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group" style="max-height: 300px; overflow-y: auto;">
                                            <!--顯示已選名單-->
                                            @Html.LabelFor(model => model.Notify, new { style = "margin-top: 15px !important;" })
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>工號</td>
                                                        <td>姓名</td>
                                                        <td>課別</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="notify_tb">
                                                    @if (Model.Notify != null)
                                                    {
                                                        foreach (var item in Model.Notify)
                                                        {
                                                            <tr class="tb_item" id="@item.JobID">
                                                                <td>@item.JobID</td>
                                                                <td><label class="text text-success">@item.Name @item.EngName</label></td>
                                                                <td><label class="label label-primary">@item.DepartmentStr</label></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Record) (可於課後補填)
                                        @Html.TextAreaFor(model => model.Record, new { @class = "form-control js-ckeditor" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NotifyMsg) (可填寫上課大綱或課前/課後提醒事項)
                                        @Html.TextAreaFor(model => model.NotifyMsg, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FileOne) (補充檔案一，非必填)
                                        <input type="file" id="fileone" name="fileone" accept="image/x-png,image/jpeg,application/pdf">
                                        <code>請上傳總和不超過10MB的檔案</code>
                                        @Html.ValidationMessageFor(model => model.FileOne, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.FileOne))
                                        {
                                            if (Model.FileOne.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/MeetingPhoto/@Model.FileOne" width="100%" height="768px"></iframe>
                                            }
                                            else
                                            {
                                                <img src="~/FileUploads/MeetingPhoto/@Model.FileOne" class="img-thumbnail" style="width:400px" />
                                                @Html.HiddenFor(model => model.FileOne)
                                            }
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteImage", "MeetingAdmin", new { id = Model.ID, t = 1 }, new { @class = "btn btn-danger js-delete-confirm" })

                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FileTwo) (補充檔案二，非必填)
                                        <input type="file" id="filetwo" name="filetwo" accept="image/x-png,image/jpeg,application/pdf">
                                        <code>請上傳總和不超過10MB的檔案</code>
                                        @Html.ValidationMessageFor(model => model.FileTwo, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.FileTwo))
                                        {
                                            if (Model.FileTwo.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/MeetingPhoto/@Model.FileTwo" width="100%" height="768px"></iframe>
                                            }
                                            else
                                            {
                                                <img src="~/FileUploads/MeetingPhoto/@Model.FileTwo" class="img-thumbnail" style="width:400px" />
                                                @Html.HiddenFor(model => model.FileTwo)
                                                <br />
                                                @Html.ActionLink("刪除檔案", "DeleteImage", "MeetingAdmin", new { id = Model.ID, t = 2 }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        }
                                    </div>

                                    @*<div class="form-group">
            @Html.LabelFor(model => model.MeetingTimeStr)
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
                @Html.TextBoxFor(model => model.MeetingTimeStr, new { @class = "form-control" })
            </div>
        </div>*@

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SignDate)
                                        @Html.TextBoxFor(model => model.SignDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate)
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate)
                                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsSignable, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsSignable, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                    <br />

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsAttendance, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-warning">
                                            @Html.LabelFor(model => model.IsAttendance, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LateMinutes, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.LateMinutes, Model.LateMinutesOptions, new { @class = "form-control lock_switch" })
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (isCreater || Model.AdminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin || isHR)
                        {
                            <button id="SaveBtn" type="button" class="btn btn-primary" style="margin: 3px !important;">儲存</button>
                            if (!isTimeOut)
                            {
                            @Html.ActionLink("刪除會議", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })
                            }

                            if (Model.ID != 0)
                            {
                                @Html.ActionLink("查看會議名單/簽到資料", "Index", "SignInAdmin", new { MeetingID = Model.ID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })
                                @Html.ActionLink("發送通知", "SendNotify", new { mid = Model.ID, }, new { @class = "btn btn-warning", @style = "margin: 3px !important;", @onclick = "return confirm('確定要發送嗎 ? ');" })
                            }
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                    </div>
                }
            </div>
            <div class="mask"></div>
            <div class="pop" style="border-radius:7px;">
                <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                    ×
                </div>
                <input name="print" class="btn btn-primary" type="button" id="bt" value="點選列印" />
                @*<a name="download" class="btn btn-success" href="@signInUrl" download="【@Model.Title】簽到">點選下載</a>*@
                @*<h2 id="ResultStr"></h2>*@
                <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print">
                    @if (Model.ID != 0)
                    {
                        @Html.GenerateQrCode($"{signInUrl}")
                    }
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            ClosePop();
            $('#open_qrcode').on('click', function () {
                OpenPop();
            });
            $('#copy_meeting').on('click', function () {
                CopyMeeting();
            });
        });

        function Check_All(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) {
                checkboxs[i].checked = obj.checked;
            }
            $('input[name="ckb"]').each(function () {
                SwitchNotifyStatus($(this));
            });
        }

        function SendNotify() {
            var mid = $('#ID').val();

        }

        $(document).click(function (e) {
            var popup = $(".pop");
            var open_popup = $("#open_qrcode");
            //判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
                //則隱藏彈窗
                //popup.hide(500);
                ClosePop();
            }
        });

        function OpenPop() {
            //$(".content").toggle();
            $('.pop').fadeIn(200);
            $('.mask').fadeIn(400);
        }

        function ClosePop() {
            //$(".content").toggle();
            $('.pop').fadeOut(400);
            $('.mask').fadeOut(400);
        }

        function CopyMeeting() {
            var meetingId = @Model.ID;
            $.ajax({
                url: "/Admin/MeetingAdmin/CopyMeeting",
                type: 'POST',
                dataType: "text",
                async: false,
                data: {
                    meetingId: meetingId
                },
                success: function (data) {
                    return data;                  
                }
            });
        }

        //function printdiv(printpage) {
        //    var newstr = printpage.innerHTML;
        //    var oldstr = document.body.innerHTML;

        //    document.body.innerHTML = newstr;
        //    window.print();
        //    document.body.innerHTML = oldstr;
        //    return false;
        //}
        window.onload = function () {
            var bt = document.getElementById("bt");
            var div_print = document.getElementById("div_print");
            bt.onclick = function () {
                myPrint(div_print, '簽到');
            }
        }
        function myPrint(obj, typeTitle) {
            //打開一个新窗口newWindow
            var newWindow = window.open("列印視窗", "_blank");
            //要打印的div的内容
            var docStr = obj.innerHTML;
            newWindow.document.write('<div align="left" style="font-size: 30px;">' + typeTitle + ' Qrcode</div>');
            newWindow.document.write('<div align="left">會議主題 : ' + '@Model.Title' + '</div>');
            newWindow.document.write('<div align="left">發起人 : ' + '@Model.Organiser' + '</div>');
            newWindow.document.write('<div align="left">會議室 : ' + '@Model.RoomStr' + '</div>');
            newWindow.document.write('<div align="left">時間 : ' + '@Model.StartDate.ToString("yyyy/MM/dd HH:mm")' + '~' + '@Model.EndDate.ToString("yyyy/MM/dd HH:mm")' + '</div>');
            //打印内容寫入newWindow文檔
            newWindow.document.write(docStr);
            //關閉文檔
            newWindow.document.close();
            //調用打印機
            newWindow.print();
            //關閉newWindow頁面
            newWindow.close();
        }
    </script>
    <!--ckeditor-->
    <!--<script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>-->
    <script>
        $(function () {
            ////Ckeditor init
            //$('.js-ckeditor').each(function (i, e) {
            //    var id = $(e).attr('id');
            //    CKEDITOR.replace(id, {
            //        filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
            //        height: '500px'
            //    });
            //});

            $('#FactoryID').on('change', function () {
                ChangeRoom();
            });
            ChangeRoom();
        });
    </script>
    <script>
        function setDateRange(timeElement) {
            timeElement.daterangepicker({
                "timePicker": true,
                "timePicker24Hour": true,
                "maxSpan": {
                    "days": 7
                },
                "locale": {
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "linkedCalendars": false,
                "showCustomRangeLabel": false,
                "startDate": "@Model.StartDate.ToString("yyyy/MM/dd HH")",
                "endDate": "@Model.EndDate.ToString("yyyy/MM/dd")",
                "minDate": "@DateTime.Now.AddDays(-7).ToString("yyyy/MM/dd")",
                "maxDate": "@DateTime.Now.AddMonths(1).ToString("yyyy/MM/dd")",
                "drops": "auto"
            }, function (start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });
        }

        function ChangeRoom() {
            if ($('#FactoryID').val() == '9') {
                $('#url_form').removeAttr('style', 'display:none;');
            }
            else {
                $('#url_form').attr('style', 'display:none;');
            }
        }
    </script>
    <script>
        $(function () {
            var isTimeOut = '@isTimeOut';
            //預設監聽
            setDateTime($("#SignDate"), 0);
            setDateTime($("#StartDate"), 0);
            setDateTime($("#EndDate"), 0);
            if (isTimeOut == 'False') {
                //setDateRange($("#MeetingTimeStr"));
                ChangeFactory();
                ChangeDepartment(0);
                CheckedNotify();
                $('.lock_switch').each(function () {
                    $(this).removeAttr('readonly', 'true');
                    //$(this).removeAttr('disabled', 'disabled');
                });
            }
            else {
                $('.lock_switch').each(function () {
                    $(this).attr('readonly', 'true');
                    //$(this).attr('disabled', 'disabled');
                });
            }
            $('.tb_item').each(function () {
                var jobId = $(this).attr('id');
                if (selectedArr.indexOf(jobId < 0)) {
                    selectedArr.push(jobId);
                }
            });

            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            $('#Department').on('change', function () {
                ChangeDepartment(0);
            });
            $('#iscadre').on('click', function () {
                ChangeDepartment(1);
            });

        });

    </script>
    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            $('#switch_check_list').on('click', function () {
                $('#check_list_area').toggle("slow", function () {
                });
            });

            //儲存資料
            $('#SaveBtn').on('click', function () {
                //var result = CheckRoomStatus();
                var room = $('#RoomID').val();
                var start = $('#StartDate').val();
                var end = $('#EndDate').val();
                $.ajax({
                    url: "/Admin/MeetingAdmin/CheckRoomStatus",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: {
                        room: room,
                        start: start,
                        end: end,
                        excmid: $('#ID').val()
                    },
                    success: function (data) {
                        //return data;
                        if (data == '可選會議室') {
                            $('#selectedNotifyList').val(selectedArr);
                            $('#EditForm').submit();
                        }
                        else {
                            alert(data);
                        }
                    }
                });

            });
        });
    </script>
}