﻿@model MeetSignIn.Areas.Admin.ViewModels.Meeting.MeetingIndexView
@{ 
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        會議管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "MeetingAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })*@
                            <label class="col-sm-2 control-label">搜尋主題/發起人</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "主題/發起人" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---廠區---", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.RoomID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, "---會議室---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Department, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Department, Model.DepartmentOptions, "---選擇課別---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("申請會議", "Edit", "MeetingAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">會議列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentListStr)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td>
                                                    @item.Organiser
                                                </td>
                                                <td>
                                                    @item.RoomStr
                                                </td>
                                                <td>
                                                    <div style="height: 100px; overflow-y: auto;">
                                                        @Html.DisplayFor(model => item.DepartmentListStr, "_TagList")
                                                    </div>
                                                </td>
                                                <td>
                                                    @item.StartDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @item.EndDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsSignable, "_UseStatus")
                                                </td>
                                                <td>
                                                    @if (adminInfo.ID == item.Creater)
                                                    {
                                                        @Html.ActionLink("編輯", "Edit", "MeetingAdmin", new { id = item.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                        @Html.ActionLink("會議名單", "Index", "SignInAdmin", new { MeetingID = item.ID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })
                                                        @Html.ActionLink("刪除", "Delete", "MeetingAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("查看", "Edit", "MeetingAdmin", new { id = item.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentListStr)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <!--datetimepicker-->
    @*<link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>*@
    <script>
        $(function () {
            //datetimepicker
            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 0);

            //$.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            //var currentDate = new Date();
            //currentDate.setMinutes(0, 0, 0);
            //currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            //$('#StartDate').datetimepicker({
            //    todayHighlight: true,
            //    weekStart: 1,
            //    minView: 0,
            //    autoclose: true,
            //    //pickerPosition: 'bottom-left',
            //    format: 'yyyy/mm/dd hh:ii ',
            //    //timezone: 'UTC',
            //    startDate: currentDate,
            //});
            //$('#EndDate').datetimepicker({
            //    todayHighlight: true,
            //    weekStart: 1,
            //    minView: 0,
            //    autoclose: true,
            //    //pickerPosition: 'bottom-left',
            //    format: 'yyyy/mm/dd hh:ii ',
            //    //timezone: 'UTC',
            //    startDate: currentDate,
            //});
        });
    </script>

    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            ChangeFactory();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
        });
    </script>
}


