﻿@model MeetSignIn.Areas.Admin.ViewModels.Theme.ThemeView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增研訓類別" : "編輯研訓類別";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        研訓類別管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "ThemeAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ResponsiblePerson)<br />
                                        @foreach (var item in Model.ResponsiblePersonOptions)
                                        {
                                            <div class="js-signer-Responsible btn btn-info" id="dept_@item.Value" style="margin: 2px 5px;">@item.Text</div>
                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ResponsiblePerson, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                    </div>
                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedResponsibleType = $('#ResponsiblePerson');
            var remove;

            //ResponsiblePerson
            $selectedResponsibleType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedResponsibleType.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Responsible').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedResponsibleType.tagsinput('add', val);
            });
        });
    </script>
}