﻿@model MeetSignIn.Areas.Admin.ViewModels.Temperature.TemperatureView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增健康自檢" : "編輯健康自檢";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        健康自檢管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "TemperatureAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.AbnormalDescription)
                    @Html.HiddenFor(model => model.AbnormalDescriptionStr)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PersonID)
                                        @Html.TextBoxFor(model => model.PersonID, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>姓名</label>
                                        @Html.TextBoxFor(model => model.PersonInfo.Name, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                    <div class="form-group">
                                        <label>課別</label>
                                        @Html.TextBoxFor(model => model.PersonInfo.DepartmentStr, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BodyTemperature, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.BodyTemperature, Model.TemperatureOptions, new { @class = "form-control lock_switch" })
                                    </div>
                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsAbnormal, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-warning">
                                            @Html.LabelFor(model => model.IsAbnormal, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.AbnormalDescription, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.AbnormalDescription, Model.AbnormalOptions, new { @class = "form-control lock_switch" })
                                    </div>*@
                                    @{ 
                                       
                                    }
                                    @if (Model.AbnormalDescriptionStr != null)
                                    {
                                        var AbnormalDescStrList = Model.AbnormalDescriptionStr.Split(',');
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AbnormalDescriptionStr)
                                            <br />
                                            @foreach (var item in AbnormalDescStrList)
                                            {
                                                if (!string.IsNullOrEmpty(item))
                                                {
                                                <label class="" style="background-color: #8aa12f; color: #fff; border-radius: 0.5rem; font-size: 13px; padding: 1px 4px; ">@Model.AbnormalOptions.Where(q => q.Value == item).FirstOrDefault().Text</label>
                                                <br />
                                                }
                                            }
                                        </div>
                                    }
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactHistory)
                                        @Html.TextAreaFor(model => model.ContactHistory, new { @class = "form-control", @maxlength = "500" })
                                        @Html.ValidationMessageFor(model => model.ContactHistory, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreateDate)
                                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", @disabled = "true" })
                                        @Html.HiddenFor(model => model.CreateDate)
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}