﻿@model MeetSignIn.Areas.Admin.ViewModels.Temperature.TemperatureIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        健康自檢管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "TemperatureAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.PersonID, new { @class = "form-control", @placeholder = "工號" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsAbnormal, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsAbnormal, "AbnormalStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.SearchDate, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增健康自檢", "Edit", "TemperatureAdmin", new { }, new { @class = "btn btn-primary" })*@
                                <button id="ExportBtn" type="button" class="btn btn-success" style="margin: 3px !important;">匯出Excel</button>
                                @*@Html.ActionLink("匯出Excel", "ExportExcel", "TemperatureAdmin", new { }, new { @class = "btn btn-success" })*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">健康自檢列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                @Html.DisplayNameFor(x => x.PersonID)
                                            </th>
                                            <th width="8%">
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th width="7%">
                                                @Html.DisplayNameFor(x => x.BodyTemperature)
                                            </th>
                                            <th width="8%" data-sorting="IsAbnormal">
                                                @Html.DisplayNameFor(x => x.IsAbnormal)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.AbnormalDescription)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.PersonID
                                                </td>
                                                <td>
                                                    @if (item.PersonInfo != null)
                                                    {
                                                        @item.PersonInfo.Name
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.PersonInfo != null)
                                                    {
                                                        @item.PersonInfo.DepartmentStr
                                                    }
                                                </td>
                                                <td>
                                                    @item.BodyTemperature °C
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsAbnormal, "_AbnormalStatus")
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.AbnormalDescriptionStr))
                                                    {
                                                        var AbnormalDescStrList = item.AbnormalDescriptionStr.Split(',');
                                                        foreach (var abitem in AbnormalDescStrList)
                                                        {
                                                            if (!string.IsNullOrEmpty(abitem))
                                                            {
                                                                <label class="" style="background-color: #8aa12f; color: #fff; border-radius: 0.5rem; font-size: 13px; padding: 1px 4px; ">@item.AbnormalOptions.Where(q => q.Value == abitem).FirstOrDefault().Text</label>
                                                                <br />
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy/MM/dd")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("查看", "Edit", "TemperatureAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PersonID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.BodyTemperature)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsAbnormal)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.AbnormalDescription)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3>健康自主</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="fa fa-medkit"></i>
                </div>
                <a href="@Request.Url.Scheme://@Request.Url.Authority/Health/Temperature" class="small-box-footer" target="_blank">前往<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <!--datepicker-->
    <link href="~/Content/jquery-ui-1.13.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui-1.13.1.custom/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#SearchDate").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                //defaultDate: $("#SearchDate").val(),
                dateFormat: 'yy/m/dd',
            });

            $('#ExportBtn').on('click', function () {
                var personID = $('#PersonID').val();
                var isAbnormal = $('#IsAbnormal').val();
                var searchDate = $('#SearchDate').val();
                window.open('@Url.Action("ExportExcel", "TemperatureAdmin")?personID=' + personID + '&isAbnormal=' + isAbnormal + '&searchDate=' + searchDate);
                //var result = CheckRoomStatus();
                //$.ajax({
                //    url: "/Admin/TemperatureAdmin/ExportExcel",
                //    type: 'POST',
                //    dataType: "text",
                //    async: false,
                //    data: {
                //        personID: personID,
                //        isAbnormal: isAbnormal,
                //        searchDate: searchDate,
                //    },
                //    success: function (data) {
                //        //return data;
                //        //if (data == '可選會議室') {
                //        //    $('#selectedNotifyList').val(selectedArr);
                //        //    $('#EditForm').submit();
                //        //}
                //        //else {
                //        //    alert(data);
                //        //}
                //    }
                //});

            });
        })
    </script>
}


