﻿@model MeetSignIn.Areas.Admin.ViewModels.Temperature.LimitHoursView
@{
    ViewBag.Title = "Edit";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        時間設定
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">起訖時段</h3>
                </div>

                @using (Html.BeginForm("LimitHours", "TemperatureAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="">
                                <div class="tab-pane active" id="tab_0">
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.Start)
                                        @Html.TextBoxFor(model => model.Start, new { @class = "form-control", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.End)
                                        @Html.TextBoxFor(model => model.End, new { @class = "form-control", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                                    </div>*@
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Start, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Start, Model.HourOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.End, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.End, Model.HourOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}