﻿@model string
@{
    var dataArr = Model.Split('_');
    string FolderStr = dataArr[0];
    string FileName = Model.Substring(FolderStr.Length + 1, Model.Length - FolderStr.Length - 1);
}
@if (Model.IndexOf(".pdf") > 0)
{
    <iframe src="~/FileUploads/@FolderStr/@FileName" width="70%%" height="300px"></iframe>
}
else if (Model.IndexOf(".jpg") > 0 || Model.IndexOf(".png") > 0)
{
    <img src="~/FileUploads/@FolderStr/@FileName" class="img-thumbnail" style="width: 70%" />
}
else
{
    <p style="font-weight:bold;">@FileName</p>
}
<br />
<a class="btn btn-success" href="/FileUploads/@FolderStr/@FileName" target="_blank">下載檔案</a>