﻿@{
    var siteNameAbbreviation = @MeetSignIn.Models.Others.SiteSetting.SiteNameAbbreviation;
    var siteName = @MeetSignIn.Models.Others.SiteSetting.SiteName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@siteNameAbbreviation | @siteName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/AdminLTE-2.4.5/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-2.4.5/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/AdminLTE-2.4.5/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/Content/AdminLTE-2.4.5/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-2.4.5/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/AdminLTE-2.4.5/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!--以下為自訂STYLE-->
    <!--bootstrap-tagsinput-->
    <link href="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <!--preety checkbox-->
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.13.1.custom/jquery-ui.css" rel="stylesheet" />

    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <style>
        .d-none {
            display: none !important;
        }

        .box, .form-control {
            border-radius: 5px !important;
        }

        img.square {
            width: 100px;
            border-radius: 50%;
            border: 1px solid rgba(255,0,0,1.00);
        }

        .notify-list-area {
            border-width: 2px;
            border-radius: 2px;
            border-color: black;
            border: #ff9797 solid 3px;
            border-radius: 7px;
            padding: 10px;
            /*background-color: #fff6f6;*/
        }

        .check_list_area {
            max-height: 200px;
            overflow-y: auto;
        }

        .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
            margin-top: 15px;
        }

        input[type=radio] {
            margin-left: 5px;
        }

        .hr_split {
            margin-top: 20px;
            border-top: 3px solid #5b5b5b;
            border-radius: 50%;
        }

        .hr_dashed {
            margin-top: 30px;
            border-top: 3px double #ffecaf;
            /*border-radius: 50%;*/
        }

        .h3_course {
            font-weight: bold;
            color: #37608d;
        }

        .hv-item:hover .hv-content {
            visibility: visible;
        }

        .hv-content {
            visibility: hidden;
            width: 40%;
            text-align: left;
            background-color: #e8f0f1;
            border: 2px solid #afc5d9;
            border-radius: 3px;
            padding: 5px;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .hv-contect p {
            background-color: #abeff8 !important;
        }

        .organiser_text {
            border: 2px dashed #ffd83e !important;
            border-radius: 5px !important;
            padding: 3px !important;
        }

        .text-danger {
            color: red !important;
            font-weight: bold;
        }

        .signature_img {
            width: 150px;
        }

        .signature_img_reject {
            border: 6px solid #dd1a1a;
            border-radius: 3%;
            margin-top: 3px;
        }

        .signature_img_Approved {
            border: 6px solid #249a26;
            border-radius: 3%;
            margin-top: 3px;
        }

        .signature_area {
            float: left;
            width: 170px;
        }

        .signature_date {
            color: #103f97;
            font-size: 12px;
            position: absolute;
            /* top: 52%;
            left: 5%;*/
            font-family: DFKai-sb;
            font-weight: bold;
        }

        .signature_date_officer {
            /*top: 52%;*/
            top: 48%;
            left: 13%;
        }

        .signature_date_manager {
            top: 48%;
            left: 13%;
        }

        .signature_date_vice {
            top: 48%;
            left: 13%;
        }

        .signature_date_president {
            top: 48%;
            left: 13%;
        }

        .signature_date_principal {
            top: 48%;
            left: 13%;
        }

        .signature_dept {
            color: #103f97;
            font-size: 22px;
            position: absolute;
            /*  top: 33%;
            left: 35%;*/
            transform: translate(-50%,-50%);
            /* top: 16%;
            left: 8%;*/
            font-family: DFKai-sb;
            text-align: center;
            font-weight: bold;
        }

        .signature_dept_officer {
            /*top: 33%;*/
            top: 28%;
            left: 46%;
        }

        .signature_dept_manager {
            top: 28%;
            left: 46%;
        }

        .signature_dept_vice {
            top: 28%;
            left: 46%;
        }

        .signature_dept_president {
            top: 28%;
            left: 46%;
        }

        .signature_dept_principal {
            top: 28%;
            left: 46%;
        }

        .signature_name {
            color: #103f97;
            font-size: 30px;
            position: absolute;
            /* top: 80%;
            left: 35%;*/
            transform: translate(-50%,-50%);
            font-family: DFKai-sb;
            text-align: center;
            font-weight: bold;
        }

        .signature_name_officer {
            /*top: 80%;*/
            top: 77%;
            left: 46%;
        }

        .signature_name_manager {
            top: 77%;
            left: 46%;
        }

        .signature_name_vice {
            top: 77%;
            left: 46%;
        }

        .signature_name_president {
            top: 77%;
            left: 46%;
        }

        .signature_name_principal {
            top: 77%;
            left: 46%;
        }

        .modal-content {
            border-radius: 5px;
        }

        .add_internal_btn {
            background-color: #d5604d !important;
        }

        .add_external_btn {
            background-color: #5670ad !important;
        }

        .add_seminar_btn {
            background-color: #cb81c2 !important;
        }

        .internal_btn {
            background-color: #578f77 !important;
            border-color: #578f77 !important;
        }

        .external_btn {
            background-color: #6e88c3 !important;
            border-color: #6e88c3 !important;
        }

        .classopinion_btn {
            background-color: #d98d57 !important;
            border-color: #d98d57 !important;
        }

        .quiz_btn {
            background-color: #001f3f !important;
            border-color: #001f3f !important;
        }

        .dept_btn, .dept_btn_active {
            color: #895b41;
            border: 2px solid #a97d63;
            font-weight: bold;
        }

        .dept_selecter .dept_btn_active {
            background-color: #a97d63 !important;
            color: white !important;
        }

        .dept_selecter .btn:hover, .dept_selecter .btn:focus {
            color: #895b41 !important;
            background-color: #e8d1a4 !important;
        }

        .dept_tag {
            background-color: #a97d63 !important;
            color: #fff !important;
            border-radius: 0.5rem !important;
            font-size: 13px !important;
            padding: 1px 4px !important;
        }

        .quarter_state {
            margin-bottom: 3px;
            padding: 8px 40%;
            display: inline-block !important;
        }

        .edit_monthkpi {
            margin-bottom: 3px !important;
            display: inline-block !important;
            text-decoration: none !important;
            display: inline-block !important;
            width: 32% !important;
            padding: 1% !important;
        }

        .monthKPI_box {
            display: inline-block;
            width: 48%;
        }

        .season_1 {
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(86, 156, 107, 0.7)), color-stop(1, rgba(86, 156, 107, 0.7))) !important;
        }

        .season_2 {
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(225, 205, 107, 0.7)), color-stop(1, rgba(225, 205, 107, 0.7))) !important;
        }

        .season_3 {
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(140, 36, 1, 0.7)), color-stop(1, rgba(140, 36, 1, 0.7))) !important;
        }

        .season_4 {
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 117, 104, 0.7)), color-stop(1, rgba(0, 117, 104, 0.7))) !important;
        }

        .nav-tabs-custom > .nav-tabs > li.active {
            border: solid;
            border-radius: 3px 3px 0px 0px;
        }

            .nav-tabs-custom > .nav-tabs > li.active > a {
                color: gray !important;
                border-right-color: transparent;
            }

        .month_textarea {
            height: 80px !important;
            resize: none !important;
            width: 100% !important;
        }

        .training-chart {
            height: 200px;
            padding: 0px;
            position: relative;
        }

        .textInfo-gray {
            border-radius: 5px;
            border: solid 1px #d2d6de;
            padding: 6px 12px 0px;
            margin: 9px 0px !important;
            background-color: #f1f1f1;
        }

        .pretty input:checked ~ .state.p-notice label:after, .pretty.p-toggle .state.p-notice label:after {
            background-color: #875bc8 !important
        }

        .pretty input:checked ~ .state.p-notice .icon, .pretty input:checked ~ .state.p-notice .svg, .pretty.p-toggle .state.p-notice .icon, .pretty.p-toggle .state.p-notice .svg {
            color: #fff;
            stroke: #fff
        }

        .pretty input:checked ~ .state.p-notice-o label:before, .pretty.p-toggle .state.p-notice-o label:before {
            border-color: #875bc8
        }

        .pretty input:checked ~ .state.p-notice-o label:after, .pretty.p-toggle .state.p-notice-o label:after {
            background-color: transparent
        }

        .pretty input:checked ~ .state.p-notice-o .icon, .pretty input:checked ~ .state.p-notice-o .svg, .pretty input:checked ~ .state.p-notice-o svg, .pretty.p-toggle .state.p-notice-o .icon, .pretty.p-toggle .state.p-notice-o .svg, .pretty.p-toggle .state.p-notice-o svg {
            color: #875bc8;
            stroke: #875bc8
        }

        .pretty.p-default:not(.p-fill) input:checked ~ .state.p-notice-o label:after {
            background-color: #875bc8 !important
        }

        .pretty.p-switch input:checked ~ .state.p-notice:before {
            border-color: #875bc8
        }

        .pretty.p-switch.p-fill input:checked ~ .state.p-notice:before {
            background-color: #875bc8 !important
        }

        .pretty.p-switch.p-slim input:checked ~ .state.p-notice:before {
            border-color: #5929a0;
            background-color: #5929a0 !important
        }

        .close-file-outline {
            margin: 0px;
            border: 3px dashed mediumpurple;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "HomeAdmin")" class="logo">
                <span class="logo-mini"><b>@siteNameAbbreviation</b></span>
                <span class="logo-lg"><b>@siteName</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
        <!-- 左側選單 -->
        <aside class="main-sidebar" style="background-image: url(https://wallpaper.dog/large/9607.jpg);">
            @Html.Partial("_SidebarMenu")
        </aside>
        <!--左側選單 END-->
        <!--主要內容 START-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!--主要內容 END-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong><a href="@MeetSignIn.Models.Others.SiteSetting.MaintainerWebSite" target="_blank">@MeetSignIn.Models.Others.SiteSetting.Maintainer</a>.</strong>
        </footer>
    </div>

    <!-- jQuery 3 -->
    <script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/AdminLTE-2.4.5/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/AdminLTE-2.4.5/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE-2.4.5/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/AdminLTE-2.4.5/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/AdminLTE-2.4.5/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE-2.4.5/js/adminlte.min.js"></script>

    <!--以下為自訂js-->
    <!--bootstrap-tagsinput-->
    <script src="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/jquery-ui-1.13.1.custom/jquery-ui.js"></script>

    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>

    <script src="~/Scripts/Admin/custom.js"></script>

    <!--錯誤訊息-->
    @Html.Partial("_PromptNotification")
    @RenderSection("scripts", required: false)
    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>

    <!--ckeditor-->
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id, {
                    filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
                    height: '200px'
                });
            });
            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;

            $('#SendAudit').on('click', function () {
                //if ($('#OfficerAudit').val() != 2 || ($('#OfficerPost').val() == null && $('#OfficerSignature').val() == '')) {
                //    alert('承辦人須完成簽核，方可將資料送審 !');
                //}
                //else {
                //    if (confirm('確定將資料送審嗎?')) {
                //        $('#IsAudit').val(true);
                //        $('#EditForm').submit();
                //    }
                //}
                if (confirm('確定將資料送審嗎?')) {
                    $('#IsAudit').val(true);
                    $('#EditForm').submit();
                }
            });
        });
        function setDateTime(timeElement, lockStart) {
            var currentDate = new Date();
            if (timeElement.val() === "0001/1/1 上午 12:00:00") {
                timeElement.val(currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getDate() + ' ' + currentDate.getHours() + ":" + PrefixInteger(currentDate.getMinutes(), 2))
            } else {
                var strAry = timeElement.val().split('/');
                var daytime = strAry[2].split(' ');
                var timestr;
                if (daytime.length > 2 && daytime[2] != '') {
                    timestr = daytime[2].split(':');
                }
                else {
                    timestr = daytime[1].split(':');
                }
                var hourtime = parseInt(timestr[0]);

                if (daytime[1] == "下午") {
                    if (hourtime < 12) {
                        hourtime = hourtime + 12;
                    }
                }
                else if (daytime[1] == "上午" && hourtime == 12) {
                    hourtime = 0
                }
                timeElement.val(strAry[0] + '/' + strAry[1] + '/' + daytime[0] + ' ' + hourtime + ":" + timestr[1])
            }
            currentDate.setFullYear(currentDate.getFullYear())
            currentDate.setMonth(0);
            currentDate.setDate(0);
            //currentDate.setMinutes(0,0,0);
            currentDate.setHours(0, 0, 0);
            //console.log(currentDate)
            if (lockStart == 1) {
                timeElement.datetimepicker({
                    todayHighlight: true,
                    changeYear: true,
                    @*yearRange: "@(DateTime.Now.Year-6):@(DateTime.Now.Year+6)",*@
                    weekStart: 0,
                    minView: 0,
                    autoclose: true,
                    //pickerPosition: 'bottom-left',
                    format: 'yyyy/mm/dd hh:ii ',
                    //timezone: 'UTC',
                    //startDate: currentDate,
                    disabledDate: false,
                    language: 'zh'
                });
                return;
            }
            else if (lockStart == 2) {
                timeElement.datetimepicker({
                    todayHighlight: true,
                    changeYear: true,
                    yearRange: "@(DateTime.Now.Year-1):@(DateTime.Now.Year+1)",
                    weekStart: 1,
                    minView: 0,
                    autoclose: true,
                    //pickerPosition: 'bottom-left',
                    format: 'yyyy/mm/dd hh:ii ',
                    //timezone: 'UTC',
                    //startDate: currentDate,
                    startDate: new Date('@(DateTime.Now.AddMonths(-2).ToString("yyyy-MM-dd"))'),
                    endDate: new Date('@(DateTime.Now.AddMonths(2).ToString("yyyy-MM-dd"))'),
                    disabledDate: false,
                    language: 'zh'
                });
                return;
            }
            else {
                timeElement.datetimepicker({
                    todayHighlight: true,
                    changeYear: true,
                    yearRange: "@(DateTime.Now.Year-6):@(DateTime.Now.Year+6)",
                    weekStart: 1,
                    minView: 0,
                    autoclose: true,
                    //pickerPosition: 'bottom-left',
                    format: 'yyyy/mm/dd hh:ii ',
                    //timezone: 'UTC',
                    //startDate: currentDate,
                    disabledDate: false,
                    language: 'zh',
                });
            }
        }

        //數字轉中文
        function chinanum(num) {
            var numStr = '' + num;
            var china = new Array('零', '一', '二', '三', '四', '五', '六', '七', '八', '九');
            var arr = new Array();
            var english = numStr.split("");
            for (var i = 0; i < english.length; i++) {
                arr[i] = china[english[i]];
            }
            return arr.join("");
        }

        function PrefixInteger(num, length) {
            return (num / Math.pow(10, length)).toFixed(length).substr(2);
        }

        /* Made with love by @@fitri
This is a component of my ReactJS project
https://codepen.io/fitri/full/oWovYj/ */

        function enableDragSort(listClass) {
            const sortableLists = document.getElementsByClassName(listClass);
            Array.prototype.map.call(sortableLists, (list) => { enableDragList(list) });
        }

        function enableDragList(list) {
            Array.prototype.map.call(list.children, (item) => { enableDragItem(item) });
        }

        function enableDragItem(item) {
            item.setAttribute('draggable', true)
            item.ondrag = handleDrag;
            item.ondragend = handleDrop;
        }

        function handleDrag(item) {
            const selectedItem = item.target,
                list = selectedItem.parentNode,
                x = event.clientX,
                y = event.clientY;

            selectedItem.classList.add('drag-sort-active');
            let swapItem = document.elementFromPoint(x, y) === null ? selectedItem : document.elementFromPoint(x, y);

            if (list === swapItem.parentNode) {
                swapItem = swapItem !== selectedItem.nextSibling ? swapItem : swapItem.nextSibling;
                list.insertBefore(selectedItem, swapItem);
            }
        }

        function handleDrop(item) {
            item.target.classList.remove('drag-sort-active');
        }

        (() => { enableDragSort('drag-sort-enable') })();

        //圓餅圖
        function SetSignChart() {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetTrainingChart",
                //url: "/Admin/TrainingAdmin/GetThemeChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Sign',
                    trainingId: $('#ID').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total += response[i].Num;
                        points.push({
                            y: response[i].Percentage,
                            legendText: '' + response[i].Num,
                            label: response[i].Title,
                        });
                    }
                    //產生圓餅圖
                    CreateDoughnut('SignChart', '簽到比例' + ' (人數 : ' + total + ')', points);
                }
            });
        }
        function SetOpinionChart() {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetTrainingChart",
                //url: "/Admin/TrainingAdmin/GetThemeChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Opinion',
                    trainingId: $('#ID').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total += response[i].Num;
                        points.push({
                            y: response[i].Percentage,
                            legendText: '' + response[i].Num,
                            label: response[i].Title,
                        });
                    }
                    //產生圓餅圖
                    CreateDoughnut('OpinionChart', '意見回饋比例' + ' (人數 : ' + total + ')', points);
                }
            });
        }
        function SetLearningChart() {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetTrainingChart",
                //url: "/Admin/TrainingAdmin/GetThemeChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Learning',
                    trainingId: $('#ID').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total += response[i].Num;
                        points.push({
                            y: response[i].Percentage,
                            legendText: '' + response[i].Num,
                            label: response[i].Title,
                        });
                    }
                    //產生圓餅圖
                    CreateDoughnut('LearningChart', '通過比例' + ' (人數 : ' + total + ')', points);
                }
            });
        }
        function CreateDoughnut(idName, title, points) {
            var chart = new CanvasJS.Chart(idName, {
                title: {
                    text: title
                },
                animationEnabled: true,
                legend: {
                    fontSize: 16,
                    fontFamily: "Helvetica"
                    //fontFamily: "Garamond"
                },
                theme: "light2",
                data: [
                    {
                        type: "doughnut",
                        indexLabelFontFamily: "Helvetica",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: false,//下方顏色顯示
                        toolTipContent: "{legendText}",
                        dataPoints: points,
                    }
                ]
            });
            chart.render();
        }

        function SetDisplay(element, isHide) {
            if (isHide) {
                element.attr('style', 'display:none;');
            }
            else {
                element.removeAttr('style', 'display:none;');
            }
        }
        function SetDisabled(element, isHide) {
            if (isHide) {
                element.attr('disabled', 'true');
            }
            else {
                element.removeAttr('disabled', 'true');
            }
        }
    </script>
</body>
</html>