﻿@model MeetSignIn.Areas.Admin.ViewModels.ReviewReport.ReviewReportView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增審查檢視報告" : "編輯審查檢視報告";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        審查檢視報告管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "ReviewReportAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.FileName)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Year)
                                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Month, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.Month, Model.MonthOptions, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FileName)
                                        @Html.TextBoxFor(model => model.FileNamePost, "", new { @class = "form-control", @type = "file", @accept = ".pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                        <code>請上傳總和不超過10MB的檔案</code><br />
                                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                        @if (!string.IsNullOrEmpty(Model.FileName))
                                        {
                                            if (Model.FileName.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/ReviewReportPhoto/@Model.FileName" width="100%" height="600px"></iframe>
                                            }
                                            <a class="btn btn-success" href="~/FileUploads/ReviewReportPhoto/@Model.FileName" target="_blank" style="margin-bottom:3px;">下載檔案</a>
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteReport", "ReviewReportAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedResponsibleType = $('#ResponsiblePerson');
            var remove;

            //Dept
            $selectedResponsibleType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Responsible').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedResponsibleType.tagsinput('add', val);
            });
        });
    </script>
}