﻿@model MeetSignIn.ViewModels.Meeting.MeetingIndexView

@{

}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">會議簽到系統</h2>
                        <h3>查看會議</h3>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("Index", "Meeting", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        <div class="row">

                            <div class="col-lg-9 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.JobID, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入工號...", @required = "true", @type = "number" })
                                </fieldset>
                            </div>

                            <div class="col-lg-3">
                                <fieldset>
                                    <button class="main-button"><i class="fa fa-search"></i> 查詢</button>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
}
