﻿@model MeetSignIn.ViewModels.Meeting.MeetingListView
@using MeetSignIn.Utility.Helpers;
@using MeetSignIn.Repositories;
@using MeetSignIn.Models;
@{
    var employee = Model.EmployeeInfo;
    RoomRepository roomRepository = new RoomRepository(new MeetingSignInDBEntities());
    string photoName = employee.JobID + ".jpg";
}

@section head{
    <style>
        .signed {
            background-color: #c4f793;
            border-radius: 3px;
            padding: 3px;
        }
        .unsigned {
            background-color: #ffb2b2;
            border-radius: 3px;
            padding: 3px;
        }
    </style>    
}

    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <img class="square" src="~/FileUploads/PersonnelPhoto/@photoName" />
                        <h2 style="margin-left:0px !important;">工號 : @employee.JobID</h2>
                        <h6>課別 : @employee.DepartmentStr</h6>
                        <h6>姓名 : @employee.Name @employee.EngName</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.MeetingList != null && Model.MeetingList.Count() > 0)
    {
        <div class="listing-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="naccs">
                            <div class="grid">
                                <div class="row">

                                    <div class="col-lg-9">

                                        <ul class="nacc">
                                            <!-- first category listing of items -->
                                            <li class="active">
                                                <div>
                                                    <div class="col-lg-12">
                                                        <div class="owl-carousel owl-listing">

                                                            <div class="item">
                                                                <div class="row">

                                                                    @foreach (var item in Model.MeetingList)
                                                                    {
                                                                        var rooomInfo = roomRepository.FindBy(item.RoomID);
                                                                        string signInUrl = $"{ Request.Url.Scheme}://{Request.Url.Authority}/Sign/MailSignIn?mid={item.ID}&jid={employee.JobID}&rn={rooomInfo.RoomNumber}";
                                                                        <div class="col-lg-12" style="margin-top:10px;">
                                                                            <div class="listing-item">
                                                                                <!--<div class="left-image">
                                                                                    @Html.GenerateQrCode($"{signInUrl}")-->
                                                                                    @*<a href="#"><img src="~/Content/564_plot_listing/assets/images/listing-01.jpg" alt=""></a>*@
                                                                                    <!--@if (item.SignableStatus == 1)
                                                                                    {
                                                                                        <div class="hover-content">
                                                                                            <div class="main-white-button">
                                                                                                <a href="@signInUrl" target="_blank"><i class="fa fa-eye"></i> 前往簽到</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>-->
                                                                                <div class="right-content align-self-center">
                                                                                    <a href="#"><h4>@item.Title</h4></a>
                                                                                    @*<h6></h6>*@
                                                                                    <span class="price">
                                                                                        <div class="icon">
                                                                                            <img src="~/Content/564_plot_listing/assets/images/listing-icon-01.png" alt="">
                                                                                        </div>
                                                                                        by: @item.Organiser
                                                                                    </span>
                                                                                    <span class="details">簽到狀態 : @Html.DisplayFor(model => item.IsSigned, "_SignedStatus")</span>
                                                                                    @if (item.SignTime != null)
                                                                                    {
                                                                                        <span class="details">簽到時間 : <em class="signed">@Convert.ToDateTime(item.SignTime).ToString("yyyy/MM/dd HH:mm")</em></span>
                                                                                    }
                                                                                    <span class="details">開放簽到 : <em>@item.RoomStr</em></span>
                                                                                    <span class="details">預定開始時間 : <em>@item.StartDate.ToString("yyyy/MM/dd HH:mm")</em></span>
                                                                                    <span class="details">預定結束時間 : <em>@item.EndDate.ToString("yyyy/MM/dd HH:mm")</em></span>
                                                                                    <span class="details">開放簽到 : <em>@Html.DisplayFor(model => item.SignableStatus, "_Signable")</em></span>
                                                                                    @*<span class="info"><img src="~/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="~/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="main-banner">
            <div class="container" style="background-color: #fff !important; padding: 20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>無待參與會議</h2>
                    </div>
                </div>
            </div>
        </div>
    }

@section scripts{
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>    
}
   