﻿@model MeetSignIn.ViewModels.CheckView
@{
}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">會議簽到系統</h2>
                        <h3>@Model.RoomNumber 會議室</h3>
                        <h3>主題 : @Model.Title</h3>
                        <h3>發起人 : @Model.Organiser</h3>
                        <h3> (請於下方輸入工號並點擊"簽到")</h3>
                        @*<h3 style="color: darkorange !important;">填入工號</h3>*@
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("Check", "Sign", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.MeetingID)
                        @Html.HiddenFor(model => model.RoomNumber)
                        <div class="row">
                            @*<div class="col-lg-3 align-self-center">
                                    <fieldset>
                                        <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                                            <option selected>All Areas</option>
                                            <option value="New Village">New Village</option>
                                            <option value="Old Town">Old Town</option>
                                            <option value="Modern City">Modern City</option>
                                        </select>
                                    </fieldset>
                                </div>*@
                            <div class="col-lg-9 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.JobID, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入工號...", @required = "true", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                    @*<input type="address" name="address" class="searchText" placeholder="Enter a location" autocomplete="on" required>*@
                                </fieldset>
                            </div>
                            @*<div class="col-lg-5 align-self-center">
                                    <fieldset>
                                        <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                                            <option value="$100 - $250">$100 - $250</option>
                                            <option value="$250 - $500">$250 - $500</option>
                                            <option value="$500 - $1000">$500 - $1,000</option>
                                            <option value="$1000+">$1,000 or more</option>
                                        </select>
                                    </fieldset>
                                </div>*@
                            <div class="col-lg-3">
                                <fieldset>
                                    <button class="main-button"><i class="fa fa-pencil"></i> 簽到</button>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


