﻿@using MeetSignIn.Utility.Helpers;
@{
    var MeetingInfo = Model.MeetingInfo;
}
@model MeetSignIn.ViewModels.SignInView

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">會議簽到系統</h2>
                        <h3>選擇會議室</h3>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("Index", "Meeting", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        <div class="row">

                            <div class="col-lg-9 align-self-center">
                                    <fieldset>
                                        @Html.DropDownListFor(model => model.RoomNumber, Model.RoomOptions, new { @class = "form-select" })
                                        @*<select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                                            <option selected>All Areas</option>
                                            <option value="New Village">New Village</option>
                                            <option value="Old Town">Old Town</option>
                                            <option value="Modern City">Modern City</option>
                                        </select>*@

                                    </fieldset>
                                @*<fieldset>
                                    @Html.TextBoxFor(model => model.RoomNumber, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入會議室編號...", @required = "true" })
                                </fieldset>*@
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button type="button" class="main-button" id="createqrcode"><i class="fa fa-search"></i> 查詢</button>
                                </fieldset>
                            </div>
                        </div>
                    }

                    <div class="listing-page" style="margin-top: 30px !important;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="naccs">
                                        <div class="grid">
                                            <div class="row">

                                                <div class="col-lg-9">

                                                    <ul class="nacc">
                                                        <!-- first category listing of items -->
                                                        <li class="active">
                                                            <div>
                                                                <div class="col-lg-12">
                                                                    <div class="owl-carousel owl-listing">

                                                                        <div class="item">
                                                                            <div class="row">


                                                                                <div class="col-lg-12">
                                                                                    <div class="listing-item">
                                                                                        @if (!string.IsNullOrEmpty(Model.QRCodeUrl))
                                                                                        {
                                                                                            <div class="left-image" style="padding:20px; ">
                                                                                                @(Html.GenerateQrCode(Model.QRCodeUrl, "Qrcode", 300, 300))

                                                                                                <div class="hover-content">
                                                                                                    <div class="main-white-button">
                                                                                                        <a href="@Model.QRCodeUrl" target="_blank"><i class="fa fa-eye"></i> 前往簽到</a>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="right-content align-self-center">
                                                                                                <h2>掃碼簽到</h2>
                                                                                                <h4>主題 : @MeetingInfo.Title</h4>
                                                                                                <p>發起人 : @MeetingInfo.Organiser</p>
                                                                                                <p>時間 : <br />@MeetingInfo.StartDate.ToString("yyyy/MM/dd HH:mm") ~ @MeetingInfo.EndDate.ToString("yyyy/MM/dd HH:mm")</p>
                                                                                                <h6>開放簽到狀態 : @Html.DisplayFor(model => MeetingInfo.SignableStatus, "_Signable")</h6>

                                                                                            </div>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div class="right-content align-self-center">
                                                                                                <h2>@Model.RoomNumber 會議室無申請紀錄</h2>


                                                                                            </div>
                                                                                        }
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="" style="height: 1000px;">
                    <div class="text-center mb-3 mt-2">
                        <div id="qrcode" style="max-height:300px; margin-top:10px;">
                            @if (!string.IsNullOrEmpty(Model.QRCodeUrl))
                            {
                                @Html.GenerateQrCode(Model.QRCodeUrl, "Qrcode", 150, 150)
                                <br />
                                <a class="btn btn-default" style="margin-top: 10px; background-color:lightgreen" href="@Model.QRCodeUrl">點擊簽到</a>
                            }
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/davidshimjs-qrcodejs-04f46c6/davidshimjs-qrcodejs-04f46c6/qrcode.min.js"></script>

    <script type="text/javascript">
        //new QRCode(document.getElementById("qrcode"), qrcodeurl);
        $("#createqrcode").click(function () {

            var roomNumber = document.getElementById('RoomNumber').value;
            location.href = "/Sign?rn=" + roomNumber;
            //$('#qrcode').empty();
            //$.ajax({
            //    url: "/Sign/GetQRCodeUrl",
            //    type: 'POST',
            //    dataType: "text",
            //    async: false,
            //    data: {
            //        rn: roomNumber
            //    },
            //    success: function (data) {
            //        var result = jQuery.parseJSON(data);
            //        new QRCode(document.getElementById("qrcode"), result.QRCodeUrl);
            //        $('#qrcode').append('<a class="btn btn-default" style="margin-top:10px;" href="' + result.QRCodeUrl + '">點擊簽到</a>');
            //    }
            //});
        });
    </script>
}

