﻿@model MeetSignIn.Areas.Admin.ViewModels.SignIn.SignInIndexView

@{
}

@section head{
    <style>
        .signed {
            background-color: #c4f793;
            border-radius: 3px;
            padding: 3px;
        }

        .unsigned {
            background-color: #ffb2b2;
            border-radius: 3px;
            padding: 3px;
        }

        .list_mt {
            margin-top: 10px;
        }

        .list_hidebg {
            display: inherit !important;
        }

        .list_resize {
            padding: 30px !important;
        }

        .item_photo {
            max-height: 130px;
            border-radius: 50% !important;
        }
    </style>
}
<div style="background-image: url(/Content/images/dsc2940-e1533029517512.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;">
<div class="page-heading" style="background-image:none !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="background-color: indianred; border-radius: 7px; margin-left: 12px; ">
                <div class="top-text header-text">
                    <h2 style="margin-left:0px !important;">【@Model.MeetingTitle】 會議簽到記錄</h2>
                    @Html.HiddenFor(model => model.MeetingID)
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.PageResult.Data.Count() > 0)
{
    <div class="listing-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="naccs">
                        <div class="grid">
                            <div class="row">

                                <div class="col-lg-9">

                                    <ul class="nacc">
                                        <!-- first category listing of items -->
                                        <li class="active">
                                            <div>
                                                <div class="col-lg-12">
                                                    <div class="">

                                                        <div class="item">
                                                            <div class="" id="log_list">

                                                                @*@foreach (var item in Model.PageResult.Data)
                                                                {
                                                                    if (item.IsSign)
                                                                    {
                                                                        string photofile = item.JobID + ".jpg";
                                                                    <div class="col-lg-12 list_mt">
                                                                        <div class="listing-item list_hidebg">
                                                                            <div class="left-image list_resize">
                                                                                <a href="#"><img src="~/FileUploads/PersonnelPhoto/@photofile" alt="" class="item_photo"></a>    
                                                                            </div>
                                                                            <div class="right-content align-self-center">
                                                                                <a href="#"><h4>@item.JobID - @item.Name</h4></a>
                                                                                <span class="details">簽到時間 : <em class="signed">@Convert.ToDateTime(item.SignTime).ToString("yyyy/MM/dd HH:mm")</em></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    }
                                                                }*@

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="main-banner">
        <div class="container" style="background-color: #fff !important; padding: 20px;">
            <div class="row">
                <div class="col-lg-12">
                    <h2>無待參與會議</h2>
                </div>
            </div>
        </div>
    </div>
}
</div>

@section scripts{
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            GetLogList();
            //setTimeout(function () {
            //    GetLogList();
            //}, 2000)        
            setInterval(GetLogList, 10000);

            function GetLogList() {
                //$('#log_list').fadeOut(500);                
                $.ajax({
                    url: "/Sign/GetSignLog",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        mid: $('#MeetingID').val()
                    },
                    success: function (data) {
                        console.log(data);
                        $('#log_list').children().remove();
                        $.map(data, function (log) {
                            var photofile = log.JobID + '.jpg';
                            var logHtml = ' <div class="col-lg-12 list_mt">' +
                                '<div class="listing-item list_hidebg">' +
                                '<div class="left-image list_resize">' +
                                '<a href="#"><img src="/FileUploads/PersonnelPhoto/' + photofile + '" alt="" class="item_photo"></a>' +
                                '</div>' +
                                '<div class="right-content align-self-center">' +
                                '<a href="#"><h4>' + log.JobID + ' - ' + log.Name + '</h4></a>' +
                                '<span class="details">簽到時間 : <em class="signed">' + log.SignTimeStr + '</em></span>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                            $('#log_list').append(logHtml);
                        });
                        //$('#log_list').fadeIn(500);
                    }
                });
            }
        });
    </script>
}
