﻿@model MeetSignIn.ViewModels.Sign.MeetingSignView
@{
    ViewBag.Title = "MeetingSignResult";
    int signedCount = Model.SignedList.Count();
    int unSignedCount = Model.UnSignedList.Count();
    int otherCount = Model.OtherList.Count();
    int toalCount = signedCount + unSignedCount + otherCount;
}

<div class="page-heading">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <h1 class="lh-1 mb-4" style="color:darkorange !important;">人數統計</h1>

                        @*<h2>工號 : @ViewBag.JobID</h2>*@
                        <h6>總人數 : @toalCount</h6>
                        <h6>實到 : @signedCount</h6>
                        <h6>未到 : @unSignedCount</h6>
                        <h6>請假 : @otherCount</h6>
                    </div>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px;">
                    <h1 class="lh-1 mb-4" style="color:#dd3c3c !important;">未簽到</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UnSignedList.Count() > 0)
                            {
                                foreach (var item in Model.UnSignedList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px;">
                    <h1 class="lh-1 mb-4" style="color:#4a9f31 !important;">已簽到</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SignedList.Count() > 0)
                            {
                                foreach (var item in Model.SignedList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px; ">
                    <h1 class="lh-1 mb-4" style="color:#656565 !important;">請假</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OtherList.Count() > 0)
                            {
                                foreach (var item in Model.OtherList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <a href="#" onclick="history.back()" class="btn btn-outline-secondary">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            setInterval(function () {
                location.reload();
            }, 60000); // 每一分鐘刷新页面
        })
    </script>    
}
