﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@{
    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
    string personId = memberInfo.Account;
    var percentage = Math.Round(Convert.ToDecimal(Model.CorrectNum) / Convert.ToDecimal(Model.QuizQuestionList.Count()) * 100, 2);
}

@section styles{
    <style>
        .bootstrap-tagsinput {
            background-color: #f7f7f7;
            display: block;
        }

            .bootstrap-tagsinput input {
                width: 0px !important;
                height: 0px !important;
                border: none !important;
            }

        form#contact input {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        .label {
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }

        .label-info {
            color: #5a5a5a !important;
            background-color: #ffffff;
            border: 1px solid #808080;
            border-radius: 0.25rem;
        }
    </style>
}

<div class="page-heading" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h2 style="margin-bottom: 20px;">@Model.Title</h2>
                    <h5 style="margin-left: 35px; margin-bottom: 20px; color:white;">@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="inner-content" style="background-color: #f7f7f7; border-radius: 7px; overflow: hidden;">
                    <div class="row" style="margin: 50px 0px; font-weight:bold;">

                        <div class="col-lg-12 align-self-center">
                            <div style="background-color: wheat; border-radius: 5px; padding: 10px 30px; color: : dimgray; font-size: 18px; font-weight: bold;">
                                <div>分   數 : <span style="color: royalblue;">@(Model.TotalPoints + " / " + Model.FullPoints)</span></div>
                                <div>正確率 : <span style="color: mediumseagreen;">@(Model.CorrectNum + " / " + Model.QuizQuestionList.Count()) (@(percentage)%)</span></div>
                            </div>
                            <form id="contact" action="" method="get">
                                <div id="qnrq_area">
                                    <div class="row">
                                        @if (Model.QuizQuestionList != null && Model.QuizQuestionList.Count() > 0)
                                        {
                                            for (int i = 0; i < Model.QuizQuestionList.Count(); i++)
                                            {
                                                var item = Model.QuizQuestionList[i];                                           
                                                <div class="col-lg-12">
                                                    <div class="qnr_result" data-id="@item.ID">
                                                        <p>@(i+1). @item.Question <span style="color: royalblue; font-weight: bold;">( @item.Points )</span></p>
                                                        @foreach (var opt in item.OptionsList)
                                                        {
                                                            string correctStr = "";
                                                            if (item.IsCorrect && opt.Value == item.Answer)
                                                            {
                                                                correctStr = "border: 2px solid #66b366;";
                                                            }
                                                            else if (opt.Value == item.Answer)
                                                            {
                                                                correctStr = "border: 2px solid #00d29b;";
                                                            }
                                                            else if (opt.Value == item.ChooseAnswer)
                                                            {
                                                                correctStr = "border: 2px solid #ff4848;";
                                                            }
                                                            <div style="margin-bottom: 3px; width: 80%;">
                                                                <label style="@correctStr border-radius: 5px; padding: 3px 10px; margin: 5px 12px; white-space: normal;">
                                                                @opt.Text
                                                                @if (item.IsCorrect && opt.Value == item.Answer)
                                                                {
                                                                    <span>✅</span>
                                                                }
                                                                else if (opt.Value == item.Answer)
                                                                {
                                                                    <span></span>
                                                                }
                                                                else if (opt.Value == item.ChooseAnswer)
                                                                {
                                                                    <span>❌</span>
                                                                }
                                                                </label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="col-lg-12">
                                            <fieldset>
                                                @*<a class="btn main-button" href="@Url.Action("TrainingSign", "Sign")">返回</a>*@
                                                <button type="button" style="margin-top: 10px;" id="return_btn" onclick="location.href = '@Url.Action("TrainingSignResult", "Sign", new { id = Model.TrainingID})';" class="main-button "><i class="fa fa-arrow-left"></i> 返回</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script>
        $(function () {
            //$('.tags_input').each(function () {
            //    var thisId = $(this).attr('id').replace('Tag', '');
            //    var $selectedTag = $('#Tag' + thisId);
            //    var remove;

            //    //Tags
            //    $selectedTag.on('itemAdded', function (event) {
            //        if (remove) {
            //            $selectedTag.tagsinput('remove', remove);
            //            remove = '';
            //        }
            //    });
            //    $('.js-signer-Tag' + thisId).on('click', function () {
            //        var val = $(this).text();
            //        $selectedTag.tagsinput('add', val);
            //    });
            //});

            $('#save_btn').on('click', function () {
                var resultList = [];
                $('.qnr_result').each(function () {
                    var qid = $(this).data('id');
                    var resultVal = $('input[name="question_' + qid + '"]:checked').val();
                    var result = {
                        QNRID: @Model.ID,
                        QNRQuestionID: $(this).data('id'),
                        PersonId: '@personId',
                        //AnswerType: answerType,
                        Answer: resultVal,
                    };

                    resultList.push(result);
                });
                var dataObj = {
                    jsonData: JSON.stringify({ 'datas': resultList }),
                };
                $.ajax({
                    url: "/Sign/SaveQuizResults",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: dataObj,
                    success: function (response) {
                        console.log(response);
                        if (response == 'success') {
                            toastr.success('儲存成功');
                            location.href = '@Url.Action("QuizResult", "Sign", new { id = Model.TrainingID })';
                        }
                        else {
                            toastr.error('儲存失敗');
                        }
                    }
                });
            });
        })
    </script>
}