﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@using MeetSignIn.Utility.Helpers;
@{
    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
    string personId = memberInfo.Account;
    bool isCreater = personId == Model.CreatePersonId;
    string quizUrl = $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/Quiz/{Model.TrainingID}";
    bool isExaminee = Model.ExamineeList.Contains(personId);
    bool isStartFillIn = true;
    if (Model.StartFillInTime != null)
    {

        var startFillInTime = Convert.ToDateTime(Model.StartFillInTime);
        if (startFillInTime > DateTime.Now || (Model.FillInTime != null && startFillInTime.AddMinutes(Convert.ToInt32(Model.FillInTime)) < DateTime.Now))
        {
            isStartFillIn = false;
        }
    }
}

@section styles{
    <style>
        .bootstrap-tagsinput {
            background-color: #f7f7f7;
            display: block;
        }

            .bootstrap-tagsinput input {
                width: 0px !important;
                height: 0px !important;
                border: none !important;
            }

        form#contact input {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        .label {
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }

        .label-info {
            color: #5a5a5a !important;
            background-color: #ffffff;
            border: 1px solid #808080;
            border-radius: 0.25rem;
        }
        .quiz_area {
            margin: 50px 0px;
        }

        @@media (max-width: 768px) {
            .quiz_area {
                margin: 5px 0px;
                font-size: 12px;
            }
        }
    </style>
}

<div class="page-heading" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h2 style="margin-bottom: 20px;">@Model.Title</h2>
                    <h5 style="margin-left: 35px; margin-bottom: 20px; color:white;">@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</h5>
                </div>
            </div>
            <div class="col-lg-12" style="padding: 5% 30%;">
                <div class="inner-content" style="background-color: #f7f7f7; border-radius: 7px; overflow: hidden;">
                    <div class="row quiz_area" style="font-weight:bold;">

                        <div class="col-lg-12 align-self-center" style="margin-bottom: 10px;">
                            <h3>試卷</h3>
                        </div>
                        <div class="col-lg-12 align-self-center">
                            @if ((isExaminee && isStartFillIn) || isCreater)
                            {
                                <div>
                                    @Html.GenerateQrCode($"{quizUrl}")
                                </div>

                                <a href="@quizUrl" class="btn btn-primary" style="margin-top: 5px;">連結</a><br />
                                if (isCreater)
                                {
                                    <a href="@Url.Action("TrainingSignResult", "Sign", new { id = Model.TrainingID })" class="btn btn-outline-secondary" style="margin-top: 5px;">回課程</a>
                                }
                            }
                            else
                            {
                                <strong style="color: red;">非本課程考生 !</strong>
                            }
                            <a href="@Url.Action("TrainingSign", "Sign")" class="btn btn-outline-secondary" style="margin-top: 5px;">回課程列表</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

