﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@{
    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
    string personId = memberInfo.Account;
    bool isExaminee = Model.ExamineeList.Contains(personId);
    bool isCreater = personId == Model.CreatePersonId;
    string quizUrl = $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/Quiz/{Model.TrainingID}";
}

@section styles{
    <style>
        .bootstrap-tagsinput {
            background-color: #f7f7f7;
            display: block;
        }

            .bootstrap-tagsinput input {
                width: 0px !important;
                height: 0px !important;
                border: none !important;
            }

        form#contact input {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        .label {
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }

        .label-info {
            color: #5a5a5a !important;
            background-color: #ffffff;
            border: 1px solid #808080;
            border-radius: 0.25rem;
        }

        .quiz_area {
            margin: 50px 0px;
        }

        @@media (max-width: 768px) {
            .quiz_area {
                margin: 5px 0px;
                font-size: 12px;
            }
            .quiz_option label {
                margin-bottom: 10px;
            }
        }
            .quiz_option{
                border: 1px gray solid;
                padding: 3px 5px;
            }
    </style>
}

<div class="page-heading" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h2 style="margin-bottom: 20px;">@Model.Title</h2>
                    <h5 style="margin-left: 35px; margin-bottom: 20px; color:white;">@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="inner-content" style="background-color: #f7f7f7; border-radius: 7px; overflow: hidden;">
                    <div class="row quiz_area" style="font-weight:bold;">

                        <div class="col-lg-12 align-self-center">
                            <form id="contact" action="" method="get">
                                <div id="qnrq_area">
                                    <div class="row">
                                        @if (Model.QuizQuestionList != null && Model.QuizQuestionList.Count() > 0)
                                        {
                                            Model.QuizQuestionList = Model.QuizQuestionList.OrderBy(x => Guid.NewGuid()).ToList();
                                            int questionCount = Model.QuizQuestionList.Count();
                                            for (int i = 0; i < questionCount; i++)
                                            {
                                                var item = Model.QuizQuestionList[i];                                           
                                                <div class="col-lg-12">
                                                    <div class="qnr_result" data-id="@item.ID">
                                                        <p>@(i+1). @item.Question</p>
                                                        @if (isExaminee)
                                                        {
                                                            foreach (var opt in item.OptionsList)
                                                            {
                                                                <div class="quiz_option">

                                                                    <label style="margin-left: 5px;">
                                                                        <input class="" style="width: auto; height: auto;" type="radio" name="question_@item.ID" data-id="@item.ID" value="@opt.Value" />
                                                                        @opt.Text
                                                                    </label>
                                                                </div>
                                                                <br />
                                                            }
                                                        }
                                                        else if (isCreater)
                                                        {
                                                            foreach (var opt in item.OptionsList)
                                                            {
                                                                <div class="quiz_option">
                                                                    <label style="margin-left: 5px;">
                                                                        @opt.Text
                                                                    </label>
                                                                </div>
                                                                <br />
                                                            }
                                                        }
                                                        <hr />
                                                        <br />
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="col-lg-12">
                                            <fieldset>
                                                @if (isCreater)
                                                {
                                                    <a href="@Url.Action("TrainingSignResult", "Sign", new { id = Model.TrainingID })" class="btn btn-outline-secondary" style="margin-top: 5px; margin-bottom: 5px;">回課程</a>
                                                    <br />
                                                }
                                                <button type="button" id="save_btn" class="main-button"><i class="fa fa-paper-plane"></i> 送出</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script>
        $(function () {
            //$('.tags_input').each(function () {
            //    var thisId = $(this).attr('id').replace('Tag', '');
            //    var $selectedTag = $('#Tag' + thisId);
            //    var remove;

            //    //Tags
            //    $selectedTag.on('itemAdded', function (event) {
            //        if (remove) {
            //            $selectedTag.tagsinput('remove', remove);
            //            remove = '';
            //        }
            //    });
            //    $('.js-signer-Tag' + thisId).on('click', function () {
            //        var val = $(this).text();
            //        $selectedTag.tagsinput('add', val);
            //    });
            //});

            $('#save_btn').on('click', function () {
                if (confirm('確定要送出嗎 ? ')) {
                    var resultList = [];
                    $('.qnr_result').each(function () {
                        var qid = $(this).data('id');
                        var resultVal = $('input[name="question_' + qid + '"]:checked').val();
                        if (resultVal == null) {
                            alert('試卷未完成 !');
                            return false;
                        }
                        var result = {
                            QNRID: @Model.ID,
                            QNRQuestionID: $(this).data('id'),
                            PersonId: '@personId',
                            //AnswerType: answerType,
                            Answer: resultVal,
                        };

                        resultList.push(result);
                    });
                    var dataObj = {
                        jsonData: JSON.stringify({ 'datas': resultList }),
                    };
                    $.ajax({
                        url: "/Sign/SaveQuizResults",
                        type: 'POST',
                        dataType: "text",
                        async: false,
                        data: dataObj,
                        success: function (response) {
                            console.log(response);
                            if (response == 'success') {
                                toastr.success('儲存成功');
                                location.href = '@Url.Action("QuizResult", "Sign", new { id = Model.TrainingID })';
                            }
                            else {
                                toastr.error('儲存失敗');
                            }
                        }
                    });
                }
            });
        })
    </script>
}