﻿
@{
    ViewBag.Title = "Read";
}

@section head
{
    <style>
        button {
            background-color: #fff;
            font-size: 15px;
            font-weight: 400;
            color: #2a2a2a;
            text-transform: capitalize;
            padding: 12px 25px;
            border-radius: 7px;
            letter-spacing: 0.25px;
        }
        a {
            color: #2a2a2a;
        }
        .d-none {
            display: none;
        }

        .mask {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 2;
            top: 0;
            left: 0;
            opacity: 0.5;
        }

        .content {
            display:none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 60%;
            /*text-align: center;*/
            background-color: #e8eae6;
            box-sizing: border-box;
            padding: 4%;
            z-index: 100;            
            /*to hide popup initially*/
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 15px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 4px;
        }

        .content h2, h6 {
            padding-top: 40px !important;
        }
    </style>    
}

<div class="page-heading">
    <div class="container">
        <div class="top-text header-text">
            @*<h2>工號 : @employee.JobID</h2>
            <h6>課別 : @employee.DepartmentStr</h6>
            <h6>姓名 : @employee.Name @employee.EngName</h6>*@
            <div style="padding-left:10%;padding-right:10%;">
                <div id="reader"></div>
            </div>
        </div>
        <div class="mask"></div>
        <div class="content" style="border-radius:7px;">
            <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                ×
            </div>
            <h2 id="ResultStr"></h2>
            <div style="margin-top:10px;" class="meeting_signIn_Info">
                <img class="square" src="" />
            </div>
            <h6 id="SignTime" class="meeting_signIn_Info"></h6>

            <p class="meeting_signIn_Info">工號 : <span id="JobID"></span></p>
            <p class="meeting_signIn_Info">姓名 : <span id="Name"></span></p>
            <p class="meeting_signIn_Info">課別 : <span id="Depqrtment"></span></p>
            <p class="meeting_signIn_Info">會議主題 : <span id="MeetingTitle"></span></p>
            <p class="meeting_signIn_Info">會議室 : <span id="RoomStr"></span></p>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/js/html5-qrcode.min.js"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            //console.log(`Scan result: ${decodedText}`, decodedResult);
            $.ajax({
                url: "/Sign/QrcodeSignIn",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    signCode: decodedText
                },
                success: function (data) {
                    //location.reload();
                    console.log(data);

                    $('#ResultStr').text(data.ResultStr);
                    if (data.MeetingID != 0) {
                        $('.square').attr('src', '/FileUploads/PersonnelPhoto/' + data.JobID + '.jpg');
                        
                        $('#SignTime').text(data.SignTime || '');
                        $('#JobID').text(data.JobID || '');
                        $('#Name').text(data.Name || '');
                        $('#Depqrtment').text(data.Depqrtment || '');
                        $('#MeetingTitle').text(data.MeetingTitle || '');
                        $('#RoomStr').text(data.RoomStr || '');

                        $('.meeting_signIn_Info').each(function () {
                            $(this).removeClass('d-none');
                        });
                    }
                    else {
                        $('.meeting_signIn_Info').each(function () {
                            $(this).addClass('d-none');
                        });
                    }

                    $('.content').fadeIn(200);
                    $('.mask').fadeIn(400);
                //    togglePopup();
                }
            });          
        }

        $(document).click(function (e) {
            var popup = $(".content");
           //判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            if (!popup.is(e.target) && popup.has(e.target).length == 0) {
                //則隱藏彈窗
                //popup.hide(500);
                ClosePop();
            }
        });


        function ClosePop() {
            //$(".content").toggle();
            $('.content').fadeOut(400);
            $('.mask').fadeOut(400);
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 350 });
        html5QrcodeScanner.render(onScanSuccess);

        // This method will trigger user permissions
        Html5Qrcode.getCameras().then(cameras => {
            /**
              * devices would be an array of objects of type:
              * { id: "id", label: "label" }
             */
            if (devices && devices.length) {
                var cameraId = devices[0].id;
                // .. use this to start scanning.


                // Create instance of the object.
                // The only argument is the “id” of HTML element created above.
                const html5QrCode = new Html5Qrcode("reader");
                html5QrCode.start(
                    cameraId, // retreived in the previous step.
                    {
                        fps: 10,    // sets the framerate to 10 frame per second
                        qrbox: 350,  // sets only 250 X 250 region of viewfinder to
                        // scannable, rest shaded.
                        facingMode: { exact: "environment" }
                    },
                    qrCodeMessage => {
                        // do something when code is read. For example:
                        console.log(`QR Code detected: ${qrCodeMessage}`);
                    },
                    errorMessage => {
                        // parse error, ideally ignore it. For example:
                        console.log(`QR Code no longer in front of camera.`);
                    })
                    .catch(err => {
                        // Start failed, handle it. For example,
                        console.log(`Unable to start scanning, error: ${err}`);
                    });

                html5QrCode.stop().then(ignore => {
                    // QR Code scanning is stopped.
                    console.log("QR Code scanning stopped.");
                }).catch(err => {
                    // Stop failed, handle it.
                    console.log("Unable to stop scanning.");
                });
            }
        }).catch(err => {
            // handle err
        });
    </script>
}
