﻿@using MeetSignIn.Utility.Helpers;
@{
    var MeetingInfo = Model.MeetingInfo;
}
@model MeetSignIn.ViewModels.SignInView

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">會議簽到記錄</h2>
                        <h3>選擇會議室</h3>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("RoomIndex", "Sign", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        <div class="row">

                            <div class="col-lg-9 align-self-center">
                                <fieldset>
                                    @Html.DropDownListFor(model => model.RoomNumber, Model.RoomOptions, new { @class = "form-select" })
                                    @*<select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                                            <option selected>All Areas</option>
                                            <option value="New Village">New Village</option>
                                            <option value="Old Town">Old Town</option>
                                            <option value="Modern City">Modern City</option>
                                        </select>*@

                                </fieldset>
                                @*<fieldset>
                                        @Html.TextBoxFor(model => model.RoomNumber, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入會議室編號...", @required = "true" })
                                    </fieldset>*@
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button type="submit" class="main-button"><i class="fa fa-search"></i> 查詢</button>
                                </fieldset>
                            </div>
                        </div>
                    }

                
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/davidshimjs-qrcodejs-04f46c6/davidshimjs-qrcodejs-04f46c6/qrcode.min.js"></script>

    <script type="text/javascript">
        //new QRCode(document.getElementById("qrcode"), qrcodeurl);
        $("#createqrcode").click(function () {

            var roomNumber = document.getElementById('RoomNumber').value;
            location.href = "/Sign?rn=" + roomNumber;
            //$('#qrcode').empty();
            //$.ajax({
            //    url: "/Sign/GetQRCodeUrl",
            //    type: 'POST',
            //    dataType: "text",
            //    async: false,
            //    data: {
            //        rn: roomNumber
            //    },
            //    success: function (data) {
            //        var result = jQuery.parseJSON(data);
            //        new QRCode(document.getElementById("qrcode"), result.QRCodeUrl);
            //        $('#qrcode').append('<a class="btn btn-default" style="margin-top:10px;" href="' + result.QRCodeUrl + '">點擊簽到</a>');
            //    }
            //});
        });
    </script>
}

