﻿
@{
    ViewBag.Title = "Scanner";
}

@section head{
    @*<script src="~/Content/js/WebRTC.js"></script>*@
    <script src="~/Content/instascan-master/instascan.min.js"></script>
    <style>
        #video {
            border: 1px solid black;
            box-shadow: 2px 2px 3px black;
            width: 320px;
            height: 240px;
        }

        #photo {
            border: 1px solid black;
            box-shadow: 2px 2px 3px black;
            width: 320px;
            height: 240px;
        }

        #canvas {
            display: none;
        }

        .camera {
            width: 340px;
            display: inline-block;
        }

        .output {
            width: 340px;
            display: inline-block;
            vertical-align: top;
        }

        #startbutton {
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            bottom: 32px;
            background-color: rgba(0, 150, 0, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            font-family: "Lucida Grande", "Arial", sans-serif;
            color: rgba(255, 255, 255, 1.0);
        }

        .contentarea {
            font-size: 16px;
            font-family: "Lucida Grande", "Arial", sans-serif;
        }
    </style>
}


<div class="page-heading contentarea">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h2>掃碼簽到</h2>
                    <h6>靠近掃描Qrcode</h6>

                </div>
                <div class="camera">
                    @*<video id="preview"></video>*@
                    <video autoplay playsinline></video>

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        'use strict';

        var constraints = {
            video: true
        };

        var video = document.querySelector('video');

        function handleSuccess(stream) {
            window.stream = stream; // only to make stream available to console
            video.srcObject = stream;
            console.log();
        }

        function handleError(error) {
            console.log('getUserMedia error: ', error);
        }

        navigator.mediaDevices.getUserMedia(constraints).
            then(handleSuccess).catch(handleError);
    </script>


    <!--相機插件instascan-master-->
    <script type="text/javascript">
        //來源 : https://ithelp.ithome.com.tw/articles/10206308
        let scanner = new Instascan.Scanner({
            video: document.getElementById('preview')
        });
        // 開啟一個新的掃描
        // 宣告變數scanner，在html<video>標籤id為preview的地方開啟相機預覽。
        // Notice:這邊注意一定要用<video>的標籤才能使用，詳情請看他的github API的部分解釋。

        scanner.addListener('scan', function (content) {
            console.log(content);
        });
        //開始偵聽掃描事件，若有偵聽到印出內容。

        Instascan.Camera.getCameras().then(function (cameras) {
            //取得設備的相機數目
            if (cameras.length > 0) {
                ///若設備相機數目大於0 則先開啟第0個相機(程式的世界是從第零個開始的)
                scanner.start(cameras[0]);
            } else {
                //若設備沒有相機數量則顯示"No cameras found";
                //這裡自行判斷要寫什麼
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>
}
