﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.TrainingIndexView
@{
    ViewBag.Title = "TrainingSign";
}
<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">訓練簽到紀錄</h2>
                        @*<h3>@Model.RoomNumber 會議室</h3>
                            <h3>主題 : @Model.Title</h3>
                            <h3>發起人 : @Model.Organiser</h3>
                            <h3> (請於下方輸入工號並點擊"簽到")</h3>*@
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("TrainingSign", "Sign", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.Title, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入標題..." })
                                    @*@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })*@
                                </fieldset>
                            </div>
                            <div class="col-lg-3 align-self-center">
                                <fieldset style="border-left: 1px solid #8d99af;">
                                    @Html.CheckBoxFor(model => model.ShowToday, new { @style = "height: auto; width: auto; " })
                                    @*<input type="checkbox" name="today" style="height: auto; width: auto; ">*@
                                    <span>顯示當日課程</span>
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button class="main-button"><i class="fa fa-arrow-right"></i> 查詢</button>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-listing main-banner" style="margin-top: 0px; border-top: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading" style="margin-bottom: 0px">
                    <h2 style="color: white; margin-top: 20px;">訓練列表</h2>
                    @*<h6>Check Them Out</h6>*@
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-carousel owl-listing">
                    <div class="item">
                        <div class="row">
                            @foreach (var item in Model.PageResult.Data)
                            {
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        @*<div class="left-image">
                                    <a href="#"><img src="assets/images/listing-01.jpg" alt=""></a>
                                </div>*@
                                        <div class="right-content align-self-center" style="padding: 20px 60px;">
                                            <a href="@Url.Action("TrainingSignResult", "Sign", new { id = item.ID})"><h4>@item.Title</h4></a>
                                            <span class="details" style="margin-bottom: 15px;">發起人: <em>@item.Organiser</em></span>
                                            <h6>@item.StartDate.ToString("yyyy-MM-dd HH:mm")</h6>
                                            @*<ul class="rate">
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                        <li>(18) Reviews</li>
                                    </ul>*@
                                            @*<span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $450 - $950 / month with taxes</span>
                                    <span class="details">Details: <em>2760 sq ft</em></span>
                                    <ul class="info">
                                        <li><img src="assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                        <li><img src="assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                    </ul>*@
                                            <div class="main-white-button" style="bottom: 22px;">
                                                <a href="@Url.Action("TrainingSignResult", "Sign", new { id = item.ID})" style="background-color: #2d2d2d; color: white; font-weight: bold;"><i class="fa fa-arrow-right"></i> 查看</a>
                                                @if (item.HasExam)
                                                {
                                                    <a href="@Url.Action("QuizStart", "Sign", new { id = item.ID })" style="background-color: #595959; color: #ffdd00; font-weight: bold; "><i class="fa fa-arrow-right"></i> 試卷</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @Html.Partial("_Page", Model.PageResult)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

}
