﻿@model MeetSignIn.ViewModels.TrainingCheckView
@{
}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">教育訓練簽到系統</h2>
                        <h3>@Model.RoomNumber 會議室</h3>
                        <h3>主題 : @Model.Title</h3>
                        <h3>發起人 : @Model.Organiser</h3>
                        <h3> (請於下方輸入工號並點擊"簽到")</h3>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("TrainingCheck", "Sign", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.TrainingID)
                        @Html.HiddenFor(model => model.RoomNumber)
                        <div class="row">
                            <div class="col-lg-9 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.JobID, new { @class = "searchText", @style = "border: 0px;", @placeholder = "請填入工號...", @required = "true", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button class="main-button"><i class="fa fa-pencil"></i> 簽到</button>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


