﻿@model MeetSignIn.ViewModels.Sign.TrainingSignView
@{
    ViewBag.Title = "TrainingSignResult";
    int signedCount = Model.SignedList.Count();
    int unSignedCount = Model.UnSignedList.Count();
    int otherCount = Model.OtherList.Count();
    int toalCount = signedCount + unSignedCount + otherCount;

    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
    string personId = memberInfo.Account;
}


<div class="page-heading">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <h1 class="lh-1 mb-4" style="color:darkorange !important;">人數統計</h1>
                        <h3>更新時間 : @DateTime.Now.ToString("yyyy-MM-dd HH:mm")</h3>
                        @*<h2>工號 : @ViewBag.JobID</h2>*@
                        <h6>總人數 : @toalCount</h6>
                        <h6>實到 : @signedCount</h6>
                        <h6>未到 : @unSignedCount</h6>
                        <h6>請假 : @otherCount</h6>
                    </div>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px;">
                    <h1 class="lh-1 mb-4" style="color:#dd3c3c !important;">未簽到</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                                <td>意見填寫狀態</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UnSignedList.Count() > 0)
                            {
                                foreach (var item in Model.UnSignedList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                        <td>
                                            @if (item.OpinionStatus == "已填寫")
                                            {
                                                <span class="label label-info">@item.OpinionStatus</span>
                                            }
                                            @if (item.OpinionStatus == "尚未填寫")
                                            {
                                                <span class="label label-default">@item.OpinionStatus</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px;">
                    <h1 class="lh-1 mb-4" style="color:#4a9f31 !important;">已簽到</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                                <td>意見填寫狀態</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SignedList.Count() > 0)
                            {
                                foreach (var item in Model.SignedList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                         <td>
                                            @if (item.OpinionStatus == "已填寫")
                                            {
                                                <span class="label label-info">@item.OpinionStatus</span>
                                            }
                                            @if (item.OpinionStatus == "尚未填寫")
                                            {
                                                <span class="label label-default">@item.OpinionStatus</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px; ">
                    <h1 class="lh-1 mb-4" style="color:#656565 !important;">請假</h1>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <td>人員</td>
                                <td>部門</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OtherList.Count() > 0)
                            {
                                foreach (var item in Model.OtherList)
                                {
                                    <tr>
                                        <td>@item.JobID - @item.Name</td>
                                        <td>@item.DeptName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <a href="#" onclick="history.back()" class="btn btn-outline-secondary">返回</a>
                </div>
                @if (Model.HasExam)
                {
                    <div class="col-lg-12" style="margin: 20px; padding: 20px; background-color: white; border-radius: 10px; ">
                        <h1 class="lh-1 mb-4" style="color:#811e9d !important;">考核</h1>
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>人員</th>
                                    <th>部門</th>
                                    <th>填寫日期</th>
                                    <th>分數</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PersonResultList.Count() > 0)
                                {
                                    foreach (var item in Model.PersonResultList)
                                    {
                                        var percentage = Math.Round(Convert.ToDecimal(item.CorrectNum) / Convert.ToDecimal(Model.QuestionNum) * 100, 2);
                                        <tr>
                                            <td>
                                                <span style="font-weight: bold !important;">@item.PersonId @item.PersonName</span>
                                            </td>
                                            <td>
                                                <span style="font-weight: bold !important;">@item.DeptId @item.DeptName</span>
                                            </td>
                                            <td>
                                                <span style="font-weight: bold !important;">@item.CreateDate.ToString("yyyy-MM-dd")</span>
                                            </td>
                                            <td>
                                                <span style="font-weight: bold !important;">分數 : </span><span style="color: royalblue; font-weight: bold !important;">@item.TotalPoints / @Model.FullPoints</span>
                                                <br />
                                                <span style="font-weight: bold !important;">正確率 : </span><span style="color: mediumseagreen; font-weight: bold !important;">@item.CorrectNum / @Model.QuestionNum (@(percentage)%)</span>
                                            </td>
                                            <td>
                                                @if (personId == Model.CreaterPersonId)
                                                {
                                                    <a class="btn btn-primary" href="@Url.Action("QuizResult", "Sign", new { id = Model.TrainingID, personId = item.PersonId })">查看</a>
                                                }
                                                @*<button class="btn btn-primary display_result" type="button" data-personid="@item.PersonId" data-qnrid="@item.QNRID" data-toggle="modal" data-target="#ResultModal">查看</button>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <a href="#" onclick="history.back()" class="btn btn-outline-secondary">返回</a>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            setInterval(function () {
                location.reload();
            }, 600000); // 每一分鐘刷新页面
        })
    </script>
}