﻿
@{
    ViewBag.Title = "Result";
}

@section head{
    <style>
        .return-btn {
            margin-top: 10px !important;
            background-color: #fff !important;
            color: #8d99af;
            !important;
            font-weight: bold !important;
        }
    </style>
}

<div class="page-heading">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <h1 class="lh-1 mb-4" style="color:darkorange !important;">@ViewBag.ResultStr</h1>
                        @if (ViewBag.SignTime != null)
                        {
                            string photoName = ViewBag.JobID + ".jpg";
                            <img class="square" src="~/FileUploads/PersonnelPhoto/@photoName" />
                            <h2>工號 : @ViewBag.JobID</h2>
                            <h6>姓名 : @ViewBag.Name</h6>
                            <h6>簽到時間 : @ViewBag.SignTime</h6>
                        }
                        else
                        {
                            <input id="return_btn" class="btn return-btn" value="返回" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var url = '';
            if ('@ViewBag.Type' == '1') {
                url = '/Sign';
            }
            else {
                url = '/Sign/TrainingCheck?rn=@ViewBag.RoomNumber&tid=@ViewBag.MeetingID';
            }
            $('#return_btn').on('click', function () {
                location.href = url;
            });
            window.setTimeout(function () { location.href = url }, 60000);
        });
    </script>
}
