﻿@model MeetSignIn.Areas.Admin.ViewModels.PersonKPI.PersonKPIView
@{
    ViewBag.Title = Model;
    string title = "基本資訊";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

@section styles
{
    <style>

    </style>
}

<section class="content-header">
    <h1>
        個人目標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "PersonKPIAdmin")">個人目標列表</a></li>
        <li class="active">個人目標管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="user-block">
                        <h3 class="box-title">@title</h3>
                    </div>
                    @*<div class="box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>*@
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "PersonKPIAdmin", FormMethod.Post, new { enctype = "multipart/form-data", id = "Edit_Form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.FairlyKPITitle)
                        @Html.HiddenFor(model => model.KPIID)
                        @Html.HiddenFor(model => model.KPITitle)
                        @Html.HiddenFor(model => model.KPIDescription)
                        @Html.HiddenFor(model => model.PersonId)
                        @Html.HiddenFor(model => model.DeptId)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.ParentDeptId)
                        @Html.HiddenFor(model => model.IsLatest)
                        @Html.HiddenFor(model => model.IsAudit)
                        @Html.HiddenFor(model => model.State)
                        @Html.HiddenFor(model => model.CreateDate)

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ParentDeptId)
                                <input type="text" class="form-control" value="@Model.DeptId @Model.DeptName" disabled />
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PersonId)
                                <input type="text" class="form-control" value="@Model.PersonId @Model.Name" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FairlyKPITitle)
                                <input type="text" class="form-control" value="@Model.FairlyKPITitle" disabled />
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.KPITitle)
                                <input type="text" class="form-control" value="@Model.KPITitle" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <hr align="center" width="100%" class="hr_split">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box box-success box-widget" style="background-color: #fbf7e6; ">
                                    <div class="box-header with-border">
                                        <div class="user-block">
                                            <h3 class="box-title text text-info" style="font-weight: bold;">進度資料</h3>
                                        </div>
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="">
                                        @*@foreach (var state in Model.StateList)
                                        {
                                            string thisCheckDate = "";
                                            if (state.CheckDate != null)
                                            {
                                                thisCheckDate = Convert.ToDateTime(state.CheckDate).ToString("yyyy-MM-dd");
                                            }
                                            string stateChecked = state.IsFinished ? "checked" : "";
                                            string percentage = state.Percentage + " %";
                                            bool isMainPerson = !Model.IsAudit && adminInfo.Account == Model.PersonId;
                                            string disabledStr = isMainPerson ? "" : "disabled";
                                            <div style="display: inline-block; margin-left:2%;">
                                                <label class="label label-primary quarter_state" style="padding: 8px 46% !important;"> @state.Title</label>
                                                <div>
                                                    <p>
                                                        <textarea class="form-control state_description" type="text" style="resize: vertical; height: 100px;" placeholder="簡述" @disabledStr>@state.Description</textarea>
                                                    </p>
                                                    <p>
                                                        <input class="form-control state_percentage" style="padding-left: 15px; padding-right: 6px; width: 70%;" type="text" value="@percentage" @disabledStr />
                                                    </p>
                                                    <p>
                                                        <input class="form-control state_quarter" style="width: 85%; " value="@state.Quarter" @disabledStr />

                                                    </p>
                                                    <p>
                                                        <input class="form-control state_checkDate" type="date" style="padding-left: 15px; border-radius: 3px; border: 1px solid #d2d6de; width: 85%;" value="@thisCheckDate" @disabledStr />
                                                    </p>
                                                    <p>
                                                        @if (isMainPerson && !Model.IsAudit)
                                                        {
                                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                                <input type="checkbox" class="form-check-input state_isFinished" name="@(Model.ID + "_" + state.ID)_isFinished" @stateChecked />
                                                                <div class="state p-success">
                                                                    <label class="form-check-label" style="font-weight: bold;">完成</label>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            if (state.IsFinished)
                                                            {
                                                                <label class="label label-success">完成</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="label label-default">未完成</label>
                                                            }
                                                        }
                                                    </p>
                                                </div>
                                            </div>

                                        }*@

                                        @if (Model.MonthOptions != null && Model.MonthOptions.Count() > 0)
                                        {
                                            for (int i = 0; i < Model.MonthOptions.Count(); i++)
                                            {
                                                var itemStateSort = Model.MonthOptions.Where(q => q.ID == Model.State).FirstOrDefault();
                                                var monthKPI = Model.MonthOptions[i];
                                                string thisCheckDate = "";
                                                if (monthKPI.Deadline != null)
                                                {
                                                    thisCheckDate = Convert.ToDateTime(monthKPI.Deadline).ToString("yyyy-MM-dd");
                                                }
                                                bool isMainPerson = !Model.IsAudit && adminInfo.Account == Model.PersonId;
                                                string stateChecked = monthKPI.IsFinished ? "checked" : "";
                                                string monthStr = String.Format("{0:00}", Convert.ToInt16(monthKPI.Month)) + "月";

                                                #region 目標狀態&樣式
                                                string boxBG = "season_1";
                                                switch (i / 3)
                                                {
                                                    case 0:
                                                        boxBG = "season_1";
                                                        break;
                                                    case 1:
                                                        boxBG = "season_2";
                                                        break;
                                                    case 2:
                                                        boxBG = "season_3";
                                                        break;
                                                    case 3:
                                                        boxBG = "season_4";
                                                        break;
                                                }

                                                string btnClass = "btn-default bg-dark";
                                                string monthKPIStateClass = "text-muted";
                                                string monthKPIState = "完成";
                                                if (string.IsNullOrEmpty(monthKPI.ToDo))
                                                {
                                                    monthKPIState = "無資料";
                                                }
                                                else if (monthKPI.IsFinished)
                                                {
                                                    if (monthKPI.FinishDate <= monthKPI.Deadline)
                                                    {
                                                        btnClass = "btn-success";
                                                        monthKPIStateClass = "text-success";
                                                        monthKPIState = "完成";
                                                    }
                                                    else
                                                    {
                                                        btnClass = "btn-default bg-maroon";
                                                        monthKPIStateClass = "text-danger";
                                                        monthKPIState = "逾時完成";
                                                    }
                                                }
                                                else
                                                {
                                                    if (DateTime.Now > monthKPI.Deadline)
                                                    {
                                                        btnClass = "btn-danger";
                                                        monthKPIStateClass = "text-danger";
                                                        monthKPIState = "逾時未完成";
                                                    }
                                                    else
                                                    {
                                                        btnClass = "btn-warning";
                                                        monthKPIStateClass = "text-danger";
                                                        monthKPIState = "進行中";
                                                    }
                                                }
                                                #endregion

                                                string htmlStr = "";
                                                if (i % 3 == 0)
                                                {
                                                    htmlStr += $@"
                                                    <div class=""box {boxBG} monthKPI_box"" style=""width:49%;"">
                                                        <div class=""box-head"">
                                                            <h4 class=""box-title"" style=""margin-left:2%; color:white;"">Q{i / 3 + 1}</h4>
                                                        </div>
                                                        <div class=""box-body"">";
                                                }

                                                htmlStr += $@"
                                                            <a class=""btn btn-small {btnClass} edit_monthkpi"" data-toggle=""modal"" data-target=""#monthKPIModal"">
                                                                {monthStr}
                                                                <br>
                                                                <strong class=""{monthKPIStateClass}"">{monthKPIState}</strong>
                                                            </a>";

                                                if (i % 3 == 2)
                                                {
                                                    htmlStr += $@"
                                                    </div>
                                                    <div class="""" style=""background-color: rgba(0, 0, 0, 0.2); color:white;"">
                                                        <div class=""box-body"">
                                                            <div class="" form-group"">
                                                                <span class="" input-group-text""><i class="" fa fa-star""></i></span>
                                                                <label>應做事情</label>
                                                                <textarea id="" month_todo"" name="" month_todo"" class="" form-control"" style=""height:80px;resize:none;""></textarea>
                                                            </div>
                                                            <div class="" form-group"">
                                                                <span class="" input-group-text""><i class="" fa fa-flag""></i></span>
                                                                <label>預期目標</label>
                                                                <textarea id="" month_expect"" name="" month_expect"" class="" form-control"" style=""height:80px;resize:none;""></textarea>
                                                            </div>
                                                            <div class="" form-group"">
                                                                <span class="" input-group-text""><i class="" fa fa-check""></i></span>
                                                                <label>完成事項</label>
                                                                <textarea id="" month_complete"" name="" month_complete"" class="" form-control"" style=""height:80px;resize:none;""></textarea>
                                                            </div>
                                                            <div class=""form-group"">
                                                                <div class=""input-group"">
                                                                    <div class=""input-group-prepend"">
                                                                        <span class=""input-group-text""><i class=""fa fa-calendar""></i></span>
                                                                        <label>期限</label>
                                                                    </div>
                                                                    <input id=""month_deadline"" name=""month_deadline"" style=""border-radius: 3px; border: 1px solid #d2d6de; width: 85%; padding:5px; color:gray;"" type=""date"" />
                                                                </div>
                                                            </div>

                                                            <div class=""pretty p-switch p-fill"" style=""margin-bottom:10px;"">
                                                                <input type=""checkbox"" class=""form-check-input"" id=""month_isfinished"" name=""month_isfinished"" />
                                                                <div class=""state p-warning"">
                                                                    <label>完成</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>";
                                                }
                                                @Html.Raw(htmlStr)
                                               
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                        if (adminInfo.Account == Model.PersonId && Model.OfficerAudit <= 1)
                        {//承辦人
                            @Html.HiddenFor(model => model.OfficerAudit)
                            if (!Model.IsAudit && adminInfo.Account == Model.PersonId)
                            {
                                <button id="submit_personkpi_trial" type="button" class="btn btn-warning">送審</button>
                            }
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label>備註</label>
                                    @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.OfficerAuditDate)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.OfficerAudit)
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="label label-default bg-orange">備註</label>
                                    @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.OfficerRemark)
                            @Html.HiddenFor(model => model.OfficerAuditDate)
                        }

                        if (Model.AuditLevelInfo != null && Model.IsAudit)
                        {
                            if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                            {//主管
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.ManagerAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ManagerRemark)
                                        @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.ManagerAudit)
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightgray; border-style: solid;">
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.ManagerAudit, new { @class = "lead", @style = "font-weight: bold;" })
                                        @Html.DisplayFor(model => Model.ManagerAudit, "_AuditStatus")
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ManagerRemark)
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            }

                            if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                            {//副總
                                <div class="form-group">

                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.ViceAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ViceRemark)
                                        @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.ViceAudit)
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightgray; border-style: solid;">
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.ViceAudit, new { @class = "lead", @style = "font-weight: bold;" })
                                        @Html.DisplayFor(model => Model.ViceAudit, "_AuditStatus")
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ViceRemark)
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            }

                            if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                            {//總經理
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.PresidentAudit)
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.PresidentRemark)
                                        @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.PresidentAudit)
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightgray; border-style: solid;">
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.PresidentAudit, new { @class = "lead", @style = "font-weight: bold;" })
                                        @Html.DisplayFor(model => Model.PresidentAudit, "_AuditStatus")

                                    </div>
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.PresidentRemark)
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            }

                        }
                        else
                        {
                            @Html.HiddenFor(model => model.ManagerAudit)
                            @Html.HiddenFor(model => model.ManagerRemark)
                            @Html.HiddenFor(model => model.ManagerAuditDate)

                            @Html.HiddenFor(model => model.ViceAudit)
                            @Html.HiddenFor(model => model.ViceRemark)
                            @Html.HiddenFor(model => model.ViceAuditDate)

                            @Html.HiddenFor(model => model.PresidentAudit)
                            @Html.HiddenFor(model => model.PresidentRemark)
                            @Html.HiddenFor(model => model.PresidentAuditDate)
                            if (Model.IsAudit)
                            {
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                        @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                    </div>
                                </div>
                            }
                        }

                        if (Model.IsAudit)
                        {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="signature_area">
                                    <label class="label label-default bg-maroon">承辦人簽章</label>
                                    <div style="position: relative; width: 170px">
                                        @if (Model.OfficerAudit > 1)
                                        {
                                            if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.OfficerSignature)))
                                            {
                                                Model.OfficerSignature = "0001.jpg";
                                            }
                                            <img class="signature_img" src="~/Content/Signature/@Model.OfficerSignature" style=" width: 160px; height: 160px;" />
                                            if (Model.OfficerSignature == "0001.jpg")
                                            {
                                                if (Model.OfficerDeptId == "0001")
                                                {
                                                    <p class="signature_dept signature_dept_officer">菲力工業</p>
                                                }
                                                else
                                                {
                                                    <p class="signature_dept signature_dept_officer">@Model.OfficerDeptName</p>
                                                }
                                                <p class="signature_name signature_name_officer">@Model.OfficerName</p>
                                            }
                                            else if (Model.OfficerSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_officer">菲力工業</p>
                                                <p class="signature_name signature_name_officer">人資部</p>
                                            }
                                            <p class="signature_date signature_date_officer">@Model.OfficerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                        }
                                        else
                                        {
                                            <label class="text text-danger no_signature">無簽章</label>
                                        }
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="signature_area">
                                    <label class="label label-default bg-maroon">主管簽章</label>
                                    <div style="position: relative; width: 170px">
                                        @if (Model.ManagerAudit > 1)
                                        {
                                            if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ManagerSignature)))
                                            {
                                                Model.ManagerSignature = "0001.jpg";
                                            }
                                            <img class="signature_img" src="~/Content/Signature/@Model.ManagerSignature" style=" width: 160px; height: 160px;" />
                                            if (Model.ManagerSignature == "0001.jpg")
                                            {
                                                if (Model.OfficerDeptId == "0001")
                                                {
                                                    <p class="signature_dept signature_dept_manager">菲力工業</p>
                                                }
                                                else
                                                {
                                                    <p class="signature_dept signature_dept_manager">@Model.ManagerDeptName</p>
                                                }
                                                <p class="signature_name signature_name_manager">@Model.ManagerName</p>
                                            }
                                            else if (Model.ManagerSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_manager">菲力工業</p>
                                                <p class="signature_name signature_name_manager">人資部</p>
                                            }
                                            <p class="signature_date signature_date_manager">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                        }
                                        else
                                        {
                                            <label class="text text-danger no_signature">無簽章</label>
                                        }
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerAuditDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="signature_area">
                                    <label class="label label-default bg-maroon">副總簽章</label>
                                    <div style="position: relative; width: 170px">
                                        @if (Model.ViceAudit > 1)
                                        {
                                            if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ViceSignature)))
                                            {
                                                Model.ViceSignature = "0001.jpg";
                                            }
                                            <img class="signature_img" src="~/Content/Signature/@Model.ViceSignature" style=" width: 160px; height: 160px;" />
                                            if (Model.ViceSignature == "0001.jpg")
                                            {
                                                <p class="signature_dept signature_dept_vice">@Model.ViceDeptName</p>
                                                <p class="signature_name signature_name_vice">@Model.ViceName</p>
                                            }
                                            else if (Model.ViceSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_vice">菲力工業</p>
                                                <p class="signature_name signature_name_vice">人資部</p>
                                            }
                                            <p class="signature_date signature_date_vice">@Model.ViceAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                        }
                                        else
                                        {
                                            <label class="text text-danger no_signature">無簽章</label>
                                        }
                                    </div>
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceAuditDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="signature_area">
                                    <label class="label label-default bg-maroon">總經理簽章</label>
                                    <div style="position: relative; width:170px">
                                        @if (Model.PresidentAudit > 1)
                                        {
                                            if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.PresidentSignature)))
                                            {
                                                Model.PresidentSignature = "0001.jpg";
                                            }
                                            <img class="signature_img" src="~/Content/Signature/@Model.PresidentSignature" style=" width: 160px; height: 160px;" />
                                            if (Model.PresidentSignature == "0001.jpg")
                                            {
                                                <p class="signature_dept signature_dept_president">@Model.PresidentDeptName</p>
                                                <p class="signature_name signature_name_president">@Model.PresidentName</p>
                                            }
                                            else if (Model.PresidentSignature == "0000.jpg")
                                            {
                                                <p class="signature_dept signature_dept_president">菲力工業</p>
                                                <p class="signature_name signature_name_president">人資部</p>
                                            }
                                            <p class="signature_date signature_date_president">@Model.PresidentAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                        }
                                        else
                                        {
                                            <label class="text text-danger no_signature">無簽章</label>
                                        }
                                    </div>
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentAuditDate)
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-sm-12">
                                <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="col-sm-12" style="margin-top: 10px; padding-left:0px;">
                                @if (Model.PresidentAudit > 1)
                                {
                                    <p class="label label-success" style="padding: 9px 1%;">已結案</p>
                                }
                                else
                                {
                                    <button id="SaveBtn" type="submit" class="btn btn-primary"> <i class="fa fa-save"> 儲存</i></button>
                                }
                                @if (Model.IsAudit)
                                {
                                    <a href="@Url.Action("Invalid", "PersonKPIAdmin", new { id = Model.ID })" class="btn btn-danger revoke_person_kpi">
                                        <i class="fa fa-scissors"> 作廢</i>
                                    </a>
                                }
                                <a href="@Url.Action("History", new { KPIID = Model.KPIID, PersonId = Model.PersonId })" class="btn bg-olive" target="_blank">
                                    <i class="fa fa-undo"> 恢復</i>
                                </a>
                                @if (Model.FromAudit)
                                {
                                    int stateInt = 0;
                                    switch (adminInfo.Type)
                                    {
                                        case (int)MeetSignIn.Models.AdminType.Manager:
                                            stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                            break;
                                        case (int)MeetSignIn.Models.AdminType.Vice:
                                            stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                            break;
                                        case (int)MeetSignIn.Models.AdminType.President:
                                            stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                            break;
                                    }
                                    @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                                }
                                else
                                {
                                    @Html.ActionLink("取消/回列表", "MonthsEdit", new { PersonId = Model.PersonId }, new { @class = "btn btn-default" })
                                }
                            </div>
                        </div>
                    }

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>



@section scripts{
    <script src="~/Content/Admin/personKPI.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
}