﻿@model MeetSignIn.Areas.Admin.ViewModels.FairlyPerson.FairlyPersonView
@{
    ViewBag.Title = "Index";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}
<section class="content-header">
    <h1>
        個人目標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">個人目標管理</li>
    </ol>
</section>

<section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                        @if (!string.IsNullOrEmpty(@Model.KPITitle))
                        {
                            <span> @Model.KPITitle</span>
                              <br />
                        }
                        【@Model.PersonId @Model.PersonName】作廢個人目標列表</h3>
                        @Html.ActionLink("返回", "QuarterEdit", new { PersonId = Model.PersonId}, new { @class = "btn btn-default" })
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th width="9%">@Html.DisplayNameFor(x => x.FairlyKPITitle)</th>
                                                <th width="9%">@Html.DisplayNameFor(x => x.KPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.State)</th>
                                                <th width="8%">@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th width="4%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">
                                            @if (Model.PersonKPIList != null && Model.PersonKPIList.Count() > 0)
                                            {
                                                for (int j = 0; j < Model.PersonKPIList.Count(); j++)
                                                {
                                                    var item = Model.PersonKPIList[j];
                                                    <tr id="personkpi_id_@item.ID">
                                                        <td class="personkpi_fairlykpititle">@item.FairlyKPITitle</td>
                                                        <td class="personkpi_title">@item.KPITitle</td>
                                                        <td class="personkpi_state" value="@item.State">

                                                            <div class="box box-success box-widget" style="background-color: #fbf7e6; ">
                                                                <div class="box-header with-border">
                                                                    <div class="user-block">
                                                                        <h3 class="box-title text text-info" style="font-weight: bold;">詳細資料</h3>
                                                                    </div>
                                                                    <div class="box-tools">
                                                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="box-body">
                                                                    @if (item.StateOptions != null && item.StateOptions.Count() > 0)
                                                                    {
                                                                        for (int i = 0; i < item.StateOptions.Count(); i++)
                                                                        {
                                                                            var itemStateSort = item.StateOptions.Where(q => q.ID == item.State).FirstOrDefault();
                                                                            var state = item.StateOptions[i];
                                                                            string thisCheckDate = "";
                                                                            if (state.CheckDate != null)
                                                                            {
                                                                                thisCheckDate = Convert.ToDateTime(state.CheckDate).ToString("yyyy-MM-dd");
                                                                            }
                                                                            bool isMainPerson = !item.IsAudit && adminInfo.Account == Model.PersonId;
                                                                            <div style="display: inline-block; width: 23%;">
                                                                                <label class="label label-primary quarter_state"> @state.Title</label>
                                                                                <!--進度資料-->
                                                                                <div>
                                                                                    <input class="state_id" type="hidden" value="@state.ID" />
                                                                                    <input class="state_title" type="hidden" value="@state.Title" />
                                                                                    <input class="state_num" type="hidden" value="@state.TargetNum" />
                                                                                    <input class="state_unit" type="hidden" value="@state.TargetUnit" />
                                                                                    <p>
                                                                                        <label>簡述 : </label>
                                                                                        <textarea class="form-control state_description" type="text" style="resize: vertical; height: 100px; width: 90%;" placeholder="簡述" disabled>@state.Description</textarea>
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>占比 : </label><br />
                                                                                        <input class="form-control state_percentage" style="padding-left: 15px; padding-right: 6px; width: 70%;" type="number" placeholder="占比" value="@state.Percentage" disabled /> %
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>季度 : </label>

                                                                                            <input class="form-control state_quarter" style="width: 85%;" value="@state.Quarter" disabled />
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>檢核日期 : </label>
                                                                                        <input class="form-control state_checkDate" type="date" style="padding-left: 15px; border-radius: 3px; border: 1px solid #d2d6de; width: 85%;" value="@thisCheckDate" disabled />
                                                                                    </p>
                                                                                    <p>
                                                                                        @if (state.IsFinished)
                                                                                        {
                                                                                            <label class="label label-success">完成</label>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label class="label label-default">未完成</label>
                                                                                        }
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    @if (!item.IsAudit)
                                                                    {
                                                                        <a href="#" class="btn btn-inverse btn-primary save_states" id="state_@item.ID" style="display: inline-block !important; background-color: #29746a;"><i class="fa fa-save"></i> 儲存</a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <th class="personkpi_createdate">@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</th>
                                                        <td>
                                                            <input type="hidden" id="personkpi_fairlykpiid" value="@item.KPIID" />
                                                            <input type="hidden" id="personkpi_approval" value="@item.ApprovalState" />
                                                            <input type="hidden" class="personkpi_description" name="personkpi_description" value="@item.KPIDescription" />

                                                            <a href="@Url.Action("Restore", "PersonKPIAdmin", new { id = item.ID })" id="restore_data" class="btn bg-olive">
                                                                <i class="fa fa-undo"> 恢復</i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.FairlyKPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.KPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.State)</th>
                                                <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="modal fade" id="stateModal" tabindex="-1" aria-labelledby="stateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 60%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="ribbon-wrapper ribbon-xl">
                                    <div id="state_ribbon" class="ribbon bg-secondary text-xl">草稿</div>
                                </div>
                                <h5 class="modal-title" id="stateModalLabel"></h5>
                                <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close" id="close_popup">X</button>
                            </div>
                            <div class="modal-body">
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <h3 class="box-title">新增/編輯進度</h3>
                                    </div>
                                    <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                        <div class="box-body">
                                            <input type="hidden" id="state_id" name="state_id" />
                                            <input type="hidden" id="state_personkpi_id" name="state_personkpi_id" />
                                            <input type="hidden" id="state_personkpi_personid" name="state_personkpi_personid" />
                                            <input type="hidden" id="state_personkpi_deptid" name="state_personkpi_deptid" />

                                            <div class="form-group">
                                                <label>目標階段標題</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                                    </div>
                                                    <input id="state_title" name="state_title" class="form-control" maxlength="200" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>目標階段簡述</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                                    </div>
                                                    <textarea id="state_description" name="state_description" class="form-control" maxlength="500"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>目標值</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
                                                    </div>
                                                    <input id="state_num" name="state_num" class="form-control" type="number" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>目標單位</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-underline"></i></span>
                                                    </div>
                                                    <input id="state_unit" name="state_unit" class="form-control" maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>階段/排序</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-sort"></i></span>
                                                    </div>
                                                    <input id="state_sort" name="state_sort" class="form-control" type="number" />
                                                </div>
                                            </div>

                                            <input type="hidden" id="state_approval" name="state_approval" value="2" />

                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                <input type="checkbox" class="form-check-input" id="state_isfinished" name="state_isfinished" />
                                                <div class="state p-success">
                                                    <label class="form-check-label" style="font-weight: bold;">完成狀態</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>檢核時間</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                    <input id="state_checkdate" name="state_checkdate" style="padding: 3px; border-radius: 3px; border: 1px solid #d2d6de;" type="date" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('#restore_data').on('click', function () {
                if (!confirm('當前資料將被取代，確定恢復這筆紀錄嗎?')) {
                    return false;
                }
            });

            var state_ribbon = $('#state_ribbon');
            $('.edit_state').on('click', function () {
                var idArr = $(this).attr('id').split('_');
                var personkpiId = idArr[0];
                var stateId = idArr[2];
                $.ajax({
                    url: "/PersonKPIAdmin/GetStateInfo",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        personId: $('#PersonID').val(),
                        deptId: $('#DeptId').val(),
                        stateId: stateId
                    },
                    success: function (response) {
                        //console.log(response);
                        $('#state_id').val(response.ID);
                        $('#state_personkpi_id').val(response.PersonKPIID);
                        $('#state_personkpi_personid').val(response.PersonID);
                        $('#state_personkpi_deptid').val(response.DeptId);
                        $('#state_title').val(response.Title);
                        $('#state_description').val(response.Description);
                        $('#state_num').val(response.TargetNum);
                        $('#state_unit').val(response.TargetUnit);
                        $('#state_sort').val(response.Sort);
                        if (response.IsFinished) {
                            $('#state_isfinished').prop('checked', true);
                        }

                        $('#state_approval').val(response.ApprovalState);
                        state_ribbon.removeClass();
                        state_ribbon.addClass('ribbon');
                        state_ribbon.addClass('text-xl');
                        switch (response.ApprovalState) {
                            case 0:
                                state_ribbon.addClass('bg-secondary');
                                state_ribbon.text('草稿');
                                break;
                            case 1:
                                state_ribbon.addClass('bg-warning');
                                state_ribbon.text('審核中');
                                break;
                            case 2:
                                state_ribbon.addClass('bg-success');
                                state_ribbon.text('審核通過');
                                break;
                            case 3:
                                state_ribbon.addClass('bg-danger');
                                state_ribbon.text('審核駁回');
                                break;
                        }
                        if (response.ApprovalState == 1) {
                            $('#save_state').attr('style', 'display:none;');
                            $('#submit_state_trial').attr('style', 'display:none;');
                        }
                        else {
                            $('#save_state').removeAttr('style', 'display:none;');
                            $('#submit_state_trial').removeAttr('style', 'display:none;');
                        }

                        var checkDate = new Date(parseInt(response.CheckDate.substr(6)));
                        var day = ("0" + checkDate.getDate()).slice(-2);
                        var month = ("0" + (checkDate.getMonth() + 1)).slice(-2);
                        var today = checkDate.getFullYear() + "-" + (month) + "-" + (day);
                        $('#state_checkdate').val(today);
                    }
                });
            });
        })
    </script>
}
