﻿@model MeetSignIn.Areas.Admin.ViewModels.FairlyPerson.FairlyPersonIndexView
@{
    ViewBag.Title = "Index";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        個人目標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">個人目標管理</li>
    </ol>
</section>

<section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">搜尋</h3>
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "PersonKPIAdmin", FormMethod.Get, new { @class = "form-horizontal", @id = "List_Form" }))
                        {
                            @Html.HiddenFor(model => model.DeptId)
                            var selectedDeptList = string.IsNullOrEmpty(Model.DisplayDeptId) ? new List<string>() : Model.DisplayDeptId.Split(',').ToList();

                            <div class="form-group dept_selecter">
                                @Html.LabelFor(model => model.ParentDeptId, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @foreach (var item in Model.DeptOptions.ToList())
                                    {
                                        if (selectedDeptList.Contains(item.Value) || adminInfo.Type < (int)MeetSignIn.Models.AdminType.Principal)
                                        {
                                            <input type="button" class="btn btn-sm dept_btn" style="margin:3px;" id="dept_@item.Value" value="@item.Text" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonId, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.PersonId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-info">搜尋</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">個人目標列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            @Html.Partial("_PageSizeAdmin", Model.PageResult)
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.PersonName)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonId)</th>
                                                <th>@Html.DisplayNameFor(x => x.ParentDeptId)</th>
                                                <th width="20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PageResult.Data.Count() > 0)
                                            {
                                                foreach (var item in Model.PageResult.Data)
                                                {
                                                    <tr>
                                                        <td>@item.PersonName</td>
                                                        <td>@item.PersonId</td>
                                                        <td><label class="dept_tag">@Model.DeptOptions.Where(q => q.Value == item.DeptId.ToString()).FirstOrDefault().Text</label>
                                                        </td>
                                                        <td>
                                                            @*<a href="@Url.Action("Edit", "PersonKPIAdmin", new { PersonId = item.PersonId })" class="btn btn-primary" style="margin-bottom: 5px;">
                                                                <i class="fa fa-edit">原版編輯頁</i>
                                                            </a>*@
                                                            <a href="@Url.Action("QuarterEdit", "PersonKPIAdmin", new { PersonId = item.PersonId })" class="btn btn-primary" style="margin-bottom: 5px;">
                                                                <i class="fa fa-edit"> 編輯(季度)</i>
                                                            <a href="@Url.Action("MonthsEdit", "PersonKPIAdmin", new { PersonId = item.PersonId })" class="btn btn-primary" style="margin-bottom: 5px;">
                                                                <i class="fa fa-edit"> 編輯(月份</i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.PersonName)</th>
                                                <th>@Html.DisplayNameFor(x => x.PersonId)</th>
                                                <th>@Html.DisplayNameFor(x => x.ParentDeptId)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @Html.Partial("_PageAdmin", Model.PageResult)
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('.dept_btn').on('click', function () {
                $('#DeptId').val($(this).attr('id').split('_')[1]);
                $('#List_Form').submit();
            });
            //$('#DeptId').on('change', function () {
            //    $('#List_Form').submit();
            //});
        })
    </script>
}
