﻿@model MeetSignIn.Areas.Admin.ViewModels.FairlyPerson.FairlyPersonView
@{
    ViewBag.Title = Model;
    string title = "基本資訊";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

@section styles
{
    <style>
        .table>tbody>tr>td{
            border-top: 2px solid #a99494;
        }
    </style>
}

<section class="content-header">
    <h1>
        個人目標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "PersonKPIAdmin")">個人目標列表</a></li>
        <li class="active">個人目標管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "PersonKPIAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PersonId)
                        @Html.HiddenFor(model => model.DeptId)
                        @Html.HiddenFor(model => model.PersonName)
                        @Html.HiddenFor(model => model.ParentDeptId)
                        string DeptStr = Model.DeptId + " " + Model.DeptOptions.Where(q => q.Value == Model.DeptId).FirstOrDefault().Text;

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ParentDeptId)
                                <input type="text" class="form-control" value="@DeptStr" disabled />
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PersonId)
                                <input type="text" class="form-control" value="@Model.PersonId @Model.PersonName" disabled />
                            </div>
                        </div>
                    }
                </div>
                <div class="box-footer">
                    @if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Employee)
                    {
                        <div class="col-sm-12" style="margin-top: 10px; padding-left:0px;">
                            @*<button type="submit" class="btn btn-primary">儲存</button>*@
                            @Html.ActionLink("取消/回列表", "Index", new { DeptId = Model.DeptId }, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            @if (Model.PersonId != "")
            {
                <!--參與指標-->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">個人目標列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Button trigger popup modal -->
                        @if (adminInfo.Account == Model.PersonId)
                        {
                            if (Model.JoinableDeptKPIList.Count() > 0)
                            {
                                <button type="button" class="btn bg-info add_target" data-toggle="modal" data-target="#targetModel">
                                    <i class="fa fa-plus"> 參與指標</i>
                                </button>
                            }
                            <a href="@Url.Action("History", new { PersonId = Model.PersonId })" class="btn bg-olive" target="_blank">
                                <i class="fa fa-undo"> 恢復</i>
                            </a>
                        }

                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example2" class="table table-striped dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th width="23%">指標</th>
                                                <th width="73%">月份進度</th>
                                                <th width="4%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">
                                            @if (Model.PersonKPIList != null && Model.PersonKPIList.Count() > 0)
                                            {
                                                for (int j = 0; j < Model.PersonKPIList.Count(); j++)
                                                {
                                                    var item = Model.PersonKPIList[j];
                                                    string disabledStr = item.IsAudit ? "disabled" : "";
                                                    <tr id="personkpi_id_@item.ID">
                                                        <td class="personkpi_title">
                                                            <div class="panel" style="margin-bottom: 5px;">
                                                                <div class="box-header">
                                                                    <h4 class="box-title">
                                                                        <label style="margin-bottom: 5px; font-weight:bold;" class="label label-danger">關鍵指標 :</label>
                                                                        <br />
                                                                        <br />
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFKT_@j" aria-expanded="false" class="collapsed" style="font-weight: bold;">
                                                                            @item.FairlyKPITitle
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseFKT_@j" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                    <div class="box-body">
                                                                        <p>@item.FairlyKPIDescription</p>
                                                                        <a class="btn btn-default" href="@Url.Action("Edit", "FairlyKPIAdmin", new { id = item.FairlyKPIID })">前往</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="text-align: center; margin-bottom: 5px;">
                                                                <i class="fa fa-arrow-down"></i>
                                                            </div>
                                                            <div class="panel">
                                                                <div class="box-header">
                                                                    <h4 class="box-title">
                                                                        <label style="margin-bottom:5px; font-weight:bold;"class="label label-default bg-maroon">副指標 :</label>
                                                                        <br />
                                                                        <br />
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOneKT_@j" aria-expanded="false" class="collapsed" style="font-weight: bold;">
                                                                            @item.KPITitle
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseOneKT_@j" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                    <div class="box-body">
                                                                        <p>@item.KPIDescription</p>
                                                                        <a class="btn btn-default" href="@Url.Action("Edit", "DeptKPIAdmin", new { id = item.KPIID })">前往</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="personkpi_state" value="@item.State">
                                                            <div class="panel box box-default">
                                                                <div class="box-header">
                                                                    <h5 class="box-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-weight:bold;">
                                                                            季度資料
                                                                        </a>
                                                                    </h5>
                                                                </div>
                                                                <div id="collapseOne" class="panel-collapse collapse">
                                                                    <div class="box-body">
                                                                        @if (item.MonthOptions != null && item.MonthOptions.Count() > 0)
                                                                        {
                                                                            for (int k = 0; k < 4; k++)
                                                                            {
                                                                                string boxBG = "season_1";
                                                                                switch (k)
                                                                                {
                                                                                    case 0:
                                                                                        boxBG = "season_1";
                                                                                        break;
                                                                                    case 1:
                                                                                        boxBG = "season_2";
                                                                                        break;
                                                                                    case 2:
                                                                                        boxBG = "season_3";
                                                                                        break;
                                                                                    case 3:
                                                                                        boxBG = "season_4";
                                                                                        break;
                                                                                }
                                                                                string quarter = $"Q{k + 1}";
                                                                                <div class="box @boxBG monthKPI_box" style="color:white;">
                                                                                    <div class="box-head">
                                                                                        <h4 class="box-title" style="margin-left: 6%;">@quarter</h4>
                                                                                    </div>
                                                                                    <div class="box-body">
                                                                                        <div class="nav-tabs-custom" style="width: 100%; background-color: rgba(0, 0, 0, 0.2) !important;">
                                                                                            <ul class="nav nav-tabs">
                                                                                                <li class="active" style="width:30%;">
                                                                                                    <a href="#tab_@(item.ID)_@(k*3)" data-toggle="tab" aria-expanded="false" style="color: white;">@(k*3+1)月</a>
                                                                                                </li>
                                                                                                <li class="" style="width:30%;">
                                                                                                    <a href="#tab_@(item.ID)_@(k*3+1)" data-toggle="tab" aria-expanded="false" style="color: white;">@(k*3+2)月</a>
                                                                                                </li>
                                                                                                <li class="" style="width:30%;">
                                                                                                    <a href="#tab_@(item.ID)_@(k*3+2)" data-toggle="tab" aria-expanded="true" style="color: white;">@(k*3+3)月</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                            <div class="tab-content">
                                                                                                @for (int i = (k * 3); i < (k * 3 + 3); i++)
                                                                                                {
                                                                                                    string active = i % 3 == 0 ? "active" : "";
                                                                                                    var monthKPI = item.MonthOptions[i];
                                                                                                    string thisCheckDate = "";
                                                                                                    if (monthKPI.Deadline != null)
                                                                                                    {
                                                                                                        thisCheckDate = Convert.ToDateTime(monthKPI.Deadline).ToString("yyyy-MM-dd");
                                                                                                    }
                                                                                                    bool isMainPerson = !item.IsAudit && adminInfo.Account == Model.PersonId;
                                                                                                    string stateChecked = monthKPI.IsFinished ? "checked" : "";
                                                                                                    string monthStr = String.Format("{0:00}", Convert.ToInt16(monthKPI.Month)) + "月";
                                                                                                    <div class="tab-pane @active" id="tab_@(item.ID)_@i">
                                                                                                        <div class="box-body" style="color:gray;">
                                                                                                            <h5>@(i+1)月</h5>
                                                                                                            <div class="form-group" style="display:block;">
                                                                                                                <span class="input-group-text"><i class="fa fa-star"></i></span>
                                                                                                                <label>應做事情</label>
                                                                                                                <textarea id="month_todo" name="month_todo" class="form-control month_textarea" disabled>@monthKPI.ToDo</textarea>
                                                                                                            </div>
                                                                                                            <div class="form-group" style="display: block;">
                                                                                                                <span class="input-group-text"><i class="fa fa-flag"></i></span>
                                                                                                                <label>預期目標</label>
                                                                                                                <textarea id="month_expect" name="month_expect" class="form-control month_textarea" disabled>@monthKPI.Expect</textarea>
                                                                                                            </div>
                                                                                                            <div class="form-group" style="display: block;">
                                                                                                                <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                                                                <label>完成事項</label>
                                                                                                                <textarea id="month_complete" name="month_complete" class="form-control month_textarea" disabled>@monthKPI.Complete</textarea>
                                                                                                            </div>
                                                                                                            <div class="form-group" style="display: block;">
                                                                                                                <div class="input-group">
                                                                                                                    <div class="input-group-prepend">
                                                                                                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                                                                                        <label>期限</label>
                                                                                                                    </div>
                                                                                                                    <input id="month_deadline" name="month_deadline" style="border-radius: 3px; border: 1px solid #d2d6de; width: 100%; padding:5px;" type="date" value="@monthKPI.DeadlineStr" disabled />
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            @*<div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                        <input type="checkbox" class="form-check-input" id="month_isfinished" name="month_isfinished" />
                                                        <div class="state p-success">
                                                            <label>完成</label>
                                                        </div>
                                                    </div>*@
                                                                                                            <div class="form-group" style="display: block; margin-top: 5px;">
                                                                                                                @if (monthKPI.IsFinished)
                                                                                                                {
                                                                                                                    <label class="label label-success">完成</label>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <label class="label label-default">未完成</label>
                                                                                                                }
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

                                                                            <!--停用-->
                                                                            for (int i = 0; i < item.MonthOptions.Count(); i++)
                                                                            {
                                                                                //var itemStateSort = item.MonthOptions.Where(q => q.ID == item.State).FirstOrDefault();
                                                                                //var monthKPI = item.MonthOptions[i];
                                                                                //string thisCheckDate = "";
                                                                                //if (monthKPI.Deadline != null)
                                                                                //{
                                                                                //    thisCheckDate = Convert.ToDateTime(monthKPI.Deadline).ToString("yyyy-MM-dd");
                                                                                //}
                                                                                //bool isMainPerson = !item.IsAudit && adminInfo.Account == Model.PersonId;
                                                                                //string stateChecked = monthKPI.IsFinished ? "checked" : "";
                                                                                //string monthStr = String.Format("{0:00}", Convert.ToInt16(monthKPI.Month)) + "月";
                                                                                //string boxBG = "season_1";
                                                                                //switch (i / 3)
                                                                                //{
                                                                                //    case 0:
                                                                                //        boxBG = "season_1";
                                                                                //        break;
                                                                                //    case 1:
                                                                                //        boxBG = "season_2";
                                                                                //        break;
                                                                                //    case 2:
                                                                                //        boxBG = "season_3";
                                                                                //        break;
                                                                                //    case 3:
                                                                                //        boxBG = "season_4";
                                                                                //        break;
                                                                                //}
                                                                                //string btnClass = "btn-default bg-dark";
                                                                                //string monthKPIStateClass = "text-muted";
                                                                                //string monthKPIState = "完成";
                                                                                //if (string.IsNullOrEmpty(monthKPI.ToDo))
                                                                                //{
                                                                                //    monthKPIState = "無資料";
                                                                                //}
                                                                                //else if (monthKPI.IsFinished && monthKPI.FinishDate <= monthKPI.Deadline)
                                                                                //{
                                                                                //    btnClass = "btn-success";
                                                                                //    monthKPIStateClass = "text-success";
                                                                                //    monthKPIState = "完成";
                                                                                //}
                                                                                //else if (monthKPI.IsFinished && monthKPI.FinishDate > monthKPI.Deadline)
                                                                                //{
                                                                                //    btnClass = "btn-default bg-maroon";
                                                                                //    monthKPIStateClass = "text-danger";
                                                                                //    monthKPIState = "超時";
                                                                                //}
                                                                                //else if (!monthKPI.IsFinished && DateTime.Now > monthKPI.Deadline)
                                                                                //{
                                                                                //    btnClass = "btn-danger";
                                                                                //    monthKPIStateClass = "text-danger";
                                                                                //    monthKPIState = "未完成";
                                                                                //}
                                                                                @*string htmlStr = "";
                        string quarter = $"Q{ i / 3 + 1}";
                        if (i % 3 == 0)
                        {
                            htmlStr += $@"
                                                                <div class=""box {boxBG} monthKPI_box"" style=""color:white;"">
                                                                    <div class=""box-head"">
                                                                        <h4 class=""box-title"" style=""margin-left: 6%;"">{quarter}</h3>
                                                                    </div>
                                                                    <div class=""box-body"">";
                        }

                        htmlStr += $@"
                        <div class=""panel"" style=""display:inline-block; margin:5px -5px;"">
                            <div class=""box-header with-border"">
                                <h4 class=""box-title"">
                                    <a data-toggle=""collapse"" data-parent=""#accordion"" href=""#collapse{item.ID}_{monthKPI.Month}"" aria-expanded=""false"" class=""collapsed"" style=""color: gray;"">
                                        {monthStr}
                                    </a>
                                </h4>
                            </div>
                            <div id=""collapse{item.ID}_{monthKPI.Month}"" class=""panel-collapse collapse"" aria-expanded=""false"" style=""height: 0px; color:gray;"">
                                <div class=""box-body"">
                                     <div class="" form-group"">
                                        <span class="" input-group-text""><i class="" fa fa-star""></i></span>
                                        <label>應做事情</label>
                                        <textarea id="" month_todo"" name="" month_todo"" class="" form-control"" style="" height:80px;resize:none;width: 100%;""></textarea>
                                    </div>
                                    <div class="" form-group"">
                                        <span class="" input-group-text""><i class="" fa fa-flag""></i></span>
                                        <label>預期目標</label>
                                        <textarea id="" month_expect"" name="" month_expect"" class="" form-control"" style="" height:80px;resize:none;width: 100%;""></textarea>
                                    </div>
                                    <div class="" form-group"">
                                        <span class="" input-group-text""><i class="" fa fa-check""></i></span>
                                        <label>完成事項</label>
                                        <textarea id="" month_complete"" name="" month_complete"" class="" form-control"" style="" height:80px;resize:none;width: 100%;""></textarea>
                                    </div>
                                    <div class=""form-group"">
                                        <div class=""input-group"">
                                            <div class=""input-group-prepend"">
                                                <span class=""input-group-text""><i class=""fa fa-calendar""></i></span>
                                                <label>期限</label>
                                            </div>
                                            <input id=""month_deadline"" name=""month_deadline"" style=""border-radius: 3px; border: 1px solid #d2d6de; width: 85%; padding:5px;"" type=""date"" />
                                        </div>
                                    </div>

                                    <div class=""pretty p-switch p-fill"" style=""margin-bottom:10px;"">
                                        <input type=""checkbox"" class=""form-check-input"" id=""month_isfinished"" name=""month_isfinished"" />
                                        <div class=""state p-success"">
                                            <label>完成</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>";
                        htmlStr += $@"
                                <a class=""btn btn-small {btnClass} edit_monthkpi"" id=""{item.KPIID}_{item.ID}_{monthKPI.Month}"" data-toggle=""modal"" data-target=""#monthKPIModal"">{monthStr}<br><strong class=""{monthKPIStateClass}"">{monthKPIState}</strong></a>";
                        if (i % 3 == 2)
                        {
                            htmlStr += $@"
                                                                    </div>
                                                                </div>";
                        }
                        @Html.Raw(htmlStr)*@
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" id="personkpi_fairlykpiid" value="@item.KPIID" />
                                                            <input type="hidden" id="personkpi_approval" value="@item.ApprovalState" />
                                                            <input type="hidden" class="personkpi_description" name="personkpi_description" value="@item.KPIDescription" />

                                                            <div>
                                                                @if (item.ApprovalState == 0)
                                                                {
                                                                    <span class="label label-default">未送審</span>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(model => item.ApprovalState, "_AuditStateStatus")
                                                                }
                                                            </div>
                                                            <br />
                                                            <a href="@Url.Action("Edit", "PersonKPIAdmin", new { kpiId = item.KPIID, personId = Model.PersonId })" class="btn btn-primary" style="margin-bottom:5px;">
                                                                <i class="fa fa-edit"> 查看</i>
                                                            </a>
                                                            @if (!item.IsAudit && adminInfo.Account == Model.PersonId)
                                                            {
                                                                <a href="@Url.Action("History", new { KPIID = item.KPIID, PersonId = Model.PersonId })" class="btn bg-olive" target="_blank" style="margin-bottom:5px;">
                                                                    <i class="fa fa-undo"> 恢復</i>
                                                                </a>
                                                                <a href="@Url.Action("Invalid", "PersonKPIAdmin", new { id = item.ID })" class="btn btn-danger revoke_person_kpi" style="margin-bottom:5px;">
                                                                    <i class="fa fa-scissors"> 作廢</i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>指標</th>
                                                <th>月份進度</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            }

            <div class="modal fade" id="monthKPIModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title" id="monthKPIModalLabel"></h5>
                        </div>

                        <div class="modal-body">
                            <div class="box-header">
                                <h3 class="box-title">編輯目標</h3>
                            </div>
                            <form action="/Admin/PersonKPIAdmin/SaveMonthKPI" enctype="multipart/form-data" method="post">
                                <div class="box-body">
                                    <input type="hidden" id="month_id" name="month_id" />

                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-star"></i></span>
                                        <label>應做事情</label>
                                        <textarea id="month_todo" name="month_todo" class="form-control" style="resize: vertical; height:80px;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-flag"></i></span>
                                        <label>預期目標</label>
                                        <textarea id="month_expect" name="month_expect" class="form-control" style="resize: vertical; height:80px;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                        <label>完成事項</label>
                                        <textarea id="month_complete" name="month_complete" class="form-control" style="resize: vertical; height:80px;"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>期限</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input id="month_deadline" name="month_deadline" class="" type="date" />
                                        </div>
                                    </div>

                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        <input type="checkbox" class="form-check-input" id="month_isfinished" name="month_isfinished" />
                                        <div class="state p-success">
                                            <label>完成</label>
                                        </div>
                                    </div>

                                    <br />
                                    <input type="hidden" id="dept_approval" name="dept_approval" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_dept_kpi">儲存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        </div>
                    </div>

                </div>

            </div>

            <!-- 加入目標 Popup Modal -->
            <div class="modal fade" id="targetModel" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title">參與目標 - 選擇部門KPI指標</h5>
                            <h5 class="modal-title" id="targetModelLabel"></h5>
                        </div>

                        <div class="modal-body">
                            <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                <div class="box-body">
                                    <table class="table table-bordered table-hover dataTable dtr-inline">
                                        <tbody>
                                            <tr>
                                                <th>主指標</th>
                                                <th>副指標</th>
                                                <th>參與部門</th>
                                                <th></th>
                                            </tr>
                                            @foreach (var item in Model.JoinableDeptKPIList)
                                            {
                                                <tr>
                                                    <td class="join_parent">@item.ParentKPITitle</td>
                                                    <td class="join_title">@item.Title</td>
                                                    <td>
                                                        @foreach (var dept in item.Dept.Split(','))
                                                        {
                                                            if (!string.IsNullOrEmpty(dept))
                                                            {
                                                                if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Employee)
                                                                {
                                                                    <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = dept })" class="btn btn-sm bg-dafault dept-tag" style="background-color: #a97d63; color: #fff; margin-bottom: 3px;">@dept</a>
                                                                }
                                                                else
                                                                {
                                                                    <label style="background-color: #a97d63; color: #fff; margin-bottom: 3px; border-radius: 3px; border: 1px solid transparent; padding: 5px 10px; font-size: 12px; line-height: 1.5; ">@dept</label>

                                                                }

                                                            }

                                                        }
                                                    </td>
                                                    <td>
                                                        <input type="button" class="btn btn-success bg-olive join_kpi" id="@item.ID" value="申請加入" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-primary" id="save_dept_kpi">儲存</button>
                                <button type="button" class="btn btn-warning" id="submit_trial">送審</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>*@
                        </div>
                    </div>

                </div>
            </div>

            <!-- 編輯目標狀態 PersonKPI -->
            <div class="modal fade" id="personKPIModal" tabindex="-1" aria-labelledby="personKPIModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 600px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title">編輯個人目標</h5>
                            <h5 class="modal-title" id="personKPIModalLabel"></h5>
                            @*<div class="ribbon-wrapper ribbon-xl">
                                    <div id="personkpi_ribbon" class="ribbon bg-secondary text-xl">草稿</div>
                                </div>
                                <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close" id="close_popup">X</button>*@
                        </div>
                        <div class="modal-body">
                            @*<div class="box">*@

                            <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                <div class="box-body">
                                    <input type="hidden" id="personkpi_id" name="personkpi_id" />
                                    <input type="hidden" id="personkpi_form_id" name="personkpi_form_id" />
                                    <input type="hidden" id="personkpi_form_kpiid" name="personkpi_form_kpiid" />
                                    <input type="hidden" id="personkpi_form_kpititle" name="personkpi_form_kpititle" />

                                    <div class="form-group">
                                        <label>個人目標</label>
                                        <input id="personkpi_form_title" name="personkpi_form_title" class="form-control" maxlength="200" />
                                    </div>
                                    <div class="form-group">
                                        <label>簡述</label>
                                        <textarea id="personkpi_form_description" name="personkpi_form_description" class="form-control" maxlength="500" style="resize: vertical;"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>進度狀態</label>
                                        <div class="add_state_area" style="display: inline-block;">

                                        </div>
                                        <div class="input-group" id="personkpi_state_area">
                                            進度Radio選項
                                        </div>
                                    </div>

                                    <input type="hidden" id="edit_personkpi_approval" name="edit_personkpi_approval" />
                                    <div class="form-group">
                                        <label>審核狀態</label>
                                        <div class="input-group">
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="0">
                                                <div class="state p-secondary-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>草稿</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="1">
                                                <div class="state p-warning-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核中</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="2">
                                                <div class="state p-success-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核通過</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="3">
                                                <div class="state p-danger-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核駁回</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="personkpi_form_createdate" name="personkpi_form_createdate" />
                                </div>
                            </form>
                            @*</div>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_personkpi">儲存</button>
                            <button type="button" class="btn btn-warning" id="submit_trial">送審</button>
                            <button type="button" class="btn btn-danger" id="save_invalid">作廢</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



@section scripts{
    <script src="~/Content/Admin/personKPI.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
}