﻿@model MeetSignIn.Areas.Admin.ViewModels.FairlyPerson.FairlyPersonView
@{
    ViewBag.Title = Model;
    string title = "基本資訊";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

@section styles
{
    <style>

    </style>
}

<section class="content-header">
    <h1>
        個人目標管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "PersonKPIAdmin")">個人目標列表</a></li>
        <li class="active">個人目標管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "PersonKPIAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PersonId)
                        @Html.HiddenFor(model => model.DeptId)
                        @Html.HiddenFor(model => model.PersonName)
                        @Html.HiddenFor(model => model.ParentDeptId)
                        string DeptStr = Model.DeptId + " " + Model.DeptOptions.Where(q => q.Value == Model.DeptId).FirstOrDefault().Text;

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ParentDeptId)
                                <input type="text" class="form-control" value="@DeptStr" disabled />
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PersonId)
                                <input type="text" class="form-control" value="@Model.PersonId @Model.PersonName" disabled />
                            </div>
                        </div>
                    }
                </div>
                <div class="box-footer">
                    @if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Employee)
                    {
                        <div class="col-sm-12" style="margin-top: 10px; padding-left:0px;">
                            @*<button type="submit" class="btn btn-primary">儲存</button>*@
                            @Html.ActionLink("取消/回列表", "Index", new { DeptId = Model.DeptId }, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            @if (Model.PersonId != "")
            {
                <!--參與指標-->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">個人目標列表</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Button trigger popup modal -->
                        @if (adminInfo.Account == Model.PersonId)
                        {
                            if (Model.JoinableDeptKPIList.Count() > 0)
                            {
                            <button type="button" class="btn bg-info add_target" data-toggle="modal" data-target="#targetModel">
                                <i class="fa fa-plus"> 參與指標</i>
                            </button>
                            }
                        <a href="@Url.Action("History", new { PersonId = Model.PersonId })" class="btn bg-olive" target="_blank">
                            <i class="fa fa-undo"> 恢復</i>
                        </a>
                        }

                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th width="9%">@Html.DisplayNameFor(x => x.FairlyKPITitle)</th>
                                                <th width="9%">@Html.DisplayNameFor(x => x.KPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.State)</th>
                                                <th width="8%">@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th width="4%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">
                                            @if (Model.PersonKPIList != null && Model.PersonKPIList.Count() > 0)
                                            {
                                                for (int j = 0; j < Model.PersonKPIList.Count(); j++)
                                                {
                                                    var item = Model.PersonKPIList[j];
                                                    string disabledStr = item.IsAudit ? "disabled" : "";
                                                    <tr id="personkpi_id_@item.ID">
                                                        <td class="personkpi_fairlykpititle">@item.FairlyKPITitle</td>
                                                        <td class="personkpi_title">@item.KPITitle</td>
                                                        <td class="personkpi_state" value="@item.State" >

                                                            <div class="box box-success box-widget" style="background-color: #fbf7e6; ">
                                                                <div class="box-header with-border">
                                                                    <div class="user-block">
                                                                        <h3 class="box-title text text-info" style="font-weight: bold;">詳細資料</h3>
                                                                    </div>
                                                                    <div class="box-tools">
                                                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="box-body">
                                                                    @if (item.StateOptions != null && item.StateOptions.Count() > 0)
                                                                    {
                                                                        for (int i = 0; i < item.StateOptions.Count(); i++)
                                                                        {
                                                                            var itemStateSort = item.StateOptions.Where(q => q.ID == item.State).FirstOrDefault();
                                                                            var state = item.StateOptions[i];
                                                                            string thisCheckDate = "";
                                                                            if (state.CheckDate != null)
                                                                            {
                                                                                thisCheckDate = Convert.ToDateTime(state.CheckDate).ToString("yyyy-MM-dd");
                                                                            }
                                                                            bool isMainPerson = !item.IsAudit && adminInfo.Account == Model.PersonId;
                                                                            string stateChecked = state.IsFinished ? "checked" : "";
                                                                            <div style="display: inline-block; width: 23%;">
                                                                                <label class="label label-primary quarter_state"> @state.Title</label>
                                                                                <!--進度資料-->
                                                                                <div>
                                                                                    <input class="state_id" type="hidden" value="@state.ID" />
                                                                                    <input class="state_title" type="hidden" value="@state.Title" />
                                                                                    <input class="state_num" type="hidden" value="@state.TargetNum" />
                                                                                    <input class="state_unit" type="hidden" value="@state.TargetUnit" />
                                                                                    <p>
                                                                                        <label>簡述 : </label>
                                                                                        <textarea class="form-control state_description" type="text" style="resize: vertical; height: 100px; width: 90%;" placeholder="簡述" @disabledStr>@state.Description</textarea>
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>占比 : </label><br />
                                                                                        <input class="form-control state_percentage" style="padding-left: 15px; padding-right: 6px; width: 70%;" type="number" placeholder="占比" value="@state.Percentage" @disabledStr /> %
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>季度 : </label>
                                                                                        @if (isMainPerson && !item.IsAudit)
                                                                                        {
                                                                                            <select class="form-control state_quarter" style="width: 85%;" type="text">
                                                                                                @for (int k = 0; k < Model.QuarterOptions.Count(); k++)
                                                                                                {
                                                                                                    var quarter = Model.QuarterOptions[k];
                                                                                                    if (!string.IsNullOrEmpty(state.Quarter) && state.Quarter == quarter.Value)
                                                                                                    {
                                                                                                        <option value="@quarter.Text" selected>@quarter.Text</option>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <option value="@quarter.Text">@quarter.Text</option>
                                                                                                    }
                                                                                                }
                                                                                            </select>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input class="form-control state_quarter" style="width: 85%; " value="@state.Quarter" @disabledStr />
                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        <label>檢核日期 : </label>
                                                                                        <input class="form-control state_checkDate" type="date" style="padding-left: 15px; border-radius: 3px; border: 1px solid #d2d6de; width: 85%;" value="@thisCheckDate" @disabledStr/>
                                                                                    </p>
                                                                                    <p>
                                                                                        @if (isMainPerson && !item.IsAudit)
                                                                                        {
                                                                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                                                                <input type="checkbox" class="form-check-input state_isFinished" name="@(item.ID + "_" + state.ID)_isFinished" @stateChecked />
                                                                                                <div class="state p-success">
                                                                                                    <label class="form-check-label" style="font-weight: bold;">完成</label>
                                                                                                </div>
                                                                                            </div>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (state.IsFinished)
                                                                                            {
                                                                                                <label class="label label-success">完成</label>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <label class="label label-default">未完成</label>
                                                                                            }
                                                                                        }

                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    @if (!item.IsAudit)
                                                                    {
                                                                    <a href="#" class="btn btn-inverse btn-primary save_states" id="state_@item.ID" style="display: inline-block !important; background-color: #29746a;"><i class="fa fa-save"></i> 儲存</a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <th class="personkpi_createdate">@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</th>
                                                        <td>
                                                            <input type="hidden" id="personkpi_fairlykpiid" value="@item.KPIID" />
                                                            <input type="hidden" id="personkpi_approval" value="@item.ApprovalState" />
                                                            <input type="hidden" class="personkpi_description" name="personkpi_description" value="@item.KPIDescription" />

                                                            <div>
                                                                @if (item.ApprovalState == 0)
                                                                {
                                                                    <span class="label label-default" >未送審</span>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(model => item.ApprovalState, "_AuditStateStatus")
                                                                }
                                                            </div>
                                                            <br />
                                                              <a href="@Url.Action("Edit", "PersonKPIAdmin", new { kpiId = item.KPIID, personId = Model.PersonId })" class="btn btn-primary" style="margin-bottom:5px;">
                                                                  <i class="fa fa-edit"> 查看</i>
                                                            </a>
                                                              @if (!item.IsAudit && adminInfo.Account == Model.PersonId)
                                                              {
                                                            <a href="@Url.Action("History", new { KPIID = item.KPIID, PersonId = Model.PersonId })" class="btn bg-olive" target="_blank" style="margin-bottom:5px;">
                                                                <i class="fa fa-undo"> 恢復</i>
                                                            </a>
                                                            <a href="@Url.Action("Invalid", "PersonKPIAdmin", new { id = item.ID })" class="btn btn-danger revoke_person_kpi" style="margin-bottom:5px;">
                                                                <i class="fa fa-scissors"> 作廢</i>
                                                            </a>
                                                              }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.FairlyKPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.KPITitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.State)</th>
                                                <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- /.box-body -->
                </div>
            }

            <!-- 加入目標 Popup Modal -->
            <div class="modal fade" id="targetModel" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title">參與目標 - 選擇部門KPI指標</h5>
                            <h5 class="modal-title" id="targetModelLabel"></h5>
                        </div>

                        <div class="modal-body">
                            <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                <div class="box-body">
                                    <table class="table table-bordered table-hover dataTable dtr-inline">
                                        <tbody>
                                            <tr>
                                                <th>主指標</th>
                                                <th>副指標</th>
                                                <th>參與部門</th>
                                                <th></th>
                                            </tr>
                                            @foreach (var item in Model.JoinableDeptKPIList)
                                            {
                                                <tr>
                                                    <td class="join_parent">@item.ParentKPITitle</td>
                                                    <td class="join_title">@item.Title</td>
                                                    <td>
                                                        @foreach (var dept in item.Dept.Split(','))
                                                        {
                                                            if (!string.IsNullOrEmpty(dept))
                                                            {
                                                                if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Employee)
                                                                {
                                                                    <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = dept })" class="btn btn-sm bg-dafault dept-tag" style="background-color: #a97d63; color: #fff; margin-bottom: 3px;">@dept</a>
                                                                }
                                                                else
                                                                {
                                                                    <label style="background-color: #a97d63; color: #fff; margin-bottom: 3px; border-radius: 3px; border: 1px solid transparent; padding: 5px 10px; font-size: 12px; line-height: 1.5; ">@dept</label>

                                                                }

                                                            }

                                                        }
                                                    </td>
                                                    <td>
                                                        <input type="button" class="btn btn-success bg-olive join_kpi" id="@item.ID" value="申請加入" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-primary" id="save_dept_kpi">儲存</button>
                                <button type="button" class="btn btn-warning" id="submit_trial">送審</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>*@
                        </div>
                    </div>

                </div>
            </div>

            <!-- 編輯目標狀態 PersonKPI -->
            <div class="modal fade" id="personKPIModal" tabindex="-1" aria-labelledby="personKPIModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 600px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title">編輯個人目標</h5>
                            <h5 class="modal-title" id="personKPIModalLabel"></h5>
                            @*<div class="ribbon-wrapper ribbon-xl">
                                    <div id="personkpi_ribbon" class="ribbon bg-secondary text-xl">草稿</div>
                                </div>
                                <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close" id="close_popup">X</button>*@
                        </div>
                        <div class="modal-body">
                            @*<div class="box">*@

                            <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                <div class="box-body">
                                    <input type="hidden" id="personkpi_id" name="personkpi_id" />
                                    <input type="hidden" id="personkpi_form_id" name="personkpi_form_id" />
                                    <input type="hidden" id="personkpi_form_kpiid" name="personkpi_form_kpiid" />
                                    <input type="hidden" id="personkpi_form_kpititle" name="personkpi_form_kpititle" />

                                    <div class="form-group">
                                        <label>個人目標</label>
                                        <input id="personkpi_form_title" name="personkpi_form_title" class="form-control" maxlength="200" />
                                    </div>
                                    <div class="form-group">
                                        <label>簡述</label>
                                        <textarea id="personkpi_form_description" name="personkpi_form_description" class="form-control" maxlength="500" style="resize: vertical;"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>進度狀態</label>
                                        <div class="add_state_area" style="display: inline-block;">

                                        </div>
                                        <div class="input-group" id="personkpi_state_area">
                                            進度Radio選項
                                        </div>
                                    </div>

                                    <input type="hidden" id="edit_personkpi_approval" name="edit_personkpi_approval" />
                                    <div class="form-group">
                                        <label>審核狀態</label>
                                        <div class="input-group">
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="0">
                                                <div class="state p-secondary-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>草稿</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="1">
                                                <div class="state p-warning-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核中</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="2">
                                                <div class="state p-success-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核通過</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-icon p-round personkpi_approval_radio">
                                                <input type="radio" name="personkpi_approval" value="3">
                                                <div class="state p-danger-o">
                                                    <i class="icon fa fa-check"></i>
                                                    <label>審核駁回</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="personkpi_form_createdate" name="personkpi_form_createdate" />
                                </div>
                            </form>
                            @*</div>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_personkpi">儲存</button>
                            <button type="button" class="btn btn-warning" id="submit_trial">送審</button>
                            <button type="button" class="btn btn-danger" id="save_invalid">作廢</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



@section scripts{
    <script src="~/Content/Admin/personKPI.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
}