﻿@model MeetSignIn.Areas.Admin.ViewModels.PFCategory.PFCategoryDeptView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        績效管理-評比分類項目
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active"> 績效管理-評比分類項目</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">【@Model.DeptId @Model.DeptName】</h3>
                        <a class="btn btn-default bg-maroon" href="@Url.Action("Index", "PFSeasonAdmin", new { DeptId = Model.DeptId })">前往季度管理</a>
                    </div>
                    @if (Model.SeasonInfo != null)
                    {
                        <div class="box-body">
                            <blockquote>
                                <a class="text text-primary" href="@Url.Action("Edit", "PFSeasonAdmin", new { DeptId = Model.DeptId, id = Model.SeasonInfo.ID })">@Model.SeasonInfo.Title</a>
                                <small>@Model.SeasonInfo.StartDate.ToString("yyyy-MM-dd HH:mm") ~ @Model.SeasonInfo.EndDate.ToString("yyyy-MM-dd HH:mm")</small>
                            </blockquote>
                            @*<div>
                                <p class="label label-default">@Model.SeasonInfo.Title</p>
                                <p>@Model.SeasonInfo.StartDate.ToString("yyyy-MM-dd HH:mm")</p>
                                <p>@Model.SeasonInfo.EndDate.ToString("yyyy-MM-dd HH:mm")</p>
                            </div>*@
                        </div>
                    }

                </div>
                <!--部門指標-->
                @if (Model.SeasonInfo != null)
                {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">班別列表</h3>
                    </div>
                    <div class="box-body">
                        <button type="button" class="btn bg-olive" id="add_PF_cls" data-toggle="modal" data-target="#clsModal">
                            新增班別
                        </button>

                        <div id="clsModal_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>標題</th>
                                                <th>排序</th>
                                                <th>啟用狀態</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">
                                            @foreach (var item in Model.ClassList)
                                            {
                                                <tr id="PF_cls_@item.ID">
                                                    <td>@item.Title <br /> @item.ThaiTitle</td>
                                                    <td>@item.Sort</td>
                                                    <td>@Html.DisplayFor(model => item.IsOnline, "_Status")</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary edit_PF_cls" id="cls_@item.ID" data-toggle="modal" data-target="#clsModal">
                                                            <i class="fa fa-edit"> 編輯</i>
                                                        </button>
                                                        <a href="@Url.Action("Index", "PFWorksAdmin", new { DeptId = Model.DeptId, ClassID = item.ID })" class="btn btn-default bg-navy">
                                                            <i class="fa fa-edit"> 評比作業</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

                <!--班別編輯Modal-->
                <div class="modal fade" id="clsModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="max-width: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title" id="clsModalLabel"></h3>
                            </div>

                            <div class="modal-body">
                                <div class="box-header">
                                    <h3 class="box-title">新增/編輯班別</h3>
                                    <button type="button" class="btn btn-default" id="copy_PF_cls">
                                        複製設定
                                    </button>
                                </div>
                                <div class="box-body">
                                    <input type="hidden" id="cls_id" name="cls_id" />
                                    <input type="hidden" id="cls_leveltype" name="cls_leveltype" />
                                    <input type="hidden" id="cls_deptId" name="cls_deptId" value="@Model.DeptId" />
                                    <input type="hidden" id="cls_parentID" name="cls_parentID" />
                                    <input type="hidden" id="cls_points" name="cls_points" />
                                    <input type="hidden" id="cls_sort" name="cls_sort" />
                                    <input type="hidden" id="cls_isrequired" name="cls_isrequired" />

                                    <div class="form-group">
                                        <label>班別名稱</label>
                                        <input id="cls_title" name="cls_title" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>泰文班別名稱</label>
                                        <input id="cls_thaititle" name="cls_thaititle" class="form-control" />
                                    </div>

                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        <input type="checkbox" class="form-check-input" id="cls_isonline" name="cls_isonline" />
                                        <div class="state p-success">
                                            <label>啟用狀態</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*<button type="button" class="btn btn-primary" id="save_PF_cls">儲存</button>*@
                                        <table class="table table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <td>分類標題</td>
                                                    <td>排序</td>
                                                    <td>啟用狀態</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody id="cate_table">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save_PF_cls">儲存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>

                    </div>

                </div>

                <!--分類編輯Modal-->
                <div class="modal fade" id="cateModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="max-width: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title" id="cateModalLabel"></h3>
                            </div>

                            <div class="modal-body">
                                <div class="box-header">
                                    <h3 class="box-title">編輯分類</h3>
                                </div>
                                <div class="box-body">
                                    <input type="hidden" id="cate_id" name="cate_id" />
                                    <input type="hidden" id="cate_leveltype" name="cate_leveltype" />
                                    <input type="hidden" id="cate_deptId" name="cate_deptId" value="@Model.DeptId" />
                                    <input type="hidden" id="cate_parentID" name="cate_parentID" />
                                    <input type="hidden" id="cate_points" name="cate_points" />
                                    <input type="hidden" id="cate_sort" name="cate_sort" />
                                    <input type="hidden" id="cate_isrequired" name="cate_isrequired" />

                                    <div class="form-group">
                                        <label>分類標題</label>
                                        <input id="cate_title" name="cate_title" class="form-control" disabled />
                                    </div>

                                    <div class="form-group">
                                        <label>泰文分類標題</label>
                                        <input id="cate_thaititle" name="cate_thaititle" class="form-control" />
                                    </div>

                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        <input type="checkbox" class="form-check-input" id="cate_isonline" name="cate_isonline" />
                                        <div class="state p-success">
                                            <label>啟用狀態</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <table class="table table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <td>項目標題</td>
                                                    <td>排序</td>
                                                    <td>應用分類</td>
                                                    <td>必填</td>
                                                    <td>啟用狀態</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody id="itm_table">
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn bg-olive d-none" id="add_PF_itm" data-toggle="modal" data-target="#itmModal">
                                            新增項目
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save_PF_cate">儲存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!--評比項目編輯Modal-->
                <div class="modal fade" id="itmModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="max-width: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title" id="itmModalLabel"></h3>
                            </div>

                            <div class="modal-body">
                                <div class="box-header">
                                    <h3 class="box-title">新增/編輯評比項目</h3>
                                </div>
                                <div class="box-body">
                                    <input type="hidden" id="itm_id" name="itm_id" />
                                    <input type="hidden" id="itm_leveltype" name="itm_leveltype" />
                                    <input type="hidden" id="itm_deptId" name="itm_deptId" value="@Model.DeptId" />
                                    <input type="hidden" id="itm_parentID" name="itm_parentID" />
                                    <input type="hidden" id="itm_points" name="itm_points" />

                                    <div class="form-group">
                                        <label>項目標題</label>
                                        <input id="itm_title" name="itm_title" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>泰文項目標題</label>
                                        <input id="itm_thaititle" name="itm_thaititle" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>排序</label>
                                        <input id="itm_sort" name="itm_sort" class="form-control" type="number" />
                                    </div>

                                    <div class="form-group">
                                        <label>應用分類</label>
                                        <br />
                                        @*<div class="pretty p-default p-curve">
                                            <input type="radio" name="itm_type" />
                                            <div class="state">
                                                <label>無</label>
                                            </div>
                                        </div>*@

                                        <div class="pretty p-default p-curve">
                                            <input type="radio" id="itm_type_1" value="1" name="itm_type" />
                                            <div class="state p-primary-o">
                                                <label>評級</label>
                                            </div>
                                        </div>

                                        <div class="pretty p-default p-curve" style="margin-bottom:10px;">
                                            <input type="radio" id="itm_type_2" value="2" name="itm_type" />
                                            <div class="state p-warning-o">
                                                <label>表單</label>
                                            </div>
                                        </div>
                                    </div>

                                  <br />

                                  <div class="form-group">
                                      <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                          <input type="checkbox" class="form-check-input" id="itm_isrequired" name="itm_isrequired" />
                                          <div class="state p-info">
                                              <label>必填</label>
                                          </div>
                                      </div>

                                      <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                          <input type="checkbox" class="form-check-input" id="itm_isonline" name="itm_isonline" />
                                          <div class="state p-success">
                                              <label>啟用狀態</label>
                                          </div>
                                      </div>
                                  </div>

                                    <div class="form-group d-none" id="itm_lvl_list">
                                        <table class="table table-bordered table-hover dataTable">
                                            <thead>
                                                <tr>
                                                    <td>層級標題</td>
                                                    <td>職責點數</td>
                                                    <td>排序</td>
                                                    <td>啟用狀態</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody id="lvl_table">
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn bg-olive d-none" id="add_PF_lvl" data-toggle="modal" data-target="#lvlModal">
                                            新增層級
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save_PF_itm">儲存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!--層級編輯Modal-->
                <div class="modal fade" id="lvlModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="max-width: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h3 class="modal-title" id="lvlModalLabel"></h3>
                            </div>

                            <div class="modal-body">
                                <div class="box-header">
                                    <h3 class="box-title">新增/編輯層級</h3>
                                </div>
                                <div class="box-body">
                                    <input type="hidden" id="lvl_id" name="lvl_id" />
                                    <input type="hidden" id="lvl_leveltype" name="lvl_leveltype" />
                                    <input type="hidden" id="lvl_deptId" name="lvl_deptId" value="@Model.DeptId" />
                                    <input type="hidden" id="lvl_parentID" name="lvl_parentID" />
                                    <input type="hidden" id="lvl_isrequired" name="lvl_isrequired" />
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                        <label>層級標題</label>
                                        <input id="lvl_title" name="lvl_title" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                        <label>泰文層級標題</label>
                                        <input id="lvl_thaititle" name="lvl_thaititle" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                        <label>職責點數</label>
                                        <input id="lvl_points" name="lvl_points" class="form-control" type="number" />
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                        <label>排序</label>
                                        <input id="lvl_sort" name="lvl_sort" class="form-control" type="number" />
                                    </div>

                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        <input type="checkbox" class="form-check-input" id="lvl_isonline" name="lvl_isonline" />
                                        <div class="state p-success">
                                            <label>啟用狀態</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save_PF_lvl">儲存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section scripts{
    <script>
        $(function () {
            $('#add_PF_cls').on('click', function () {
                SetClsInfo(0);
            });
            $('.edit_PF_cls').each(function () {
                $(this).on('click', function () {
                    var id = $(this).attr('id').split('_')[1];
                    SetClsInfo(id);
                });
            });

            $('#save_PF_cls').on('click', function () {
                SaveCls();
            });

            $('#save_PF_cate').on('click', function () {
                SaveCate();
            });

            $('#save_PF_itm').on('click', function () {
                SaveItm();
            });

            $('#save_PF_lvl').on('click', function () {
                SaveLvl();
            });

            function SetClsInfo(id) {
                $('#cls_id').val(id);
                $('#cate_table > tr').remove();
                if (id != 0) {
                    $.ajax({
                        url: "/PFCategoryAdmin/GetCls",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            id: id
                        },
                        success: function (data) {
                            $('#clsModalLabel').text('【@Model.DeptName】 >> ');
                            $('#cls_title').val(data.Title);
                            $('#cls_thaititle').val(data.ThaiTitle);
                            $('#cls_leveltype').val(data.LevelType);
                            $('#cls_deptId').val(data.DeptId);
                            $('#cls_parentID').val(data.ParentID);
                            $('#cls_points').val(data.Points);
                            $('#cls_sort').val(data.Sort);

                            if (data.IsRequired == true) {
                                $('#cls_isrequired').val(true);
                            }
                            else {
                                $('#cls_isrequired').val(false);
                            }

                            if (data.IsOnline == true) {
                                $('#cls_isonline').prop('checked', true);
                            }
                            else {
                                $('#cls_isonline').prop('checked', false);
                            }

                            var cateHtml = '';
                            for (var i = 0; i < data.CateList.length; i++) {
                                var cate = data.CateList[i];
                                var statusStyle = cate.IsOnline ? "label-success" : "label label-danger";
                                var statusDisplay = cate.IsOnline ? "啟用" : "停用";
                                cateHtml += `<tr>
                                                    <td>${cate.Title}</td>
                                                    <td>${cate.Sort}</td>
                                                    <td><span class="label ${statusStyle}">${statusDisplay}</span></td>
                                                    <td><input class="btn btn-primary edit_PF_cate" type="button" id="cate_${cate.ID}" value="編輯" data-toggle="modal" data-target="#cateModal"/>
                                                </tr>`
                            }
                            $('#cate_table').html(cateHtml);

                            $('#add_PF_cate').on('click', function () {
                                SetCateInfo(0, data.ID);
                            });

                            $('.edit_PF_cate').each(function () {
                                $(this).on('click', function () {
                                    var id = $(this).attr('id').split('_')[1];
                                    SetCateInfo(id);
                                });
                            });
                        }
                    });
                }
                else {
                    $('#cls_title').val('');
                    $('#cls_thaititle').val('');
                    $('#cls_leveltype').val('@(MeetSignIn.Utility.Helpers.EnumHelper.GetDescription(MeetSignIn.Models.LevelType.CLS))');
                    $('#cls_deptId').val('@Model.DeptId');
                    $('#cls_parentID').val(0);
                    $('#cls_points').val(0);
                    $('#cls_sort').val(0);
                    $('#cls_isrequired').val(false);
                    $('#cls_isonline').prop('checked', true);
                }
            }

            function SetCateInfo(id) {
                $('#cate_id').val(id);
                $('#itm_table > tr').remove();
                if (id != 0) {
                    $.ajax({
                        url: "/PFCategoryAdmin/GetCate",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            id: id
                        },
                        success: function (data) {
                            $('#add_PF_itm').removeClass('d-none');

                            $('#cate_title').val(data.Title);
                            $('#cate_thaititle').val(data.ThaiTitle);
                            $('#cate_leveltype').val(data.LevelType);
                            $('#cate_deptId').val(data.DeptId);
                            $('#cate_parentID').val(data.ParentID);
                            $('#cate_points').val(data.Points);
                            $('#cate_sort').val(data.Sort);

                            if (data.IsRequired == true) {
                                $('#cate_isrequired').val(true);
                            }
                            else {
                                $('#cate_isrequired').val(false);
                            }

                            if (data.IsOnline == true) {
                                $('#cate_isonline').prop('checked', true);
                            }
                            else {
                                $('#cate_isonline').prop('checked', false);
                            }

                            var itmHtml = '';
                            for (var i = 0; i < data.ItmList.length; i++) {
                                var itm = data.ItmList[i];
                                var statusStyle = itm.IsOnline ? "label-success" : "label-danger";
                                var statusDisplay = itm.IsOnline ? "啟用" : "停用";
                                var isrequiredStyle = itm.IsRequired ? "label-info" : "label-default";
                                var isrequiredDisplay = itm.IsRequired ? "是" : "否";
                                var typeStyle = itm.Type == 1 ? "label-primary" : "label-warning";
                                var type = itm.Type == 1 ? '評比' : '表單';
                                itmHtml += `<tr>
                                                    <td>${itm.Title}</td>
                                                    <td>${itm.Sort}</td>
                                                    <td><span class="label ${typeStyle}">${type}</span></td>
                                                    <td><span class="label ${isrequiredStyle}">${isrequiredDisplay}</span></td>
                                                    <td><span class="label ${statusStyle}">${statusDisplay}</span></td>
                                                    <td><input class="btn btn-primary edit_PF_itm" type="button" id="itm_${itm.ID}" value="編輯" data-toggle="modal" data-target="#itmModal"/>
                                                </tr>`
                            }
                            $('#itm_table').html(itmHtml);

                            $('#add_PF_itm').on('click', function () {
                                SetItmInfo(0, data.ID);
                            });

                            $('.edit_PF_itm').each(function () {
                                $(this).on('click', function () {
                                    var id = $(this).attr('id').split('_')[1];
                                    SetItmInfo(id);
                                });
                            });
                        }
                    });
                }
                else {
                    $('#add_PF_itm').addClass('d-none');
                    $('#cate_title').val('');
                    $('#cate_thaititle').val('');
                    $('#cate_leveltype').val('@(MeetSignIn.Utility.Helpers.EnumHelper.GetDescription(MeetSignIn.Models.LevelType.CATE))');
                    $('#cate_deptId').val('@Model.DeptId');
                    $('#cate_parentID').val(0);
                    $('#cate_points').val(0);
                    $('#cate_sort').val(0);
                    $('#cate_isrequired').val(false);
                    $('#cate_isonline').prop('checked', true);
                }
            }

            function SetItmInfo(id, parentId) {
                $('#itm_id').val(id);
                $('#lvl_table > tr').remove();
                if (id != 0) {
                    //$('#itm_lvl_list').removeAttr('style', 'display:none;');
                    $('#itm_lvl_list').removeClass('d-none');
                    $.ajax({
                        url: "/PFCategoryAdmin/GetItm",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            id: id
                        },
                        success: function (data) {
                            $('#add_PF_lvl').removeClass('d-none');

                            $('#itm_title').val(data.Title);
                            $('#itm_thaititle').val(data.ThaiTitle);
                            $('#itm_leveltype').val(data.LevelType);
                            $('#itm_deptId').val(data.DeptId);
                            $('#itm_parentID').val(data.ParentID);
                            $('#itm_points').val(data.Points);
                            $('#itm_sort').val(data.Sort);
                            $('#itm_type_' + data.Type).prop('checked', true);

                            if (data.IsRequired == true) {
                                $('#itm_isrequired').prop('checked', true);
                            }
                            else {
                                $('#itm_isrequired').prop('checked', false);
                            }

                            if (data.IsOnline == true) {
                                $('#itm_isonline').prop('checked', true);
                            }
                            else {
                                $('#itm_isonline').prop('checked', false);
                            }
                                                       
                            var lvlHtml = '';
                            for (var i = 0; i < data.LvlList.length; i++) {
                                var lvl = data.LvlList[i];
                                var statusStyle = lvl.IsOnline ? "label-success" : "label label-danger";
                                var statusDisplay = lvl.IsOnline ? "啟用" : "停用";
                                lvlHtml += `<tr>
                                                    <td>${lvl.Title}</td>
                                                    <td>${lvl.Points}</td>
                                                    <td>${lvl.Sort}</td>
                                                    <td><span class="label ${statusStyle}">${statusDisplay}</span></td>
                                                    <td><input class="btn btn-primary edit_PF_lvl" type="button" id="lvl_${lvl.ID}" value="編輯" data-toggle="modal" data-target="#lvlModal"/>
                                                </tr>`
                            }
                            $('#lvl_table').html(lvlHtml);

                            $('#add_PF_lvl').on('click', function () {
                                SetLvlInfo(0, data.ID);
                            });

                            $('.edit_PF_lvl').each(function () {
                                $(this).on('click', function () {
                                    var id = $(this).attr('id').split('_')[1];
                                    SetLvlInfo(id);
                                });
                            });
                        }
                    });
                }
                else {
                    $('#add_PF_lvl').addClass('d-none');
                    $('#itm_title').val('');
                    $('#itm_thaititle').val('');
                    $('#itm_leveltype').val('@(MeetSignIn.Utility.Helpers.EnumHelper.GetDescription(MeetSignIn.Models.LevelType.ITM))');
                    $('#itm_deptId').val('@Model.DeptId');
                    $('#itm_parentID').val(parentId);
                    $('#itm_points').val(0);
                    $('#itm_sort').val(0);
                    $('#itm_type_1').prop('checked', true);
                    $('#itm_isrequired').prop('checked', false);
                    $('#itm_isonline').prop('checked', true);
                }
            }

            function SetLvlInfo(id, parentId) {
                $('#lvl_id').val(id);
                if (id != 0) {
                    $.ajax({
                        url: "/PFCategoryAdmin/GetLvl",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            id: id
                        },
                        success: function (data) {
                            $('#lvl_title').val(data.Title);
                            $('#lvl_thaititle').val(data.ThaiTitle);
                            $('#lvl_leveltype').val(data.LevelType);
                            $('#lvl_deptId').val(data.DeptId);
                            $('#lvl_parentID').val(data.ParentID);
                            $('#lvl_points').val(data.Points);
                            $('#lvl_sort').val(data.Sort);

                            if (data.IsRequired == true) {
                                $('#lvl_isrequired').val(true);
                            }
                            else {
                                $('#lvl_isrequired').val(false);
                            }

                            if (data.IsOnline == true) {
                                $('#lvl_isonline').prop('checked', true);
                            }
                            else {
                                $('#lvl_isonline').prop('checked', false);
                            }
                        }
                    });
                }
                else {
                    $('#lvl_title').val('');
                    $('#lvl_thaititle').val('');
                    $('#lvl_leveltype').val('@(MeetSignIn.Utility.Helpers.EnumHelper.GetDescription(MeetSignIn.Models.LevelType.LVL))');
                    $('#lvl_deptId').val('@Model.DeptId');
                    $('#lvl_parentID').val(parentId);
                    $('#lvl_points').val(0);
                    $('#lvl_sort').val(0);
                    $('#lvl_isrequired').val(false);
                    $('#lvl_isonline').prop('checked', true);
                }
            }

            function SaveCls() {
                var saveData = {
                    id: parseInt($('#cls_id').val()),
                    title: $('#cls_title').val(),
                    thaititle: $('#cls_thaititle').val(),
                    deptId: $('#cls_deptId').val(),
                    leveltype: $('#cls_leveltype').val(),
                    parentID: parseInt($('#cls_parentID').val()),
                    points: parseInt($('#cls_points').val()),
                    sort: parseInt($('#cls_sort').val()),
                    isrequired: $('#cls_isrequired').val() == 'true',
                    isonline: $('#cls_isonline').is(':checked'),
                };
                $.ajax({
                    url: "/PFCategoryAdmin/SaveCls",
                    type: 'POST',
                    anysc: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#clsModal').modal('toggle');
                        //if (response == 'success') {
                        //    location.reload();
                        //}
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            }

            function SaveCate() {
                var saveData = {
                    id: parseInt($('#cate_id').val()),
                    title: $('#cate_title').val(),
                    thaititle: $('#cate_thaititle').val(),
                    deptId: $('#cate_deptId').val(),
                    leveltype: $('#cate_leveltype').val(),
                    parentID: parseInt($('#cate_parentID').val()),
                    points: parseInt($('#cate_points').val()),
                    sort: parseInt($('#cate_sort').val()),
                    isrequired: $('#cate_isrequired').val() == 'true',
                    isonline: $('#cate_isonline').is(':checked'),
                };
                $.ajax({
                    url: "/PFCategoryAdmin/SaveCate",
                    type: 'POST',
                    anysc: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#cateModal').modal('toggle');
                        SetClsInfo(response.ParentID);
                        //if (response == 'success') {
                        //    location.reload();
                        //}
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            }

            function SaveItm() {
                var saveData = {
                    id: parseInt($('#itm_id').val()),
                    title: $('#itm_title').val(),
                    thaititle: $('#itm_thaititle').val(),
                    deptId: $('#itm_deptId').val(),
                    leveltype: $('#itm_leveltype').val(),
                    parentID: parseInt($('#itm_parentID').val()),
                    points: parseInt($('#itm_points').val()),
                    sort: parseInt($('#itm_sort').val()),
                    type: parseInt($("input[name='itm_type']:checked").val()),
                    isrequired: $('#itm_isrequired').is(':checked'),
                    isonline: $('#itm_isonline').is(':checked'),
                };
                $.ajax({
                    url: "/PFCategoryAdmin/SaveItm",
                    type: 'POST',
                    anysc: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#itmModal').modal('toggle');
                        SetCateInfo(response.ParentID);
                        //if (response == 'success') {
                        //    location.reload();
                        //}
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            }

            function SaveLvl() {
                var saveData = {
                    id: parseInt($('#lvl_id').val()),
                    title: $('#lvl_title').val(),
                    thaititle: $('#lvl_thaititle').val(),
                    deptId: $('#lvl_deptId').val(),
                    leveltype: $('#lvl_leveltype').val(),
                    parentID: parseInt($('#lvl_parentID').val()),
                    points: parseInt($('#lvl_points').val()),
                    sort: parseInt($('#lvl_sort').val()),
                    type: parseInt($("input[name='itm_type']:checked").val()),
                    isrequired: $('#lvl_isrequired').val() == 'true',
                    isonline: $('#lvl_isonline').is(':checked'),
                };
                $.ajax({
                    url: "/PFCategoryAdmin/SaveLvl",
                    type: 'POST',
                    anysc: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#lvlModal').modal('toggle');
                        SetItmInfo(response.ParentID);
                        //if (response == 'success') {
                        //    location.reload();
                        //}
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            }
        })
    </script>
}