﻿@model MeetSignIn.Areas.Admin.ViewModels.PFCategory.PFCategoryView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增評比分類項目" : "編輯評比分類項目";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        績效管理-評比分類項目 【@Model.DeptId @Model.DeptName】
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PFCategoryAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeptId)
                    @Html.HiddenFor(model => model.ParentID)
                    @Html.HiddenFor(model => model.LevelType)

                    <div class="box-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title)
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Points)
                                    @Html.TextBoxFor(model => model.Points, new { @class = "form-control", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sort)
                                    @Html.TextBoxFor(model => model.Sort, new { @class = "form-control", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                </div>

                                @if (Model.LevelType == MeetSignIn.Utility.Helpers.EnumHelper.GetDescription(MeetSignIn.Models.LevelType.ITM))
                                {
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-top:10px;">
                                            <div class="pretty p-switch p-fill" style="margin-bottom:5px;">
                                                @Html.CheckBoxFor(model => model.IsRequired, new { @class = "form-check-input lock_switch" })
                                                <div class="state p-success">
                                                    <label id="required_text"> @Html.DisplayNameFor(model => model.IsRequired)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.IsRequired)
                                }

                                <div class="form-group">
                                    <div class="col-sm-12" style="margin-top:10px;">
                                        <div class="pretty p-switch p-fill" style="margin-bottom:5px;">
                                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                <label id="online_text"> @Html.DisplayNameFor(model => model.IsOnline)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}