﻿@model MeetSignIn.Areas.Admin.ViewModels.PFCategory.PFCategoryIndexView

@section styles{
    <style>
        .dept_list_data {
            margin-top: 3px;
            margin-bottom: 3px;
            position: relative;
            float: left;
            padding-right: 15px;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        績效分類管理-評比分類項目
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        @*<div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "PFCategoryAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "會議室編號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeptId, Model.DeptOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ParentID, new { @class = "form-control", @placeholder = "工號/姓名" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LevelType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.LevelType, Model.LevelTypeOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                <button type="button" class="btn btn-primary edit_dept_kpi" id="add_cls" data-toggle="modal" data-target="#exampleModal">
                                        編輯部門評比分類項目
                                    </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>*@

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">分類項目列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            @{
                                var firstLetterList = Model.DeptOptions.Select(q => q.Value[0]).Distinct().ToList();
                            }
                            <div class="col-sm-12">
                                <hr style="border: 1px solid #808080; border-radius: 50%; margin-bottom:2px;" />
                                @foreach (var letter in firstLetterList)
                                {
                                    var deptList = Model.DeptOptions.Where(q => q.Value[0] == letter).ToList();

                                    <div class="form-group col-md-12" style="padding-left:0px;">
                                        @foreach (var item in deptList)
                                        {
                                            <div class="dept_list_data">
                                                <input type="button" class="btn btn-default dept_btn edit_dept_pf_cate" value="@item.Value @item.Text" id="dept_@(item.Value)_@(item.Text)" name="dept_@item.Value" />
                                            </div>
                                        }
                                    </div>
                                    <hr style="border: 1px solid #808080; border-radius: 50%; margin-bottom:2px;" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('.edit_dept_pf_cate').on('click', function () {
                var DeptId = $(this).attr('id').split('_')[1];
                var DeptName = $(this).attr('id').split('_')[2];
                location.href = '/Admin/PFCategoryAdmin/DeptPFEdit?DeptId=' + DeptId + '_' + DeptName;
            });
        })
    </script>
}


