﻿@model MeetSignIn.Areas.Admin.ViewModels.KPI.KPIView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增公司KPI" : "編輯公司KPI";
}

<section class="content-header">
    <h1>
        公司KPI管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "FairlyKPIAdmin")"><i class="fa fa-home"></i> 公司KPI列表</a></li>
        <li class="active">公司KPI管理</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">@title</h3>
                    </div>
                    @using (Html.BeginForm("Edit", "FairlyKPIAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.UpdateDate)
                        @Html.HiddenFor(model => model.Updater)
                        @Html.HiddenFor(model => model.CreateDate)
                        @Html.HiddenFor(model => model.Creater)

                        <div class="box-body">
                            <div class="form-group">
                                <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                @Html.LabelFor(model => model.Title)
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                            <!-- /.form group -->
                            <div class="form-group">
                                <span class="input-group-text"><i class="fa fa-tag"></i></span>
                                @Html.LabelFor(model => model.Type)
                                @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                            </div>
                            <!-- /.form group -->
                            <!--<div class="form-group">
                                <span class="input-group-text"><i class="fa fa-database"></i></span>
                                @Html.LabelFor(model => model.Level)
                                @Html.DropDownListFor(model => model.Level, Model.LevelOptions, new { @class = "form-control" })

                            <!--</div>-->
                            @Html.HiddenFor(model => model.Level)
                            <!-- /.form group -->
                            <div class="form-group dept_selecter">
                                @Html.LabelFor(model => model.Dept)<br />
                                @{ 
                                    var deptList = Model.Dept.Split(',').Select(q => q.Trim()).ToList();
                                }
                                @foreach (var item in Model.DeptOptions)
                                {                                    
                                    string active = deptList.Contains(item.Text) ? "dept_btn_active" : "";
                                    <div class="js-signer-Dept btn btn-default dept_btn @active" id="dept_@item.Value" style="margin: 2px 5px;">@item.Text</div>
                                }
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Dept, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                            </div>

                            <div class="form-group">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                @Html.LabelFor(model => model.CheckDate)
                                @Html.TextBoxFor(model => model.CheckDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            </div>
                            <!-- /.form group -->
                            <div class="form-group">
                                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                @Html.LabelFor(model => model.Description)
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            </div>
                            <!-- /.form group -->

                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                                <div class="state p-success">
                                    @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                </div>
                            </div>
                            <!-- /.form group -->
                            <!--<div class="form-group">
                            @Html.LabelFor(model => model.ApprovalState)
                            <div class="input-group">
                                <div class="pretty p-icon p-round">
                                    @Html.RadioButtonFor(model => model.ApprovalState, "0")
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check"></i>
                                        <label>草稿</label>
                                    </div>
                                </div>
                                <div class="pretty p-icon p-round">
                                    @Html.RadioButtonFor(model => model.ApprovalState, "1")
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check"></i>
                                        <label>審核中</label>
                                    </div>
                                </div>
                                <div class="pretty p-icon p-round">
                                    @Html.RadioButtonFor(model => model.ApprovalState, "2")
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check"></i>
                                        <label>審核通過</label>
                                    </div>
                                </div>
                                <div class="pretty p-icon p-round">
                                    @Html.RadioButtonFor(model => model.ApprovalState, "3")
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check"></i>
                                        <label>審核駁回</label>
                                    </div>
                                </div>
                            </div>-->
                            <!-- /.input group -->
                            <!--</div>-->
                            <!-- /.form group -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">儲存</button>
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                @if (Model.ID != 0)
                {
                    <!--部門指標-->
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">部門指標列表</h3>
                            @*<div class="box-tools">
                                <button type="button" class="btn btn-tool" data-box-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>*@
                        </div>
                        <div class="box-body">
                            <!-- Button trigger popup modal -->
                            <button type="button" class="btn bg-olive add_dept_kpi" data-toggle="modal" data-target="#exampleModal">
                                新增部門指標
                            </button>
                            @*<button type="button" class="btn bg-olive add_dept_kpi" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    新增部門指標
                                </button>*@
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                            <thead>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Level)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Dept)</th>
                                                    <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                    @*<th>@Html.DisplayNameFor(x => x.ApprovalState)</th>*@
                                                    <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="depe_kpi_tbody">
                                                @foreach (var item in Model.DeptKPIList)
                                                {
                                                    <tr id="dept_kpi_@item.ID">
                                                        <td id="td_title">@item.Title</td>
                                                        <td id="td_type">@item.TypeOptions.Where(q => q.Value == item.Type.ToString()).FirstOrDefault().Text</td>
                                                        <td id="td_level">@item.LevelOptions.Where(q => q.Value == item.Level.ToString()).FirstOrDefault().Text</td>
                                                        <td id="td_dept">
                                                            @foreach (var dept in item.Dept.Split(','))
                                                            {
                                                                if (!string.IsNullOrEmpty(dept))
                                                                {
                                                                    <a href="@Url.Action("Edit", "DeptKPIAdmin", new { id = item.ID })" class="btn btn-sm btn-default dept_btn" style="background-color: #a97d63; color: #fff;" target="_blank">@dept</a>
                                                                }

                                                            }
                                                        </td>
                                                        <td id="td_status">@Html.DisplayFor(model => item.IsOnline, "_Status")</td>
                                                        @*<td id="td_approval">@Html.DisplayFor(model => item.ApprovalState, "_ApprovalStatus")</td>*@
                                                        <th id="td_checkdate">@item.CheckDate.ToString("yyyy/MM/dd HH:mm")</th>
                                                        <td>
                                                            <button type="button" class="btn btn-primary edit_dept_kpi" id="@item.ID" data-toggle="modal" data-target="#exampleModal">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            @*<a href="#" class="btn btn-primary edit_dept_kpi" id="@item.ID" data-toggle="modal" data-bs-target="#exampleModal">
                                                                <i class="fa fa-edit"></i>
                                                            </a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Level)</th>
                                                    <th>@Html.DisplayNameFor(x => x.Dept)</th>
                                                    <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                    @*<th>@Html.DisplayNameFor(x => x.ApprovalState)</th>*@
                                                    <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                }

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="max-width: 80%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                            </div>
                       
                            <div class="modal-body">
                                    <div class="box-header">
                                        <h3 class="box-title">編輯附屬/部門指標</h3>
                                    </div>
                                    <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                        <div class="box-body">
                                            <input type="hidden" id="dept_id" name="dept_id" />
                                            <div class="form-group">
                                                <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                                @Html.LabelFor(model => model.Title)
                                                <input id="dept_title" name="dept_title" class="form-control" />
                                            </div>

                                            <input type="hidden" id="dept_type" name="dept_type" />
                                            <input type="hidden" id="dept_level" name="dept_level" />

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dept)<br />
                                                @{
                                                    var kpiDeptList = new List<string>();
                                                    if (!string.IsNullOrEmpty(Model.Dept))
                                                    {
                                                        kpiDeptList = Model.Dept.Split(',').Select(q => q.Trim()).ToList();
                                                    }
                                                }
                                                @foreach (var item in Model.DeptOptions)
                                                {
                                                    if (kpiDeptList.Contains(item.Text))
                                                    {
                                                        <div class="js-signer-Dept_KPI btn btn-default dept_btn" id="dept_kpi_@item.Value" style="margin: 2px 5px; ">@item.Text</div>
                                                    }
                                                }
                                            </div>
                                            <div class="form-group">
                                                <input type="text" data-role="tagsinput" class="js-dept" id="dept_dept" name="dept_dept" />
                                            </div>

                                            <div class="form-group">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                @Html.LabelFor(model => model.CheckDate)
                                                <input id="dept_checkdate" name="dept_checkdate" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                                @Html.LabelFor(model => model.Description)
                                                <textarea id="dept_description" name="dept_descrpition" class="form-control"></textarea>
                                            </div>
                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                <input type="checkbox" class="form-check-input" id="dept_isonline" name="dept_isonline" />
                                                <div class="state p-success">
                                                    @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                </div>
                                            </div>

                                            <br />
                                            <input type="hidden" id="dept_approval" name="dept_approval" />
                                            @*@Html.LabelFor(model => model.ApprovalState)
                                            <span class="label" id="dept_approval_lbl" name="dept_approval_lbl" ></span>*@
                                            @*@{
                                                var statusStyle = "label-default";
                                                var statusDisplay = "草稿";
                                                switch (Model.ApprovalState)
                                                {
                                                    case 0:
                                                        statusStyle = "label-default bg-gray";
                                                        statusDisplay = "草稿";
                                                        break;
                                                    case 1:
                                                        statusStyle = "label-warning";
                                                        statusDisplay = "審核中";
                                                        break;
                                                    case 2:
                                                        statusStyle = "label-success bg-olive";
                                                        statusDisplay = "審核通過";
                                                        break;
                                                    case 3:
                                                        statusStyle = "label-danger";
                                                        statusDisplay = "審核駁回";
                                                        break;
                                                }
                                            }*@
                                        </div>
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save_dept_kpi">儲存</button>
                                @*<button type="button" class="btn btn-warning" id="submit_trial">送審</button>*@
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Popup Modal -->
                @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 80%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div id="kpi_ribbon" class="ribbon bg-secondary text-xl">草稿</div>
                                    </div>
                                    <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close" id="close_popup">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="box box-primary">
                                        <div class="box-header">
                                            <h3 class="box-title">編輯附屬/部門指標</h3>
                                        </div>
                                        <form action="/Admin/DeptKPIAdmin/Edit" enctype="multipart/form-data" method="post">
                                            <div class="box-body">
                                                <input type="hidden" id="dept_id" name="dept_id" />
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Title)
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-tree"></i></span>
                                                        </div>
                                                        <input id="dept_title" name="dept_title" class="form-control" />
                                                    </div>
                                                </div>

                                                <input type="hidden" id="dept_type" name="dept_type" />
                                                <input type="hidden" id="dept_level" name="dept_level" />

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Dept)<br />
                                                    <div class="input-group">
                                                        @foreach (var item in Model.DeptOptions)
                                                        {
                                                            <div class="js-signer-Dept_KPI btn btn-outline-info" id="dept_kpi_@item.Value" style="margin: 2px 5px;">@item.Text</div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" data-role="tagsinput" class="js-dept" id="dept_dept" name="dept_dept" />
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CheckDate)
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        <input id="dept_checkdate" name="dept_checkdate" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Description)
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                                        </div>
                                                        <textarea id="dept_description" name="dept_descrpition" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    <input type="checkbox" class="form-check-input" id="dept_isonline" name="dept_isonline" />
                                                    <div class="state p-success">
                                                        @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>

                                                <input type="hidden" id="dept_approval" name="dept_approval" />
                                                @Html.LabelFor(model => model.ApprovalState)

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="save_dept_kpi">儲存</button>
                                    <button type="button" class="btn btn-info" id="submit_trial">送審</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



@section scripts{
    <script src="~/Content/Admin/fairlyKPI.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#CheckDate").datepicker({ dateFormat: "yy-mm-dd" });
        });
    </script>
}