﻿@model MeetSignIn.Areas.Admin.ViewModels.KPI.KPIIndexView
@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <h1>
        公司KPI管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">公司KPI管理</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <a class="btn bg-olive" href="@Url.Action("Edit", "FairlyKPIAdmin")">新增公司KPI</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">公司KPI列表</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            @Html.Partial("_PageSizeAdmin", Model.PageResult)
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                <th width="40%">@Html.DisplayNameFor(x => x.DeptId)</th>
                                                <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.PageResult.Data)
                                            {
                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.TypeOptions.Where(q => q.Value == item.Type.ToString()).FirstOrDefault().Text</td>
                                                    <td>
                                                        @foreach (var dept in item.Dept.Split(','))
                                                        {
                                                            if (!string.IsNullOrEmpty(dept))
                                                            {
                                                                <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = dept, ParentKPITitle = item.Title })" class="btn btn-sm btn-default dept-tag" style="background-color: #a97d63; color: #fff;" target="_blank">@dept</a>
                                                            }

                                                        }
                                                    </td>
                                                    @*<td>@item.LevelOptions.Where(q => q.Value == item.Level.ToString()).FirstOrDefault().Text</td>*@
                                                    <td>@Html.DisplayFor(model => item.IsOnline, "_Status")</td>
                                                    <th>@item.CheckDate.ToString("yyyy年 MM月 dd日")</th>
                                                    <td>
                                                        <a href="@Url.Action("Edit", "FairlyKPIAdmin", new { id = item.ID })" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.Title)</th>
                                                <th>@Html.DisplayNameFor(x => x.Type)</th>
                                                <th>@Html.DisplayNameFor(x => x.DeptId)</th>
                                                <th>@Html.DisplayNameFor(x => x.IsOnline)</th>
                                                <th>@Html.DisplayNameFor(x => x.CheckDate)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @Html.Partial("_PageAdmin", Model.PageResult)
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @*<script src="~/Scripts/Admin/page.js"></script>*@
}
