﻿@model MeetSignIn.Areas.Admin.ViewModels.TrainingPerson.TrainingPersonIndexView
@{
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    var listHaveAcceptance = Model.TrainingPersonList.Where(q => q.HasAcceptance).Count() > 0;
    bool showAcceptance = (adminInfo.ID == Model.Creater || adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor) && listHaveAcceptance;
    int SignedStatus = (int)MeetSignIn.Models.SignStatus.Signed;
}

@section styles
{
    <style>
        .plan_btn {
            margin-left: 3px !important;
            background-color: #ad784b !important;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        訓練名單管理 【@Model.TraningTitle】
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                    @if (Model.Category == (int)MeetSignIn.Models.Category.External)
                    {
                        @Html.ActionLink("返回外訓", "ExternalEdit", "TrainingAdmin", new { id = Model.TraningID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("外訓申請表", "External", "TrainingAdmin", new { trainingId = Model.TraningID }, new { @class = "btn bg-yellow plan_btn", @style = "", @target = "_blank" })
                    }
                    else if (Model.Category == (int)MeetSignIn.Models.Category.Internal || Model.Category == (int)MeetSignIn.Models.Category.ExternalLecturer)
                    {
                        @Html.ActionLink("內訓", "Edit", "TrainingAdmin", new { id = Model.TraningID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("內訓計畫表", "Internal", "TrainingAdmin", new { trainingId = Model.TraningID }, new { @class = "btn bg-yellow plan_btn", @style = "", @target = "_blank" })
                    }
                    else if (Model.Category == (int)MeetSignIn.Models.Category.Seminar)
                    {
                        @Html.ActionLink("內訓研討會", "SeminarEdit", "TrainingAdmin", new { id = Model.TraningID }, new { @class = "btn btn-default" })
                    }
                </div>
                @using (Html.BeginForm("Index", "TrainingPersonAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.TraningID)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobID, new { @class = "form-control", @placeholder = "工號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "姓名" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsSign, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsSign, "SignDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("匯出Excel", "ExportExcel", "TrainingPersonAdmin", new { id = Model.TraningID }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">參與名單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @*@Html.Partial("_PageSizeAdmin", Model.PageResult)*@
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                @if (adminInfo.ID == Model.Creater && Model.HasLearning)
                                {
                                    <input class="btn btn-default" type="button" id="SaveScore" value="儲存分數&建議" />
                                }
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th data-sorting="JobID">
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th data-sorting="SignStatus">
                                                @Html.DisplayNameFor(x => x.SignStatus)
                                            </th>
                                            <th data-sorting="SignTime">
                                                @Html.DisplayNameFor(x => x.SignTime)
                                            </th>
                                            @*<th data-sorting="IsSent">
                                                    @Html.DisplayNameFor(x => x.IsSent)
                                                </th>*@
                                            @if (adminInfo.ID == Model.Creater && Model.HasLearning)
                                            {
                                                <th>評分</th>
                                            }
                                            @if (showAcceptance)
                                            {
                                                <th>  @Html.DisplayNameFor(x => x.OpinionStatus)</th>
                                            }

                                            @*<th>心得報告</th>*@
                                            <th>意見表</th>
                                            @*<th>行動方案</th>*@
                                            @if (Model.TrainingInfo.Cert != 2 && Model.TrainingInfo.Cert != 0)
                                            {
                                                <th>是否合格</th>
                                            }
                                            <th width="20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.TrainingPersonList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.JobID
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "PersonAdmin", new { jid = item.JobID})" target="_blank"><i class="fa fa-user"></i>@item.Name</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.SignStatus, "_SignStatusList")
                                                </td>
                                                <td>
                                                    @if (item.SignTime > Convert.ToDateTime("2020/01/01"))
                                                    {
                                                        @item.SignTime.ToString("yyyy/MM/dd HH:mm")
                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(model => item.IsSent, "_SentStatus")
                                                    </td>*@
                                                @if ((adminInfo.ID == Model.Creater || adminInfo.DeptId == "B40" || adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin) && Model.HasLearning)
                                                {
                                                    string checkedStr = item.IsPassed ? "checked" : "";
                                                    <td>
                                                        <div class="pretty p-switch p-slim">
                                                            <input type="checkbox" class="switch_passed" id="isPassed_@item.ID" @checkedStr />
                                                            <div class="state p-success">
                                                                <label id="passed_text">通過</label>
                                                            </div>
                                                        </div>
                                                        <input class="form-control training_score" id="score_@item.JobID" value="@item.Score" />
                                                        <textarea class="form-control training_suggestion" style="margin-top: 5px; width: 100%; resize: vertical;" id="suggestion_@item.JobID" placeholder="檢討&建議">@item.Suggestion</textarea>
                                                    </td>
                                                }
                                                @*<td>
                                                        @Html.DisplayFor(model => item.ReportStatus, "_ParticipateStateStatus")
                                                            <br />
                                                        @Html.ActionLink("課後心得報告", "Edit", "ClassReportAdmin", new { trainingId = Model.TraningID, personId = item.JobID }, new { @class = "btn bg-orange", @style = "margin: 3px !important;background-color:#83695d !important; border-color: #83695d;" })
                                                    </td>*@
                                                @if ((adminInfo.ID == Model.Creater || adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor) && item.HasAcceptance && Model.GroupType == (int)MeetSignIn.Models.GroupType.Person)
                                                {                                                   
                                                    <td>
                                                        @if (item.SignStatus != SignedStatus || !item.HasAcceptance)
                                                        {
                                                            <span class="label label-default" style="background-color: #ededed; margin: 3px !important;">無需填寫</span>
                                                        }
                                                        else
                                                        {
                                                            if (Model.Category == (int)MeetSignIn.Models.Category.External)
                                                            {
                                                                @Html.DisplayFor(model => item.EAStatus, "_ParticipateStateStatus")
                                                                <br />
                                                                @Html.ActionLink("外訓驗收", "Edit", "ExternalAcceptanceAdmin", new { trainingId = item.TraningID, personId = item.JobID }, new { @class = "btn bg-fuchsia external_btn", @style = "margin: 3px !important;" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DisplayFor(model => item.IAStatus, "_ParticipateStateStatus")
                                                                <br />
                                                                @Html.ActionLink("內訓驗收", "Edit", "InternalAcceptanceAdmin", new { trainingId = item.TraningID, personId = item.JobID }, new { @class = "btn bg-fuchsia internal_btn", @style = "margin: 3px !important;" })
                                                            }
                                                        }
                                                    </td>
                                                }
                                                <td>
                                                    @if (item.HasOpinion)
                                                    {
                                                        if (item.SignStatus != SignedStatus)
                                                        {
                                                            <span class="label label-default" style="background-color: #ededed; margin: 3px !important;">無需填寫</span>
                                                        }
                                                        else
                                                        {
                                                            if (item.OpinionStatus == "已填寫未送審")
                                                            {
                                                                <span class="label label-default" style="background-color: lightgreen; margin: 3px !important;">已填寫</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-default" style="background-color: #ff8b8b; margin: 3px !important;">未填寫</span>
                                                                if (adminInfo.ID == Model.TrainingInfo.Creater)
                                                                {
                                                                    <br />
                                                                    @Html.ActionLink("通知填寫", "SendOpinionNotify", "TrainingAdmin", new { trainingId = Model.TraningID, personId = item.JobID }, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                                                                }
                                                            }
                                                            @*@Html.DisplayFor(model => item.OpinionStatus, "_ParticipateStateStatus")*@
                                                        }
                                                        if (item.OpinionStatus != "尚未填寫" && item.SignStatus == 1)
                                                        {
                                                            <br />
                                                            @Html.ActionLink("課後意見表", "Edit", "ClassOpinionAdmin", new { trainingId = Model.TraningID, personId = item.JobID }, new { @class = "btn bg-fuchsia classopinion_btn", @style = "margin: 3px !important;" })
                                                        }

                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(model => item.ActionPlanStatus, "_ParticipateStateStatus")
                                                            <br />
                                                        @Html.ActionLink("課後行動方案", "Edit", "ClassActionPlanAdmin", new { trainingId = Model.TraningID, personId = item.JobID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important;background-color:#a38b66 !important; border-color: #a38b66;" })
                                                    </td>*@
                                                @*@if (Model.TrainingInfo.Cert != 2 && Model.TrainingInfo.Cert != 0)
                                                    {
                                                        string checkedStr = item.IsPassed ? "checked" : "";
                                                     <td>
                                                            <div class="pretty p-switch p-slim">
                                                                <input type="checkbox" class="switch_passed" id="@item.ID" @checkedStr />
                                                                <div class="state p-success">
                                                                    <label id="passed_text">通過</label>
                                                                </div>
                                                            </div>
                                                    </td>
                                                    }*@
                                                <td>
                                                    @Html.ActionLink("補簽", "SignIn", "TrainingPersonAdmin", new { id = item.ID }, new { @class = "btn bg-olive", @style = "margin: 3px !important;", @onclick = "return confirm('確定要補簽【" + item.Name + "】嗎 ? ');" })
                                                    @Html.ActionLink("請假", "Leave", "TrainingPersonAdmin", new { id = item.ID }, new { @class = "btn bg-maroon", @style = "margin: 3px !important;", @onclick = "return confirm('確定要將【" + item.Name + "】改為請假嗎?');" })
                                                    <a href="@Url.Action("Edit", "PersonAdmin", new { jid = item.JobID })" class="btn btn-primary">
                                                        <i class="fa fa-user"></i>
                                                        <span>查看</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th data-sorting="JobID">
                                                @Html.DisplayNameFor(x => x.JobID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th data-sorting="SignStatus">
                                                @Html.DisplayNameFor(x => x.SignStatus)
                                            </th>
                                            <th data-sorting="SignTime">
                                                @Html.DisplayNameFor(x => x.SignTime)
                                            </th>
                                            @*<th data-sorting="IsSent">
                                                    @Html.DisplayNameFor(x => x.IsSent)
                                                </th>*@
                                            @if (adminInfo.ID == Model.Creater && Model.HasLearning)
                                            {
                                                <th>評分</th>
                                            }
                                            @if (showAcceptance)
                                            {
                                                <th>課後驗收</th>
                                            }
                                            @*<th>心得報告</th>*@
                                            <th>意見表</th>
                                            @*<th>行動方案</th>*@
                                            @if (Model.TrainingInfo.Cert != 2 && Model.TrainingInfo.Cert != 0)
                                            {
                                                <th>是否合格</th>
                                            }
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            currentDate.setMinutes(0, 0, 0);
            currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            $('#StartDate').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });
            $('#EndDate').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });

            $('.switch_passed').on('change', function () {
                var passed = false;
                if ($(this).is(':checked')) {
                    passed = true;
                }
                var idArr = $(this).attr('id').split('_');
                $.ajax({
                    url: "/Admin/TrainingPersonAdmin/ChangePassed",
                    type: 'POST',
                    dataType: "text",
                    data: {
                        id: idArr[1],
                        passed: passed
                    },
                    success: function (data) {
                        //return data;
                        console.log(data);
                        $('#passed_text').text(data);
                    }
                });
            });

            $('#SaveScore').on('click', function () {
                var scoreData = [];
                $('.training_score').each(function () {
                    var idArr = $(this).attr('id').split('_');
                    scoreData.push({
                        'PersonId': idArr[1],
                        'Score': $(this).val(),
                        'Suggestion': $('#suggestion_' + idArr).val(),
                    });
                });

                 $.ajax({
                    url: "/Admin/TrainingPersonAdmin/SaveScore",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: {
                         trainingId: @Model.TraningID,
                         scoreData: JSON.stringify(scoreData)
                    },
                    success: function (data) {
                        //return data;
                        //if (data == '可選會議室') {
                        //    $('#selectedNotifyList').val(selectedArr);
                        //    $('#EditForm').submit();
                        //}
                        //else {
                        //    alert(data);
                        //}
                    }
                });
            });

            //$('.switch_passed').on('change', function () {
            //    var passed = false;
            //    if ($(this).is(':checked')) {
            //        passed = true;
            //    }

            //    $.ajax({
            //        url: "/Admin/PersonAdmin/ChangePassed",
            //        type: 'POST',
            //        dataType: "text",
            //        data: {
            //            id: $(this).attr('id'),
            //            passed: passed
            //        },
            //        success: function (data) {
            //            //return data;
            //            console.log(data);
            //            $('#passed_text').text(data);
            //        }
            //    });
            //});
        });
    </script>
}


