﻿@model MeetSignIn.Areas.Admin.ViewModels.Draw.DrawView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增抽籤活動" : "編輯抽籤活動";
}

@section styles{
    <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>    
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        抽籤活動管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "DrawAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.CreateDate)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">抽獎資訊</a></li>
                                @if (Model.ID != 0)
                                {
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">抽獎名單</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">排序註解</a></li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.Type, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Type, Model.DrawTypeOptions, new { @class = "form-control lock_switch" })
                                        </div>*@
                                    @if (Model.ID != 0)
                                    {
                                        <button type="button" class="btn bg-olive" id="add_award" data-toggle="modal" data-target="#awardModal">
                                            新增獎項
                                        </button>
                                        <a class="btn btn-success" href="@Url.Action("ExportExcel", "DrawAdmin", new { id = Model.ID })">匯出</a>
                                        <div class="form-group">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <td>獎項 @Model.DrawAwardList.Count()</td>
                                                        @*<td>占比</td>*@
                                                        <td>名額</td>
                                                        <td>可重複</td>
                                                        <td>抽籤狀態</td>
                                                        <td>撤銷狀態</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.DrawAwardList != null && Model.DrawAwardList.Count() > 0)
                                                    {
                                                        foreach (var item in Model.DrawAwardList)
                                                        {
                                                            <tr>
                                                                <td>@item.Title</td>
                                                                @*<td>@item.Rate</td>*@
                                                                <td>@item.Number</td>
                                                                <td>@Html.DisplayFor(model => item.IsRepeatable, "_UseStatus")</td>
                                                                <td>
                                                                    @if (item.IsDraw)
                                                                    {
                                                                        <label class="label label-info">已抽籤</label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="label label-default">尚未抽籤</label>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (!item.IsOnline)
                                                                    {
                                                                        <label class="label label-danger">撤銷</label>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (item.IsOnline)
                                                                    {
                                                                    <button type="button" class="btn btn-primary edit_award" id="award_@item.ID" data-toggle="modal" data-target="#awardModal">
                                                                        編輯
                                                                    </button>
                                                                    <a  class="btn btn-danger" href="@Url.Action("RevokeAward", "DrawAdmin", new { id = item.ID })">撤銷</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_1">
                                    @if (Model.ID != 0)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParticipantFile) 匯入名單
                                            <input type="file" id="ParticipantFile" name="ParticipantFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.ParticipantFile, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <td>工號</td>
                                                        <td>姓名</td>
                                                        <td>是否中獎</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.DrawPersonList != null && Model.DrawPersonList.Count() > 0)
                                                    {
                                                        foreach (var item in Model.DrawPersonList)
                                                        {
                                                            <tr>
                                                                <td>@item.PersonId</td>
                                                                <td>@item.PersonName</td>

                                                                <td>@Html.DisplayFor(model => item.DrawStatus, "_DrawStatus")</td>
                                                                <td>
                                                                    @if (item.DrawStatus <= (int)MeetSignIn.Models.DrawStatus.Zero)
                                                                    {
                                                                        <a href="@Url.Action("Remove", "DrawAdmin", new{ id = item.ID})" class="btn btn-danger">移除</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@Url.Action("Remove", "DrawAdmin", new{ id = item.ID, isDisable = true})" class="btn btn-danger">移除</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->                           
                                <div class="tab-pane" id="tab_2">
                                    @if (Model.ID != 0)
                                    {
                                        <button type="button" class="btn bg-olive" id="add_sort" data-toggle="modal" data-target="#sortModal">
                                            新增排序註解
                                        </button>
                                        <div class="form-group">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <td>排序</td>
                                                        <td>標題</td>
                                                        <td>註解</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody id="award_table">
                                                    @if (Model.DrawSortList != null && Model.DrawSortList.Count() > 0)
                                                    {
                                                        foreach (var item in Model.DrawSortList)
                                                        {
                                                            <tr>
                                                                <td>@item.Sort</td>
                                                                <td>@item.Title</td>
                                                                <td>@item.Annotation</td>
                                                                <td>
                                                                    <input class="btn btn-primary edit_sort" type="button" id="sort_@item.ID" value="編輯" data-toggle="modal" data-target="#sortModal" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->                                
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>

            <!--獎項編輯Modal-->
            <div class="modal fade" id="awardModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 80%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h3 class="modal-title" id="awardModalLabel"></h3>
                        </div>

                        <div class="modal-body">
                            <div class="box-header">
                                <h3 class="box-title">編輯獎項</h3>
                                @*<button type="button" class="btn btn-default" id="copy_award">
                                    複製設定
                                </button>*@
                            </div>
                            <div class="box-body">
                                <input type="hidden" id="award_id" name="award_id" />
                                <input type="hidden" id="award_drawId" name="award_drawId" value="@Model.ID"/>
                                <input type="hidden" id="award_rate" name="award_rate" />

                                <div class="form-group">
                                    <label>獎項名稱</label>
                                    <input id="award_title" name="award_title" class="form-control" />
                                </div>
                                @*<div class="form-group">
                                    <label>占比</label>
                                    <input id="award_rate" name="award_rate" class="form-control" />
                                </div>*@
                                <div class="form-group">
                                    <label>名額</label>
                                    <input id="award_number" name="award_number" class="form-control" type="number"/>
                                </div>
                                <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                    <input type="checkbox" class="form-check-input" id="award_isRepeatable" name="award_isRepeatable" />
                                    <div class="state p-info">
                                        <label>可重複</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" class="btn bg-purple" id="draw_lots" value="開始抽獎" style="display:none;"/>
                                </div>

                                <div class="form-group" id="win_lots_table">
                                    <label>中獎名單</label>
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <td>工號</td>
                                                <td>姓名</td>
                                                <td>部門</td>
                                                <td>排序</td>
                                                <td>註解</td>
                                            </tr>
                                        </thead>
                                        <tbody id="win_table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_award">儲存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        </div>
                    </div>

                </div>

            </div>

            <!--排序註解Modal-->
            <div class="modal fade" id="sortModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" style="max-width: 80%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h3 class="modal-title" id="sortModalLabel"></h3>
                        </div>

                        <div class="modal-body">
                            <div class="box-header">
                                <h3 class="box-title">排序註解</h3>
                            </div>
                            <div class="box-body">
                                <input type="hidden" id="sort_id" name="sort_id" />
                                <input type="hidden" id="sort_drawId" name="sort_drawId" value="@Model.ID"/>
                                <div class="form-group">
                                    <label>排序</label>
                                    <input id="sort_sort" name="sort_sort" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>標題</label>
                                    <input id="sort_title" name="sort_title" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>註解</label>
                                    <input id="sort_annotation" name="sort_annotation" class="form-control" />
                                </div>
                                @*<div class="form-group">
                                    <label>註解</label>
                                    <input id="sort_annotation" name="sort_annotation" class="form-control" />
                                </div>*@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save_sort">儲存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //setDateTime($("#sort_awardDate"), 0);

            $('#add_award').on('click', function () {
                SetDisplay($('#draw_lots'), true);
                SetDisplay($('#win_lots_table'), true);
            })
            $('.edit_award').on('click', function () {
                SetDisplay($('#draw_lots'), false);
                SetDisplay($('#win_lots_table'), false);
                GetAward($(this).attr('id').split('_')[1]);
            })
            $('#add_sort').on('click', function () {
                SetDisabled($('#sort_sort'), false);
            })
            $('.edit_sort').on('click', function () {
                SetDisabled($('#sort_sort'), true);
                GetSort($(this).attr('id').split('_')[1]);
            })
            $('#draw_lots').on('click', function () {                
                DrawLots(parseInt($('#award_id').val()));
            })

            $('#save_award').on('click', function () {
                var Id = $('#award_id').val() == '' ? 0 : parseInt(parseInt($('#award_id').val()));
                var DrawId = @Model.ID;
                var Rate = $('#award_rate').val() == '' ? 0 : parseInt(parseInt($('#award_rate').val()));
                var Number = $('#award_number').val() == '' ? 0 : parseInt(parseInt($('#award_number').val()));
                var saveData = {
                    id: Id,
                    drawId: DrawId,
                    title: $('#award_title').val(),
                    rate: Rate,
                    number: Number,
                    isrepeatable: $('#award_isRepeatable').is(':checked'),
                };
                $.ajax({
                    url: "/DrawAdmin/SaveAward",
                    type: 'POST',
                    anysc: false,
                    dataType: "text",
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#awardModal').modal('toggle');
                        if (response == 'success') {
                            location.reload();
                        }
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            })


            $('#save_sort').on('click', function () {
                var Id = $('#sort_id').val() == '' ? 0 : parseInt(parseInt($('#sort_id').val()));
                var DrawId = @Model.ID;
                var saveData = {
                    id: Id,
                    drawId: DrawId,
                    srot: $('#sort_sort').val(),
                    title: $('#sort_title').val(),
                    annotation: $('#sort_annotation').val(),
                };
                $.ajax({
                    url: "/DrawAdmin/SaveSort",
                    type: 'POST',
                    anysc: false,
                    dataType: "text",
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        $('#awardModal').modal('toggle');
                        if (response == 'success') {
                            location.reload();
                            //$('#award_table').append(`<tr>
                            //                                    <td>${saveData.sort}</td>
                            //                                    <td>${saveData.title}</td>
                            //                                    <td>${saveData.annotation}</td>
                            //                                    <td>
                            //                                        <input class="btn btn-primary edit_sort" type="button" id="sort_25" value="編輯" data-toggle="modal" data-target="#sortModal">
                            //                                    </td>
                            //                                </tr>`);
                        }
                    },
                    error: function (xhr, s, error) {
                        alert(xhr.status);
                        alert(xhr.readyState);
                    }
                });
            })
        })

        function GetAward(id) {
            $('#win_table > tr').remove();
            $.ajax({
                url: "/DrawAdmin/GetAward",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: { 'id': id},
                success: function (data) {
                    console.log(data);
                    var winHtml = '';
                    $('#award_id').val(data.ID);
                    $('#award_drawId').val(data.DrawID);
                    $('#award_title').val(data.Title);
                    $('#award_rate').val(data.Rate);
                    $('#award_number').val(data.Number);
                    $('#award_isRepeatable').prop('checked', data.IsRepeatable);
                    if (data.IsDraw) {
                        SetDisabled($('#award_id'), true);
                        SetDisabled($('#award_drawId'), true);
                        SetDisabled($('#award_title'), true);
                        SetDisabled($('#award_rate'), true);
                        SetDisabled($('#award_number'), true);
                        SetDisabled($('#award_isRepeatable'), true);

                        SetDisplay($('#draw_lots'), true);
                        SetDisplay($('#save_award'), true);
                    }
                    else {
                        SetDisplay($('#draw_lots'), false);
                        SetDisplay($('#save_award'), false);
                    }
                    for (var i = 0; i < data.WinList.length; i++) {
                        var win = data.WinList[i];
                        //var date = new Date(parseInt(win.CreateDate.substr(6)));
                        winHtml += `<tr>
                                            <td>${win.PersonId}</td>
                                            <td>${win.PersonName}</td>                                                 
                                            <td>${win.DeptName}</td>                                                 
                                            <td>${win.Sort+1}</td>                                                 
                                            <td>${win.AwardDate}</td>                                                 
                                        </tr>`
                                          /*  <td>${date.toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}</td>*/
                                          /*  <td><input class="btn btn-primary edit_win" type="button" id="win_${win.ID}" value="編輯" data-toggle="modal" data-target="#winModal"/>*/
                    }
                    $('#win_table').html(winHtml);
                    //$('.edit_win').each(function () {
                    //    $(this).on('click', function () {
                    //        GetSort($(this).attr('id').split('_')[1]);
                    //    });
                    //});
                   
                },
                error: function (xhr, s, error) {
                    alert(xhr.status);
                    alert(xhr.readyState);
                }
            });
        }

        function GetSort(id) {
            $.ajax({
                url: "/DrawAdmin/GetSort",
                type: 'POST',
                anysc: false,
                dataType: "json",
                data: { 'id': id },
                success: function (data) {
                    console.log(data);
                    $('#sort_id').val(data.ID);
                    $('#sort_drawId').val(data.DrawID);
                    $('#sort_sort').val(data.Sort);
                    $('#sort_title').val(data.Title);
                    $('#sort_annotation').val(data.Annotation);
                },
                error: function (xhr, s, error) {
                    alert(xhr.status);
                    alert(xhr.readyState);
                }
            });
        }

        function DrawLots(id) {
            $.ajax({
                url: "/DrawAdmin/DrawLots",
                type: 'POST',
                anysc: false,
                dataType: "text",
                data: { 'id': id },
                success: function (response) {
                    console.log(response);
                    if (response == 'success') {
                        location.reload();
                    }
                    else if (response == 'draw out') {
                        alert('查無可抽獎人員 ! ');
                    }
                },
                error: function (xhr, s, error) {
                    alert(xhr.status);
                    alert(xhr.readyState);
                }
            });
        }
    </script>
}