﻿@model MeetSignIn.Areas.Admin.ViewModels.Competency.CompetencyView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增職能別" : "編輯職能別";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        職能別管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "CompetencyAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ResponsiblePersonId)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ResponsibleName)<br />
                                        @Html.TextBoxFor(model => model.ResponsibleNameStr, new { @class = "form-control", @maxlength = "50" })
                                        <button type="button" class="btn btn-warning" style="margin-top:3px;" id="addName">新增</button>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ResponsibleName, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })                                       
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.ResponsiblePersonId)
                                        @Html.TextBoxFor(model => model.ResponsiblePersonId, new { @class = "form-control", @maxlength = "50" })
                                    </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Depts)<br />
                                        @foreach (var item in Model.DeptOptions)
                                        {
                                            <div class="js-signer-Depts btn dept_btn" id="dept_@item.Value" style="margin: 2px 5px;">@item.Text</div>
                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Depts, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                    </div>
                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var availableNames = [];
             $.ajax({
                url: "/Admin/PersonAdmin/GetFairlyPerson",
                type: 'POST',
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    $.each(response, function (index, item) {
                        availableNames.push(item.Name);
                    });
                }
            });
            $("#ResponsibleNameStr").autocomplete({
                source: availableNames,
                minLength: 2
            });

            var $selectedResponsibleNameType = $('#ResponsibleName');
            var remove;

            $('#addName').on('click', function () {
                $selectedResponsibleNameType.tagsinput('add', $('#ResponsibleNameStr').val());
                $('#ResponsibleNameStr').val('');
            });

            var $selectedDeptType = $('#Depts');

            //Depts
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedDeptType.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Depts').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });
        });
    </script>
}