﻿@model MeetSignIn.Areas.Admin.ViewModels.Audit.AuditIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        簽核
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "AuditAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @*@Html.HiddenFor(model => model.State)*@
                    @Html.HiddenFor(model => model.PersonID)
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.TrainingTitle, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TrainingTitle, new { @class = "form-control", @placeholder = "標題" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.Type, Model.TypeOptions, "---全部---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.State, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.State, Model.StateOptions, "---全部---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PFState, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.PFState, Model.PFStateOptions, "---全部---", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsInvalid, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.IsInvalid, "UseStatusDropDownList", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">顯示承辦資料</label>
                    <div class="col-sm-6">
                        <div class="form-check pretty p-switch p-fill" style="margin-bottom: 10px; padding-top: 10px;">
                            @Html.CheckBoxFor(model => model.IsOfficer, new { @class = "form-check-input lock_switch" })
                            <div class="state p-success">
                                @Html.LabelFor(model => model.IsOfficer, new { @class = "form-check-label", @style = "font-weight:bold; " })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">搜尋</button>
                    </div>
                </div>
            </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">簽核列表</h3>
                </div>
                <div class="box-body">

                    @*<span class="label label-default" style="background-color: #f3db65">f3db65</span>
                    <span class="label label-default" style="background-color: #b4f3ed">b4f3ed</span>
                    <span class="label label-default" style="background-color: #98df97">98df97</span>
                    <span class="label label-default" style="background-color: #ffb1d5">ffb1d5</span>
                    <span class="label label-default" style="background-color: #ffb1d5">ffb1d5</span>*@

                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th>
                                                標題
                                            </th>
                                            <th>
                                                填表人員
                                            </th>
                                            <th data-sorting="Type">
                                                @Html.DisplayNameFor(x => x.Type)
                                            </th>
                                            <th data-sorting="State">
                                                @Html.DisplayNameFor(x => x.State)
                                            </th>
                                            <th data-sorting="IsInvalid">
                                                @Html.DisplayNameFor(x => x.IsInvalid)
                                            </th>
                                            <th data-sorting="CreateDate">
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th>待審資料</th>
                                            <th>相關資料</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            string typeStr = item.Type.ToString();
                                            string stateStr = item.State.ToString();
                                            string planUrl = "";
                                            string editUrl = "";
                                            string personUrl = "";
                                            switch (item.Type)
                                            {
                                                case 1://External
                                                    planUrl = "/Admin/TrainingAdmin/ExternalEdit/" + item.TrainingID;
                                                    personUrl = "/Admin/TrainingPersonAdmin?TraningID=" + item.TrainingID;
                                                    editUrl = "/Admin/TrainingAdmin/External?trainingId=" + item.TrainingID + "&FromAudit=True";
                                                    break;
                                                case 2://Internal
                                                    planUrl = "/Admin/TrainingAdmin/Edit/" + item.TrainingID;
                                                    personUrl = "/Admin/TrainingPersonAdmin?TraningID=" + item.TrainingID;
                                                    editUrl = "/Admin/TrainingAdmin/Internal?trainingId=" + item.TrainingID + "&FromAudit=True";
                                                    break;
                                                case 6://ExternalAcceptance
                                                    editUrl = "/Admin/ExternalAcceptanceAdmin/Edit/" + item.TargetID + "?trainingId=" + item.TrainingID + "&personId=" + item.PersonID + "&FromAudit=True";
                                                    break;
                                                case 7://InternalAcceptance
                                                    editUrl = "/Admin/InternalAcceptanceAdmin/Edit/" + item.TargetID + "?trainingId=" + item.TrainingID + "&personId=" + item.PersonID + "&FromAudit=True";
                                                    break;
                                                case 8://SeminarPlan
                                                    editUrl = "/Admin/TrainingAdmin/SeminarEdit/" + item.TrainingID + "?FromAudit=True";
                                                    break;
                                                case 9://PersonKPI
                                                    editUrl = "/Admin/PersonKPIAdmin/Edit?kpiId=" + item.TrainingID + "&personId=" + item.PersonID + "&FromAudit=True";
                                                    break;
                                                case 10://PFAppraise
                                                    editUrl = "/Admin/PFAppraiseAdmin/Edit/" + item.TargetID + "?FromAudit=True";
                                                    break;
                                                case 11://CloseExternalTraining
                                                    editUrl = "/Admin/TrainingAdmin/ExternalEdit/" + item.TrainingID ;
                                                    break;
                                                case 12://CloseInternalTraining
                                                    editUrl = "/Admin/TrainingAdmin/Edit/" + item.TrainingID;
                                                    break;
                                                case 13://CloseInternalTraining
                                                    editUrl = "/Admin/TrainingAbnormalAdmin/Edit/" + item.TargetID + "?tid=" + item.TrainingID + "&FromAudit=True";
                                                    break;
                                            }
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.TrainingTitle
                                                </td>
                                                <td>
                                                    @if (item.Type > (int)MeetSignIn.Models.AuditType.Internal)
                                                    {
                                                        <label class="label bg-orange" style="background-color: #9f2222e0 !important;">@item.PersonName</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="label bg-teal">@item.OfficerName</label>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Type, "_AuditTypeStatus")
                                                </td>
                                                <td>
                                                    @if (item.Type != 10)
                                                    {
                                                        @Html.DisplayFor(model => item.State, "_AuditStateStatus")
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(model => item.State, "_AuditPFStateStatus")
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.IsInvalid)
                                                    {
                                                        <span class="label label-danger">駁回</span>
                                                    }
                                                </td>
                                                <th>
                                                    @item.CreateDate.ToString("yyyy/MM/dd")
                                                </th>
                                                <td>
                                                    <a class="btn btn-warning" href="@editUrl" style="margin: 2px;">待審資料</a>
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(planUrl))
                                                    {
                                                        <a class="btn btn-primary" href="@planUrl" style="margin: 2px;">課程資料</a>
                                                        <a class="btn btn-info" href="@personUrl" style="margin: 2px;">課程名單</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.TrainingTitle)
                                            </th>
                                            <th>
                                                填表人員
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.State)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsInvalid)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th>待審資料</th>
                                            <th>相關資料</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


