﻿@model MeetSignIn.Areas.Admin.ViewModels.ClassOpinion.ClassOpinionView
@{
    ViewBag.Title = "Edit";
    //string title = Model.ID == 0 ? "新增課後行動方案" : "編輯課後行動方案";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    var auditInfo = Model.AuditInfo;
    Model.IsAudit = adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor && adminInfo.Account != Model.PersonID;
    System.Globalization.CultureInfo taiwanCulture = new System.Globalization.CultureInfo("zh-TW");
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @MeetSignIn.Resources.ClassOpinion.Index.TrainingClassOpinion
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> @MeetSignIn.Resources.Shared.Index.Home</a></li>
        <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = Model.PersonID })">@MeetSignIn.Resources.ClassOpinion.Index.Training</a></li>
        <li class="active">【@Model.TrainingInfo.Title】 @MeetSignIn.Resources.ClassOpinion.Index.ClassOpinion</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@MeetSignIn.Resources.ClassOpinion.Index.ClassOpinion</h3>

                    @*<div class="pretty p-default p-curve">
                        <input type="radio" class="language" name="language" value="zh_TW" />
                        <div class="state p-primary-o">
                            <label>Chinese(TW)</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve">
                        <input type="radio" class="language" name="language" value="en_US" />
                        <div class="state p-primary-o">
                            <label>English</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve">
                        <input type="radio" class="language" name="language" value="th_TH" />
                        <div class="state p-primary-o">
                            <label>Thai</label>
                        </div>
                    </div>*@

                    @*@if (Model.IsAudit && adminInfo.Account == Model.PersonID)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Edit", "ClassOpinionAdmin", new { trainingId = Model.TrainingID, personId = Model.PersonID, isNew = true }, new { @class = "btn btn-default bg-maroon", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                    }*@
                </div>

                @using (Html.BeginForm("Edit", "ClassOpinionAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.PersonID)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Name</label>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.Name" disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.TrainingTitle</label>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.TrainingInfo.Title" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.TrainingTime</label>
                                        <span>@Model.TrainingInfo.StartDate</span>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.TrainingInfo.StartDate.ToString("yyyy/MM/dd", taiwanCulture) - @Model.TrainingInfo.EndDate.ToString("yyyy/MM/dd", taiwanCulture)" disabled />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Organizer</label>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.TrainingInfo.DeptName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Location</label>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.TrainingInfo.RoomStr" disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Lecturer</label>
                                        <input class="form-control lock_disabled" maxlength="50" value="@Model.TrainingInfo.Lecturer" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                        <h3 style="font-weight:bold; color: #a84040">@MeetSignIn.Resources.ClassOpinion.Edit.Plan</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color:#767676;">@MeetSignIn.Resources.ClassOpinion.Edit.Description</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Opinion</h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Suggestion</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Compatibility</label>
                                    </div>
                                    @{ 
                                        Model.IsAudit = false;
                                    }
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "7")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "6")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "5")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "4")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "3")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "2")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Compatibility, "1")
                                                <div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Compatibility, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Compatibility)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.CompatibilityOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Architecture</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Architecture, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Architecture, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Architecture)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.ArchitectureOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Schedule</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Schedule, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Schedule, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Schedule)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.ScheduleOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.CourseMaterials</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CourseMaterials, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.CourseMaterials, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.CourseMaterials)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.CourseMaterialsOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Device</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Device, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Device, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Device)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.DeviceOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                        <h3 style="font-weight:bold; color: #a84040">@MeetSignIn.Resources.ClassOpinion.Edit.Lecturer</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color:#767676;">@MeetSignIn.Resources.ClassOpinion.Edit.Description</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Opinion</h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Suggestion</h4>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Professional</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Professional, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Professional, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Professional)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.ProfessionalOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Expression</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Expression, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Expression, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.Expression)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.ExpressionOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.TimeControl</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TimeControl, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.TimeControl, "_SatisfyResult")
                                            @Html.HiddenFor(model => model.TimeControl)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.TimeControlOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.TeachingMethod</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VerySatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Satisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Fair</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SlightlyDissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Dissatisfied</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.TeachingMethod, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.VeryDissatisfied</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.TeachingMethod, "_AgreeResult")
                                            @Html.HiddenFor(model => model.TeachingMethod)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.TeachingMethodOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Recommended</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Agree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.PartiallyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SomewhatDisagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Disagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.Recommended, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyDisagree</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.Recommended, "_AgreeResult")
                                            @Html.HiddenFor(model => model.Recommended)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.RecommendedOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                        <h3 style="font-weight:bold; color: #a84040">@MeetSignIn.Resources.ClassOpinion.Edit.Reward</h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color:#767676;">@MeetSignIn.Resources.ClassOpinion.Edit.Description</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Opinion</h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4 style="font-weight: bold; color: #767676; ">@MeetSignIn.Resources.ClassOpinion.Edit.Suggestion</h4>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.ActualUsage</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Agree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.PartiallyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SomewhatDisagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Disagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ActualUsage, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyDisagree</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.ActualUsage, "_AgreeResult")
                                            @Html.HiddenFor(model => model.ActualUsage)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.ActualUsageOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.CurrentUsage</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Agree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.PartiallyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SomewhatDisagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Disagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.CurrentUsage, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyDisagree</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.CurrentUsage, "_AgreeResult")
                                            @Html.HiddenFor(model => model.CurrentUsage)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.CurrentUsageOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.FutureUsage</label>
                                    </div>
                                    @if (!Model.IsAudit)
                                    {
                                        <div class="col-sm-8">
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "7")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "6")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Agree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "5")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.PartiallyAgree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "4")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Noramal</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "3")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.SomewhatDisagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "2")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Disagree</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.FutureUsage, "1")<div class="state p-success-o">
                                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.StronglyDisagree</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(model => Model.FutureUsage, "_AgreeResult")
                                            @Html.HiddenFor(model => model.FutureUsage)
                                        </div>
                                    }
                                    <div class="col-sm-2">
                                        @Html.TextAreaFor(model => model.FutureUsageOpinion, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize:none;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                        <h3 style="font-weight:bold; color: #a84040">@MeetSignIn.Resources.ClassOpinion.Edit.Suitability</h3>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>@MeetSignIn.Resources.ClassOpinion.Edit.Difficulty</label>
                                </div>
                                @if (!Model.IsAudit)
                                {
                                    <div class="col-sm-10">
                                        <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.Difficulty, "1")<div class="state p-success-o">
                                                <label>@MeetSignIn.Resources.ClassOpinion.Edit.Difficult</label>
                                            </div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.Difficulty, "2")<div class="state p-success-o">
                                                <label>@MeetSignIn.Resources.ClassOpinion.Edit.Appropriate</label>
                                            </div>
                                        </div>
                                        <div class="pretty p-default p-curve p-bigger " style="margin-top:10px;">
                                            @Html.RadioButtonFor(model => model.Difficulty, "3")<div class="state p-success-o">
                                                <label>@MeetSignIn.Resources.ClassOpinion.Edit.Easy</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-10">
                                        <label class="label label-success">@(MeetSignIn.Utility.Helpers.EnumHelper.GetDescription((MeetSignIn.Models.DifficultyRadio)Model.Difficulty))</label>
                                        @*<label>@MeetSignIn.Resources.ClassOpinion.Edit.CourseTitle</label>*@
                                        @Html.HiddenFor(model => model.Difficulty)
                                    </div>
                                }

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Expect</label>
                                        @Html.TextAreaFor(model => model.Expect, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                        @Html.ValidationMessageFor(model => model.Expect, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>@MeetSignIn.Resources.ClassOpinion.Edit.Advice</label>
                                        @Html.TextAreaFor(model => model.Advice, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                        @Html.ValidationMessageFor(model => model.Advice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.OfficerAudit)
                                @Html.HiddenFor(model => model.OfficerRemark)
                                @Html.HiddenFor(model => model.OfficerSignature)
                                @Html.HiddenFor(model => model.OfficerAuditDate)
                                @Html.HiddenFor(model => model.ManagerAudit)
                                @Html.HiddenFor(model => model.ManagerRemark)
                                @Html.HiddenFor(model => model.ManagerSignature)
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                                @Html.HiddenFor(model => model.ViceAudit)
                                @Html.HiddenFor(model => model.ViceRemark)
                                @Html.HiddenFor(model => model.ViceSignature)
                                @Html.HiddenFor(model => model.ViceAuditDate)
                                @Html.HiddenFor(model => model.PrincipalAudit)
                                @Html.HiddenFor(model => model.PrincipalRemark)
                                @Html.HiddenFor(model => model.PrincipalSignature)
                                @Html.HiddenFor(model => model.PrincipalAuditDate)
                                @Html.HiddenFor(model => model.PresidentAudit)
                                @Html.HiddenFor(model => model.PresidentRemark)
                                @Html.HiddenFor(model => model.PresidentSignature)
                                @Html.HiddenFor(model => model.PresidentAuditDate)

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-10">
                            <button id="SaveBtn" type="button" class="btn btn-primary">@MeetSignIn.Resources.Shared.Index.Save</button>
                            @Html.ActionLink(MeetSignIn.Resources.Shared.Index.Cancel, "Participate", "TrainingAdmin", new { PersonID = adminInfo.Account }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#SaveBtn').on('click', function () {
                $('#EditForm').submit();
            });
            if ($('#IsAudit').val() == 'True') {
                $('.lock_disabled').each(function () {
                    $(this).attr('disabled', true);
                });
            }

            //$('language').on('change', function () {
            //    var lang = $(this).val();
            //    location.href = ;
            //})

            //$('.audit_radio').on('click', function () {
            //    var radioValue = $("input[name='" + $(this).attr("name") + "']:checked").val();
            //    //console.log(radioValue);
            //    if (radioValue == '2' || radioValue == '3') {
            //        if (!confirm('此為簽核動作，一旦儲存將無法修改，確認要執行此動作媽?')) {
            //            return false;
            //        }
            //    }
            //});
        })
    </script>
}