﻿<section class="content-header">
    <h1>
        @MeetSignIn.Resources.ClassOpinion.Index.ClassOpinion
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@MeetSignIn.Resources.ClassOpinion.Index.OpinionPersonId</h3>
                </div>

                @using (Html.BeginForm("ToOpinion", "ClassOpinionAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" id="trainingId" name="trainingId" value="@ViewBag.TrainingID"/>
                    <div class="box-body">
                        <div class="form-group">
                            <label>@MeetSignIn.Resources.ClassOpinion.Index.PersonId</label>
                          <input type="text" id="personId" name="personId" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <div class="pretty p-default p-curve">
                                <input type="radio" name="language" value="zh_TW"/>
                                <div class="state p-primary-o">
                                    <label>Chinese(TW)</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-curve">
                                <input type="radio" name="language" value="en_US" />
                                <div class="state p-primary-o">
                                    <label>English</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-curve">
                                <input type="radio" name="language" value="th_TH" />
                                <div class="state p-primary-o">
                                    <label>Thai</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">@MeetSignIn.Resources.Shared.Index.Comfirm</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

