﻿@model MeetSignIn.Areas.Admin.ViewModels.TrainingAbnormal.TrainingAbnormalView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增異動單" : "編輯異動單";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();

    int reject = (int)MeetSignIn.Models.ApprovalState.Reject;
    int approved = (int)MeetSignIn.Models.ApprovalState.Approved;
    bool isCreater = adminInfo.ID == Model.TrainingInfo.Creater;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        異動管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3><br />
                    <code>以下所有欄位皆須填寫，如無資料則填"無"</code>
                </div>

                @using (Html.BeginForm("Edit", "TrainingAbnormalAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Title)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.DisplayFor(model => Model.Category, "_TrainingCategory")
                                        <p class="form-control" style="background-color: #efefef;">@Model.Title</p>
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>*@
                                    @if (Model.IsAudit)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Lecturer)
                                            @Html.TextAreaFor(model => model.Lecturer, new { @class = "form-control", @disabled = "true" })
                                             @Html.HiddenFor(model => model.Lecturer)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Location)
                                            @Html.TextAreaFor(model => model.Location, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Location)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Schedule)
                                            @Html.TextAreaFor(model => model.Schedule, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Schedule)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Device)
                                            @Html.TextAreaFor(model => model.Device, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Device)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Material)
                                            @Html.TextAreaFor(model => model.Material, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Material)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Reason)
                                            @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Reason)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Responsibility)
                                            @Html.TextAreaFor(model => model.Responsibility, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Responsibility)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Method)
                                            @Html.TextAreaFor(model => model.Method, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Method)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Measure)
                                            @Html.TextAreaFor(model => model.Measure, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Measure)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Track)
                                            @Html.TextAreaFor(model => model.Track, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.Track)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Lecturer)
                                            @Html.TextAreaFor(model => model.Lecturer, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Location)
                                            @Html.TextAreaFor(model => model.Location, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Schedule)
                                            @Html.TextAreaFor(model => model.Schedule, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Device)
                                            @Html.TextAreaFor(model => model.Device, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Material)
                                            @Html.TextAreaFor(model => model.Material, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Reason)
                                            @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Responsibility)
                                            @Html.TextAreaFor(model => model.Responsibility, new { @class = "form-control", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Responsibility, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Method)
                                            @Html.TextAreaFor(model => model.Method, new { @class = "form-control", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Method, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Measure)
                                            @Html.TextAreaFor(model => model.Measure, new { @class = "form-control", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Measure, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Track)
                                            @Html.TextAreaFor(model => model.Track, new { @class = "form-control", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Track, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsAudit, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsAudit, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>*@
                                    }
                                </div>
                                <!-- /.tab-pane -->

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                    </div>
                                </div>
                                @if (isCreater && Model.OfficerAudit <= 1)
                                {//承辦人
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.OfficerRemark)
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.OfficerRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }

                                @if ((Model.AuditLevelInfo != null || Model.TrainingInfo.Creater == 1) && !isCreater)
                                {
                                    bool activeAudit = false;
                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                    {//主管
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ManagerAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark)
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                                    {//副總
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ViceAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark)
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ViceAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceRemark)
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                                    {//總經理
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PresidentAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark)
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PresidentAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentRemark)
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }

                                    //if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Principal && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                    if (adminInfo.IsPrincipal && !activeAudit && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                    {//校長
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PrincipalAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark)
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PrincipalAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalRemark)
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerAuditDate)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceAuditDate)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentAuditDate)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalAuditDate)
                                }

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                    </div>
                                </div>
                                @Html.DisplayFor(model => Model, "_AuditSignature")

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (Model.PrincipalAudit > 1)
                        {
                            <p class="label label-success">已核准</p>
                        }
                        else
                        {
                            <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        }
                        @if (Model.ID != 0 && !Model.IsAudit && isCreater)
                        {
                            <button id="SendCreateAudit" type="button" class="btn btn-warning">送審</button>
                        }

                        @if (Model.FromAudit)
                        {
                            int stateInt = 0;
                            switch (adminInfo.Type)
                            {
                                case (int)MeetSignIn.Models.AdminType.Manager:
                                    stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.Vice:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                    break;
                                //case (int)MeetSignIn.Models.AdminType.Principal:
                                //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                //    break;
                                case (int)MeetSignIn.Models.AdminType.President:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                    break;
                            }
                            if (adminInfo.IsPrincipal)
                            {
                                stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                            }
                            @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#SendCreateAudit').on('click', function () {
                if (confirm('確定將資料送審嗎?')) {
                    $('#IsAudit').val(true);
                    $('#EditForm').submit();
                }
            });
        })
    </script>
}