﻿@model MeetSignIn.Areas.Admin.ViewModels.TrainingAbnormal.TrainingAbnormalIndexView

@{
    string returnAction = "Edit";
    if (Model.Category == (int)MeetSignIn.Models.Category.External)
    {//外訓
        returnAction = "ExternalEdit";
    }
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Title - 異動管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                    @Html.ActionLink("返回教育訓練【" + Model.Title + "】", returnAction, "TrainingAdmin", new { ID = Model.TrainingID }, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                </div>
                @using (Html.BeginForm("Index", "TrainingAbnormalAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.TrainingID)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @if (Model.TrainingInfo.EndDate > DateTime.Now)
                                {
                                    @Html.ActionLink("填寫異動單", "Edit", "TrainingAbnormalAdmin", new { tid = Model.TrainingID }, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">異動紀錄列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Reason)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => item.Category, "_TrainingCategory")
                                                    @item.Title
                                                </td>
                                                <td>
                                                    @item.Reason
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("yyyy-MM-dd")
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(model => item.IsAudit, "_Status")
                                                    </td>*@
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "TrainingAbnormalAdmin", new { id = item.ID, tid = Model.TrainingID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Reason)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <script>
        $(function () {
            //datetimepicker
            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 0);
        });
    </script>
}


