﻿@model MeetSignIn.Areas.Admin.ViewModels.PFWork.PFWorkIndexView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增評比作業" : "編輯評比作業";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        評比作業管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PFWorkAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeptId)
                    @Html.HiddenFor(model => model.ClassID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptId)
                                        <input type="text" class="form-control" value="@Model.DeptId @Model.DeptName" disabled />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ClassID)
                                        <input type="text" class="form-control" value="@Model.ClassName" disabled />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Points)
                                        <input type="number" id="Points" class="form-control" value="@Model.Points" disabled />
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ThaiTitle)
                                        @Html.TextBoxFor(model => model.ThaiTitle, new { @class = "form-control", @maxlength = "100" })
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", "PFWorkAdmin", new { DeptId = Model.DeptId, ClassID = Model.ClassID }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
           
        })
    </script>
}