﻿@model MeetSignIn.Areas.Admin.ViewModels.Check.CheckView
@{
    ViewBag.Title = "Edit";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        KPI簽核管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Index", "CheckAdmin")"> KPI簽核列表</a></li>
        <li class="active">KPI簽核</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">審核</h3>
                </div>
                @using (Html.BeginForm("Edit", "CheckAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.TargetID)
                    @Html.HiddenFor(model => model.TargetType)
                    @Html.HiddenFor(model => model.AuditDate)

                    string targetTypeStr = MeetSignIn.Utility.Helpers.EnumHelper.GetDescription((MeetSignIn.Models.TargetType)Model.TargetType);
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TargetType)<!--對象類型-->
                            @if (Model.TargetType == (int)MeetSignIn.Models.TargetType.KPI)
                            {
                                <span class="label bg-navy">@targetTypeStr</span>
                            }
                            else
                            {
                                <span class="label label-light bg-gray">@targetTypeStr</span>
                            }
                        </div>
                        @if (Model.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPIState)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentKPITitle)<!--部門KPI-->
                                @Html.TextBoxFor(model => model.ParentKPITitle, new { @class = "form-control", @disabled = "true" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.TargetTitle)<!--待審KPI標題/個人目標-->
                            <span class="label label-light" style="background-color:#a6c4ca;">@Model.TargetTitle</span>
                        </div>
                        <!--類型資料-->
                        @if (Model.TargetType == (int)MeetSignIn.Models.TargetType.KPI)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Dept)<!--涵蓋部門-->
                                @if (!string.IsNullOrEmpty(Model.Dept))
                                {
                                    foreach (var dept in Model.Dept.Split(','))
                                    {
                                        if (!string.IsNullOrEmpty(dept))
                                        {
                                            <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = dept })" class="label dept-tag" style="background-color: #a97d63; color: #fff;">@dept</a>
                                        }
                                    }
                                }
                            </div>
                        }
                        else if (Model.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPI || Model.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPIState)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.DeptName)<!--審核對象部門-->
                                <a href="@Url.Action("Index", "DeptKPIAdmin", new { Dept = Model.DeptName })" class="label dept-tag" style="margin: 0px !important; background-color: #a97d63; color: #fff;">@Model.DeptName</a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonName)<!--人員姓名-->
                                <span class="label label-light" style="background-color: #eadcb4;">@Model.PersonName</span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApprovalState)<!--審核狀態-->
                            <div class="pretty p-icon p-round">
                                @Html.RadioButtonFor(model => model.ApprovalState, "2")
                                <div class="state p-primary-o">
                                    <i class="icon fa fa-check"></i>
                                    <label>審核通過</label>
                                </div>
                            </div>
                            <div class="pretty p-icon p-round">
                                @Html.RadioButtonFor(model => model.ApprovalState, "3")
                                <div class="state p-primary-o">
                                    <i class="icon fa fa-check"></i>
                                    <label>審核駁回</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remark)<!--備註-->
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AttachFile)<!--附件-->
                            @Html.TextBoxFor(model => model.AttachFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                            <code>請上傳總和不超過10MB的檔案</code>
                            @Html.ValidationMessageFor(model => model.AttachFile, "", new { @class = "text-danger" })
                            @if (Model.AttachList != null && Model.AttachList.Count() > 0)
                            {
                                foreach (var item in Model.AttachList)
                                {
                                    <img src="~/FileUploads/CheckPhoto/@item.File" class="img-thumbnail" style="width:400px" />
                                    <br />
                                }
                            }

                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.ApprovalState != (int)MeetSignIn.Models.ApprovalState.Approved && Model.ApprovalState != (int)MeetSignIn.Models.ApprovalState.Reject)
                        {
                            <button type="submit" class="btn btn-primary">儲存</button>
                        }
                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin)
                        {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin-left:3px;" })
                        }
                    </div>
                }
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


            @if (Model.ChildKPIList != null && Model.ChildKPIList.Count() > 0)
            {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">相關指標</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.TargetTitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.ApprovalState)</th>
                                                @*<th>@Html.DisplayNameFor(x => x.IsOnline)</th>*@
                                                <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="depe_kpi_tbody">

                                                @foreach (var item in Model.ChildKPIList)
                                                {
                                                    <tr id="personkpi_id_@item.ID">
                                                        <td>@item.ID</td>
                                                        <td>@item.Title</td>
                                                        @*<td value="@item.ApprovalState">@Html.DisplayFor(model => item.ApprovalState, "_ApprovalStatus")</td>*@
                                                        <th>@item.CreateDate.ToString("yyyy/MM/dd HH:mm")</th>                                                        
                                                    </tr>
                                                }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(x => x.TargetTitle)</th>
                                                <th>@Html.DisplayNameFor(x => x.ApprovalState)</th>
                                                @*<th>@Html.DisplayNameFor(x => x.IsOnline)</th>*@
                                                <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            }
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
        });
    </script>
}
