﻿@model MeetSignIn.Areas.Admin.ViewModels.Check.CheckIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        KPI簽核管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li class="active">KPI簽核列表</li>
    </ol>
</section>

@*<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">搜尋</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Index", "CheckAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonId, new { @class = "col-sm-2 control-label" })
                            @Html.TextBoxFor(model => model.PersonId, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApprovalState, new { @class = "col-sm-2 control-label" })
                            @Html.DropDownListFor(model => model.ApprovalState, Model.DeptOptions, "---課別---", new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">搜尋</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">KPI審核列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.TargetType)</th>
                                            <th width="20%">@Html.DisplayNameFor(x => x.TargetTitle)</th>
                                            <th width="10%">@Html.DisplayNameFor(x => x.ParentKPITitle)</th>
                                            <th>@Html.DisplayNameFor(x => x.PersonName)</th>
                                            <th width="10%">@Html.DisplayNameFor(x => x.ApprovalState)</th>
                                            <th width="10%">@Html.DisplayNameFor(x => x.AuditDate)</th>
                                            <th width="15%">@Html.DisplayNameFor(x => x.Auditors)</th>
                                            <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                            <th width="15%">@Html.DisplayNameFor(x => x.Creater)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.PageResult.Data.Count() > 0)
                                        {
                                            foreach (var item in Model.PageResult.Data)
                                            {
                                                string typeStr = item.TargetTypeOptions.Where(q => q.Value == item.TargetType.ToString()).FirstOrDefault().Text;
                                                <tr>
                                                    <td>
                                                        @if (item.TargetType == (int)MeetSignIn.Models.TargetType.KPI)
                                                        {
                                                            <span class="label bg-navy">@typeStr</span>
                                                        }
                                                        else if (item.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPI)
                                                        {
                                                            <span class="label label-light bg-gray">@typeStr</span>
                                                        }
                                                        else if (item.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPIState)
                                                            {
                                                                <span class="label label-light bg-gray">@typeStr</span>
                                                            }
                                                    </td>
                                                    <td>
                                                        @if (item.TargetType == (int)MeetSignIn.Models.TargetType.KPI || item.TargetType == (int)MeetSignIn.Models.TargetType.PersonKPI)
                                                        {
                                                            <span class="label label-light" style="background-color: #c18c78;">@item.TargetTitle</span>
                                                        }
                                                        else
                                                            {
                                                                <span class="label label-light" style="background-color: #829761;">@item.TargetTitle</span>
                                                            }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.ParentKPITitle))
                                                        {
                                                            <span class="label label-light" style="background-color: #7b8eab;">@item.ParentKPITitle </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.DeptName) && !string.IsNullOrEmpty(item.PersonName))
                                                        {
                                                            <span class="label label-light" style="background-color: #ab9a6b;">@item.DeptName-@item.PersonName</span>
                                                        }
                                                    </td>
                                                    <td>@Html.DisplayFor(model => item.ApprovalState, "_ApprovalStatus")</td>
                                                    <td><span class="text-secondary text text-sm">@(item.AuditDate > Convert.ToDateTime("2000/01/01") ? item.AuditDate.ToString("yyyy/MM/dd") : "尚未審核")</span></td>
                                                    <td><span class="text text-dark text-sm">@item.AuditorName</span></td>
                                                    <td><span class="text-dark text text-sm">@item.CreateDate.ToString("yyyy/MM/dd")</span></td>
                                                    <td><span class="text text-dark text-sm">@item.CreaterName</span></td>
                                                    <td>
                                                        <a href="@Url.Action("Edit", "CheckAdmin", new { id = item.ID })" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(x => x.TargetType)</th>
                                            <th>@Html.DisplayNameFor(x => x.TargetTitle)</th>
                                            <th>@Html.DisplayNameFor(x => x.ParentKPITitle)</th>
                                            <th>@Html.DisplayNameFor(x => x.PersonName)</th>
                                            <th>@Html.DisplayNameFor(x => x.ApprovalState)</th>
                                            <th>@Html.DisplayNameFor(x => x.AuditDate)</th>
                                            <th>@Html.DisplayNameFor(x => x.Auditors)</th>
                                            <th>@Html.DisplayNameFor(x => x.CreateDate)</th>
                                            <th>@Html.DisplayNameFor(x => x.Creater)</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
    </div>
</section>

@section scripts{

}
