﻿@model MeetSignIn.Areas.Admin.ViewModels.Room.RoomView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增會議室" : "編輯會議室";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        會議室管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "RoomAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RoomNumber)
                                        @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FactoryID)
                                        @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Place)
                                        @Html.TextBoxFor(model => model.Place, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.Status, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    
}