﻿@model MeetSignIn.Areas.Admin.ViewModels.Room.RoomIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        會議室管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "RoomAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                   
                        <div class="form-group">
                            @Html.LabelFor(model => model.RoomNumber, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control", @placeholder = "會議室編號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                        </div>                        
                        
                       <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Status, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增會議室", "Edit", "RoomAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">會議室列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Place)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Status)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.FactoryStr
                                                </td>
                                                <td>
                                                    @item.Place
                                                </td>
                                                <td>
                                                    @item.RoomNumber
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Status, "_Status")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("查看", "Edit", "RoomAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.FactoryID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Place)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Status)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


