﻿@model MeetSignIn.Areas.Health.ViewModels.TemperatureView
@{

}

<style>
    .contact_form {
        width: 100%;
        height: 46px;
        border-radius: 7px;
        background-color: transparent;
        border: 1px solid #8d99af;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #3d4554;
        padding: 0px 15px;
        margin-bottom: 30px;
    }

    .contact_btn {
        margin-bottom: -15px;
        display: inline-block;
        background-color: #8d99af;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        padding: 12px 25px;
        border-radius: 7px;
        letter-spacing: 0.25px;
        border: none;
        outline: none;
        transition: all .3s;
    }

        .contact_btn:hover {
            background-color: #2b2d42;
            color: #fff;
        }

    .mask {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 2;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    .pop {
        display: none;
        position: absolute;
        top: 52%;
        left: 40%;
        transform: translate(-50%, -50%);
        /*width: 90%;
            height: 60%;*/
        /*text-align: center;*/
        background-color: #e8eae6;
        box-sizing: border-box;
        padding: 4%;
        padding-top:1%;
        z-index: 100;
        /*to hide popup initially*/
    }

    .close-btn {
        position: absolute;
        right: 20px;
        top: 15px;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 4px;
    }

</style>

<div style="background:url(/Content/images/healthcare-background.jpg)">
    <div class="page-heading" style="background-image: none !important; padding: 150px 0px 0px 0px; !important">
        <div class="container" style="padding: 80px !important;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <h6 style="margin-left: 35px !important;">@DateTime.Now.ToString("yyyy/MM/dd")</h6>
                        <h2>健康自主管理</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-page" style="margin:0px !important;">
        <div class="container" style="padding: 0px 0px 160px 0px !important;">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-content" style="padding: 80px !important;">
                        <div class="row">
                            @*<div class="col-lg-6">
                                    <div id="map">
                                        <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>*@
                            <div class="col-lg-12 align-self-center">
                                @using (Html.BeginForm("Index", "Temperature", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.ID)

                                    <div class="row" style="padding:10px;">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <strong style="color:red;">*</strong>@Html.LabelFor(model => model.PersonID, new { @class = "", @style = "font-weight:bold; " }) / หมายเลขงาน
                                                @Html.TextBoxFor(model => model.PersonID, new { @class = "contact_form", @type = "number", @required = "true" })
                                                @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <strong style="color:red;">*</strong>@Html.LabelFor(model => model.Birthday, new { @class = "", @style = "font-weight:bold; " }) / วันเกิด
                                                @Html.TextBoxFor(model => model.Birthday, new { @class = "contact_form", @type = "number", @placeholder = "ex. 20220512", @required = "true" })
                                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <strong style="color:red;">*</strong>@Html.LabelFor(model => model.BodyTemperature, new { @class = "", @style = "font-weight:bold; " }) / อุณหภูมิร่างกาย
                                                @Html.DropDownListFor(model => model.BodyTemperature, Model.TemperatureOptions, new { @class = "contact_form" })

                                                @Html.ValidationMessageFor(model => model.BodyTemperature, "", new { @class = "text-danger" })
                                            </fieldset>
                                        </div>

                                        <div class="col-lg-12">
                                            <fieldset>
                                                <div class="pretty p-icon p-round" style="margin-bottom: 30px !important; ">
                                                    @Html.CheckBoxFor(model => model.IsAbnormal, new { @class = "" })
                                                    <div class="state">
                                                        <i class="icon fa fa-check"></i>
                                                        @Html.LabelFor(model => model.IsAbnormal, new { @class = "", @style = "font-weight:bold; " }) / ความผิดปกติทางกายภาพ
                                                    </div>
                                                </div>

                                                @Html.ValidationMessageFor(model => model.IsAbnormal, "", new { @class = "text-danger" })
                                            </fieldset>
                                        </div>
                                        <div id="abnormal_detail" style="display:none;">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    @Html.LabelFor(model => model.AbnormalDescription, new { @class = "", @style = "font-weight:bold; " })

                                                    @Html.HiddenFor(model => model.AbnormalDescriptionStr)
                                                    <div id="op_list">
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="1" value="1" type="checkbox" />
                                                                <label>乾咳 / ไอแห้ง</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="2" value="2" type="checkbox" />
                                                                <label>喉嚨痛 / เจ็บคอ</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="3" value="3" type="checkbox" />
                                                                <label>發燒 / ไข้</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="9" value="9" type="checkbox" />
                                                                <label>
                                                                    鼻塞 流鼻水 / คัดจมูก น้ำมูกไหล
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="10" value="10" type="checkbox" />
                                                                <label>腹瀉 / ท้องเสีย</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="4" value="4" type="checkbox" />
                                                                <label>本人或密切接觸者有確診者 / ฉันหรือผู้ติดต่อที่ใกล้ชิดของฉันได้รับการยืนยันเคสแล้ว</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="5" value="5" type="checkbox" />
                                                                <label>本人或密切接觸者有疑似病例者 / ผู้ที่มีเคสต้องสงสัยในตัวเองหรือคนใกล้ชิด</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="6" value="6" type="checkbox" />
                                                                <label>本人或密切接觸者有遭居家檢疫者 / ฉันหรือผู้ติดต่อที่ใกล้ชิดอยู่ภายใต้การกักกันที่บ้าน</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="7" value="7" type="checkbox" />
                                                                <label>本人與確診案例同時段出現於活動地點，或有收到來自中央疫情指揮中心的疫情警示相關訊息者 / บุคคลที่ปรากฏตัว ณ สถานที่เกิดเหตุพร้อมกับผู้ป่วยที่ได้รับการยืนยัน หรือผู้ที่ได้รับข้อความเตือนโรคระบาดจากศูนย์บัญชาการแพร่ระบาดกลาง</label>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div style="padding-bottom:0px;">
                                                            <div class="p-default p-round p-thick">
                                                                <input class="ot" id="8" value="8" type="checkbox" />
                                                                <label>其他 / อื่นๆ</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<select id="op_list">
                                                            <option class="ot" value="1">乾咳</option>
                                                            <option class="ot" value="2">喉嚨痛</option>
                                                            <option class="ot" value="3">發燒</option>
                                                            <option class="ot" value="4">本人或密切接觸者有確診者</option>
                                                            <option class="ot" value="5">本人或密切接觸者有疑似病例者</option>
                                                            <option class="ot" value="9">本人或密切接觸者有遭居家檢疫者</option>
                                                            <option class="ot" value="7">本人與確診案例同時段出現於活動地點<br />或有收到來自中央疫情指揮中心的疫情警示相關訊息者</option>
                                                            <option class="ot" value="8">其他</option>
                                                        </select>*@
                                                    @Html.ValidationMessageFor(model => model.AbnormalDescription, "", new { @class = "text-danger" })
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12" style="margin-top:15px;">
                                                <fieldset>
                                                    @Html.LabelFor(model => model.ContactHistory, new { @class = "", @style = "font-weight:bold; " }) / ประวัติการติดต่อ
                                                    @Html.TextAreaFor(model => model.ContactHistory, new { @class = "contact_form", @placeholder = "接觸史 Contact History", @type = "text", @style = "height:300px;" })
                                                    @Html.ValidationMessageFor(model => model.ContactHistory, "", new { @class = "text-danger" })
                                                </fieldset>
                                            </div>
                                            @*<div class="col-lg-12">
                                                    <fieldset>
                                                        @Html.LabelFor(model => model.AbnormalDescription, new { @class = "", @style = "font-weight:bold; " })
                                                        @Html.DropDownListFor(model => model.AbnormalDescription, Model.AbnormalOptions, new { @class = "contact_form", @style = "height: 50px; white-space: pre-wrap;" })

                                                        @Html.ValidationMessageFor(model => model.AbnormalDescription, "", new { @class = "text-danger" })
                                                    </fieldset>
                                                </div>
                                            *@
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="main-button contact_btn"><i class="fa fa-paper-plane"></i> 提交 / ส่ง</button>
                                            </fieldset>
                                        </div>
                                         <div class="mask"></div>
                                        <div class="pop" style="border-radius: 7px; margin: 10%; width: 85%; ">
                                            <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                                                ×
                                            </div>                              
                                            <h2 id="ResultStr">@ViewBag.Result</h2>   
                                        </div>
                                    </div>
                                }
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>
                        Copyright © 2021 Plot Listing Co., Ltd. All Rights Reserved.
                        <br>
                        Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{
    <script>
        $(function () {
            ChangeAbnormal();
            $('#IsAbnormal').on('change', function () {
                ChangeAbnormal();
            });

            var resultStr = '@ViewBag.Result';
            if (resultStr != '') {
                OpenPop();
            }

            var listStr = $('#AbnormalDescriptionStr').val().split(',');
            if (listStr != null) {
                $('.ot').each(function () {
                    if (listStr.indexOf($(this).attr('id')) >= 0) {
                        $(this).prop("checked", true);
                    }
                    else {
                        $(this).prop("checked", false);
                    }
                });
            }

            $('.ot').each(function () {
                $(this).on('click', function () {
                    var Id = $(this).attr('id');
                    if ($(this).is(":checked") == true) {
                        listStr.push(Id);
                    }
                    else {
                        listStr.splice(listStr.indexOf(Id), 1);
                    }
                    console.log(listStr);
                    var temp = listStr.toString();
                    console.log(temp);
                    $('#AbnormalDescriptionStr').val(temp);
                    console.log($('#AbnormalDescriptionStr').val());
                });
            });
        });

        $(document).click(function (e) {
            var popup = $(".pop");
            var open_popup = $("#open_qrcode");
            //判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
                //則隱藏彈窗
                //popup.hide(500);
                ClosePop();
            }
        });

        function OpenPop() {
            //$(".content").toggle();
            $('.pop').fadeIn(200);
            $('.mask').fadeIn(400);
        }

        function ClosePop() {
            //$(".content").toggle();
            $('.pop').fadeOut(400);
            $('.mask').fadeOut(400);
        }

        function ChangeAbnormal() {
            if ($('#IsAbnormal').is(':checked')) {
                $('#abnormal_detail').removeAttr('style', 'display:none;');
            }
            else {
                $('#abnormal_detail').attr('style', 'display:none;');
            }
        }
    </script>
}