﻿/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gantt :root {
    --white: #fff;
    --divider: lightgrey;
    --body: #f5f7f8;
}

.gantt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    .gantt ul {
        list-style: none;
    }

    .gantt a {
        text-decoration: none;
        color: inherit;
    }

    .gantt body {
        background: var(--body);
        font-size: 16px;
        font-family: sans-serif;
        padding-top: 40px;
    }

    .gantt .chart-wrapper {
        max-width: 1150px;
        padding: 0 10px;
        margin: 0 auto;
    }


        /* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
        .gantt .chart-wrapper .chart-values {
            position: relative;
            display: flex;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 1.2rem;
        }

            .gantt .chart-wrapper .chart-values li {
                flex: 1;
                min-width: 80px;
                text-align: center;
            }

                .gantt .chart-wrapper .chart-values li:not(:last-child) {
                    position: relative;
                }

                    .gantt .chart-wrapper .chart-values li:not(:last-child)::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: 510px;
                        border-right: 1px solid var(--divider);
                    }


        /* CHART-BARS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
        .gantt .chart-wrapper .chart-bars li {
            position: relative;
            color: var(--white);
            margin-bottom: 15px;
            font-size: 16px;
            border-radius: 20px;
            padding: 10px 20px;
            width: 0;
            opacity: 0;
            transition: all 0.65s linear 0.2s;
        }

@media screen and (max-width: 600px) {
    .gantt .chart-wrapper .chart-bars li {
        padding: 10px;
    }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    font-size: 0.85rem;
    padding: 10px;
    text-align: right;
    color: var(--black);
}

    .page-footer span {
        color: #e31b23;
    }
