﻿@model MeetSignIn.ViewModels.PF.SignInView
@{
}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">績效評比表單</h2>
                        <h3>選擇班別</h3>
                        @*<h3 style="color: darkorange !important;">填入工號</h3>*@
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("Check", "Sign", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form", @style = "padding:0px;" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.HiddenFor(model => model.MeetingID)*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="naccs" style="border-radius: 7px;">
                                    <div class="grid">
                                        <div class="row">
                                            @*<div class="col-lg-3">
                                                    <div class="menu">
                                                        <div class="">
                                                            <div class="thumb" style="color:white">
                                                                <span class="icon"><img src="assets/images/search-icon-01.png" alt=""></span>
                                                                Apartments
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>*@
                                            <div class="col-lg-12 align-self-center">
                                                <ul class="nacc">
                                                    <li class="active">
                                                        <div>
                                                            <div class="thumb">

                                                                <div class="row">
                                                                    <div class="col-lg-5 align-self-center">
                                                                        <div class="left-text">
                                                                            @*<h4>One Of The Most Trending Stuffs Right Now!</h4>
                                                                                <p>Plot Listing is a responsive Bootstrap 5 website template that included 4 different HTML pages. This template is provided by TemplateMo website. You can apply this layout for your static or dynamic CMS websites.</p>*@
                                                                            <div class="main-white-button" style="margin: 10px;"><a href="#" class="dept_btn">Discover</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


