﻿@model MeetSignIn.ViewModels.PF.FormView
@{
    string lang = ViewBag.Language;
}

@section styles{
    <style>
        .main-button {
            margin-bottom: 15px;
            display: inline-block;
            background-color: #8d99af;
            font-size: 0px;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;
            padding: 12px 25px;
            border-radius: 7px;
            letter-spacing: 0.25px;
            border: none;
            outline: none;
            transition: all .3s;
        }

        .title_info {
            margin-top: 10px;
            border: 2px solid #a97d63;
            border-radius: 7px;
            padding: 15px;
            background-color: #00000075;
            margin-right: 60px;
        }

        fieldset a:hover{
            color: white;
        }
    </style>    
}

<div class="page-heading" style="background-image: url(../Content/images/WallpaperDog-1775.jpg); ">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text" style="margin-left: 4%;">
                        <div class="main-white-button">
                            <a href="@Url.Action("PFWorks", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID})"><i class="fa fa-star"></i> 重選作業 / เลือกงาน</a>
                            @*<a href="@Url.Action("PFFormOverview", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID, WorkID = Model.WorkID})"><i class="fa fa-arrow-left"></i> 返回表單總覽 / กลับไปที่ภาพรวมของแบบฟอร์ม</a>*@
                        </div>
                        @*<a class="btn btn-default" href="@Url.Action("PFWorks", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID})">重新選擇作業</a>*@
                        <h2 style="color: darkorange !important; margin-left: 0px !important;">績效評比表單 / แบบประเมินผลการปฏิบัติงาน</h2>
                        <h6 class="title_info">人員 / บุคลากร : @Model.PersonId @Model.PersonName</h6>
                        <h6 class="title_info">部門 / แผนก : @Model.DeptId @Model.DeptName</h6>
                        <h6 class="title_info" id="work_title">作業 / งานโรงงาน : @Model.WorkTitle</h6>
                        <h6 class="title_info">分類 / การจัดหมวดหมู่ : @Model.CateTitle</h6>
                        <h2 style="margin-left: 0px !important;" id="itm_title">
                            @if (lang == "zh-tw")
                            {
                                <strong>@Model.ItmTitle</strong>
                            }
                            else
                            {
                                <strong>@Model.ThaiItmTitle</strong>
                            }
                        </h2>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("PFForm", "PF", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form", @style = "text-align: left;padding: 0px 30px" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.DeptId)
                        @Html.HiddenFor(model => model.ClassID)
                        @Html.HiddenFor(model => model.CateID)
                        <input type="hidden" id="ItemID" name="ItemID" value="@Model.ItemID" />
                        @Html.HiddenFor(model => model.PersonId)
                        @Html.HiddenFor(model => model.WorkID)
                        @Html.HiddenFor(model => model.WorkTitle)
                        @Html.HiddenFor(model => model.LvlID)
                        @Html.HiddenFor(model => model.isFirst)
                        @Html.HiddenFor(model => model.isLast)
                        @Html.HiddenFor(model => model.NextModel)

                        foreach (var item in Model.LvlList)
                        {
                            string isChecked = Model.LvlID == item.ID ? "checked" : "";
                            <input type="radio" class="lvl_radio" id="lvl_@item.ID" name="lvl_val" value="@item.ID" style="width: 5%; height: 20px; margin-top: 15px; " @isChecked /><span style="width: 95%; height: 20px;">@item.Title</span>
                            <br />
                        }
                        <fieldset style="margin-top: 15px;">
                            @if (Model.LastModel != null && Model.LastModel.ItemID != 0)
                            {
                                var lastAppraiseInfo = Model.LastModel;
                                if (lastAppraiseInfo != null)
                                {
                                    <div class="col-lg-5" style="float: left;">
                                        <a href="@Url.Action("PFForm", "PF", new { DeptId = lastAppraiseInfo.DeptId, ClassID = Model.ClassID, ItmID = lastAppraiseInfo.ItemID, WorkID = Model.WorkID })" class="main-button " value="返回" style="width: 100%; padding: 15px; font-size: 15px; text-align: center; background-color: #95856e;">返回 / กลับ</a>
                                    </div>
                                }
                            }
                                @*<div class="col-lg-5" style="float: right;">
                                    <button type="submit" id="form-submit" class="main-button " style="background-color: #3280c3; ">下一步 / ขั้นตอนต่อไป</button>
                                </div>*@
                            @if (Model.NextModel != null && Model.NextModel.ItemID != 0)
                            {
                                var nextAppraiseInfo = Model.NextModel;
                                if (nextAppraiseInfo != null)
                                {
                                    <div class="col-lg-5" style="float: right;">
                                        <button type="submit" id="form-submit" class="main-button " style="background-color: #28604e; ">下一步 / ขั้นตอนต่อไป</button>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-lg-5" style="float: right;">
                                    <button type="submit" id="form-submit" class="main-button " style="background-color: #c9b036; ">確認 / ยืนยัน</button>
                                    @*<a href="@Url.Action("SendAudit", "PF", new { aid = Model.AppraiseID })" class="main-button " value="送審" style="width: 100%; padding: 15px; font-size: 15px; text-align: center; background-color: #c9b036;">確認 </a>*@
                                </div>
                            }
                          
                            <div class="col-lg-5" style="float: left;">
                                <a href="@Url.Action("PFFormOverview", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID, WorkID = Model.WorkID})" class="main-button " value="送審" style="width: 100%; padding: 15px; font-size: 15px; text-align: center; background-color: #5b5c85;">返回表單總覽 / กลับไปที่ภาพรวมของแบบฟอร์ม </a>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("HTML, BODY").animate({
                scrollTop: 700
            }, 100);
            $('.lvl_radio').each(function () {
                $(this).on('click', function () {
                    $('#LvlID').val($(this).attr('id').split('_')[1]);
                });
            });

        })
    </script>
}
