﻿@model MeetSignIn.ViewModels.PF.FormOverview
@{
    string lang = ViewBag.Language;
}

@section styles{
    <style>
        .main-button {
            margin-bottom: 15px;
            display: inline-block;
            background-color: #8d99af;
            font-size: 0px;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;
            padding: 12px 25px;
            border-radius: 7px;
            letter-spacing: 0.25px;
            border: none;
            outline: none;
            transition: all .3s;
        }

        .title_info {
            margin-top: 10px;
            border: 2px solid #a97d63;
            border-radius: 7px;
            padding: 15px;
            background-color: #00000075;
            margin-right: 60px;
        }

        .table_header, .cate_title, .itm_title, .lvl_title {
            color: white;
            padding: 2px;
            border-radius: 3px;
        }

        .table_header {
            background-color: #0000006b;
            /*background-color: #8d99af;*/
            border: 2px solid #8d99af;
        }

        .cate_title {
            background-color: #0093d98c;
            border: 2px solid #0093d9;
        }

        .itm_title {
            background-color: #ea292999;
            border: 2px solid #ea2929;
        }

        .lvl_title {
            background-color: #3c9282a1;
            border: 2px solid #3c9282;
        }

        .audit_state_p {
            width: 100%;
            padding: 15px;
            font-size: 15px;
            text-align: center;
            border-radius: 7px;
            color: white;           
            padding: 5px 10px;
            width: 40%;
            font-weight:bold;
        }

        .audited_p {
            background-color: #c9b036;
            /*border: 3px solid #ffed98;*/
        }

        .unaudited_p {
            background-color: #4c4c4c;
            /*border: 3px solid #dddddd;*/
        }

        .send_audit_btn {
            width: 100%;
            padding: 15px;
            font-size: 15px;
            text-align: center;
            background-color: #c9b036;
        }

        thead, tbody, tfoot, tr, td, th {
            border-style: none;
        }

        fieldset a:hover {
            color: white;
            background-color: #ffe252;
        }
    </style>
}

<div class="page-heading" style="background-image: url(../Content/images/WallpaperDog-1775.jpg); ">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text" style="margin-left: 4%;">
                        <div class="main-white-button"><a href="@Url.Action("PFWorks", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID})"><i class="fa fa-star"></i> 重選作業 / เลือกงาน</a></div>
                        <h2 style="color: darkorange !important; margin-left: 0px !important;">績效評比表單 / แบบประเมินผลการปฏิบัติงาน</h2>
                        <h6 class="title_info">人員 / บุคลากร : @Model.PersonId @Model.PersonName</h6>
                        <h6 class="title_info">部門 / แผนก : @Model.DeptId @Model.DeptName</h6>
                        <h6 class="title_info">
                            季度 / ฤดูกาล :
                            @if (lang == "zh-tw")
                            {
                                <strong>@Model.SeasonTitle</strong>
                            }
                            else
                            {
                                <strong>@Model.ThaiSeasonTitle</strong>
                            }
                        </h6>
                        <h6 class="title_info">
                            作業 / งานโรงงาน :
                            @if (lang == "zh-tw")
                            {
                                <strong>@Model.WorkTitle</strong>
                            }
                            else
                            {
                                <strong>@Model.ThaiWorkTitle</strong>
                            }
                        </h6>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px; margin-top: 30px; font-weight:bold;">
                    @using (Html.BeginForm("PFFormOverview", "PF", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form", @style = "text-align: left;padding: 0px 30px; position: relative; background-color: #00000075;" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.DeptId)
                        @Html.HiddenFor(model => model.ClassID)
                        @Html.HiddenFor(model => model.PersonId)
                    <fieldset style="margin-top: 15px;">
                        @if (Model.IsAudit)
                        {
                            <div class="col-lg-5" style="float: left;">
                                <p class="audit_state_p audited_p">已送審 <br /> ได้ส่งไปตรวจสอบแล้ว</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-5" style="float: left;">
                                <p class="audit_state_p unaudited_p">尚未送審 <br /> ไม่ได้ส่งเพื่อตรวจสอบ</p>
                            </div>
                        }

                        @if (!Model.IsFinished && !Model.IsAudit)
                        {
                            <div class="col-lg-5" style="float: left;">
                                <a href="@Url.Action("PFForm", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID, ItmID = 0, WorkID = Model.WorkID })" class="audit_state_p main-button " value="開始填寫" style="width: 100%; padding: 15px; font-size: 15px; text-align: center; background-color: #9f8258;">開始填表 <br /> กรอกแบบฟอร์ม</a>
                            </div>
                        }
                        else if (Model.IsFinished && !Model.IsAudit)
                        {
                            <div class="col-lg-5" style="float: right;">
                                <a href="@Url.Action("SendAudit", "PF", new { aid = Model.AppraiseID, awid = Model.AppraiseWorksID })" class="main-button send_audit_btn" value="送審">送審 <br /> ส่งเพื่อตรวจสอบ</a>
                            </div>
                        }

                    </fieldset>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td></td>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.CateList.Count(); i++)
                                {
                                    var cate = Model.CateList[i];
                                    <tr>
                                        <td>
                                            @if (cate.ItmList.Count() > 0)
                                            {
                                                <table class="table">
                                                    @if (i == 0)
                                                    {
                                                        <thead>
                                                            <tr>
                                                                <td width="15%"><div class="table_header">分類 <br /> การจัดหมวดหมู่</div></td>
                                                                <td width="25%"><div class="table_header">項目<br /> โครงการ</div></td>
                                                                <td width="50%"><div class="table_header">層級 <br /> ระดับ</div></td>
                                                                @if (!Model.IsAudit)
                                                                {
                                                                <td width="10%"><div class="table_header">動作 <br /> การกระทำ</div></td>
                                                                }
                                                            </tr>
                                                        </thead>
                                                    }

                                                    <tbody>
                                                        @for (int j = 0; j < cate.ItmList.Count(); j++)
                                                        {
                                                            var item = cate.ItmList[j];
                                                            <tr>
                                                                <td width="15%">
                                                                    @if (j == 0)
                                                                    {
                                                                    <div class="cate_title">
                                                                        @if (lang == "zh-tw")
                                                                        {
                                                                            <strong>@cate.Title</strong>
                                                                        }
                                                                        else
                                                                        {
                                                                            <strong>@cate.ThaiTitle</strong>
                                                                        }
                                                                    </div>
                                                                    }
                                                                </td>
                                                                <td width="25%">
                                                                    <div class="itm_title">
                                                                         @if (lang == "zh-tw")
                                                                        {
                                                                            <strong>@item.Title</strong>
                                                                        }
                                                                        else
                                                                        {
                                                                            <strong>@item.ThaiTitle</strong>
                                                                        }
                                                                     </div>
                                                                </td>
                                                                <td width="50%">
                                                                    <div class="lvl_title">
                                                                        <select class="itm_slt" id="itm_slt_@item.ID" style="color: white; background-color: #356d66; height: 20px;">
                                                                          @foreach (var lvl in Model.CateList[i].ItmList[j].LvlOptions)
                                                                          {
                                                                              string selected = Model.CateList[i].ItmList[j].LvlID.ToString() == lvl.Value ? "selected" : "";
                                                                              <option value="@lvl.Value" @selected>@lvl.Text</option>
                                                                          }
                                                                        </select>
                                                                        @*@Html.DropDownListFor(model => model.CateList[i].ItmList[j].LvlID, Model.CateList[i].ItmList[j].LvlOptions, new { @style = "color:white; background-color: #356d66; height: 20px;" })*@
                                                                        @*<span>@Model.CateList[i].ItmList[j].LvlID</span>*@
                                                                        @*@if (lang == "zh-tw")
                                                                        {
                                                                            <strong>@item.LvlTitle</strong>
                                                                        }
                                                                        else
                                                                        {
                                                                            <strong>@item.ThaiLvlTitle</strong>
                                                                        }*@
                                                                    </div>
                                                                </td>
                                                                @if (!Model.IsAudit)
                                                                {
                                                                <td width="10%">
                                                                    <div class="main-white-button">
                                                                        <a href="@Url.Action("PFForm", "PF", new { DeptId = Model.DeptId, ClassID = Model.ClassID, ItmID = item.ID, WorkID = Model.WorkID })" class="table_header" style="background-color: #0000006b; border-color: #8d99af; color: #fff; padding: 5px;">
                                                                            <i class="fa fa-arrow-right" style="margin-left: 10px; background-color: #00000000;"></i>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                }
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @*<fieldset style="margin-top: 15px;">
                            @if (Model.IsFinished && !Model.IsAudit)
                            {                               
                                <div class="col-lg-5" style="float: right;">
                                    <a href="@Url.Action("SendAudit", "PF", new { aid = Model.AppraiseID, awid = Model.AppraiseWorksID })" class="main-button send_audit_btn" value="送審">送審 / ส่งเพื่อตรวจสอบ</a>
                                </div>
                            }
                        </fieldset>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("HTML, BODY").animate({
                scrollTop: 200
            }, 100);
            $('.lvl_radio').each(function () {
                $(this).on('click', function () {
                    $('#LvlID').val($(this).attr('id').split('_')[1]);
                });
            });

        })
    </script>
}