﻿@model MeetSignIn.ViewModels.PF.ClassView
@{
}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: darkorange !important;">績效評比表單 / แบบประเมินผลการปฏิบัติงาน</h2>
                        <h3>語言 / ภาษา</h3>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("PFIndex", "PF", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form", @style = "" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        @*<div class="col-lg-4 align-self-center">
                            <fieldset>
                                @Html.DropDownListFor(model => model.DeptId, Model.DeptOptions, new { @class = "form-select" })
                            </fieldset>
                        </div>
                        <div class="col-lg-4 align-self-center">
                            <fieldset>
                                @Html.DropDownListFor(model => model.ClassID, Model.ClassOptions, new { @class = "form-select" })
                            </fieldset>
                        </div>*@
                        <div class="col-lg-8 align-self-center">
                            <fieldset>
                                @Html.DropDownListFor(model => model.Language, Model.LanguageOptions, new { @class = "form-select" })
                            </fieldset>
                        </div>
                        <div class="col-lg-4">
                            <fieldset>
                                <button class="main-button bg-olive"><i class="fa fa-pencil"></i> 下一步 / ขั้นตอนต่อไป</button>
                            </fieldset>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#DeptId').on('change', function () {
                SetClass($(this).val());
                $('#ClassID').empty();
            });

            SetClass($('#DeptId').val());

            function SetClass(deptId) {
                $.ajax({
                    url: "/PF/GetClass",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        deptId: deptId
                    },
                    success: function (data) {
                        console.log(data);                        
                        var classHtmlStr = '';
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            classHtmlStr += `<option value="${item.ID}">${item.Title}</option>`;
                        }
                        $('#ClassID').html(classHtmlStr);
                    }
                });
            }
        })
    </script>    
}
