﻿@model MeetSignIn.ViewModels.PF.WorksView
@{
    string lang = ViewBag.Language;
}

@section styles{
    <style>
        .nacc .thumb, .naccs .first-thumb, .naccs .thumb, .naccs .last-thumb {
            color: white !important;
        }
        .dept_btn {
            width: auto !important;
        }
        .works_btn {
            display: inline-block !important;
            width: auto !important;
        }
    </style>
}

<div class="main-banner" style="background-image: url(../Content/images/WallpaperDog-1775.jpg); padding-top: 0px;">    
    <!--分類版-->
    <div class="popular-categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading top-text header-text" style="margin-bottom: 0px !important;">
                        <h2 style="color: darkorange !important; ">績效評比表單 / แบบประเมินผลการปฏิบัติงาน</h2>
                        <h3 style="margin-bottom: 0px !important; ">部門 / แผนก : @Model.DeptId @Model.DeptName</h3>
                        <h3 style="margin-bottom: 0px !important; ">
                            季度 / ฤดูกาล :    
                            @if (lang == "zh-tw")
                            {
                                <strong>@Model.SeasonTitle</strong>
                            }
                            else
                            {
                                <strong>@Model.ThaiSeasonTitle</strong>
                            }
                        </h3>
                        <h3 style="margin-bottom: 0px !important; ">選擇作業 / เลือกงาน</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="naccs" style="background-color: #2a2a2a00; padding: 11px 0px; ">
                        <div class="grid">
                            <div class="row">
                                @if (Model.ClassList.Count() > 0)
                                {
                                <div class="col-lg-3">
                                    <div class="menu">
                                        @for (int i = 0; i < Model.ClassList.Count(); i++)
                                        {
                                            var cls = Model.ClassList[i];
                                            //string active = i == 0 ? "first-thumb active" : "";
                                            string active = i == 0 ? "active" : "";
                                            string backgroundColor = cls.IsEdited ? "#4c789f" : "";
                                            <div class="@active" style="height: 50px; box-shadow: 0px 0px 10px gray;">
                                                <div class="thumb" style="line-height: 50px; height: 50px; background-color: @backgroundColor;">
                                                    @if (lang == "zh-tw")
                                                    {
                                                        <strong>@cls.Title</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong>@cls.ThaiTitle</strong>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                }
                                else
                                {
                                    <h3 class="top-text header-text align-self-center" style="color: #ff4646; margin: 5px 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.15) !important; ">無可選作業 / ไม่มี</h3>
                                }
                                <div class="col-lg-9 align-self-center">
                                    <ul class="nacc">
                                        @if (Model.ClassList.Count() > 0)
                                        {
                                            for (int i = 0; i < Model.ClassList.Count(); i++)
                                            {
                                                var cls = Model.ClassList[i];
                                                string active = i == 0 ? "active" : "";
                                                <li class="@active">
                                                    <div>
                                                        <div class="thumb">
                                                            <div class="row" style="display: inline-block; width: auto; ">
                                                                @for (int j = 0; j < cls.WorkList.Count(); j++)
                                                                {
                                                                    var work = cls.WorkList[j];
                                                                    string backgroundColor = work.IsEdited ? "#94c9f7" : "white";
                                                                    <div class="left-text works_btn">
                                                                        <div class="main-white-button" style="margin: 10px;">
                                                                            <a href="@Url.Action("PFFormOverview", "PF", new { DeptId = Model.DeptId, ClassID = cls.ID, WorkID = work.ID })" class="dept_btn" style="background-color: @backgroundColor;">
                                                                                @if (lang == "zh-tw")
                                                                                {
                                                                                    <strong>@work.Title</strong>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <strong>@work.ThaiTitle</strong>
                                                                                }
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                }                                                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(function () {

        })
    </script>
}
