﻿@model MeetSignIn.Areas.Admin.ViewModels.ExternalAcceptance.ExternalAcceptanceView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增驗收資料" : "編輯驗收資料";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    int reject = (int)MeetSignIn.Models.ApprovalState.Reject;
    int approved = (int)MeetSignIn.Models.ApprovalState.Approved;
    //bool isCreater = Model.TrainingInfo.Creater == adminInfo.ID;
    bool isCreater = Model.PersonID == adminInfo.Account;
    string groupType = Model.IsGroup ? "團體" : "個人";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        外訓驗收
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = Model.PersonID })">教育訓練</a></li>
        <li class="active">【@Model.TrainingInfo.Title】 外訓驗收</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    <br />
                    <label class="label label-default bg-aqua">@groupType</label><br />
                    @Html.ActionLink("內訓計畫表", "Internal", "TrainingAdmin", new { trainingId = Model.ID }, new { @class = "btn bg-yellow", @style = "margin: 6px 0px !important; background-color:#ad784b !important;", @target = "_blank" })
                    @if (Model.IsAudit && adminInfo.Account == Model.PersonID)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Edit", "ExternalAcceptanceAdmin", new { trainingId = Model.TrainingID, personId = Model.PersonID, isNew = true }, new { @class = "btn btn-default bg-maroon", @style = "6px 0px", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                    }
                </div>

                @using (Html.BeginForm("Edit", "ExternalAcceptanceAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.PersonID)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)
                    @Html.HiddenFor(model => model.OfficerAudit)

                    <div class="box-body">
                        <div class="">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.Name)
                                        <input class="form-control" maxlength="50" value="@Model.Name" disabled>
                                    </div>
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.TrainingInfo.Title)
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.Title" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓時間</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.StartDate.ToString("yyyy/MM/dd") - @Model.TrainingInfo.EndDate.ToString("yyyy/MM/dd")" disabled />
                                    </div>
                                    <div class="col-sm-5">
                                        <label>主辦單位</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.DeptName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓地點</label>
                                        <textarea class="form-control" style="resize: none;" disabled>@Model.Address</textarea>
                                    </div>
                                    <div class="col-sm-5">
                                        <label>講師名稱</label>
                                        <textarea class="form-control" style="resize: none;" disabled>@Model.Lecturer</textarea>
                                    </div>
                                </div>
                                @if (Model.IsAudit)
                                {
                                    if (Model.HasReport)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Report)
                                                @Html.TextAreaFor(model => model.Report, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        if (!string.IsNullOrEmpty(Model.ReportFile))
                                        {
                                            string fileName = Model.ReportFile;
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.Report)

                                                    @if (!string.IsNullOrEmpty(Model.ReportFile))
                                                    {
                                                        @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    if (Model.HasCertificate)
                                    {
                                        string fileName = Model.Certificate;
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Certificate)
                                                <br />
                                                @if (!string.IsNullOrEmpty(Model.CertificateFile))
                                                {
                                                    @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                }
                                            </div>
                                        </div>
                                    }
                                    if (Model.HasDelegate)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.DelegateDate)
                                                @Html.TextBoxFor(model => model.DelegateDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.DelegateDesc)
                                                @Html.TextAreaFor(model => model.DelegateDesc, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.DelegateDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    if (Model.HasActionPlan)
                                    {
                                        string fileName = Model.ActionPlan;
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @Html.TextAreaFor(model => model.ActionPlan, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.ActionPlan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @if (!string.IsNullOrEmpty(Model.ActionPlanFile))
                                                {
                                                    @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                }
                                            </div>
                                        </div>
                                    }
                                    if (Model.HasPerformance)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Performance)
                                                @Html.TextAreaFor(model => model.Performance, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Performance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    @Html.HiddenFor(model => model.Report)
                                    @Html.HiddenFor(model => model.ReportFile)
                                    @Html.HiddenFor(model => model.Certificate)
                                    @Html.HiddenFor(model => model.CertificateFile)
                                    @Html.HiddenFor(model => model.DelegateDate)
                                    @Html.HiddenFor(model => model.DelegateDesc)
                                    @Html.HiddenFor(model => model.ActionPlan)
                                    @Html.HiddenFor(model => model.ActionPlanFile)
                                    @Html.HiddenFor(model => model.Performance)
                                }
                                else
                                {
                                    if (Model.HasReport)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Report)
                                                @Html.TextAreaFor(model => model.Report, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.Report)
                                            @Html.TextBoxFor(model => model.ReportPost, "", new { @class = "form-control", @type = "file", @accept = "image/*,.pdf,.doc,.docx", @style = "height: 100% !important;" })
                                            @Html.HiddenFor(model => model.ReportFile)
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.ReportFile, "", new { @class = "text-danger" })
                                            @if (!string.IsNullOrEmpty(Model.ReportFile))
                                            {
                                                string fileName = Model.ReportFile;
                                                @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                @Html.ActionLink("刪除檔案", "DeleteReportFile", "ExternalAcceptanceAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Report)
                                        @Html.HiddenFor(model => model.ReportFile)
                                    }
                                    if (Model.HasCertificate)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Certificate)
                                                @Html.TextBoxFor(model => model.CertificatePost, "", new { @class = "form-control", @type = "file", @accept = "image/*,.pdf,.doc,.docx", @style = "height: 100% !important;" })
                                                @Html.HiddenFor(model => model.Certificate)
                                                @Html.HiddenFor(model => model.CertificateFile)
                                                <code>請上傳總和不超過10MB的檔案</code><br />
                                                @Html.ValidationMessageFor(model => model.Certificate, "", new { @class = "text-danger" })
                                                @if (!string.IsNullOrEmpty(Model.CertificateFile))
                                                {
                                                    string fileName = Model.CertificateFile;
                                                    @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                    @Html.ActionLink("刪除檔案", "DeleteCertificateFile", "ExternalAcceptanceAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Certificate)
                                    }
                                    if (Model.HasDelegate)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.DelegateDate)
                                                @Html.TextBoxFor(model => model.DelegateDate, "{0:yyyy-MM-dd}", new { @class = "form-control lock_switch" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.DelegateDesc)
                                                @Html.TextAreaFor(model => model.DelegateDesc, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.DelegateDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.DelegateDate)
                                        @Html.HiddenFor(model => model.DelegateDesc)
                                    }
                                    if (Model.HasActionPlan)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @Html.TextAreaFor(model => model.ActionPlan, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.ActionPlan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ActionPlan)
                                            @Html.TextBoxFor(model => model.ActionPlanPost, "", new { @class = "form-control", @type = "file", @accept = "image/*,.pdf,.doc,.docx", @style = "height: 100% !important;" })
                                            @Html.HiddenFor(model => model.ActionPlanFile)
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.ActionPlanFile, "", new { @class = "text-danger" })
                                            @if (!string.IsNullOrEmpty(Model.ActionPlanFile))
                                            {
                                                string fileName = Model.ActionPlanFile;
                                                @Html.Partial("_DisplayFile", "ExternalAcceptancePhoto" + "_" + fileName)
                                                @Html.ActionLink("刪除檔案", "DeleteActionPlanFile", "ExternalAcceptanceAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ActionPlan)
                                        @Html.HiddenFor(model => model.ActionPlanFile)
                                    }
                                    if (Model.HasPerformance)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Performance)
                                                @Html.TextAreaFor(model => model.Performance, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Performance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Performance)
                                    }
                                }

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                    </div>
                                </div>
                                <br />
                                @if (isCreater && Model.OfficerAudit <= 1)
                                {//承辦人
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label>填表人備註</label>
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label>填表人備註</label>
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }

                                @if ((Model.AuditLevelInfo != null || Model.TrainingInfo.Creater == 1) && !isCreater)
                                {
                                    bool activeAudit = false;
                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                    {//主管
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ManagerAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark)
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                                    {//副總
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ViceAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark)
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ViceAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceRemark)
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                                    {//總經理
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PresidentAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark)
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PresidentAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentRemark)
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }

                                    if (adminInfo.IsPrincipal && !activeAudit && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                    {//校長
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PrincipalAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark)
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PrincipalAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalRemark)
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerAuditDate)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceAuditDate)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentAuditDate)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalAuditDate)
                                }


                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                    </div>
                                </div>
                                @Html.DisplayFor(model => Model, "_AuditSignature")
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-10">
                            @if (Model.PrincipalAudit > 1)
                            {
                                <p class="label label-success">已結案</p>
                            }
                            else
                            {
                                <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                            }
                            @if (adminInfo.Account == Model.PersonID && !Model.IsAudit)
                            {
                                <button id="SendEAAudit" type="button" class="btn btn-warning">送審</button>
                            }
                            @if (Model.FromAudit)
                            {
                                int stateInt = 0;
                                switch (adminInfo.Type)
                                {
                                    case (int)MeetSignIn.Models.AdminType.Manager:
                                        stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                        break;
                                    case (int)MeetSignIn.Models.AdminType.Vice:
                                        stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                        break;
                                    //case (int)MeetSignIn.Models.AdminType.Principal:
                                    //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                    //    break;
                                    case (int)MeetSignIn.Models.AdminType.President:
                                        stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                        break;
                                }
                                if (adminInfo.IsPrincipal)
                                {
                                    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                }
                                @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("取消/回列表", "Participate", "TrainingAdmin", new { PersonID = adminInfo.Account }, new { @class = "btn btn-default" })
                            }

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#DelegateDate").datepicker({ dateFormat: "yy-mm-dd" });
            $('#SaveBtn').on('click', function () {
                $('#EditForm').submit();
            });
            if ($('#IsAudit').val() == 'True') {
                $('.lock_disabled').each(function () {
                    $(this).attr('disabled', true);
                });
            }

            $('#SendEAAudit').on('click', function () {
                if ('@Model.HasReport' == 'True') {
                    if ($('#Report').val() == '' && $('#ReportPost') == null) {
                        alert('【心得】為必要項，請上傳心得PDF檔 ! ');
                        return false;
                    }
                }
                if ('@Model.HasCertificate' == 'True') {
                    if ($('#Certificate').val() == '' && $('#CertificatePost') == null) {
                        alert('【證書】為必要項，請上傳證書 ! ');
                        return false;
                    }
                }
                if ('@Model.HasDelegate' == 'True') {
                    if (CKEDITOR.instances.DelegateDate.getData() == '' || $('#DelegateDate').val() == null) {
                        alert('【轉授日期】不可為空白 ! ');
                        return false;
                    }
                }
                if ('@Model.HasPerformance' == 'True') {
                    //if (CKEDITOR.instances.Performance.getData() == '') {
                    if ($('#Performance').val() == '') {
                        alert('【績效欄位】不可為空白 ! ');
                        return false;
                    }
                }
                if ('@Model.HasActionPlan' == 'True') {
                    //if (CKEDITOR.instances.ActionPlan.getData() == '') {
                    if ($('#ActionPlan').val() == '' && $('#ActionPlanPost') == null) {
                        alert('【行動計畫】不可為空白 ! ');
                        return false;
                    }
                }

                $('#IsAudit').val(true);
                $('#EditForm').submit();
            });
        })
    </script>
}