﻿@{ 
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    var RequestUrl = Request.Url;
    bool isHR = adminInfo.DeptId == "B40";
    int? stateInt = 0;
    int? pfStateInt = 0;
    string[] allowedAccountList = { "1690", "2370", "0575", "2123" };
}
<section class="content-header">
    <h1>
        菲力工業會議/教育訓練 後台系統
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <ul class="sidebar-menu" data-widget="tree">
                    @if (adminInfo.Type < (int)MeetSignIn.Models.AdminType.Employee || allowedAccountList.Contains(adminInfo.Account))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-th-list"></i> <span>會議</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "MeetingAdmin")"><i class="fa fa-calendar"></i> <span>會議管理</span></a></li>
                                @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin)
                                {
                                    <li><a href="@Url.Action("Index", "RoomAdmin")"><i class="fa fa-building"></i> <span>會議室管理</span></a></li>
                                    @*<li><a href="@Url.Action("Index", "PersonnelAdmin")"><i class="fa fa-users"></i> <span>人員管理</span></a></li>*@
                                }
                            </ul>
                        </li>
                    }
                    @if (adminInfo.Type <= (int)MeetSignIn.Models.AdminType.Sysadmin)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>教育訓練</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("OverView", "TrainingAdmin")"><i class="fa fa-pie-chart"></i> <span>訓練統計</span></a></li>
                                <li><a href="@Url.Action("Index", "TrainingAdmin")"><i class="fa fa-university"></i> <span>教育訓練管理</span></a></li>
                                <li><a href="@Url.Action("Index", "VisionAdmin")"><i class="fa fa-user"></i> <span>公司願景管理</span></a></li>
                                <li><a href="@Url.Action("Index", "ThemeAdmin")"><i class="fa fa-bookmark"></i> <span>研訓類別管理</span></a></li>
                                <li><a href="@Url.Action("Index", "PersonAdmin")"><i class="fa fa-address-book"></i> <span>履歷資料管理</span></a></li>
                                @*<li><a href="@Url.Action("Index", "AuditAdmin")"><i class="fa fa-legal"></i> <span>簽核</span></a></li>*@

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-plus"></i> <span>健康管理</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "TemperatureAdmin")"><i class="fa fa-hospital-o"></i> <span>健康自主管理</span></a></li>
                                <li><a href="@Url.Action("LimitHours", "TemperatureAdmin")"><i class="fa fa-clock-o"></i> <span>時間設定</span></a></li>
                            </ul>
                        </li>

                    }
                    else if (adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>教育訓練</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("OverView", "TrainingAdmin")"><i class="fa fa-pie-chart"></i> <span>訓練統計</span></a></li>
                                <li><a href="@Url.Action("Index", "TrainingAdmin")"><i class="fa fa-university"></i> <span>教育訓練管理</span></a></li>
                                @if (adminInfo.Type <= (int)MeetSignIn.Models.AdminType.President || isHR)
                                {
                                    <li><a href="@Url.Action("Index", "VisionAdmin")"><i class="fa fa-user"></i> <span>公司願景/策略管理</span></a></li>
                                    if (isHR)
                                    {
                                        <li><a href="@Url.Action("Index", "ReviewReportAdmin")"><i class="fa fa-user"></i> <span>審查檢視報告管理</span></a></li>
                                        <li><a href="@Url.Action("Index", "CompetencyAdmin")"><i class="fa fa-user"></i> <span>職能別管理</span></a></li>
                                    }
                                }
                                <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = adminInfo.Account })"><i class="fa fa-file-text-o"></i> <span>課後回饋表單</span></a></li>
                                <li><a href="@Url.Action("Index", "PersonAdmin")"><i class="fa fa-address-book"></i> <span>履歷資料管理</span></a></li>
                                @*<li><a href="@Url.Action("Index", "AuditAdmin", new { State = stateInt })"><i class="fa fa-legal"></i> <span>簽核</span></a></li>*@
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Edit", "ManagerAdmin", new { id = adminInfo.ID})"><i class="fa fa-user"></i> <span>個人帳號管理</span></a></li>
                    }
                    else
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>教育訓練</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("OverView", "TrainingAdmin")"><i class="fa fa-pie-chart"></i> <span>訓練統計</span></a></li>
                                <li><a href="@Url.Action("Index", "TrainingAdmin")"><i class="fa fa-university"></i> <span>教育訓練管理</span></a></li>
                                @if (isHR)
                                {
                                    <li><a href="@Url.Action("Index", "VisionAdmin")"><i class="fa fa-user"></i> <span>公司願景管理</span></a></li>
                                }
                                <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = adminInfo.Account })"><i class="fa fa-file-text-o"></i> <span>課後回饋表單</span></a></li>
                            </ul>
                        </li>
                        if (!isHR)
                        {
                            <li><a href="@Url.Action("Edit", "ManagerAdmin", new { id = adminInfo.ID})"><i class="fa fa-user"></i> <span>帳號管理</span></a></li>
                        }
                    }
                    @*@if (adminInfo.Type <= (int)MeetSignIn.Models.AdminType.Employee)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-star"></i> <span>KPI/關鍵績效指標</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @if (adminInfo.Type <= (int)MeetSignIn.Models.AdminType.Vice)
                                {
                                    <li><a href="@Url.Action("Index", "FairlyKPIAdmin")"><i class="fa fa-industry"></i> <span>公司KPI管理</span></a></li>
                                }
                                @if (adminInfo.Type <= (int)MeetSignIn.Models.AdminType.Manager)
                                {
                                    <li><a href="@Url.Action("Index", "DeptKPIAdmin")"><i class="fa fa-sitemap"></i> <span>部門指標管理</span></a></li>
                                    <li><a href="@Url.Action("Index", "PersonKPIAdmin")"><i class="fa fa-id-card"></i> <span>個人目標管理</span></a></li>
                                    //if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Principal)
                                    if (!adminInfo.IsPrincipal)
                                    {
                                        <li><a href="@Url.Action("Index", "CheckAdmin")"><i class="fa fa-legal"></i> <span>KPI簽核管理</span></a></li>
                                    }
                                }
                                else
                                {
                                    <li><a href="@Url.Action("QuarterEdit", "PersonKPIAdmin", new { PersonId = adminInfo.Account})"><i class="fa fa-id-card"></i> <span>個人目標管理(季度)</span></a></li>
                                    <li><a href="@Url.Action("MonthsEdit", "PersonKPIAdmin", new { PersonId = adminInfo.Account})"><i class="fa fa-id-card"></i> <span>個人目標管理(月份)</span></a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin || adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager || adminInfo.Type == (int)MeetSignIn.Models.AdminType.ClassSupervisor || adminInfo.Type == (int)MeetSignIn.Models.AdminType.TeamLeader)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>績效評比</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PFAppraiseAdmin")"><i class="fa fa-pencil"></i> <span>填寫表單管理</span></a></li>
                                <li><a href="@Url.Action("Index", "PFCategoryAdmin")"><i class="fa fa-sitemap"></i> <span>分類管理</span></a></li>
                                <li><a href="@Url.Action("Index", "PFSeasonAdmin")"><i class="fa fa-calendar"></i> <span>季度管理</span></a></li>
                            </ul>
                        </li>
                    }*@

                    @if (adminInfo.Type < (int)MeetSignIn.Models.AdminType.Employee)
                    {
                        <li><a href="@Url.Action("Index", "QNRAdmin")"><i class="fa fa-file-text-o"></i> <span>問卷調查管理</span></a></li>
                    }
                    @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin || isHR)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-star"></i> <span>其他/分類管理</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "AuditLevelAdmin", new { })"><i class="fa fa-sitemap"></i> <span>部門簽核層級管理</span></a></li>
                                <li><a href="@Url.Action("Index", "OptionGroupAdmin", new { })"><i class="fa fa-sitemap"></i> <span>選項組管理</span></a></li>
                            </ul>
                        </li>
                        if (isHR)
                        {
                            <li><a href="@Url.Action("Edit", "ManagerAdmin", new { id = adminInfo.ID})"><i class="fa fa-user"></i> <span>個人帳號管理</span></a></li>
                        }
                        <li><a href="@Url.Action("Index", "ManagerAdmin")"><i class="fa fa-users"></i> <span>帳號管理</span></a></li>
                    }
                    else if (adminInfo.Type < (int)MeetSignIn.Models.AdminType.Employee)
                    {
                        switch (adminInfo.Type)
                        {
                            case (int)MeetSignIn.Models.AdminType.Manager:
                                stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                pfStateInt = (int)MeetSignIn.Models.PFAuditState.CSAudit;
                                break;
                            case (int)MeetSignIn.Models.AdminType.Vice:
                                stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                pfStateInt = null;
                                break;
                            //case (int)MeetSignIn.Models.AdminType.Principal:
                            //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                            //    pfStateInt = null;
                            //    break;
                            case (int)MeetSignIn.Models.AdminType.President:
                                stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                pfStateInt = null;
                                break;
                            case (int)MeetSignIn.Models.AdminType.HR:
                                pfStateInt = (int)MeetSignIn.Models.AuditState.HRAudit;
                                stateInt = null;
                                break;
                            case (int)MeetSignIn.Models.AdminType.ClassSupervisor:
                                pfStateInt = (int)MeetSignIn.Models.PFAuditState.TLAudit;
                                stateInt = null;
                                break;
                            case (int)MeetSignIn.Models.AdminType.TeamLeader:
                                pfStateInt = (int)MeetSignIn.Models.PFAuditState.Processing;
                                stateInt = null;
                                break;
                        }
                        if (adminInfo.IsPrincipal)
                        {
                            stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                            pfStateInt = null;
                        }
                        <li><a href="@Url.Action("Index", "AuditAdmin", new { State = stateInt, PFState = pfStateInt})"><i class="fa fa-legal"></i> <span>簽核</span></a></li>
                    }
                    <li class="header" style="background-color: #f5f5f5;"></li>
                    <li>
                        <a href="@Url.Action("Logout", "AuthAdmin" )">
                            <i class="fa fa-arrow-circle-left"></i> <span>登出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>前台連結</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="@RequestUrl.Scheme://@RequestUrl.Authority" class="small-box-footer" target="_blank">前往網站前台<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>教育訓練</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="fa fa-university"></i>
                </div>
                <a href="@Url.Action("Index", "TrainingAdmin")" class="small-box-footer">前往<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>課後表單</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = adminInfo.Account })" class="small-box-footer">前往<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        @if (adminInfo.Type < (int)MeetSignIn.Models.AdminType.Employee)
        {
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>簽核</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="fa fa-legal"></i>
                </div>
                <a href="@Url.Action("Index", "AuditAdmin", new { State = stateInt, PFState = pfStateInt})" class="small-box-footer">前往<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        }
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //$('.sidebar-mini').removeClass('sidebar-collapse');
        })
    </script>    
}