﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@{
    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
    string personId = memberInfo.Account;
}

@section styles{
    <style>
        .bootstrap-tagsinput {
            background-color: #f7f7f7;
            display: block;
        }

            .bootstrap-tagsinput input {
                width: 0px !important;
                height: 0px !important;
                border: none !important;
            }

        form#contact input {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        .label {
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }

        .label-info {
            color: #5a5a5a !important;
            background-color: #ffffff;
            border: 1px solid #808080;
            border-radius: 0.25rem;
        }
    </style>
}

<div class="page-heading" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h2 style="margin-bottom: 20px;">@Model.Title</h2>
                    <h5 style="margin-left: 35px; margin-bottom: 20px; color:white;">@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="inner-content" style="background-color: #f7f7f7; border-radius: 7px; overflow: hidden;">
                    <div class="row" style="margin: 50px 0px; font-weight:bold;">

                        <div class="col-lg-12 align-self-center">
                            <form id="contact" action="" method="get">
                                <div id="qnrq_area">
                                    <div class="row">
                                        @if (Model.QuestionList != null && Model.QuestionList.Count() > 0)
                                        {
                                            foreach (var item in Model.QuestionList)
                                            {
                                                string required = item.IsRequired ? "required" : "";
                                                string displayStr = item.LinkQNRQID == 0 ? "" : "display: none;";
                                                string triggeredClass = item.LinkQNRQID == 0 ? "" : "triggered";
                                                <div class="col-lg-12">
                                                    @switch (item.AnswerType)
                                                    {
                                                        case 1://文字
                                                            <fieldset style="@displayStr" id="question_@item.ID" class="linkq_@item.LinkQNRQID @triggeredClass" data-triggeranswer="@item.TriggerAnswer">
                                                                <p>@item.Question</p>
                                                                <input class="qnr_result" data-answertype="@item.AnswerType" data-id="@item.ID" @required>
                                                                @if (item.LinkQNRQID == 0)
                                                                {
                                                                    <button class="fa fa-plus-square add_linkQuestion"></button>
                                                                }
                                                                else
                                                                {
                                                                    <a href=""></a>
                                                                }
                                                            </fieldset>
                                                            break;
                                                        case 2://多行文字
                                                            <fieldset style="@displayStr" id="question_@item.ID" class="linkq_@item.LinkQNRQID @triggeredClass" data-triggeranswer="@item.TriggerAnswer">
                                                                <p>@item.Question</p>
                                                                <textarea type="text" class="qnr_result form-control" data-answertype="@item.AnswerType" data-id="@item.ID" @required></textarea>
                                                            </fieldset>
                                                            break;
                                                        case 3://日期
                                                            <fieldset style="@displayStr" id="question_@item.ID" class="linkq_@item.LinkQNRQID @triggeredClass" data-triggeranswer="@item.TriggerAnswer">
                                                                <p>@item.Question</p>
                                                                <input class="qnr_result" data-answertype="@item.AnswerType" data-id="@item.ID" @required>
                                                            </fieldset>
                                                            break;
                                                        case 4://單選
                                                            <fieldset style="@displayStr" id="question_@item.ID" class="linkq_@item.LinkQNRQID @triggeredClass" data-triggeranswer="@item.TriggerAnswer">
                                                                <p>@item.Question</p>
                                                                <select class="qnr_result single_select_q" data-answertype="@item.AnswerType" data-id="@item.ID">
                                                                    @if (item.OptionList != null && item.OptionList.Count() > 0)
                                                                    {
                                                                        foreach (var opt in item.OptionList)
                                                                        {
                                                                            <option value="@opt.ID">@opt.Title</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </fieldset>
                                                            break;
                                                        case 5://複選 (使用TagsInput)
                                                            <div style="@displayStr" id="question_@item.ID" class="linkq_@item.LinkQNRQID @triggeredClass" data-triggeranswer="@item.TriggerAnswer">
                                                                <p>@item.Question</p>
                                                                @if (item.OptionList != null && item.OptionList.Count() > 0)
                                                                {
                                                                    foreach (var opt in item.OptionList)
                                                                    {
                                                                        <a class="js-signer-Tag@(item.ID) btn btn-outline-secondary" style="margin:5px 0px;">@opt.Title</a>
                                                                    }
                                                                }
                                                                <div class="col-lg-12">
                                                                    <input class="qnr_result form-control tags_input" data-answertype="@item.AnswerType" data-id="@item.ID" id="Tag@(item.ID)" data-role="tagsinput" @required>
                                                                </div>
                                                            </div>
                                                            break;
                                                            //case 6://狀態切換
                                                            //    break;
                                                            //case 7://檔案上傳
                                                            //    break;
                                                            //case 8://編輯器 (使用CKEditor)
                                                            //    break;
                                                            //case 9://BK
                                                            //    break;
                                                    }
                                                </div>
                                            }
                                        }
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="button" id="save_btn" class="main-button "><i class="fa fa-paper-plane"></i> 送出</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script>
        $(function () {
            $('.tags_input').each(function () {
                var thisId = $(this).attr('id').replace('Tag', '');
                var $selectedTag = $('#Tag' + thisId);
                var remove;

                //Tags
                $selectedTag.on('itemAdded', function (event) {
                    if (remove) {
                        $selectedTag.tagsinput('remove', remove);
                        remove = '';
                    }
                });
                $('.js-signer-Tag' + thisId).on('click', function () {
                    var val = $(this).text();
                    $selectedTag.tagsinput('add', val);
                });
            });

            $('.single_select_q').each(function () {
                SetTriggerAnswer($(this).data('id'), parseInt($(this).val()));
                $(this).on('change', function(){
                    var selectedVal = parseInt($(this).val());//選擇答案
                    var qId = $(this).data('id');
                    SetTriggerAnswer(qId, selectedVal);
                });
            });

            $('#save_btn').on('click', function () {
                var resultList = [];
                $('.qnr_result').each(function () {
                    var resultVal = '';
                    var answerType = $(this).data('answertype');
                    switch (answerType) {
                        case 1://文字
                            resultVal = $(this).val();
                            break;
                        case 2://多行文字
                            resultVal = $(this).val();
                            break;
                        case 3://日期
                            resultVal = $(this).val();
                            break;
                        case 4://單選
                            resultVal = $(this).val();
                            break;
                        case 5://複選
                            resultVal = $(this).val();
                            break;
                    }
                    var result = {
                        QNRID: @Model.ID,
                        QNRQuestionID: $(this).data('id'),
                        PersonId: '@personId',
                        AnswerType: answerType,
                        Answer: resultVal,
                    };

                    resultList.push(result);
                });
                var dataObj = {
                    jsonData: JSON.stringify({ 'datas': resultList }),
                };
                $.ajax({
                    url: "/QNR/SaveQNRResults",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: dataObj,
                    success: function (response) {
                        console.log(response);
                        if (response == 'success') {
                            toastr.success('儲存成功');
                        }
                        else {
                            toastr.error('儲存失敗');
                        }
                    }
                });
            });

            function SetTriggerAnswer(qId, selectedVal) {
                $('.linkq_' + qId).each(function () {
                    if (selectedVal == $(this).data('triggeranswer')) {
                        $(this).removeAttr('style', 'display:none;');
                    }
                    else {
                        $(this).attr('style', 'display:none;');
                    }
                })
            }
        })
    </script>
}