﻿@model MeetSignIn.ViewModels.QNR.QNRIndexView
@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
        .qnr_title {
            font-size: 16px;
            color: white;
            padding: 0px 8px;
            border-radius: 5px;
        }

        .qnr_desc {
            margin-bottom: 3px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
}

<div class="page-heading" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-8">
                    <div class="top-text header-text">
                        <h2 style="margin-bottom: 20px;">問卷列表</h2>
                        @*<h5 style="margin-left: 35px; margin-bottom: 20px; color:white;">@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</h5>*@
                    </div>
                </div>
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-post" style="margin-bottom: 0px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    @*<div class="first-thumb active">
                                            <div class="thumb">
                                                <span class="icon"><img src="~/Content/564_plot_listing/assets/images/search-icon-01.png" alt=""><h4>Apartments</h4></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="~/Content/564_plot_listing/assets/images/search-icon-02.png" alt=""><h4>Food &amp; Life</h4></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="~/Content/564_plot_listing/assets/images/search-icon-03.png" alt=""><h4>Cars</h4></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="~/Content/564_plot_listing/assets/images/search-icon-04.png" alt=""><h4>Shopping</h4></span>
                                            </div>
                                        </div>
                                        <div class="last-thumb">
                                            <div class="thumb">
                                                <span class="icon"><img src="~/Content/564_plot_listing/assets/images/search-icon-05.png" alt=""><h4>Traveling</h4></span>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc" style="margin-top:5%;">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    @*<div class="col-lg-12">
                                                            <div class="description">
                                                                <div class="row">
                                                                    <div class="col-lg-9">
                                                                        <h4>Description for Apartments</h4>
                                                                        <p>If you feel that Plot Listing HTML template is useful, please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="text-icon">
                                                                            <h4><img src="~/Content/564_plot_listing/assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                        </div>
                                                                        <span class="list-item">This Week: 200 Listings &amp; 150 Sales<br>This Month: 1,800 Listings &amp; 1,560 Sales<br>This Year: 16,000 Listings &amp; 14,000 Sales</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                    @if (Model.QNRList != null && Model.QNRList.Count() > 0)
                                                    {
                                                        foreach (var item in Model.QNRList)
                                                        {
                                                            string filledStyle = item.IsFilled ? "background-color: #54a95b" : "background-color: #cb4646";
                                                            string filledStr = item.IsFilled ? "已填寫" : "尚未填寫";
                                                            <div class="col-lg-12" style="margin-bottom: 10px; padding: 20px; border-bottom: 1px solid #8f96a6; ">
                                                                <div class="general-info">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <h4 style="margin-bottom:0px;">@item.Title  <label class="label qnr_title" style=" @filledStyle">@filledStr</label></h4>

                                                                            <p class="qnr_desc" style="margin-bottom: 10px">@Html.Raw(item.Description.Replace("\r\n", "<br>"))</p>
                                                                            <a class="btn btn-outline-secondary" href="@Url.Action("Form", "QNR", new { qid = item.ID })">前往</a>
                                                                            @*<span class="list-item">
                                                                                    * Listing should have all the proper documents before being checked in.
                                                                                    <br>** Listing will be checked by our team members.
                                                                                    <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                                </span>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

