﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增試卷" : "編輯試卷";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    bool isCreater = adminInfo.Account == Model.CreatePersonId;
    bool isSupervisor = adminInfo.Type < (int)MeetSignIn.Models.AdminType.TeamLeader;
    bool isSys = adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin;
    string startFillInTimeStr = Model.StartFillInTime == null ? "" : Convert.ToDateTime(Model.StartFillInTime).ToString("yyyy-MM-ddTHH:mm");
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        試卷管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.TrainingInfo.Category == (int)MeetSignIn.Models.Category.External)
                    {
                        @Html.ActionLink("返回教育訓練", "ExternalEdit", "TrainingAdmin", new { id = Model.TrainingID }, new { @class = "btn btn-default" })
                    }
                    @if (Model.TrainingInfo.Category == (int)MeetSignIn.Models.Category.Internal)
                    {
                        @Html.ActionLink("返回教育訓練", "Edit", "TrainingAdmin", new { id = Model.TrainingID }, new { @class = "btn btn-default" })
                    }
                    <a href="/Sign/TrainingSignResult/@Model.TrainingID" class="btn btn-default bg-purple" target="_blank">考試前台即時資料</a>
                    @if (Model.ID != 0 && isCreater)
                    {
                        @*@Html.ActionLink("複製試卷", "CopyQuiz", new { id = Model.ID }, new { @class = "btn btn-default" })*@
                        @*@Html.ActionLink("匯出", "ExportExcel", new { id = Model.ID }, new { @class = "btn btn-success" })*@
                    }
                </div>

                @using (Html.BeginForm("Edit", "QuizAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreatePersonId)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.Year)
                    @Html.HiddenFor(model => model.Month)
                    @Html.HiddenFor(model => model.Depts)
                    @Html.HiddenFor(model => model.IsOnline)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height: 150px" })
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.Year)
                                            @Html.DropDownListFor(model => model.Year, Model.YearOptions, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Month, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Month, Model.MonthOptions, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Depts)
                                            @Html.TextBoxFor(model => model.Depts, new { @class = "form-control" })
                                        </div>*@


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartFillInTime) (非必填)
                                        @Html.TextBoxFor(model => model.StartFillInTime, new { @class = "form-control", @type = "datetime-local" })
                                        @*<input id="StartFillInTime" class="form-control" type="datetime-local" value="@startFillInTimeStr"/>*@
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FillInTime) (非必填)
                                        @Html.TextBoxFor(model => model.FillInTime, new { @class = "form-control", @type = "number" })
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.ID != 0)
                                    {
                                        <!--編輯問題-->
                                        <div class="form-group">
                                            <h3>編輯問題</h3>
                                            <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                    <div class="col-sm-12 table-responsive">
                                                        @if (isCreater || isSys)
                                                        {
                                                            <label>搜尋題庫</label>
                                                            <br />
                                                            <input id="search_exist_question" type="text" style="width: 50%; margin-bottom: 3px;" class="form-control" />
                                                            <br />
                                                            <button id="add_qnr" type="button" class="btn btn-primary" data-toggle="modal" data-target="#QuestionModal">新增問題</button>
                                                        }
                                                        <table class="table table-bordered table-hover dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>編號</th>
                                                                    <th>問題</th>
                                                                    @*<th>類型</th>
                                                                        <th>必填</th>*@
                                                                    <th>排序</th>
                                                                    <th>分數</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.QuizQuestionList != null && Model.QuizQuestionList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.QuizQuestionList)
                                                                    {
                                                                        <tr id="question_@item.ID">
                                                                            <td>
                                                                                @item.ID
                                                                            </td>
                                                                            <td>
                                                                                @item.Question
                                                                            </td>
                                                                            @*<td>
                                                                                    @MeetSignIn.Utility.Helpers.EnumHelper.GetDescription((MeetSignIn.Models.AnswerType)item.AnswerType)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(model => item.IsRequired, "_UseStatus")
                                                                                </td>*@
                                                                            <td>
                                                                                @item.Sort
                                                                            </td>
                                                                            <td>
                                                                                @item.Points
                                                                            </td>
                                                                            <td>
                                                                                @if (isCreater || isSys)
                                                                                {
                                                                                    <button class="btn btn-primary edit_qnr" type="button" data-toggle="modal" data-target="#QuestionModal" data-id="@item.ID">編輯</button>
                                                                                    <button class="btn btn-danger delete_qnr" data-id="@item.ID">刪除</button>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--填寫資料-->
                                        <div class="form-group">
                                            <h3>人員填寫紀錄</h3>
                                            <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                    <div class="col-sm-12 table-responsive">
                                                        @if (Model.ID != 0 && isCreater)
                                                        {
                                                            <button id="clear_result" type="button" class="btn btn-default bg-maroon">清除答題記錄/重考</button>
                                                        }
                                                        <table class="table table-bordered table-hover dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>人員</th>
                                                                    <th>部門</th>
                                                                    <th>填寫日期</th>
                                                                    <th>分數</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.ID != 0 && Model.PersonResultList != null && Model.PersonResultList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.PersonResultList)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @item.PersonId @item.PersonName
                                                                            </td>
                                                                            <td>
                                                                                @item.DeptId @item.DeptName
                                                                            </td>
                                                                            <td>
                                                                                @item.CreateDate.ToString("yyyy-MM-dd")
                                                                            </td>
                                                                            <td>
                                                                                分數 : @item.TotalPoints / @Model.FullPoints
                                                                                <br />
                                                                                正確率 : @item.CorrectNum / @Model.QuizQuestionList.Count()
                                                                            </td>
                                                                            <td>
                                                                                <button class="btn btn-primary display_result" type="button" data-personid="@item.PersonId" data-qnrid="@item.QNRID" data-toggle="modal" data-target="#ResultModal">查看</button>
                                                                                @if (isCreater)
                                                                                {
                                                                                    <button class="btn btn-warning retake_quiz" type="button" data-personid="@item.PersonId" data-qnrid="@item.QNRID" data-name="@item.PersonName">重考</button>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (isCreater || isSys)
                        {
                            <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        }
                        @if (Model.TrainingID == 0)
                        {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            if (Model.TrainingInfo.Category == (int)MeetSignIn.Models.Category.External)
                            {
                                @Html.ActionLink("返回教育訓練【" + Model.TrainingInfo.Title + "】", "ExternalEdit", "TrainingAdmin", new { @class = "btn btn-default" })
                            }
                            if (Model.TrainingInfo.Category == (int)MeetSignIn.Models.Category.Internal)
                            {
                                @Html.ActionLink("返回教育訓練【" + Model.TrainingInfo.Title + "】", "Edit", "TrainingAdmin", new { @class = "btn btn-default" })
                            }
                        }
                    </div>
                }
            </div>
        </div>
        <div class="modal fade" id="QuestionModal" tabindex="-1" aria-labelledby="QuestionModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 70%; width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">編輯問題</h3>
                    </div>

                    <div class="modal-body">
                        <div class="box-head" id="question_body">

                        </div>
                        <div class="box-body">
                            <input type="hidden" id="question_id" />
                            @*<input type="hidden" id="question_linkqid" />*@
                            @*<input type="hidden" id="question_triggeranswer" />*@
                            @*<input type="hidden" id="question_answertype" value="4"/>*@
                            @*<input type="hidden" id="question_isrequired" value="true"/>*@
                            @*<div class="form-group d-none" style="margin-left:5px;">
                                    <label>觸發問題</label>
                                    <input id="question_linkqid_dis" class="form-control" disabled />
                                </div>
                                <div class="form-group d-none" style="margin-left:5px;">
                                    <label>觸發選項</label>
                                    <input id="question_triggeranswer_dis" class="form-control" disabled />
                                </div>*@
                            <div class="form-group" style="margin-left:5px;">
                                <label>問題</label>
                                <input id="question_question" class="form-control" />
                            </div>
                            @*<div class="form-group" style="margin-left:5px;">
                                    <label>類型</label>
                                    <select id="question_answertype" class="form-control">
                                        <option value="1">文字</option>
                                        <option value="2">多行文字</option>
                                        <option value="3">日期</option>
                                        <option value="4">單選</option>
                                        <option value="5">複選</option>
                                    </select>
                                </div>*@
                            @*<div class="form-group" style="margin-left:5px;">
                                    <div class="d-none">
                                        <label>選項組</label>
                                        <select id="question_optiongroup" class="form-control">
                                            <option value="">---請選擇選項組---</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="form-group" style="margin-left:5px;">
                                <label>排序</label>
                                <input id="question_sort" class="form-control" type="number" placeholder="0" />
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>分數</label>
                                <input id="question_points" class="form-control" type="number" placeholder="0" />
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>答案選項</label><br />
                                <strong style="color: gray;">
                                    * 請照順序填寫選項，每個選項需置於{}括號中，並於正確的選項前方加上@("@@")<br />
                                    ，未正確填寫將無法正確識別選項，例 : <br />
                                    {選項A}<br />
                                    {選項B}<br />
                                    {@("@@")選項C}<br />
                                    {選項D}<br />
                                </strong>
                                <textarea id="question_options" class="form-control" style="resize: none;" rows="8" placeholder="{選項A}
{選項B}
{@("@@")選項C}
{選項D}">
</textarea>
                            </div>
                            @*<div class="form-group" style="margin-left:5px;">
                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                        <input class="form-check-input" type="checkbox" id="question_isrequired" />
                                        <div class="state p-warning">
                                            <label class="form-check-label" style="font-weight:bold;">必填</label>
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="form-group d-none" style="margin-left:5px;" id="option_table">
                                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="row">
                                            <div class="col-sm-12 table-responsive">
                                                <table class="table table-bordered table-hover dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>選項</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="option_item">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none" id="link_question">

                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (isCreater || isSys)
                        {
                            <button id="save_qnr" type="button" class="btn btn-primary">儲存</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ResultModal" tabindex="-1" aria-labelledby="ResultModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 70%; width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">人員填寫紀錄</h3>
                    </div>

                    <div class="modal-body">
                        <div class="box-body" id="result_content">
                            <!--填寫問卷資料-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#StartFillInTime').val('@startFillInTimeStr');
            var availableQuestions = [];
            //var availableQuestions = [
            //    'Choose second answer.',
            //    'Is Fairly Bike located in Taiwan?',
            //    'Which of the following organisms cooperate with humans in fishing?'
            //];
            //GetOptionGroup();
            //$('#question_answertype').on('change', function () {
            //    ChangeAnswerType();
            //});

            $('#add_qnr').on('click', function () {
                if ($.trim($('#search_exist_question').val()) != '') {
                    AddExistQuiz($('#search_exist_question').val());
                    //$('#search_exist_question').val('');
                }
                else {
                    AddQuiz();
                }
            });

            $('.edit_qnr').on('click', function () {
                EditQuiz($(this));
            });


            $.ajax({
                url: "/Admin/QuizAdmin/GetQuestions",
                type: 'POST',
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    $.each(response, function (index, item) {
                        availableQuestions.push(item.Question);
                    });
                }
            });
            $("#search_exist_question").autocomplete({
                source: availableQuestions,
                minLength: 2
            });

            //ListenTriggerAnswer();

            $('#save_qnr').on('click', function () {
                var saveData = {
                    id: parseInt($('#question_id').val()) || 0,
                    qnrId: parseInt($('#ID').val()),
                    question: $('#question_question').val(),
                    //answertype: 4,
                    sort: parseInt($('#question_sort').val()) || 0,
                    points: parseInt($('#question_points').val()) || 0,
                    options: $('#question_options').val(),
                    //options: $('#question_options').val(),
                    //optiongroup: parseInt($('#question_optiongroup option:selected').val()) || 0,
                    //isrequired: $('#question_isrequired').is(':checked')
                };

                $.ajax({
                    url: "/Admin/QuizAdmin/SaveQuestion",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        if (response == 'success') {
                            toastr.success('儲存成功');
                            setTimeout(function () {
                                window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                            }, 1000);
                        }
                        else {
                            toastr.error('儲存失敗');
                        }
                    }
                });
            });

            $('.delete_qnr').on('click', function () {
                if (confirm('確定刪除此問題嗎?')) {
                    $('#question_' + $(this).data('id')).clear();
                    $.ajax({
                        url: "/Admin/OptionGroupAdmin/DeleteQuestion",
                        type: 'POST',
                        dataType: "text",
                        async: false,
                        data: {
                            Id: Id
                        },
                        success: function (response) {
                            console.log(response);
                            if (response == 'success') {
                                toastr.success('刪除成功');
                                setTimeout(function () {
                                    window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                                }, 1000);
                            }
                            else {
                                toastr.error('刪除失敗');
                            }
                        }
                    });

                }
            });

            $('#clear_result').on('click', function () {
                if (confirm('確定要刪除答題記錄嗎，一旦清除原先作答紀錄將無法復原 ?')) {
                    location.href = '@Url.Action("ClearQuizResult", "QuizAdmin", new { qid = Model.ID})';
                }
            })

            $('.retake_quiz').each(function () {
                $(this).on('click', function () {
                    if (confirm('確定要讓﹝' + $(this).data('name') + '﹞進行重考嗎，一旦確認原先作答紀錄將無法復原 ?')) {
                        location.href = '@Url.Action("ClearQuizResult", "QuizAdmin", new { qid = Model.ID})&personId=' + $(this).data('personid');
                    }
                })
            })

            $('.display_result').on('click', function () {
                //取得填寫資料
                $.ajax({
                    url: "/Admin/QuizAdmin/GetQuizResult",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        personId: $(this).data('personid'),
                        qnrid: $(this).data('qnrid'),
                    },
                    success: function (data) {
                        console.log(data);
                        var htmlStr = '';
                        $('#result_content').empty();

                        if (data.QuizQuestionList != null && data.QuizQuestionList.length > 0)
                        {
                            htmlStr += `<div style="background-color: wheat; border-radius: 5px; padding: 10px 30px; color: : dimgray; font-size: 18px; font-weight: bold;">
                                        <div>分   數 : <span style="color: royalblue;">${(data.TotalPoints + " / " + data.FullPoints)}</span></div>
                                        <div>正確率 : <span style="color: mediumseagreen;">${(data.CorrectNum + " / " + data.QuizQuestionList.length)}</span></div>
                                    </div>`;
                            for (var i = 0; i < data.QuizQuestionList.length; i++)
                            {
                                var item = data.QuizQuestionList[i];
                                htmlStr += `<div class="col-lg-12">
                                    <div class="qnr_result" data-id="${item.ID}">
                                        <p style="font-weight: bold; font-size: 18px;">${i+1}. ${item.Question} <span style="color: royalblue; font-weight: bold;">( ${item.Points} )</span></p>`;
                                for (var j = 0; j < item.OptionsList.length; j++)
                                {
                                    var opt = item.OptionsList[j];
                                    var correctStr = '';
                                    if (item.IsCorrect && opt.Value == item.Answer) {
                                        correctStr = "border: 2px solid #66b366;";
                                    }
                                    else if (opt.Value == item.Answer) {
                                        correctStr = "border: 2px solid #00d29b;";
                                    }
                                    else if (opt.Value == item.ChooseAnswer) {
                                        correctStr = "border: 2px solid #ff4848;";
                                    }
                                    htmlStr += `<div style="margin-bottom: 3px; width: 80%;">
                                                        <label style="${correctStr} border-radius: 5px; padding: 3px 10px; margin: 5px 12px; white-space: normal;">
                                                        ${opt.Text}`;
                                    if (item.IsCorrect && opt.Value == item.Answer) {
                                        htmlStr += `<span>✅</span>`;
                                    }
                                    else if (opt.Value == item.Answer) {
                                        htmlStr += `<span></span>`;
                                    }
                                    else if (opt.Value == item.ChooseAnswer) {
                                        htmlStr += `<span>❌</span>`;
                                    }
                                    htmlStr += `</label>
                                                </div>`;
                                }

                                htmlStr += `</div>
                                </div>`;
                            }
                        }
                        $('#result_content').html(htmlStr);
                    }
                });
            });

            //$('#question_optiongroup').on('change', function () {
            //    ChangeOptionGroup();
            //});

            function AddQuiz() {
                $('#question_id').val(0);
                $('#question_question').val('');
                //$('#question_answertype').val(4);
                $('#question_sort').val(parseInt('@Model.QuizQuestionList.Count()')+1);
                $('#question_points').val(0);
                $('#question_options').val('');
                //$('#question_optiongroup').val(0);
                //$('#question_isrequired').prop("checked", false);
                //GetLinkQuestionInfo();
                //ChangeAnswerType();
            }

            function AddExistQuiz(question) {
                $.ajax({
                    url: "/Admin/QuizAdmin/GetQuestionByString",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        question: question
                    },
                    success: function (response) {
                        console.log(response);
                        if (response != null) {
                            $('#question_id').val(0);
                            $('#question_question').val(response.Question);
                            $('#question_sort').val($('.edit_qnr').length+1);
                            $('#question_points').val(response.Points);
                            $('#question_options').val(response.Options);
                        }
                    }
                });
            }

            function EditQuiz(element) {
                GetQuestionInfo(element.data('id'));
                //GetLinkQuestionInfo()
                //ChangeAnswerType();
            }

            function GetQuestionInfo(Id) {
                $.ajax({
                    url: "/Admin/QuizAdmin/GetQuestion",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        questionId: Id
                    },
                    success: function (response) {
                        $('#question_id').val(response.ID);
                        //$('#question_linkqid').val(response.LinkQuizQID);
                        //$('#question_triggeranswer').val(response.TriggerAnswer);
                        $('#question_question').val(response.Question);
                        //$('#question_answertype').val(4);
                        $('#question_sort').val(response.Sort);
                        $('#question_points').val(response.Points);
                        $('#question_options').val(response.Options);
                        //$('#question_optiongroup').val(response.OptionGroup);
                        //if (response.IsRequired == true) {
                        //    $('#question_isrequired').prop("checked", true);
                        //}
                        //else {
                        //    $('#question_isrequired').prop("checked", false);
                        //}

                    }
                });
            }

            //function GetLinkQuestionInfo() {
            //    var linkqid = $(this).data('linkqid');
            //    if (linkqid != null && linkqid != '0') {
            //        $('#question_linkqid').val(linkqid);
            //        $('#question_triggeranswer').val($(this).data('triggeranswer'));
            //        $('#question_linkqid_dis').val(linkqid);
            //        $('#question_triggeranswer_dis').val($(this).data('triggeranswer'));
            //    }
            //}

            //function ListenTriggerAnswer() {
            //    $('.add_link_qnr').each(function () {
            //        var linkqid = $(this).data('linkqid');
            //        $(this).on('click', function () {
            //            if (linkqid != null) {
            //                $('#question_body').html(`<h5><button class="btn btn-default edit_link_qnr" data-id="${linkqid}">返回</button></h5>`);
            //                ListenTriggerAnswer();
            //            }
            //            else {
            //                $('#question_body').empty();
            //            }
            //            AddQuiz();
            //        });
            //    });

            //    $('.edit_link_qnr').each(function () {
            //        var linkqid = $(this).data('linkqid');
            //        $(this).on('click', function () {
            //            if (linkqid != null) {
            //                $('#question_body').html(`<h5><button class="btn btn-default edit_link_qnr" data-id="${linkqid}">返回</button></h5>`);
            //                ListenTriggerAnswer();
            //            }
            //            else {
            //                $('#question_body').empty();
            //            }
            //            EditQuiz($(this));
            //        });
            //    });
            //}

            //function ChangeOptionGroup() {
            //    var groupId = $('#question_optiongroup').val();
            //    var qId = parseInt($('#question_id').val());
            //    $.ajax({
            //        url: "/Admin/QuizAdmin/GetOptions",
            //        type: 'POST',
            //        dataType: "json",
            //        async: false,
            //        data: {
            //            groupId: groupId,
            //            qId: qId
            //        },
            //        success: function (data) {
            //            var htmlStr = '';
            //            $('#option_item').empty();
            //            for (var i = 0; i < data.length; i++) {
            //                var item = data[i];
            //                htmlStr += `<tr>
            //                                    <td>
            //                                        ${item.Title}
            //                                    </td>
            //                                    <td style="text-align: right;">`;
            //                if (item.QuizQID == 0) {
            //                    htmlStr += `<button class="btn btn-success add_link_qnr" type="button" data-id="0" data-linkqid="${qId}" data-triggeranswer="${item.ID}"><i class="fa fa-plus-square-o"> 連結問題</i></button>`;
            //                }
            //                else {
            //                    htmlStr += `<button class="btn btn-primary edit_link_qnr" type="button" data-id="${item.QuizQID}" data-linkqid="${qId}" data-triggeranswer="${item.ID}"><i class="fa fa-pencil-square-o"> 連結問題</i></button>`;
            //                }
            //                htmlStr += `</td>
            //                            </tr>`;
            //            }
            //            $('#option_item').html(htmlStr);
            //            ListenTriggerAnswer();
            //        }
            //    });
            //}

            //function GetOptionGroup() {
            //    var htmlStr = '';
            //    $.ajax({
            //        url: "/Admin/OptionGroupAdmin/GetOptionGroup",
            //        type: 'POST',
            //        dataType: "json",
            //        async: false,
            //        success: function (response) {
            //            console.log(response);
            //            for (var i = 0; i < response.length; i++) {
            //                var item = response[i];
            //                htmlStr += `<option value="${item.ID}">${item.Title}</option>`;
            //            }
            //            $('#question_optiongroup').html(htmlStr);
            //        }
            //    });
            //}

            //function ChangeAnswerType() {
            //    switch ($('#question_answertype').val()) {
            //        case '4':
            //            $('#question_optiongroup').parent().removeClass('d-none');
            //            $('#option_table').removeClass('d-none');
            //            ChangeOptionGroup();
            //            break;
            //        case '5':
            //            $('#question_optiongroup').parent().removeClass('d-none');
            //            $('#option_table').addClass('d-none');
            //            break;
            //        default:
            //            $('#question_optiongroup').parent().addClass('d-none');
            //            $('#option_table').addClass('d-none');
            //            break;
            //    }
            //}

            var remove;
            var $selectedDeptType = $('#Depts');

            //Depts
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedDeptType.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Depts').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });
        });
    </script>
}