﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.FilesView
@{

}

@if (Model != null)
{
<div style="border: 3px solid mediumpurple; border-radius: 5px; padding: 10px; margin-bottom: 20px;">
    <div style="font-weight: bold; margin-top: 10px; margin-bottom: 10px; font-size:18px;" class="hv-item">
        @Model.FileNameType
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="hv-content">
                <p style="font-size: 14px;">@Html.Raw(Model.Description)</p>
            </div>
        }
    </div>
    @if (Model.HasLink)
    {
        <div style="font-weight: bold;">
            <a class="btn btn-info" href="@Model.LinkText" target="_blank">查看連結</a>
            <br />
            <p style="color:red">*@Model.LinkDesc</p>
        </div>
    }
    @if (Model.HasSample)
    {
        <div style="text-align: right; font-weight: bold;">
            <a class="btn btn-primary" style="background-color: #016e87 !important;" href="@Model.SampleLink" target="_blank">下載公版</a>
        </div>
    }

    <br />
    @if (!Model.IsFinished && Model.IsCreater && Model.CanUpload)
    {
        @Html.TextBoxFor(model => model.UploadFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
        <code>請上傳總和不超過10MB的檔案</code>
        <br />
        @Html.ValidationMessageFor(model => model.MainFile, "", new { @class = "text-danger" })
    }

    @Html.HiddenFor(model => model.MainFile)
    @Html.HiddenFor(model => model.FileList)

    @if (Model.FileList != null && Model.FileList.Count() > 0)
    {
        <div style="max-height: 500px; overflow-y: auto;">
            @foreach (var item in Model.FileList)
            {
                if (!string.IsNullOrEmpty(item.FileName))
                {
                    string fileName = item.FileName;
                    if (item.FileName.Contains("#"))
                    {
                        item.FileName = item.FileName.Replace("#", "%23");
                    }
                    <div style="border: 2px solid gray; border-radius: 5px; padding: 10px 50px 10px 10px;">
                        @if (item.FileName.ToLower().IndexOf(".pdf") > 0)
                        {
                            <iframe src="~/FileUploads/ClosingFile/@item.FileName" width="100%" height="300px"></iframe>
                        }
                        else if (item.FileName.ToLower().IndexOf(".jpg") > 0 || item.FileName.ToLower().IndexOf(".png") > 0)
                        {
                            <img src="~/FileUploads/ClosingFile/@item.FileName" class="img-thumbnail" style="width:400px" />
                        }
                        <p style="font-weight:bold;">@fileName</p>
                        <br />
                        <a class="btn btn-success" href="/FileUploads/ClosingFile/@item.FileName" target="_blank">下載檔案</a>
                        @Html.ActionLink("刪除檔案", "DeleteClosingFile", "TrainingAdmin", new { id = item.ID, trainingId = Model.TrainingID, editPage = "Edit" }, new { @class = "btn btn-danger js-delete-confirm", @target = "_blank" })
                    </div>
                    <br />
                }
                <hr align="center" width="100%" class="hr_split" style="border-color: #966ab1; border-style: double;">
            }
        </div>
    }
    @if (Model.ExistFiles != null && Model.ExistFiles.Count() > 0)
    {
        <div style="max-height: 500px; overflow-y: auto;">
            @foreach (var item in Model.ExistFiles)
            {
                if (!string.IsNullOrEmpty(item))
                {
                    <div style="border: 2px solid gray; border-radius: 5px; padding: 10px 50px 10px 10px;">
                        @if (item.IndexOf(".pdf") > 0)
                        {
                            <iframe src="@item" width="100%" height="300px"></iframe>
                        }
                        else if (item.IndexOf(".jpg") > 0 || item.IndexOf(".png") > 0)
                        {
                            <img src="@item" class="img-thumbnail" style="width:400px" />
                        }
                        <p style="font-weight:bold;">@item</p>
                        <br />
                        <a class="btn btn-success" href="@item" target="_blank">下載檔案</a>                       
                    </div>
                    <br />
                }
                <hr align="center" width="100%" class="hr_split" style="border-color: #966ab1; border-style: double;">
            }
        </div>
    }
</div>
}
