﻿@model  MeetSignIn.Areas.Admin.ViewModels.PersonKPI.PersonKPIPercentageTask

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.PersonKPIID)
@Html.HiddenFor(model => model.PersonKPIStateID)
@Html.HiddenFor(model => model.PersonId)
@Html.HiddenFor(model => model.DeptId)
@Html.HiddenFor(model => model.IsLatest)
@Html.HiddenFor(model => model.IsInvalid)
@Html.HiddenFor(model => model.CreateDate)
@Html.HiddenFor(model => model.QuarterTitle)

<tr>
    <td>
        @Html.EditorFor(model => model.PersonKPITitle, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PersonKPITitle, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.PersonKPIStateTitle, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PersonKPIStateTitle, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control" } }) %
        @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
    </td>
</tr>