﻿@model  MeetSignIn.Models.PersonKPIState

@{
    var data = Model;
}

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Title)
@Html.HiddenFor(model => model.PersonKPIID)
@Html.HiddenFor(model => model.TargetNum)
@Html.HiddenFor(model => model.TargetUnit)
@Html.HiddenFor(model => model.IsLatest)
@Html.HiddenFor(model => model.CreateDate)
<div>
    <p>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "resize: vertical; height: 100px;", @placeholder = "簡述" })
    </p>
    <p>
        @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control", @type = "number", @placeholder = "占比 %" })
    </p>
    <p>
        @Html.TextBoxFor(model => model.Quarter, new { @class = "form-control", @placeholder = "考核季度" })
    </p>
    <p>
        @Html.TextBoxFor(model => model.CheckDate, new { @class = "form-control", @type = "date", @style = "padding: 3px; border-radius: 3px; border: 1px solid #d2d6de;" })
    </p>
</div>

<script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        var checkDate = '@Model.CheckDate'
        $('#PersonKPIList_0__StateOptions_0__CheckDate').val(ComposeDate(checkDate));
    })
    function ComposeDate(dateStr) {
        var checkDate = new Date(parseInt(dateStr.substr(6)));
        var day = ("0" + checkDate.getDate()).slice(-2);
        var month = ("0" + (checkDate.getMonth() + 1)).slice(-2);
        var today = checkDate.getFullYear() + "-" + (month) + "-" + (day);
        return today;
    }
</script>