﻿@model  MeetSignIn.Areas.Admin.ViewModels.Test.UserTask

@Html.HiddenFor(model => model.UserTaskId)

<tr>
    <td>
        @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.CompletedDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CompletedDate, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
    </td>
</tr>