﻿@model MeetSignIn.Areas.Admin.ViewModels.Manager.ManagerView
@{
    ViewBag.Title = "Edit";
    string editType = Model.ID == 0 ? "新增" : "檢視";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

@section styles{
    <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}

<section class="content-header">
    <h1>
        帳號管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@editType</h3>
                    @Html.ActionLink("培訓紀錄", "Edit", "PersonAdmin", new { jid = Model.Account }, new { @class = "btn btn-default" })
                    <input type="button" class="btn btn-default bg-olive" id="export_modal_btn" data-personid="@Model.Account" data-toggle="modal" data-target="#exportAttendTrainingModal" value="匯出出席紀錄" />
                </div>

                @using (Html.BeginForm("Edit", "ManagerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.Department)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">人員資訊</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">職能文件</a></li>
                            </ul>
                            <div class="tab-content" style="padding:0px;">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Account)
                                        @if (Model.ID != 0)
                                        {
                                            @Html.TextBoxFor(model => model.Account, new { @class = "form-control", @readonly = "true" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.Account, new { @class = "form-control" })
                                        }
                                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password)
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @maxlength = "50" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptId, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.DeptId, Model.DepartmentOptions, new { @class = "form-control lock_switch" })
                                    </div>

                                    @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin)
                                    {
                                        <div class="form-group">
                                            <label>@Html.LabelFor(model => model.Type)</label><br />
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.Type, Model.AdminTypeOptions, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.Status, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                        <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.IsPrincipal, new { @class = "form-check-input" })
                                            <div class="state p-notice">
                                                @Html.LabelFor(model => model.IsPrincipal, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label>@Html.LabelFor(model => model.Type)</label><br />
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.Type, Model.AdminTypeOptions, new { @class = "form-control", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Type)
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.Status)
                                        @Html.HiddenFor(model => model.IsPrincipal)
                                    }

                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.FunctionDocs) (講師職能證明)<br />
                                            @Html.TextBoxFor(model => model.DocFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.FunctionDocs, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.HiddenFor(model => model.FunctionDocs)
                                        @if (Model.DocList != null && Model.DocList.Count() > 0)
                                        {
                                            foreach (var item in Model.DocList)
                                            {
                                                string fileName = item.FileName;
                                                <div class="col-md-6">
                                                    <div class="box box-default">
                                                        <div class="box-body">
                                                            @if (fileName.IndexOf(".pdf") > 0)
                                                            {
                                                                <iframe src="~/FileUploads/ManagerPhoto/@fileName" width="100%" height="300px"></iframe>
                                                            }
                                                            else if (fileName.IndexOf(".jpg") > 0 || fileName.IndexOf(".png") > 0)
                                                            {
                                                                <img src="~/FileUploads/ManagerPhoto/@fileName" class="img-thumbnail" style="width:400px" />
                                                            }
                                                            else
                                                            {
                                                                <p style="font-weight:bold;">@item.FileName</p>
                                                            }
                                                            <br />
                                                            <a class="btn btn-success" href="~/FileUploads/ManagerPhoto/@item.FileName" target="_blank" style="margin:3px;">下載檔案</a>
                                                            @Html.ActionLink("刪除檔案", "DeleteFile", "ManagerAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin:3px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin)
                        {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                            @Html.ActionLink("新增帳號", "Edit", new { id = 0 }, new { @class = "btn btn-primary", @style = "margin-left: 3px;" })
                        }
                    </div>
                }
            </div>
        </div>

        <div class="modal fade" id="exportAttendTrainingModal" tabindex="-1" aria-labelledby="exportAttendTrainingModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 40%; width: 80% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">匯出出席紀錄</h3>
                    </div>
                    <div class="modal-body">
                        <div class="box-body" style="max-height: 400px; overflow-y: auto;">
                            <input type="hidden" id="export_personid" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="margin-top: 20px;">起始日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="export_start" value="@DateTime.Now.AddYears(-2).Year-01-01" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="margin-top: 20px;">結束日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="export_end" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-olive" id="export_attendTraining">確認匯出</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#export_modal_btn').on('click', function () {
                $('#export_personid').val($(this).data('personid'));
            });
            $('#export_attendTraining').on('click', function () {
                var personId = $('#export_personid').val();
                var start = $('#export_start').val();
                var end = $('#export_end').val();
                window.open(`@Url.Action("ExportTrainingAttendList", "TrainingAdmin")?start=${start}&end=${end}&personId=${personId}`);
            });
        })
    </script>
}
