﻿@model MeetSignIn.Areas.Admin.ViewModels.Manager.ManagerIndexView
@{
    ViewBag.Title = "Index";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<section class="content-header">
    <h1>
        帳號管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ManagerAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Account, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Account, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Type, Model.AdminTypeOptions, "---類別---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Status, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增帳號", "Edit", "ManagerAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">帳號列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Account)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Department)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Account)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Department)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.Account
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    <label class="dept_tag">@item.Department</label>
                                                </td>
                                                <td>
                                                    @MeetSignIn.Utility.Helpers.EnumHelper.GetDescription((MeetSignIn.Models.AdminType)item.Type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Status, "_Status")
                                                </td>
                                                <td>
                                                    @item.UpdateDate.ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin)
                                                    {
                                                        @Html.ActionLink("檢視帳號", "Edit", "ManagerAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                    }
                                                    @if (item.Type != (int)MeetSignIn.Models.AdminType.Sysadmin)
                                                    {
                                                        @Html.ActionLink("培訓紀錄", "Edit", "PersonAdmin", new { jid = item.Account }, new { @class = "btn btn-default" })
                                                        <input type="button" class="btn btn-default bg-olive" id="export_modal_btn" data-personid="@item.Account" data-toggle="modal" data-target="#exportAttendTrainingModal" value="匯出出席紀錄"/>
                                                        @*@Html.ActionLink("匯出出席紀錄", "ExportTrainingAttendList", "TrainingAdmin", new { personId = item.Account }, new { @class = "btn btn-default bg-olive" })*@
                                                    }
                                                    @*@if (item.Type == 2)
                                                        {
                                                            @Html.ActionLink("刪除", "Delete", "ManagerAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                        }*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exportAttendTrainingModal" tabindex="-1" aria-labelledby="exportAttendTrainingModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 40%; width: 80% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">匯出出席紀錄</h3>
                    </div>
                    <div class="modal-body">
                        <div class="box-body" style="max-height: 400px; overflow-y: auto;">
                            <input type="hidden" id="export_personid" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="margin-top: 20px;">起始日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="export_start" value="@DateTime.Now.AddYears(-2).Year-01-01"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="margin-top: 20px;">結束日期</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="export_end" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-olive" id="export_attendTraining">確認匯出</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('#export_modal_btn').on('click', function () {
                $('#export_personid').val($(this).data('personid'));
            });
            $('#export_attendTraining').on('click', function () {
                var personId = $('#export_personid').val();
                var start = $('#export_start').val();
                var end = $('#export_end').val();
                window.open(`@Url.Action("ExportTrainingAttendList", "TrainingAdmin")?start=${start}&end=${end}&personId=${personId}`);
            });
        })
    </script>
}
