﻿@model MeetSignIn.Areas.Admin.ViewModels.PFAppraise.PFAppraiseView
@{
    ViewBag.Title = "Edit";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    string auditProcessing = ((int)MeetSignIn.Models.FormAudit.Processing).ToString();
    string auditApproval = ((int)MeetSignIn.Models.FormAudit.Approval).ToString();
    string auditReject = ((int)MeetSignIn.Models.FormAudit.Reject).ToString();
}

@section styles{
    <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        填寫表單管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">績效評比-填寫資料</h3>
                </div>

                @using (Html.BeginForm("Edit", "PFAppraiseAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.PersonId)
                    @Html.HiddenFor(model => model.DeptId)
                    @Html.HiddenFor(model => model.AppraiseID)
                    @*@Html.HiddenFor(model => model.ClassID)*@
                    @*@Html.HiddenFor(model => model.Points)*@
                    @Html.HiddenFor(model => model.FromAudit)

                    <div class="box-body">
                        <div class="nav-tabs-custom" style="box-shadow: none;">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_99">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.SeasonID)
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.SeasonTitle" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                        @Html.LabelFor(model => model.PersonId)
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.PersonName @Model.PersonId" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                        @Html.LabelFor(model => model.DeptId)
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.DeptId @Model.DeptName" disabled />
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.TLAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.TLRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.TLRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.TLRemark)
                                    @Html.HiddenFor(model => model.TLAuditDate)

                                    @Html.HiddenFor(model => model.CSAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.CSRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.CSRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.CSRemark)
                                    @Html.HiddenFor(model => model.CSAuditDate)

                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerAuditDate)

                                    @*@if (Model.AuditLevelInfo != null)
                                    {
                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.TeamLeader && Model.TLAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.TLReview)
                                        {//班組長
                                            <div class="form-group">

                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.TLAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.TLAudit, auditProcessing, new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.TLAudit, auditApproval, new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.TLAudit, auditReject, new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.TLRemark)
                                                    @Html.TextAreaFor(model => model.TLRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.TLAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.TLAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.TLRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.TLRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.TLRemark)
                                            @Html.HiddenFor(model => model.TLAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.ClassSupervisor && Model.CSAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.CSReview)
                                        {//課級主管
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.CSAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.CSAudit, auditProcessing, new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.CSAudit, auditApproval, new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.CSAudit, auditReject, new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.CSRemark)
                                                    @Html.TextAreaFor(model => model.CSRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.CSAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.CSAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.CSRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.CSRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.CSRemark)
                                            @Html.HiddenFor(model => model.CSAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                        {//主管
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.ManagerAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, auditProcessing, new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, auditApproval, new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, auditReject, new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark)
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ManagerAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerRemark)
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.CSAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.CSRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.CSRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.CSRemark)
                                        @Html.HiddenFor(model => model.CSAuditDate)

                                        @Html.HiddenFor(model => model.TLAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.TLRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.TLRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.TLRemark)
                                        @Html.HiddenFor(model => model.TLAuditDate)

                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }*@

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="signature_area">
                                            <label class="label label-default bg-maroon">班組長簽章</label>
                                            <div style="position: relative; width: 170px">
                                                @if (Model.TLAudit > 1)
                                                {
                                                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.TLSignature)))
                                                    {
                                                        Model.TLSignature = "0001.jpg";
                                                    }
                                                    <img class="signature_img" src="~/Content/Signature/@Model.TLSignature" style=" width: 160px; height: 160px;" />
                                                    if (Model.TLSignature == "0001.jpg")
                                                    {
                                                        if (Model.CSDeptId == "0001")
                                                        {
                                                            <p class="signature_dept signature_dept_manager">菲力工業</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="signature_dept signature_dept_manager">@Model.TLDeptName</p>
                                                        }
                                                        <p class="signature_name signature_name_manager">@Model.TLName</p>
                                                    }
                                                    else if (Model.TLSignature == "0000.jpg")
                                                    {
                                                        <p class="signature_dept signature_dept_manager">菲力工業</p>
                                                        <p class="signature_name signature_name_manager">人資部</p>
                                                    }
                                                    <p class="signature_date signature_date_manager">@Model.TLAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                }
                                                else
                                                {
                                                    <label class="text text-danger no_signature">無簽章</label>
                                                }
                                            </div>
                                            @Html.HiddenFor(model => model.TLSignature)
                                            @Html.HiddenFor(model => model.TLRemark)
                                            @Html.HiddenFor(model => model.TLAuditDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="signature_area">
                                            <label class="label label-default bg-maroon">課級主管簽章</label>
                                            <div style="position: relative; width: 170px">
                                                @if (Model.CSAudit > 1)
                                                {
                                                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.CSSignature)))
                                                    {
                                                        Model.CSSignature = "0001.jpg";
                                                    }
                                                    <img class="signature_img" src="~/Content/Signature/@Model.CSSignature" style=" width: 160px; height: 160px;" />
                                                    if (Model.CSSignature == "0001.jpg")
                                                    {
                                                        if (Model.CSDeptId == "0001")
                                                        {
                                                            <p class="signature_dept signature_dept_officer">菲力工業</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="signature_dept signature_dept_officer">@Model.CSDeptName</p>
                                                        }
                                                        <p class="signature_name signature_name_officer">@Model.CSName</p>
                                                    }
                                                    else if (Model.CSSignature == "0000.jpg")
                                                    {
                                                        <p class="signature_dept signature_dept_officer">菲力工業</p>
                                                        <p class="signature_name signature_name_officer">人資部</p>
                                                    }
                                                    <p class="signature_date signature_date_officer">@Model.CSAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                }
                                                else
                                                {
                                                    <label class="text text-danger no_signature">無簽章</label>
                                                }
                                            </div>
                                            @Html.HiddenFor(model => model.CSSignature)
                                            @Html.HiddenFor(model => model.CSRemark)
                                            @Html.HiddenFor(model => model.CSAuditDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="signature_area">
                                            <label class="label label-default bg-maroon">主管簽章</label>
                                            <div style="position: relative; width: 170px">
                                                @if (Model.ManagerAudit > 1)
                                                {
                                                    if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ManagerSignature)))
                                                    {
                                                        Model.ManagerSignature = "0001.jpg";
                                                    }
                                                    <img class="signature_img" src="~/Content/Signature/@Model.ManagerSignature" style=" width: 160px; height: 160px;" />
                                                    if (Model.ManagerSignature == "0001.jpg")
                                                    {
                                                        <p class="signature_dept signature_dept_vice">@Model.ManagerDeptName</p>
                                                        <p class="signature_name signature_name_vice">@Model.ManagerName</p>
                                                    }
                                                    else if (Model.ManagerSignature == "0000.jpg")
                                                    {
                                                        <p class="signature_dept signature_dept_vice">菲力工業</p>
                                                        <p class="signature_name signature_name_vice">人資部</p>
                                                    }
                                                    <p class="signature_date signature_date_vice">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                }
                                                else
                                                {
                                                    <label class="text text-danger no_signature">無簽章</label>
                                                }
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerSignature)
                                            @Html.HiddenFor(model => model.ManagerRemark)
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.TeamLeader || adminInfo.Type == (int)MeetSignIn.Models.AdminType.ClassSupervisor || adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager)
                        {
                            <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                            <button id="ReturnBtn" type="button" class="btn btn-danger">退件</button>
                        }

                        @if (Model.FromAudit)
                        {
                            int? stateInt = 0;
                            int? pfStateInt = 0;
                            switch (adminInfo.Type)
                            {
                                case (int)MeetSignIn.Models.AdminType.Manager:
                                    stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                    pfStateInt = (int)MeetSignIn.Models.PFAuditState.CSAudit;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.Vice:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                    pfStateInt = null;
                                    break;
                                //case (int)MeetSignIn.Models.AdminType.Principal:
                                //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                //    pfStateInt = null;
                                //    break;
                                case (int)MeetSignIn.Models.AdminType.President:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                    pfStateInt = null;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.HR:
                                    pfStateInt = (int)MeetSignIn.Models.AuditState.HRAudit;
                                    stateInt = null;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.ClassSupervisor:
                                    pfStateInt = (int)MeetSignIn.Models.PFAuditState.TLAudit;
                                    stateInt = null;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.TeamLeader:
                                    pfStateInt = (int)MeetSignIn.Models.PFAuditState.Processing;
                                    stateInt = null;
                                    break;
                            }
                            if (adminInfo.IsPrincipal)
                            {
                                stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                pfStateInt = null;
                            }
                            @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt, PFState = pfStateInt }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("取消/回列表", "Index", "PFAppraiseAdmin", new { @class = "btn btn-default" })
                        }

                    </div>


                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                @for (int k = 0; k < Model.WorkList.Count(); k++)
                                {
                                    var work = Model.WorkList[k];
                                    string active = k == 0 ? "active" : "";
                                    <li class="@active"><a href="#tab_@k" data-toggle="tab" data-index="@k">@work.Title</a></li>
                                }
                            </ul>
                            <div class="tab-content" style="border-left: 1px solid #f4f4f4; border-right: 1px solid #f4f4f4; ">
                                @for (int k = 0; k < Model.WorkList.Count(); k++)
                                {
                                    @Html.HiddenFor(model => model.WorkList[k].AppraiseWorksID)
                                    var work = Model.WorkList[k];
                                    string active = k == 0 ? "active" : "";
                                    <div class="tab-pane @active" id="tab_@k">
                                        <div class="col-xs-12" style="display: contents;">
                                            <div class="box" style="border-top: 0px;">
                                                <div class="box-header">
                                                    <div class="pull-left">

                                                        <label>班組長審核 : </label>
                                                        <br />
                                                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.TeamLeader && work.IsFinished && work.IsAudit)
                                                        {
                                                            @Html.HiddenFor(model => model.WorkList[k].CSAudit)
                                                            @Html.HiddenFor(model => model.WorkList[k].ManagerAudit)
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].TLAudit, 1)
                                                                <div class="state p-warning">
                                                                    <label>待審</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].TLAudit, 2)
                                                                <div class="state p-success">
                                                                    <label>核准</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].TLAudit, 3)
                                                                <div class="state p-danger">
                                                                    <label>駁回</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(model => model.WorkList[k].TLAudit, "_AuditStatus")
                                                        }

                                                        <label>課級主管審核 : </label>
                                                        <br />
                                                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.ClassSupervisor && Model.WorkList[k].TLAudit == (int)MeetSignIn.Models.FormAudit.Approval && work.IsFinished && work.IsAudit)
                                                        {
                                                            @Html.HiddenFor(model => model.WorkList[k].TLAudit)
                                                            @Html.HiddenFor(model => model.WorkList[k].ManagerAudit)
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].CSAudit, 1)
                                                                <div class="state p-warning">
                                                                    <label>待審</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].CSAudit, 2)
                                                                <div class="state p-success">
                                                                    <label>核准</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].CSAudit, 3)
                                                                <div class="state p-danger">
                                                                    <label>駁回</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(model => model.WorkList[k].CSAudit, "_AuditStatus")
                                                        }

                                                        <label>主管審核 : </label>
                                                        <br />
                                                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.WorkList[k].CSAudit == (int)MeetSignIn.Models.FormAudit.Approval && work.IsFinished && work.IsAudit)
                                                        {
                                                            @Html.HiddenFor(model => model.WorkList[k].TLAudit)
                                                            @Html.HiddenFor(model => model.WorkList[k].CSAudit)
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].ManagerAudit, 1)
                                                                <div class="state p-warning">
                                                                    <label>待審</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].ManagerAudit, 2)
                                                                <div class="state p-success">
                                                                    <label>核准</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="pretty p-switch" style="margin-bottom:10px;">
                                                                @Html.RadioButtonFor(model => model.WorkList[k].ManagerAudit, 3)
                                                                <div class="state p-danger">
                                                                    <label>駁回</label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(model => model.WorkList[k].ManagerAudit, "_AuditStatus")
                                                        }
                                                    </div>
                                                    <h3 class="box-title pull-right" style="font-size: 20px;"><label class="label label-info" style="background-color: #4d8779 !important;">職責權重點數 : <span id="weight_@work.ID">@work.Points</span></label></h3>
                                                    <br />
                                                    <h3 class="box-title pull-right" style="margin-top: 10px; font-size: 20px; "><label class="label label-info" style="background-color: #6f8c9b !important;">總分 : <span class="total_points" id="total_points_@work.ID">0</span></label></h3>
                                                </div>
                                                <div class="box-body">
                                                    <div id="dataList_wrapper_@k" class="dataTables_wrapper form-inline dt-bootstrap">
                                                        <div class="row">

                                                            <div class="col-sm-12 table-responsive">

                                                                <table class="table table-bordered table-hover dataTable">
                                                                    <tbody>
                                                                        @for (int i = 0; i < work.CateList.Count(); i++)
                                                                        {
                                                                            var cate = work.CateList[i];
                                                                            <tr>
                                                                                <td>
                                                                                    @if (cate.ItmList.Count() > 0)
                                                                                    {
                                                                                        <table class="table table-hover dataTable">
                                                                                            @if (i == 0)
                                                                                            {
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <td width="15%"><div class="table_header">分類</div></td>
                                                                                                        <td width="30%"><div class="table_header">項目</div></td>
                                                                                                        <td width="50%"><div class="table_header">層級</div></td>
                                                                                                        <td width="5%"><div class="table_header">點數</div></td>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                            }

                                                                                            <tbody>
                                                                                                @for (int j = 0; j < cate.ItmList.Count(); j++)
                                                                                                {
                                                                                                    var item = cate.ItmList[j];
                                                                                                    <tr>
                                                                                                        <td width="15%" style="background-color: #ffd7d7;">
                                                                                                            @if (j == 0)
                                                                                                            {
                                                                                                                <div class="cate_title">@cate.Title</div>
                                                                                                            }
                                                                                                        </td>
                                                                                                        <td width="30%" style="background-color: #c0e9bb;">
                                                                                                            <div class="itm_title">@item.Title</div>
                                                                                                        </td>
                                                                                                        <td width="50%" style="background-color: #c1dfff;">
                                                                                                            <div class="lvl_title">@item.LvlTitle</div>
                                                                                                        </td>
                                                                                                        <td width="5%" style="background-color: #fff9b6;" class="points_@work.ID" id="lv_@item.LvlID">
                                                                                                            @item.LvlPoints
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }

                                                                                            </tbody>
                                                                                        </table>
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#SaveBtn').on('click', function () {
                if (confirm('確定儲存送審資料嗎?')) {
                    $('#IsAudit').val(true);
                    $('#EditForm').submit();
                }
            })

            $('.total_points').each(function () {
                var points = 0;
                var workId = $(this).attr('id').split('_')[2];
                $('.points_' + workId).each(function () {
                    points += parseInt($(this).text());
                });
                var weight = parseInt($('#weight_' + workId).text());
                $('#total_points_' + workId).text(points * weight);
            });


            $('.pfwork').each(function () {
                var itemId = $(this).attr('id').split('_')[1];
                SetWorksInfo(parseInt(itemId));
            });

            function SetWorksInfo(itemId) {
                var thisItem = $('#lvlid_' + itemId);
                if (itemId != 0 && $('#Title').val() != '') {
                    $.ajax({
                        url: "/PFWorksAdmin/GetWorks",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            workId: @Model.ID,
                            title: $('#Title').val(),
                            itemId: itemId,
                            classId: '@Model.ClassID',
                            deptId: '@Model.DeptId',
                        },
                        success: function (data) {
                            thisItem.data('points', data.Points);
                            thisItem.data('id', data.ID);
                            thisItem.val(data.LvlID);

                            var points = parseInt($('#Points').val());
                            $('#Points').val(points + data.Points);
                            $('#lvlpoints_' + itemId).text(data.Points);
                        }
                    });
                }
                thisItem.data('itm', itemId);
            }

            $('#ReturnBtn').on('click', function () {
                if (confirm('確定要退件嗎?')) {
                    SetReturn();
                }                
            });

            function SetReturn() {
                 $.ajax({
                    url: "/PFAppraiseAdmin/SetReturn",
                    type: 'POST',
                    anysc: false,
                    dataType: "json",
                    data: {
                        appraiseId: @Model.AppraiseID,
                    },
                    success: function (data) {
                        console.log(data);
                        if (data == 'success') {
                            toastr.success('已退件 !');
                            location.reload();
                        }
                        else {
                            toastr.error('退件失敗 !');
                        }
                    }
                });
            }
        })
    </script>
}