﻿@model MeetSignIn.Areas.Admin.ViewModels.PFAppraise.PFAppraiseIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        填寫表單管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "PFAppraiseAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SeasonTitle, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.SeasonTitle, new { @class = "form-control", @placeholder = "季度" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.DeptId, Model.DeptOptions, "---選擇部門---", new { @class = "form-control" })
                        </div>
                    </div>                 

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">搜尋</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">表單列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @*@Html.Partial("_PageSizeAdmin", Model.PageResult)*@
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                評比季度、部門
                                            </th>
                                            <th>
                                                填表人
                                            </th>
                                            @*<th>
                                                班別
                                            </th>*@
                                            @*<th>
                                                總分
                                            </th>*@
                                            <th>
                                                審核狀態
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                        <tr>
                                            <td>
                                                <label class="label label-default">@item.SeasonTitle</label> <label class="dept_tag">@item.DeptName</label>
                                                @foreach (var classTitle in item.ClassTitleList)
                                                {
                                                    <label class="label label-warning" style="background-color:#833a8b !important;">@classTitle</label>
                                                }
                                            </td>
                                            <td>
                                                <label class="dept_tag">@item.PersonDeptName</label> <label class="label label-primary">@item.PersonName</label>
                                            </td>
                                            @*<td>
                                                @item.ClassTitle
                                            </td>*@
                                            @*<td>
                                                @item.Points
                                            </td>*@
                                            <td>
                                                @if (item.IsInvalid)
                                                {
                                                    <label class="label label-danger" style="margin-left:3px; margin-top:3px;">已駁回</label>
                                                }
                                                else
                                                {
                                                    if (item.AuditState == (int)MeetSignIn.Models.AuditState.PresidentAudit)
                                                    {
                                                        <label class="label label-success" style="margin-left:3px; margin-top:3px;">已核准</label>
                                                        <br />
                                                    }

                                                    @Html.DisplayFor(model => item.AuditStatus, "_PFStateStatus")
                                                    <br />
                                                }
                                                @*@Html.DisplayFor(model => item.AuditState, "_Status")*@
                                            </td>                                  
                                            <td>                                                 
                                                @Html.ActionLink("查看", "Edit", "PFAppraiseAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                @Html.ActionLink("匯出", "ExportListExcel", "PFAppraiseAdmin", new { id = item.ID }, new { @class = "btn btn-primary bg-olive", @target = "_blank" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


