﻿@{ 
    var memberInfo = MeetSignIn.Utility.Helpers.MemberInfoHelper.GetMemberInfo();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>菲力工業會議系統</title>
    <link rel="icon" type="image/x-icon" href="/Content/assets/img/fairlybike.ico" />

    <!-- Bootstrap core CSS -->
    <link href="~/Content/564_plot_listing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/564_plot_listing/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/564_plot_listing/assets/css/templatemo-plot-listing.css?t=@DateTime.Now.Millisecond">
    <link rel="stylesheet" href="~/Content/564_plot_listing/assets/css/animated.css">
    <link rel="stylesheet" href="~/Content/564_plot_listing/assets/css/owl.css">

    <!--bootstrap-tagsinput-->
    <link href="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <!--

    TemplateMo 564 Plot Listing

    https://templatemo.com/tm-564-plot-listing

    -->
    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <style>
        img.square {
            width: 100px;
            border-radius: 50%;
            /*border: 1px solid rgba(255,0,0,1.00);*/
        }

        .background-header {
            background-color: transparent !important;
        }

        .dept_btn {
            border: 2px solid #a97d63;
            border-radius: 3px;
            font-weight: bold;
        }

        .nav li {            
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .menu_li {
            background-color: #00000059 !important;
            border-radius: 7px !important;
            margin-right: 3px !important;
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .label-default {
            background-color: #d2d6de;
            color: #444;
        }

        .label-info {
            background-color: #00c0ef !important;
        }

        .label-primary {
            background-color: #3c8dbc !important;
        }

        .label-success {
            background-color: #00a65a !important;
        }

        .label-warning {
            background-color: #f39c12 !important;
        }

        .label-danger {
            background-color: #dd4b39 !important;
        }
    </style>

    <script src="~/Content/js/device.js"></script>
    <script>
        //$(window).on('beforeunload', function (e) {
        //    debugger;
        //    var newWindow = window.open('', '_self', ''); //open the current window
        //    window.close(newWindow);
        //});
        //window.addEventListener('beforeunload', e => {
        //    //var newWindow = window.open('', '_self', ''); //open the current window
        //    //window.close(newWindow);
        //    event.preventDefault();
        //    return false;
        //})
        //window.addEventListener('unload', e => {
        //    var newWindow = window.open('', '_self', ''); //open the current window
        //    window.close(newWindow);
        //})
    </script>
    @RenderSection("head", required: false)
    @RenderSection("styles", required: false)
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="@Url.Action("Index", "Home")" class="logo"></a>

                        <ul class="nav">
                            @*<li><a href="@Url.Action("Index", "Home")">會議</a></li>*@
                            @*<li><a href="@Url.Action("PFIndex", "PF")">績效評比 / การประเมินผลการปฏิบัติงาน</a></li>*@
                            <li class="menu_li"><a href="@Url.Action("PFIndex", "PF")" style="color: #fff;">績效評比</a></li>
                            <li class="menu_li"><a href="@Url.Action("QNR", "QNR")" style="color: #fff;">問卷列表</a></li>
                            <li class="menu_li"><a href="@Url.Action("MeetingSign", "Sign")" style="color: #fff;">會議簽到記錄</a></li>
                            <li class="menu_li"><a href="@Url.Action("TrainingSign", "Sign")" style="color: #fff;">訓練課程簽到記錄</a></li>
                            @*
                                <li><a href="@Url.Action("Index", "Meeting")">查看會議</a></li>
                                <li><a href="@Url.Action("Index", "Sign")">簽到</a></li>*@
                            @*<li><a href="contact.html">Contact Us</a></li>*@
                            @if (memberInfo != null)
                            {
                                <li style="background-color: rgb(190 190 190 / 0.31); color: #303030; border-radius: 7px;"><a href="javascript:void(0)">@memberInfo.Name</a></li>
                            }

                            @*<li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li>*@
                            <li style="padding-left: 5px !important;"><div class="main-white-button"><a href="@Url.Action("Logout", "Auth")"><i class="fa fa-arrow-right"></i> Log out</a></div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/Content/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    @*<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>*@

    <script language="Javascript">
        $(function () {
            window.addEventListener('load', function () {

                var isWindowTop = false;
                var lastTouchY = 0;

                var touchStartHandler = function (e) {
                    if (e.touches.length !== 1) return;
                    lastTouchY = e.touches[0].clientY;
                    isWindowTop = (window.pageYOffset === 0);
                };

                var touchMoveHandler = function (e) {
                    var touchY = e.touches[0].clientY;
                    var touchYmove = touchY - lastTouchY;
                    lastTouchY = touchY;

                    if (isWindowTop) {
                        isWindowTop = false;
                        // 阻擋移動事件
                        if (touchYmove > 0) {
                            e.preventDefault();
                            return;
                        }
                    }

                };

                document.addEventListener('touchstart', touchStartHandler, false);
                document.addEventListener('touchmove', touchMoveHandler, false);

            });
        });
        //遮蔽滑鼠右鍵、Ctrl+R、shift+F10、F5重新整理、退格鍵

        /**
        * 遮蔽按鍵重新整理
        */
        function KeyDown() {
            //alert(22);
            if ((window.event.altKey) &&
                ((window.event.keyCode == 37) || //遮蔽 Alt+ 方向鍵 ←
                    (window.event.keyCode == 39))) { //遮蔽 Alt+ 方向鍵 →
                alert("不准你使用ALT+方向鍵前進或後退網頁!");
                window.event.returnValue = false;
            }


            if (window.event.keyCode == 116) { //遮蔽 F5 重新整理鍵
                alert("禁止F5重新整理網頁!");
                window.event.keyCode = 0;
                window.event.returnValue = false;
            }


            if ((window.event.ctrlKey) && (window.event.keyCode == 82)) { //遮蔽 Ctrl+R
                alert("禁止Ctrl+R重新整理網頁!");
                window.event.returnValue = false;
            }


            if ((window.event.shiftKey) && (window.event.keyCode == 121)) { //遮蔽 shift+F10
                alert("禁止shift+F10重新整理網頁!");
                window.event.returnValue = false;
            }
        }

    </script>

    @RenderSection("scripts", required: false)
    @*<footer>
            <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                                    <div class="about">
                                        <div class="logo">
                                            <img src="~/Content/564_plot_listing/assets/images/black-logo.png" alt="">
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adicingi elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.</p>
                                    </div>
                            </div>
                        <div class="col-lg-4">
                            <div class="helpful-links">
                                <h4>Helpful Links</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Home")">首頁</a></li>
                                            <li><a href="@Url.Action("Index", "Meeting")">查看會議</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Sign")">簽到</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-us">
                                <h4>Contact Us</h4>
                                <p>236新北市土城區勝利街4號 一廠2樓電腦中心</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="#">02 2268 7166 #501</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sub-footer">
                                <p>
                                    Copyright © 2021 Plot Listing Co., Ltd. All Rights Reserved.
                                    <br>
                                    Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>*@

    <!-- jQuery 3 -->
    <script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js"></script>
    <!-- Scripts -->
    @*<script src="~/Content/564_plot_listing/vendor/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/564_plot_listing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/564_plot_listing/assets/js/owl-carousel.js"></script>
    <script src="~/Content/564_plot_listing/assets/js/animation.js"></script>
    <script src="~/Content/564_plot_listing/assets/js/imagesloaded.js"></script>
    <script src="~/Content/564_plot_listing/assets/js/custom.js"></script>

    <!--bootstrap-tagsinput-->
    <script src="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>

    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    @Html.Partial("_PromptNotification")

</body>

</html>
