﻿@model MeetSignIn.Models.Others.Page
@{
    var prePageDisable = Model.CurrentPage == 1;
    var prePageDisableCss = prePageDisable ? "disabled" : null;
    var prePage = (Model.CurrentPage - 1);

    var nextPageDisable = Model.CurrentPage == Model.TotalPages;
    var nextPageDisableCss = nextPageDisable ? "disabled" : null;
    var nextPage = (Model.CurrentPage + 1);

    var currentPage = Model.CurrentPage;

    var start = (Model.CurrentPage - 1) * Model.PageSize + 1;
    var end = start + (Model.Count - 1);

    int showPagesCount = 2;
    int showPageStart = Math.Max(Model.CurrentPage - showPagesCount, 1);
    int showPageEnd = Math.Min(Model.CurrentPage + showPagesCount, Model.TotalPages);
}

<style>
    .paginate_button {
        font-weight:bold;
        color: darkslategray;
        background-color: aliceblue;
        margin: 3px;
        padding: 3px 15px;
        border-radius: 5px;
    }

    .paginate_button:hover{
        background-color: #d4d4d4;
        color: black;
    }
</style>
<div>
    <div class="col-sm-5">
        <div class="dataTables_info" id="dataList_info" style="color: lightgray;">
            第 @start 筆到 @end 筆，總共 @Model.Total 筆
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataList_paginate">
            @if (Model.TotalPages > 1)
            {
                <ul class="pagination" style="margin-bottom: 15px;">
                    @if (currentPage > showPageStart && showPageStart > 0)
                    {
                        <li class="previous @prePageDisableCss" id="dataList_previous"><a href="#" class="paginate_button" data-pager="@prePage">上一頁</a></li>
                    }
                    @if (showPageStart > 1)
                    {
                        <li><a href="#" class="paginate_button" data-pager="1">1</a></li>
                    }
                    @if (showPageStart > 2)
                    {
                        <li class="disabled"><a href="#" class="paginate_button" data-pager="">...</a></li>
                    }
                    @for (int i = showPageStart; i <= showPageEnd; i++)
                    {
                        var currentPageActive = (i == currentPage) ? "active" : null;
                        <li class="@currentPageActive"><a href="#" class="paginate_button" data-pager="@i">@i</a></li>
                    }
                    @if (showPageEnd < Model.TotalPages - 1)
                    {
                        <li class="disabled"><a href="#" class="paginate_button" data-pager="">...</a></li>
                    }
                    @if (showPageEnd != Model.TotalPages)
                    {
                        <li><a href="#" class="paginate_button" data-pager="@Model.TotalPages">@Model.TotalPages</a></li>
                    }
                    @if (currentPage < showPageEnd && showPageEnd > 0)
                    {
                        <li class="next @nextPageDisableCss" id="dataList_next"><a href="#" class="paginate_button" data-pager="@nextPage">下一頁</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>