﻿@model MeetSignIn.Areas.Admin.ViewModels.InternalAcceptance.InternalAcceptanceView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增驗收資料" : "編輯驗收資料";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    int reject = (int)MeetSignIn.Models.ApprovalState.Reject;
    int approved = (int)MeetSignIn.Models.ApprovalState.Approved;
    //bool isCreater = Model.TrainingInfo.Creater == adminInfo.ID;
    bool isCreater = Model.PersonID == adminInfo.Account;
    string groupType = Model.IsGroup ? "團體" : "個人";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        內訓驗收
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = Model.PersonID })">教育訓練</a></li>
        <li class="active">【@Model.TrainingInfo.Title】 內訓驗收</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    <br />
                    <label class="label label-default bg-aqua">@groupType</label><br />
                    @Html.ActionLink("外訓申請表", "External", "TrainingAdmin", new { trainingId = Model.ID }, new { @class = "btn bg-yellow", @style = "margin: 6px 0px !important; background-color:#ad784b !important;", @target = "_blank" })
                    @if (Model.IsAudit && adminInfo.Account == Model.PersonID)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Edit", "InternalAcceptanceAdmin", new { trainingId = Model.TrainingID, personId = Model.PersonID, isNew = true }, new { @class = "btn btn-default bg-maroon", @style = "6px 0px", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                    }
                </div>

                @using (Html.BeginForm("Edit", "InternalAcceptanceAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.PersonID)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.IsGroup)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)
                    @Html.HiddenFor(model => model.OfficerAudit)

                    <div class="box-body">
                        <div class="">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.Name)
                                        <input class="form-control" maxlength="50" value="@Model.Name" disabled>
                                    </div>
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.TrainingInfo.Title)
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.Title" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓時間</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.StartDate.ToString("yyyy/MM/dd") - @Model.TrainingInfo.EndDate.ToString("yyyy/MM/dd")" disabled />
                                    </div>
                                    <div class="col-sm-5">
                                        <label>主辦單位</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.DeptName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓地點</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.RoomStr" disabled>
                                    </div>
                                    <div class="col-sm-5">
                                        <label>講師名稱</label>
                                        <textarea class="form-control" style="resize: none;" disabled>@Model.Lecturer</textarea>
                                    </div>
                                </div>
                                @if (Model.IsAudit)
                                {
                                    if (Model.HasLearning)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <hr align="center" width="100%" class="hr_split">
                                                @Html.LabelFor(model => model.IsPassed)
                                                @if (Model.IsPassed)
                                                {
                                                    <label class="label label-success">通過</label>
                                                }
                                                else
                                                {
                                                    <label class="label label-danger">未通過</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Score)
                                                @Html.TextBoxFor(model => model.Score, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.AcceptanceDesc)
                                                @Html.TextAreaFor(model => model.AcceptanceDesc, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.AcceptanceDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    if (Model.HasActionPlan)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @Html.TextAreaFor(model => model.ActionPlan, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.ActionPlan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @if (!string.IsNullOrEmpty(Model.ActionPlanFile))
                                                {
                                                    if (Model.ActionPlanFile.IndexOf(".pdf") > 0)
                                                    {
                                                        <iframe src="~/FileUploads/InternalAcceptancePhoto/@Model.ActionPlanFile" width="100%" height="300px"></iframe>
                                                    }
                                                    <br />
                                                    <a class="btn btn-info" href="~/FileUploads/InternalAcceptancePhoto/@Model.ActionPlanFile" target="_blank">下載檔案</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                    if (Model.HasPerformance)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Performance)
                                                @Html.TextAreaFor(model => model.Performance, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Performance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    @Html.HiddenFor(model => model.Score)
                                    @Html.HiddenFor(model => model.IsPassed)
                                    @Html.HiddenFor(model => model.AcceptanceDesc)
                                    @Html.HiddenFor(model => model.ActionPlan)
                                    @Html.HiddenFor(model => model.ActionPlanFile)
                                    @Html.HiddenFor(model => model.Performance)
                                }
                                else
                                {
                                    if (isCreater && Model.HasLearning)
                                    {//承辦人評分
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @*<hr align="center" width="100%" class="hr_split">*@
                                                @Html.LabelFor(model => model.Score)
                                                @Html.TextBoxFor(model => model.Score, new { @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12" style="margin-top:10px;">
                                                <div class="pretty p-switch p-slim" style="margin-bottom:5px;">
                                                    @Html.CheckBoxFor(model => model.IsPassed, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-success">
                                                        <label id="passed_text">通過</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.AcceptanceDesc)
                                                @Html.TextAreaFor(model => model.AcceptanceDesc, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.AcceptanceDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    else if (!isCreater && Model.HasLearning)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @*<hr align="center" width="100%" class="hr_split">*@
                                                @Html.LabelFor(model => model.IsPassed)
                                                @if (Model.IsPassed)
                                                {
                                                    <label class="label label-success">通過</label>
                                                }
                                                else
                                                {
                                                    <label class="label label-danger">未通過</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Score)
                                                @Html.TextBoxFor(model => model.Score, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.Score)
                                        @Html.HiddenFor(model => model.IsPassed)
                                        @Html.HiddenFor(model => model.AcceptanceDesc)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Score)
                                        @Html.HiddenFor(model => model.IsPassed)
                                        @Html.HiddenFor(model => model.AcceptanceDesc)
                                    }
                                    if (Model.HasActionPlan)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ActionPlan)
                                                @Html.TextAreaFor(model => model.ActionPlan, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.ActionPlan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ActionPlan)
                                            @Html.TextBoxFor(model => model.ActionPlanPost, "", new { @class = "form-control", @type = "file", @accept = "image/*,.pdf,.doc,.docx", @style = "height: 100% !important;" })
                                            @Html.HiddenFor(model => model.ActionPlanFile)
                                            <code>請上傳總和不超過10MB的檔案</code>
                                            @Html.ValidationMessageFor(model => model.ActionPlanFile, "", new { @class = "text-danger" })
                                            @if (!string.IsNullOrEmpty(Model.ActionPlanFile))
                                            {
                                                string fileName = Model.ActionPlanFile;
                                                if (!string.IsNullOrEmpty(Model.ActionPlanFile))
                                                {
                                                    @Html.Partial("_DisplayFile", "InternalAcceptancePhoto" + "_" + fileName)
                                                    @*if (Model.ActionPlanFile.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/InternalAcceptancePhoto/@Model.ActionPlanFile" width="100%" height="300px"></iframe>
                                            }
                                            else
                                            {
                                                <img src="~/FileUploads/InternalAcceptancePhoto/@Model.ActionPlanFile" class="img-thumbnail" style="width:400px" />
                                            }
                                            <br />
                                            <a class="btn btn-info" href="~/FileUploads/InternalAcceptancePhoto/@Model.ActionPlanFile" target="_blank">下載檔案</a>*@
                                                }
                                                @Html.ActionLink("刪除檔案", "DeleteActionPlanFile", "ExternalAcceptanceAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ActionPlan)
                                        @Html.HiddenFor(model => model.ActionPlanFile)
                                    }
                                    if (Model.HasPerformance)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.Performance)
                                                @Html.TextAreaFor(model => model.Performance, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                                @Html.ValidationMessageFor(model => model.Performance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Performance)
                                    }
                                }
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split">
                                    </div>
                                </div>
                                <br />
                                @if (isCreater && Model.OfficerAudit <= 1)
                                {//承辦人
                                    @*<div class="form-group">
                                <div class="col-sm-3">
                                    <label>填表人</label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                        @Html.RadioButtonFor(model => model.OfficerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                    </div>
                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                        @Html.RadioButtonFor(model => model.OfficerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                    </div>
                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                        @Html.RadioButtonFor(model => model.OfficerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                    </div>
                                </div>
                            </div>*@
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label>填表人備註</label>
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label>填表人備註</label>
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerAuditDate)
                                }

                                @if ((Model.AuditLevelInfo != null || Model.TrainingInfo.Creater == 1) && !isCreater)
                                {
                                    bool activeAudit = false;
                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                    {//主管
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ManagerAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark)
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                                    {//副總
                                        activeAudit = true;
                                        <div class="form-group">

                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.ViceAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark)
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ViceAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceRemark)
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                    }

                                    if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                                    {//總經理
                                        activeAudit = true;
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PresidentAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark)
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PresidentAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentRemark)
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                    }

                                    //if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Principal && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                    if (adminInfo.IsPrincipal && !activeAudit && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                    {//校長
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.PrincipalAudit)
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                </div>
                                                <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                    @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark)
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.PrincipalAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalRemark)
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerAuditDate)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceAuditDate)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentAuditDate)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                            @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalAuditDate)
                                }

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                    </div>
                                </div>
                                @Html.DisplayFor(model => Model, "_AuditSignature")
                                @*<div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">承辦人簽章</label>
                                <div style="position: relative; width: 170px">
                                    @if (Model.OfficerAudit > 1)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.OfficerSignature)))
                                        {
                                            Model.OfficerSignature = "0001.jpg";
                                        }
                                        if (Model.OfficerDeptId == null)
                                        {
                                            Model.OfficerSignature = "0000.jpg";
                                            Model.OfficerAuditDate = Model.CreateDate;
                                        }
                                        string approval_state = "";
                                        if (Model.OfficerAudit == reject)
                                        {
                                            approval_state = "signature_img_reject";
                                        }
                                        else if (Model.OfficerAudit == approved)
                                        {
                                            approval_state = "signature_img_Approved";
                                        }
                                        <img class="signature_img @approval_state" src="~/Content/Signature/@Model.OfficerSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.OfficerSignature == "0001.jpg")
                                        {
                                            if (Model.OfficerDeptId == "0001")
                                            {
                                                <p class="signature_dept signature_dept_officer">菲力工業</p>
                                            }
                                            else
                                            {
                                                <p class="signature_dept signature_dept_officer">@Model.OfficerDeptName</p>
                                            }
                                            <p class="signature_name signature_name_officer">@Model.OfficerName</p>
                                        }
                                        else if (Model.OfficerSignature == "0000.jpg")
                                        {
                                            <p class="signature_dept signature_dept_officer">菲力工業</p>
                                            <p class="signature_name signature_name_officer">人資部</p>
                                        }
                                        <p class="signature_date signature_date_officer">@Model.OfficerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.OfficerSignature)
                                @Html.HiddenFor(model => model.OfficerRemark)
                                @Html.HiddenFor(model => model.OfficerAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">主管簽章</label>
                                <div style="position: relative; width: 170px">
                                    @if (Model.ManagerAudit > 1)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ManagerSignature)))
                                        {
                                            Model.ManagerSignature = "0001.jpg";
                                        }
                                        string approval_state = "";
                                        if (Model.ManagerAudit == reject)
                                        {
                                            approval_state = "signature_img_reject";
                                        }
                                        else if (Model.ManagerAudit == approved)
                                        {
                                            approval_state = "signature_img_Approved";
                                        }
                                        <img class="signature_img @approval_state" src="~/Content/Signature/@Model.ManagerSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.ManagerSignature == "0001.jpg")
                                        {
                                            if (Model.OfficerDeptId == "0001")
                                            {
                                                <p class="signature_dept signature_dept_manager">菲力工業</p>
                                            }
                                            else
                                            {
                                                <p class="signature_dept signature_dept_manager">@Model.ManagerDeptName</p>
                                            }
                                            <p class="signature_name signature_name_manager">@Model.ManagerName</p>
                                        }
                                        else if (Model.ManagerSignature == "0000.jpg")
                                        {
                                            <p class="signature_dept signature_dept_manager">菲力工業</p>
                                            <p class="signature_name signature_name_manager">人資部</p>
                                        }
                                        <p class="signature_date signature_date_manager">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.ManagerSignature)
                                @Html.HiddenFor(model => model.ManagerRemark)
                                @Html.HiddenFor(model => model.ManagerAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">副總簽章</label>
                                <div style="position: relative; width: 170px">
                                    @if (Model.ViceAudit > 1)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.ViceSignature)))
                                        {
                                            Model.ViceSignature = "0001.jpg";
                                        }
                                        string approval_state = "";
                                        if (Model.ViceAudit == reject)
                                        {
                                            approval_state = "signature_img_reject";
                                        }
                                        else if (Model.ViceAudit == approved)
                                        {
                                            approval_state = "signature_img_Approved";
                                        }
                                        <img class="signature_img @approval_state" src="~/Content/Signature/@Model.ViceSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.ViceSignature == "0001.jpg")
                                        {
                                            <p class="signature_dept signature_dept_vice">@Model.ViceDeptName</p>
                                            <p class="signature_name signature_name_vice">@Model.ViceName</p>
                                        }
                                        else if (Model.ViceSignature == "0000.jpg")
                                        {
                                            <p class="signature_dept signature_dept_vice">菲力工業</p>
                                            <p class="signature_name signature_name_vice">人資部</p>
                                        }
                                        <p class="signature_date signature_date_vice">@Model.ViceAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.ViceSignature)
                                @Html.HiddenFor(model => model.ViceRemark)
                                @Html.HiddenFor(model => model.ViceAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">總經理簽章</label>
                                <div style="position: relative; width:170px">
                                    @if (Model.PresidentAudit > 1)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.PresidentSignature)))
                                        {
                                            Model.PresidentSignature = "0001.jpg";
                                        }
                                        string approval_state = "";
                                        if (Model.PresidentAudit == reject)
                                        {
                                            approval_state = "signature_img_reject";
                                        }
                                        else if (Model.PresidentAudit == approved)
                                        {
                                            approval_state = "signature_img_Approved";
                                        }
                                        <img class="signature_img @approval_state" src="~/Content/Signature/@Model.PresidentSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.PresidentSignature == "0001.jpg")
                                        {
                                            <p class="signature_dept signature_dept_president">@Model.PresidentDeptName</p>
                                            <p class="signature_name signature_name_president">@Model.PresidentName</p>
                                        }
                                        else if (Model.PresidentSignature == "0000.jpg")
                                        {
                                            <p class="signature_dept signature_dept_president">菲力工業</p>
                                            <p class="signature_name signature_name_president">人資部</p>
                                        }
                                        <p class="signature_date signature_date_president">@Model.PresidentAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.PresidentSignature)
                                @Html.HiddenFor(model => model.PresidentRemark)
                                @Html.HiddenFor(model => model.PresidentAuditDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="signature_area">
                                <label class="label label-default bg-maroon">校長簽章</label>
                                <div style="position: relative; width: 170px">
                                    @if (Model.PrincipalAudit > 1)
                                    {
                                        if (!System.IO.File.Exists(Server.MapPath("/Content/Signature/" + Model.PrincipalSignature)))
                                        {
                                            Model.PrincipalSignature = "0001.jpg";
                                        }
                                        string approval_state = "";
                                        if (Model.PrincipalAudit == reject)
                                        {
                                            approval_state = "signature_img_reject";
                                        }
                                        else if (Model.PrincipalAudit == approved)
                                        {
                                            approval_state = "signature_img_Approved";
                                        }
                                        <img class="signature_img @approval_state" src="~/Content/Signature/@Model.PrincipalSignature" style=" width: 160px; height: 160px;" />
                                        if (Model.PrincipalSignature == "0001.jpg")
                                        {
                                            <p class="signature_dept signature_dept_principal">@Model.PrincipalDeptName</p>
                                            <p class="signature_name signature_name_principal">@Model.PrincipalName</p>
                                        }
                                        else if (Model.PrincipalSignature == "0000.jpg")
                                        {
                                            <p class="signature_dept signature_dept_principal">菲力工業</p>
                                            <p class="signature_name signature_name_principal">人資部</p>
                                        }
                                        <p class="signature_date signature_date_principal">@Model.PrincipalAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                    }
                                    else
                                    {
                                        <label class="text text-danger no_signature">無簽章</label>
                                    }
                                </div>
                                @Html.HiddenFor(model => model.PrincipalSignature)
                                @Html.HiddenFor(model => model.PrincipalRemark)
                                @Html.HiddenFor(model => model.PrincipalAuditDate)
                            </div>
                        </div>*@

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-10">
                            @if (Model.PrincipalAudit > 1)
                            {
                                <p class="label label-success">已結案</p>
                            }
                            else
                            {
                                <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                            }
                            @if (Model.HasLearning)
                            {
                                //if (Model.ID != 0 && adminInfo.ID == Model.TrainingInfo.Creater && !Model.IsAudit)
                                //{
                                <button id="SendIAAudit" type="button" class="btn btn-warning">送審</button>
                                @*}
                        else
                        {
                            <code>本訓練需評分考核，需承辦人評分後送審</code>
                        }*@
                            }
                            else
                            {
                                if (adminInfo.Account == Model.PersonID && !Model.IsAudit)
                                {
                                    <button id="SendIAAudit" type="button" class="btn btn-warning">送審</button>
                                }
                            }

                            @if (Model.FromAudit)
                            {
                                int stateInt = 0;
                                switch (adminInfo.Type)
                                {
                                    case (int)MeetSignIn.Models.AdminType.Manager:
                                        stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                        break;
                                    case (int)MeetSignIn.Models.AdminType.Vice:
                                        stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                        break;
                                    //case (int)MeetSignIn.Models.AdminType.Principal:
                                    //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                    //    break;
                                    case (int)MeetSignIn.Models.AdminType.President:
                                        stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                        break;
                                }
                                if (adminInfo.IsPrincipal)
                                {
                                    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                }
                                @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("取消/回列表", "Participate", "TrainingAdmin", new { PersonID = adminInfo.Account }, new { @class = "btn btn-default" })
                            }

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //setDateTime($("#DelegateDate"), 0);
            $('#SaveBtn').on('click', function () {
                $('#EditForm').submit();
            });
            if ($('#IsAudit').val() == 'True') {
                $('.lock_disabled').each(function () {
                    $(this).attr('disabled', true);
                });
            }

            $('#SendIAAudit').on('click', function () {
                if ('@Model.HasLearning' == 'True') {
                    if ($('#Score').val() == 0) {
                        alert('【分數】不可為零 ! ');
                        return false;
                    }
                }
                if ('@Model.HasPerformance' == 'True') {
                    //if (CKEDITOR.instances.Performance.getData() == '') {
                    if ($('#Performance').val() == '') {
                        alert('【績效欄位】不可為空白 ! ');
                        return false;
                    }
                }
                if ('@Model.HasActionPlan' == 'True') {
                  /*  if (CKEDITOR.instances.ActionPlan.getData() == '') {*/
                    if ($('#ActionPlan').val() == '' && $('#ActionPlanPost') == null) {
                        alert('【行動計畫】不可為空白 ! ');
                        return false;
                    }
                }
                $('#IsAudit').val(true);
                $('#EditForm').submit();
            });
        })
    </script>
}