﻿@model MeetSignIn.Areas.Admin.ViewModels.AuditLevel.AuditLevelIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        部門簽核層級管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "AuditLevelAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptName, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.DeptName, new { @class = "form-control", @placeholder = "部門" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrincipalReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.PrincipalReview, Model.PrincipalOptions, "---校長---", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.PresidentReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.PresidentReview, Model.PresidentOptions, "---總經理---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ViceReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ViceReview, Model.ViceOptions, "---副總經理---", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.ManagerReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ManagerReview, Model.ManagerOptions, "---主管---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CSReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.CSReview, Model.CSOptions, "---課級主管---", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.TLReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.TLReview, Model.TLOptions, "---班組長---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HRReview, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.HRReview, Model.HROptions, "---人資---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增會議室", "Edit", "AuditLevelAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">部門列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PrincipalReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PresidentReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ViceReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.HRReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ManagerReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CSReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.TLReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr style="font-weight: bold;">
                                                <td>
                                                    <label class="dept_tag"> @item.DeptId @item.DeptName</label>                                                   
                                                </td>
                                                <td class="text text-yellow">
                                                    @item.PrincipalReview
                                                </td>
                                                <td class="text text-red">
                                                    @item.PresidentReview
                                                </td>
                                                <td class="text text-green">
                                                    @item.ViceReview
                                                </td>
                                                <td class="text" style="color: darkcyan;">
                                                    @item.HRReview
                                                </td>
                                                <td class="text text-blue">
                                                    @item.ManagerReview
                                                </td>
                                                <td class="text" style="color: rebeccapurple;">
                                                    @item.CSReview
                                                </td>
                                                <td class="text" style="color: brown;">
                                                    @item.TLReview
                                                </td>                                                
                                                <td>
                                                    @item.UpdateDate.ToString("yyyy-MM-dd HH:mm")
                                                </td>
                                                <td>
                                                    @Html.ActionLink("查看", "Edit", "AuditLevelAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PrincipalReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PresidentReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ViceReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.HRReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.ManagerReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CSReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.TLReview)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


