﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Plot Listing HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/564_plot_listing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/Content/564_plot_listing/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/Content/564_plot_listing/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/Content/564_plot_listing/assets/css/animated.css">
    <link rel="stylesheet" href="/Content/564_plot_listing/assets/css/owl.css">
    <!--

    TemplateMo 564 Plot Listing

    https://templatemo.com/tm-564-plot-listing

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="@Url.Action("Index", "Home")" class="logo"></a>

                        <ul class="nav">
                            <li><a href="@Url.Action("Index", "Home")">首頁</a></li>
                            <li><a href="@Url.Action("Index", "Meeting")">查看會議</a></li>
                            <li><a href="@Url.Action("Index", "Sign")">簽到</a></li>
                            @*<li><a href="contact.html">Contact Us</a></li>*@
                            <li><div class="main-white-button">@*<a href="#"><i class="fa fa-plus"></i> Add Your Listing</a>*@</div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h6>Over 36,500+ Active Listings</h6>
                        <h2>Find Nearby Places &amp; Things</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form id="search-form" name="gs" method="submit" role="search" action="#">
                        <div class="row">
                            <div class="col-lg-3 align-self-center">
                                <fieldset>
                                    <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                                        <option selected>All Areas</option>
                                        <option value="New Village">New Village</option>
                                        <option value="Old Town">Old Town</option>
                                        <option value="Modern City">Modern City</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-3 align-self-center">
                                <fieldset>
                                    <input type="address" name="address" class="searchText" placeholder="Enter a location" autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-3 align-self-center">
                                <fieldset>
                                    <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                                        <option selected>Price Range</option>
                                        <option value="$100 - $250">$100 - $250</option>
                                        <option value="$250 - $500">$250 - $500</option>
                                        <option value="$500 - $1000">$500 - $1,000</option>
                                        <option value="$1000+">$1,000 or more</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <button class="main-button"><i class="fa fa-search"></i> Search Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <ul class="categories">
                        <li><a href="category.html"><span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-01.png" alt="Home"></span> Apartments</a></li>
                        <li><a href="listing.html"><span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-02.png" alt="Food"></span> Food &amp; Life</a></li>
                        <li><a href="#"><span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-03.png" alt="Vehicle"></span> Cars</a></li>
                        <li><a href="#"><span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-04.png" alt="Shopping"></span> Shopping</a></li>
                        <li><a href="#"><span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-05.png" alt="Travel"></span> Traveling</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="popular-categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Popular Categories</h2>
                        <h6>Check Them Out</h6>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="naccs">
                        <div class="grid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="menu">
                                        <div class="first-thumb active">
                                            <div class="thumb">
                                                <span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-01.png" alt=""></span>
                                                Apartments
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-02.png" alt=""></span>
                                                Food &amp; Life
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-03.png" alt=""></span>
                                                Cars
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-04.png" alt=""></span>
                                                Shopping
                                            </div>
                                        </div>
                                        <div class="last-thumb">
                                            <div class="thumb">
                                                <span class="icon"><img src="/Content/564_plot_listing/assets/images/search-icon-05.png" alt=""></span>
                                                Traveling
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 align-self-center">
                                    <ul class="nacc">
                                        <li class="active">
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-5 align-self-center">
                                                            <div class="left-text">
                                                                <h4>One Of The Most Trending Stuffs Right Now!</h4>
                                                                <p>Plot Listing is a responsive Bootstrap 5 website template that included 4 different HTML pages. This template is provided by TemplateMo website. You can apply this layout for your static or dynamic CMS websites.</p>
                                                                <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 align-self-center">
                                                            <div class="right-image">
                                                                <img src="/Content/564_plot_listing/assets/images/tabs-image-01.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-5 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Food and Lifestyle category is here</h4>
                                                                <p>You can feel free to download, edit and apply this template for your website. Please tell your friends about TemplateMo website.</p>
                                                                <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Explore More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 align-self-center">
                                                            <div class="right-image">
                                                                <img src="/Content/564_plot_listing/assets/images/tabs-image-02.jpg" alt="Foods on the table">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-5 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Best car rentals for your trips!</h4>
                                                                <p>Did you know? You can get the best free HTML templates on Too CSS blog. Visit the blog pages and explore fresh and latest website templates.</p>
                                                                <div class="main-white-button"><a href="listing.html"><i class="fa fa-eye"></i> More Listing</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 align-self-center">
                                                            <div class="right-image">
                                                                <img src="/Content/564_plot_listing/assets/images/tabs-image-03.jpg" alt="cars in the city">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-5 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Shopping List: Images from Unsplash</h4>
                                                                <p>Image credits go to Unsplash website that provides free stock photos for anyone. Images used in this Plot Listing template are from Unsplash.</p>
                                                                <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 align-self-center">
                                                            <div class="right-image">
                                                                <img src="/Content/564_plot_listing/assets/images/tabs-image-04.jpg" alt="Shopping Girl">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-5 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Information and Safety Tips for Traveling</h4>
                                                                <p>You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites.</p>
                                                                <div class="main-white-button"><a rel="nofollow" href="https://templatemo.com/contact"><i class="fa fa-eye"></i> Read More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 align-self-center">
                                                            <div class="right-image">
                                                                <img src="/Content/564_plot_listing/assets/images/tabs-image-05.jpg" alt="Traveling Beach">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="recent-listing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Recent Listing</h2>
                        <h6>Check Them Out</h6>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-carousel owl-listing">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-01.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>1. First Apartment Unit</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(18) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $450 - $950 / month with taxes</span>
                                            <span class="details">Details: <em>2760 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-02.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>2. Another House of Gaming</h4></a>
                                            <h6>by: Top Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(24) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $1,400 - $3,500 / month with taxes</span>
                                            <span class="details">Details: <em>3650 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-03.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>3. Secret Place Hidden House</h4></a>
                                            <h6>by: Best Property</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(36) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $1,500 - $3,600 / month with taxes</span>
                                            <span class="details">Details: <em>5500 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-04.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>4. Sunshine Fourth Apartment</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(24) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $3,600 / month with taxes</span>
                                            <span class="details">Details: <em>3660 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 5 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-05.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>5. Best House Of the Town</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(32) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $5,600 / month with taxes</span>
                                            <span class="details">Details: <em>1750 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 6 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-06.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>6. Amazing Pool Party Villa</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(40) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $3,850 / month with taxes</span>
                                            <span class="details">Details: <em>3660 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-05.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>7. Sunny Apartment</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(24) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $5,450 / month with taxes</span>
                                            <span class="details">Details: <em>1640 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 8 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 5 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-02.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>8. Third House of Gaming</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(15) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $5,520 / month with taxes</span>
                                            <span class="details">Details: <em>1660 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 5 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img src="/Content/564_plot_listing/assets/images/listing-06.jpg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>9. Relaxing BBQ Party Villa</h4></a>
                                            <h6>by: Sale Agent</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(20) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="/Content/564_plot_listing/assets/images/listing-icon-01.png" alt=""></div> $4,760 / month with taxes</span>
                                            <span class="details">Details: <em>2880 sq ft</em></span>
                                            <ul class="info">
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-02.png" alt=""> 6 Bedrooms</li>
                                                <li><img src="/Content/564_plot_listing/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about">
                        <div class="logo">
                            <img src="/Content/564_plot_listing/assets/images/black-logo.png" alt="Plot Listing">
                        </div>
                        <p>If you consider that <a rel="nofollow" href="https://templatemo.com/tm-564-plot-listing" target="_parent">Plot Listing template</a> is useful for your website, please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="helpful-links">
                        <h4>Helpful Links</h4>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <ul>
                                    <li><a href="#">Categories</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Listing</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Awards</a></li>
                                    <li><a href="#">Useful Sites</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-us">
                        <h4>Contact Us</h4>
                        <p>27th Street of New Town, Digital Villa</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">010-020-0340</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#">090-080-0760</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>
                            Copyright © 2021 Plot Listing Co., Ltd. All Rights Reserved.
                            <br>
                            Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="/Content/564_plot_listing/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/564_plot_listing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/564_plot_listing/assets/js/owl-carousel.js"></script>
    <script src="/Content/564_plot_listing/assets/js/animation.js"></script>
    <script src="/Content/564_plot_listing/assets/js/imagesloaded.js"></script>
    <script src="/Content/564_plot_listing/assets/js/custom.js"></script>

</body>

</html>
