﻿@{
    ViewBag.Title = "Contact";
}
<h2 style="margin-top: 40%;">@ViewBag.Title.</h2>
<h1>GPU:
    <script>document.write(MobileDevice.getGlRenderer());</script>
</h1>
<h1>Resolution:
    <script>document.write(MobileDevice.getResolution());</script>
</h1>
<h1>Device Models:
    <script>document.write(MobileDevice.getModels().join(' or '));</script>
</h1>
@*<h3>Message : @ViewBag.Message</h3>
    <h3>Device : @ViewBag.Device</h3>
    <h3>IP : @ViewBag.IP</h3>
    <h3>Remote : @ViewBag.Remote</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>