﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>菲力工業會議系統</title>
    <link rel="icon" type="image/x-icon" href="/Content/assets/img/fairlybike.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/Content/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("關於", "About", "Home")</li>
                        <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <!-- Background Video-->
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/Content/images/Factory%20Tour.mp4" type="video/mp4" /></video>
    <div style="position: fixed; padding-left: 5px; top: 5px; z-index:1000;">
        <img style="padding-bottom:80px; width:200px;" src="~/Content/images/New White Fairly Bike Logo with Red Background.jpg" />
    </div>
    <div class="masthead">

        <br />
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0 ">
                <h1 class="lh-1 mb-4" style="color:darkorange !important;">菲力教育訓練網站 / Fairlybike เว็บไซต์การศึกษาและฝึกอบรม</h1>
                @*<p class="mb-5" style="color:darkorange !important;">We're working hard to finish the development of this site. Sign up below to receive updates and to be notified when we launch!</p>*@
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                @*<div class="row input-group-newsletter" style="margin-top:10px;">
                    <div class="col">
                    </div>
                    @Html.ActionLink("會議簽到記錄", "RoomIndex", "Sign", null, new { @class = "btn btn-primary", @style = "background-color:darkred;" })
                </div>*@
                @*<div class="row input-group-newsletter" style="margin-top:10px;">
            <div class="col">
            </div>
            @Html.ActionLink("查看會議", "Index", "Meeting", null, new { @class = "btn btn-primary" })
        </div>
        <div class="row input-group-newsletter" style="margin-top:10px;">
            <div class="col">
            </div>
            @Html.ActionLink("簽到", "Index", "Sign", null, new { @class = "btn btn-primary" })
        </div>*@
                <div class="row input-group-newsletter" style="margin-top:10px;">
                    @Html.ActionLink("績效評比 / การประเมินผลการปฏิบัติงาน", "PFIndex", "PF", null, new { @class = "btn btn-primary" })
                </div>
                <div class="row input-group-newsletter" style="margin-top:10px;">
                    @Html.ActionLink("問卷列表", "Index", "QNR", null, new { @class = "btn btn-primary" })
                </div>
                <div class="row input-group-newsletter" style="margin-top:10px;">
                    @Html.ActionLink("會議簽到記錄", "MeetingSign", "Sign", null, new { @class = "btn btn-primary" })
                </div>
                <div class="row input-group-newsletter" style="margin-top:10px;">
                    @Html.ActionLink("訓練課程簽到記錄", "TrainingSign", "Sign", null, new { @class = "btn btn-primary" })
                </div>

                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
            </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/Content/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    @*@RenderSection("scripts", required: false)
    @Html.Partial("_PromptNotification")*@
</body>
</html>
