﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.ExternalCourseIndexView
@using MeetSignIn.Utility.Helpers;
@{
    ViewBag.Title = "ECEdit";
    var trainingInfo = Model.TrainingInfo;
    bool isFinished = (Model.TrainingInfo.AuditState == (int)MeetSignIn.Models.AuditState.Approval && Model.TrainingInfo.AskClose) || Model.TrainingInfo.IsInvalid;
}

@section styles
{
    <style>
        .col-sm-6 {
            margin-top: 0px !important;
        }

        .lmt-h {
            height: 60px !important;
        }

        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">訓練課程</h3>
                    <br />
                    @Html.ActionLink("返回教育訓練", "ExternalEdit", "TrainingAdmin", new { ID = Model.TrainingID }, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                    <button class="btn bg-olive" type="button" id="add_course">新增課程</button>
                </div>

                <div class="box-body">
                    @using (Html.BeginForm("ECEdit", "TrainingCourseAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.TrainingID)
                        @Html.HiddenFor(model => model.ExternalID)
                        @Html.HiddenFor(model => model.JsonCourse)
                        <div>
                            @*<div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn bg-olive" type="button" style="margin-top:10px; margin-left:0px;" id="add_course">新增課程</button>
                                </div>
                            </div>*@                       
                            <div id="course_list">
                                @if (Model.CourseList != null && Model.CourseList.Count() > 0)
                                {
                                    for (int i = 0; i < Model.CourseList.Count(); i++)
                                    {
                                        var item = Model.CourseList[i];
                                        string signInUrl = item.SingInUrl;
                                        string opinionUrl = item.OpinionUrl;
                                        int num = i + 1;
                                        <div class="course_item" id="course_@num">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="h3_course" style="margin-bottom:0px;">
                                                        內訓課程@(num)
                                                        @if (i > 0)
                                                        {
                                                            <button type="button" class="close close_course" id="close_@num">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <br />
                                                        }
                                                    </h3>
                                                    @if (i == 0)
                                                    {
                                                        <a href="@Url.Action("Index", "TrainingPersonAdmin", new { TraningID = item.TrainingID })" target="_blank" class="btn btn-info" style="margin-bottom: 5px;">簽到記錄</a>
                                                        <a href="@Url.Action("ExternalEdit", "TrainingAdmin", new { id = item.TrainingID })" target="_blank" class="btn btn-primary" style="margin-bottom: 5px;">課程連結</a>
                                                        <button type="button" class="btn btn-default open_series_files" style="margin-bottom: 5px;" data-tid="@item.TrainingID" data-toggle="modal" data-target="#SeriesFilesModal">課堂檔案</button>
                                                    }
                                                    else
                                                    {
                                                        if (string.IsNullOrEmpty(opinionUrl) && item.DeviceCheck)
                                                        {
                                                            <button type="button" class="btn btn-info bg-teal active_course" style="margin-top:5px;" data-id="@item.ID" data-index="@i">建立簽到單(開放簽到)</button>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Index", "TrainingPersonAdmin", new { TraningID = item.SeriesTrainingID })" target="_blank" class="btn btn-info" style="margin-bottom: 5px;">簽到記錄</a>
                                                            <a href="@Url.Action("ExternalEdit", "TrainingAdmin", new { id = item.SeriesTrainingID })" target="_blank" class="btn btn-primary" style="margin-bottom: 5px;">課程連結</a>
                                                            <button type="button" class="btn btn-default open_series_files" style="margin-bottom: 5px;" data-tid="@item.SeriesTrainingID" data-toggle="modal" data-target="#SeriesFilesModal">課堂檔案</button>
                                                            <br />
                                                            <strong style="color:darkred;">請至"課程資料"編輯確切簽到時間，以便簽到QRCode正確作用</strong>
                                                            <div class="box box-primary collapsed-box">
                                                                <div class="box-header ui-sortable-handle">
                                                                    <div class="pull-right box-tools">
                                                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                                            <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                    <i class="fa fa-book"></i>
                                                                    <h3 class="box-title">
                                                                        QRCode
                                                                    </h3>
                                                                </div>
                                                                <div class="box-body">
                                                                    <label class="label label-warning classopinion_btn">課後意見Qrcode</label><br />
                                                                    <input name="print2" class="btn btn-primary" type="button" id="bt2" value="點選列印" style="margin-top: 10px;" />
                                                                    <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print2">
                                                                        @Html.GenerateQrCode($"{opinionUrl}")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <input type="hidden" class="course_id" value="@item.ID" />
                                            <input type="hidden" class="course_trainingId" value="@item.TrainingID" />
                                            <input type="hidden" class="course_externalId" value="@item.ExternalID" />
                                            <input type="hidden" class="course_isonline" value="@(item.IsOnline ? "true" : "false")" />
                                            <div class="form-group" style="margin-left:5px;">
                                                <div class="col-sm-4">
                                                    <label>主辦單位</label>
                                                    <input class="form-control lmt-h course_organizer lock_disabled" maxlength="50" value="@item.Organizer" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>講師姓名</label>
                                                    <input class="form-control lmt-h course_lecturer lock_disabled" maxlength="50" value="@item.Lecturer" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <label>教材</label>
                                                    <textarea class="form-control lmt-h course_courseMaterial lock_disabled" maxlength="200" style="resize:none; ">@item.CourseMaterial</textarea>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label>地點</label>
                                                    <textarea class="form-control lmt-h course_address lock_disabled" maxlength="200" style="resize:none; ">@item.Address</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-left:5px;">
                                                <div class="col-sm-6">
                                                    <label>開始上課日期</label>
                                                    <input class="form-control course_startDate lock_disabled" id="course_date_@num" value="@item.StartDate.ToString("yyyy-MM-dd")" required />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>結束上課日期</label>
                                                    <input class="form-control course_endDate lock_disabled" id="course_date_@num" value="@item.EndDate.ToString("yyyy-MM-dd")" required />
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-left:5px;">
                                                <div class="col-sm-2">
                                                    <label>報名費</label>
                                                    <input class="form-control fee course_registery lock_disabled" type="number" id="registery_@(i+1)" value="@item.Registery" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>差旅</label>
                                                    <input class="form-control fee course_travel lock_disabled" type="number" id="travel_@(i+1)" value="@item.Travel" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>其他費用</label>
                                                    <input class="form-control fee course_others lock_disabled" type="number" id="others_@(i+1)" value="@item.Others" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>合計</label>
                                                    <input class="form-control course_total lock_disabled" type="number" id="total_@(i+1)" value="@item.Total" />
                                                </div>
                                                <div class="col-sm-5">
                                                    <label>設備</label><br />
                                                    <div class="pretty p-default p-curve">
                                                        @if (item.DeviceCheck)
                                                        {
                                                            <input type="checkbox" class="course_devicecheck" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="course_devicecheck" />
                                                        }

                                                        <div class="state p-success">
                                                            <label>已檢查</label>
                                                            <strong style="color: red;"> ∗ 需確認並勾選此項以進行後續步驟</strong>
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control lmt-h course_device lock_disabled" maxlength="500" style="resize: none;">@item.Device</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="box-footer">
                                <div class="col-sm-12" style="margin-top: 10px; padding-left:0px;">
                                    <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                                    @Html.ActionLink("取消/回列表", "Index", "TrainingAdmin", null, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="SeriesFilesModal" tabindex="-1" aria-labelledby="SeriesFilesModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 80%; width: 80% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">課堂檔案</h3>
                    </div>
                    @using (Html.BeginForm("SeriesFiles", "TrainingCourseAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "SeriesFilesForm" }))
                    {
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.UploadFilesData.ID)
                        @Html.HiddenFor(model => model.SeriesTrainingID)
                        @*<input type="hidden" id="SeriesTrainingID" value="0" />*@
                        <div class="modal-body">
                            <div class="box-body" style="max-height: 400px; overflow-y: auto;">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab" data-index="1">上課照片</a></li>
                                        <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">課堂產出/影片</a></li>
                                        <li class=""><a href="#tab_3" data-toggle="tab" data-index="3">講義資料</a></li>
                                        <li class=""><a href="#tab_4" data-toggle="tab" data-index="4">課堂報告</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <div class="form-group">
                                                <label>上課照片</label> (上課照 or 課後團體照，非必填)<br />
                                                @if (!isFinished)
                                                {
                                                    @Html.TextBoxFor(model => model.UploadFilesData.PicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                                    <code>請上傳總和不超過10MB的檔案</code><br />
                                                    @Html.ValidationMessageFor(model => model.UploadFilesData.MainPic, "", new { @class = "text-danger" })
                                                }
                                                @Html.HiddenFor(model => model.UploadFilesData.MainPic)

                                                <div id="main_pic">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_2">
                                            <div class="form-group">
                                                <label>課堂產出/影片</label> (課堂錄影，非必填)
                                                @if (!isFinished)
                                                {
                                                    @Html.TextBoxFor(model => model.UploadFilesData.TraningVideo, "", new { @class = "form-control", @type = "file", @accept = ".mp4", @style = "height: 100% !important;" })
                                                    <code>請上傳總和不超過10MB的檔案</code><br />
                                                    @Html.ValidationMessageFor(model => model.UploadFilesData.MainVideo, "", new { @class = "text-danger" })
                                                }
                                                @Html.HiddenFor(model => model.UploadFilesData.MainVideo)

                                                <div id="main_video">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_3">
                                            <div class="form-group">
                                                <label>講義資料</label> (課堂使用講義，非必填)
                                                @if (!isFinished)
                                                {
                                                    @Html.TextBoxFor(model => model.UploadFilesData.TraningFile, "", new { @class = "form-control", @type = "file", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                                    <code>請上傳總和不超過10MB的檔案</code><br />
                                                    @Html.ValidationMessageFor(model => model.UploadFilesData.MainFile, "", new { @class = "text-danger" })
                                                }
                                                @Html.HiddenFor(model => model.UploadFilesData.MainFile)

                                                <div id="main_file">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_4">
                                            <div class="form-group">
                                                <label>課堂報告</label> (課後能直觀課堂情形之文件檔案，非必填)
                                                @if (!isFinished)
                                                {
                                                    @Html.TextBoxFor(model => model.UploadFilesData.TraningReport, "", new { @class = "form-control", @type = "file", @accept = ".pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                                    <code>請上傳總和不超過10MB的檔案</code><br />
                                                    @Html.ValidationMessageFor(model => model.UploadFilesData.MainReport, "", new { @class = "text-danger" })
                                                }
                                                @Html.HiddenFor(model => model.UploadFilesData.MainReport)

                                                <div id="main_report">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-teal" id="save_seriesfiles">確認</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Content/js/external.js?t=@DateTime.Now.ToString("mmss")"></script>
    <script>
        $(function () {
            $('.active_course').each(function () {
                $(this).on('click', function () {
                    var id = $(this).data('id');
                    var index = $(this).data('index');
                    if ($('#course_' + (index + 1)).find('.course_devicecheck').is(':checked')) {
                        $.ajax({
                            url: "/Admin/TrainingCourseAdmin/ActiveECourse",
                            type: 'POST',
                            dataType: "text",
                            data: {
                                id: id,
                                index: index,
                            },
                            success: function (data) {
                                alert('課程已啟用。');
                                if (respponse == 'success') {
                                    alert('課程已啟用。');
                                    location.reload();
                                }
                                if (response == 'exist') {
                                    alert('已有該課程，請稍後或重新整理以檢視最新資料。');
                                }
                            }
                        });
                    }
                    else {
                        alert('需確認並勾【設備檢查】以進行後續步驟');
                    }
                });
            })
            $('.open_series_files').each(function () {
                $(this).on('click', function () {
                    var tid = $(this).data('tid');
                    $('#SeriesTrainingID').val(tid);
                    $.ajax({
                        url: "/Admin/TrainingCourseAdmin/GetSeriesFiles",
                        type: 'POST',
                        dataType: "json",
                        data: {
                            trainingId: tid,
                        },
                        success: function (data) {
                            console.log(data);

                            //Pic
                            $('#main_pic').empty();
                            var picHtml = '';
                            if (data.PicList != null && data.PicList.length > 0) {
                                for (var i = 0; i < data.PicList.length; i++) {
                                    var pic = data.PicList[i];
                                    picHtml += `<img src="/FileUploads/TrainingPhoto/${pic.Pics}" class="img-thumbnail" style="width:400px" />
                                                <a href="/TrainingAdmin/DeletePic?id=${pic.ID}&trainingId=${tid}&editPage=Edit" class="btn btn-danger js-delete-confirm">刪除檔案</a>`;
                                }
                            }
                            $('#main_pic').html(picHtml);

                            //Video
                            $('#main_video').empty();
                            var videoHtml = '';
                            if (data.MainVideo != null) {
                                videoHtml += `<iframe src="/FileUploads/TrainingPhoto/${data.MainVideo}" scrolling="no" frameborder="0" width="100%" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>`;
                                videoHtml += `<a class="btn btn-success" href="/FileUploads/TrainingPhoto/${data.MainReport}" target="_blank" style="margin-bottom:3px;">下載檔案</a>`;
                                videoHtml += `<a href="/TrainingAdmin/DeleteVideo?id=${tid}" class="btn btn-danger js-delete-confirm">刪除檔案</a>`;
                                $('#main_video').html(videoHtml);
                            }

                            //File
                            $('#main_file').empty();
                            var fileHtml = '';
                            if (data.MainFile != null) {
                                if (data.MainFile.indexOf(".pdf") > 0) {
                                    fileHtml += `<iframe src="/FileUploads/TrainingPhoto/${data.MainFile}" width="100%" height="300px"></iframe>`;
                                }
                                else if (data.MainFile.indexOf(".jpg") > 0 || data.MainFile.indexOf(".png") > 0) {
                                    fileHtml += `<img src="/FileUploads/TrainingPhoto/${data.MainFile}" class="img-thumbnail" style="width:400px" />`;
                                }
                                else {
                                    fileHtml += `<p style="font-weight:bold;">${data.MainFile}</p>`;
                                }
                                fileHtml += `<a class="btn btn-success" href="/FileUploads/TrainingPhoto/${data.MainReport}" target="_blank" style="margin-bottom:3px;">下載檔案</a>`;
                                fileHtml += `<br/><a href="/TrainingAdmin/DeleteFile?id=${tid}" class="btn btn-danger js-delete-confirm">刪除檔案</a>`;
                                $('#main_file').html(fileHtml);
                            }

                            //Report
                            $('#main_report').empty();
                            var reportHtml = '';
                            if (data.MainReport != null) {
                                if (data.MainReport.indexOf(".pdf") > 0) {
                                    reportHtml += `<iframe src="/FileUploads/TrainingPhoto/${data.MainReport}" width="100%" height="300px"></iframe>`;
                                }
                                else {
                                    reportHtml += `<p style="font-weight:bold;">${data.MainReport}</p>`;
                                }
                                reportHtml += `<a class="btn btn-success" href="/FileUploads/TrainingPhoto/${data.MainReport}" target="_blank" style="margin-bottom:3px;">下載檔案</a>`;
                                reportHtml += `<br/><a href="/TrainingAdmin/DeleteReport?id=${tid}" class="btn btn-danger js-delete-confirm">刪除檔案</a>`;

                            }
                            $('#main_report').html(reportHtml);
                        }
                    });
                });
            })
            $('#save_seriesfiles').on('click', function () {
                $('#SeriesFilesForm').submit();
            });
        })
        window.onload = function () {
            var bt = document.getElementById("bt");
            var div_print = document.getElementById("div_print");
            bt.onclick = function () {
                myPrint(div_print, '簽到');
            }
            var bt2 = document.getElementById("bt2");
            var div_print2 = document.getElementById("div_print2");
            bt2.onclick = function () {
                myPrint(div_print2, '課後意見');
            }
        }
           function myPrint(obj, typeTitle) {
            //打開一个新窗口newWindow
            var newWindow = window.open("列印視窗", "_blank");
            //要打印的div的内容
            var docStr = obj.innerHTML;
            newWindow.document.write('<div align="left" style="font-size: 30px;">' + typeTitle + ' Qrcode</div>');
            newWindow.document.write('<div align="left">課程名稱 : ' + '@trainingInfo.Title' + '</div>');
            newWindow.document.write('<div align="left">發起人 : ' + '@trainingInfo.Organiser' + '</div>');
            newWindow.document.write('<div align="left">場地 : ' + '@trainingInfo.RoomStr' + '</div>');
            newWindow.document.write('<div align="left">時間 : ' + '@trainingInfo.StartDate.ToString("yyyy/MM/dd HH:mm")' + '~' + '@trainingInfo.EndDate.ToString("yyyy/MM/dd HH:mm")' + '</div>');
            //打印内容寫入newWindow文檔
            newWindow.document.write(docStr);
            //關閉文檔
            newWindow.document.close();
            //調用打印機
            newWindow.print();
            //關閉newWindow頁面
            newWindow.close();
        }
    </script>
}
