﻿@model MeetSignIn.Areas.Admin.ViewModels.QuestionDB.QuestionDBView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增題庫" : "編輯題庫";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    adminInfo = adminInfo == null ? new MeetSignIn.Models.Others.AdminInfo() : adminInfo;
    bool isHR = adminInfo.DeptId == "B40";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        題庫管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "QuestionDBAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Question)
                                    @Html.TextBoxFor(model => model.Question, new { @class = "form-control lock_switch", @maxlength = "50", @disabled = "true" })
                                    @Html.HiddenFor(model => model.Question)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AnswerType)
                                    @Html.DropDownListFor(model => model.AnswerType, Model.AnswerTypeOptions, new { @class = "form-control", @disabled = "true" })
                                    @Html.HiddenFor(model => model.AnswerType)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OptionGroup)
                                    @Html.DropDownListFor(model => model.OptionGroup, Model.OptionGroupOptions, new { @class = "form-control", @disabled = "true" })
                                    @Html.HiddenFor(model => model.OptionGroup)
                                </div>
                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                    @Html.CheckBoxFor(model => model.IsRequired, new { @class = "form-check-input lock_switch" })
                                    <div class="state p-success">
                                        @Html.LabelFor(model => model.IsRequired, new { @class = "form-check-label", @style = "font-weight:bold; ", @disabled = "true" })
                                    </div>
                                    @Html.HiddenFor(model => model.IsRequired)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sort)
                                    @Html.TextBoxFor(model => model.Sort, new { @class = "form-control lock_switch", @type = "number", @maxlength = "50", @disabled = "true" })
                                    @Html.HiddenFor(model => model.Sort)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Points)
                                    @Html.TextBoxFor(model => model.Points, new { @class = "form-control lock_switch", @type = "number", @maxlength = "50", @disabled = "true" })
                                    @Html.HiddenFor(model => model.Points)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Options)
                                    @Html.TextAreaFor(model => model.Options, new { @class = "form-control", @style = "resize: none;", @rows = "6", @disabled = "true" })
                                    @Html.HiddenFor(model => model.Options)
                                </div>

                                @*使用的試卷*@
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <td>課程名稱</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var qnr in Model.UsedQNRList)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (qnr.TrainingID != 0)
                                                        {
                                                            @qnr.TrainingInfo.Title
                                                        }
                                                        else
                                                        {
                                                            @qnr.Title
                                                        }
                                                    </td>
                                                    <td><a class="btn btn-primary" href="@Url.Action("Edit", "QuizAdmin", new { id = qnr.ID})" target="_blank">前往試卷編輯頁</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @Html.HiddenFor(model => model.Options)
                                </div>
                            </div>
                               
                            </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('.switch_passed').on('change', function () {
                var passed = false;
                if ($(this).is(':checked')) {
                    passed = true;
                }

                $.ajax({
                    url: "/Admin/QuestionDBAdmin/ChangePassed",
                    type: 'POST',
                    dataType: "text",
                    data: {
                        id: $(this).attr('id'),
                        passed: passed
                    },
                    success: function (data) {
                        //return data;
                        console.log(data);
                        $('#passed_text').text(data);
                    }
                });
            });
        });
    </script>
    <!--ckeditor-->
    <!--<script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>-->
    <script>
        $(function () {
            ////Ckeditor init
            //$('.js-ckeditor').each(function (i, e) {
            //    var id = $(e).attr('id');
            //    CKEDITOR.replace(id, {
            //        filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
            //        height: '500px'
            //    });
            //});
        });
    </script>
}