﻿@model MeetSignIn.Areas.Admin.ViewModels.QuestionDB.QuestionDBIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        題庫管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "QuestionDBAdmin", FormMethod.Get, new { @class = "form-horizontal", @id = "List_Form" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Question, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Question, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AnswerType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.AnswerType, Model.AnswerTypeOptions, "---回答方式---", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增題庫", "Edit", "QuestionDBAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }            

        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">題庫列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Question)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.AnswerType)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsRequired)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Points)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            string answerTypeStr = item.AnswerType.ToString();
                                            <tr>
                                                <td>
                                                    @item.Question
                                                </td>
                                                @*<td>
                                                    @Model.AnswerTypeOptions.Where(q => q.Value == answerTypeStr).FirstOrDefault().Text
                                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(model => item.IsRequired, "_UseStatus")
                                                </td>
                                                <td>
                                                    @item.Sort
                                                </td>
                                                <td>
                                                    @item.Points
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "QuestionDBAdmin", new { id = item.ID })" class="btn btn-primary">
                                                        <i class="fa fa-user"></i>
                                                        <span>查看</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Question)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.AnswerType)
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsRequired)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Points)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            $('#DeptID').on('change', function () {
                $('#List_Form').submit();
            });
        })
    </script>
}


