﻿@model MeetSignIn.Areas.Admin.ViewModels.Employee.EmployeeView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增人員" : "編輯人員";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        人員管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PersonnelAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        <div>
                                            @Html.LabelFor(model => model.MainPic)
                                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })<br />
                                        </div>
                                        <input type="file" id="photoFile" name="photoFile" accept="image/x-png,image/jpeg">
                                        <img style="width:600px;" src="@(null == Model.MainPic ? "" : Url.Content("~/FileUploads/PersonnelPhoto/" + Model.MainPic))" alt="No Image" data-action="zoom" />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobID)
                                        @Html.TextBoxFor(model => model.JobID, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EngName)
                                        @Html.TextBoxFor(model => model.EngName, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DepartmentID)
                                        @Html.DropDownListFor(model => model.DepartmentID, Model.DepartmentOptions, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email)
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Ext)
                                        @Html.TextBoxFor(model => model.Ext, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="check-box-status">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{

}