﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.TrainingView
@using MeetSignIn.Utility.Helpers;
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "申請內訓" : "編輯內訓";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    bool isCreater = adminInfo.ID == Model.Creater || Model.ID == 0;
    string[] seniorList = { "0025", "0663", "1277", "1362", "1677", "1761", "2055", "2123", "2230" };
    bool IsCommittee = seniorList.Contains(adminInfo.Account);
    bool isTimeOut = Model.ID != 0 && Model.EndDate < DateTime.Now;
    bool isParent = Model.SeriesParentID == 0;
    string signInUrl = Model.ID != 0 ? $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/TrainingCheck?rn={Model.RoomNum}&tid={Model.ID}" : "";
    string opinionUrl = Model.ID != 0 ? $"{Request.Url.Scheme}://220.228.58.43:18151/Admin/ClassOpinionAdmin/ToOpinion?trainingId={Model.ID}" : "";
    string quizUrl = (Model.ID != 0 && Model.HasExam) ? $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/QuizStart/{Model.ID}" : "";
    Url.Action("ToOpinion", "ClassOpinionAdmin", new { trainingId = Model.ID });
    bool isFinished = (Model.AuditState == (int)MeetSignIn.Models.AuditState.Approval && Model.AskClose) || Model.IsInvalid;
    var activeDepts = Model.Notify == null ? new List<string>() : Model.Notify.Select(q => q.DepartmentStr).Distinct().ToList();
    MeetSignIn.Areas.Admin.Controllers.BaseAdminController baseAdminController = new MeetSignIn.Areas.Admin.Controllers.BaseAdminController();
}

@section styles
{
    <style>
        .mask {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 2;
            top: 0;
            left: 0;
            opacity: 0.5;
        }

        .pop {
            display: none;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*width: 90%;
            height: 60%;*/
            /*text-align: center;*/
            background-color: #e8eae6;
            box-sizing: border-box;
            padding: 4%;
            z-index: 100;
            /*to hide popup initially*/
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 15px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 4px;
        }

        .pop h2, h6 {
            padding-top: 40px !important;
        }

        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        教育訓練管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.ID != 0 && isParent)
                    {
                        <input type="button" class="btn btn-success" id="open_qrcode" value="Qrcode(簽到,課後意見,試卷)" />
                        @Html.ActionLink("複製訓練", "Copy", new { id = Model.ID }, new { @class = "btn btn-default" })
                        if ((adminInfo.DeptId == "B40" || isCreater))
                        {
                            @Html.ActionLink("異動", "Index", "TrainingAbnormalAdmin", new { TrainingID = Model.ID }, new { @class = "btn btn-warning bg-orange", @style = "margin: 3px !important;" })
                        }
                        @*if (Model.IsClose || adminInfo.DeptId == "B40" || adminInfo.Type < (int)MeetSignIn.Models.AdminType.Manager || isCreater)
            {
                @Html.ActionLink("PDDRO", "PDDRO", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-success bg-olive", @style = "margin: 3px !important;" })
            }*@
                        @Html.ActionLink("PDDRO", "PDDRO", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-success bg-olive", @style = "margin: 3px !important;" })
                        if (Model.AuditStatus != "尚未填寫")
                        {
                            @Html.ActionLink("課程", "ICEdit", "TrainingCourseAdmin", new { tid = Model.ID }, new { @class = "btn bg-purple", @style = "margin: 3px !important;" })
                        }
                        if (Model.SeriesParentID != 0)
                        {
                            @Html.ActionLink("系列主課程", "Edit", "TrainingAdmin", new { id = Model.SeriesParentID }, new { @class = "btn bg-primary", @style = "margin: 3px !important;" })
                        }
                        if (Model.HasExam)
                        {
                            @Html.ActionLink("編輯試卷", "Edit", "QuizAdmin", new { tid = Model.ID }, new { @class = "btn bg-navy", @style = "margin: 3px !important;" })
                        }

                        <br />
                        <div class="form-group" style="margin: 5px 0px;">
                            <div class="col-sm-6" style="margin-left:0px;">
                                <label class="label bg-olive">簽到連結</label>
                                <input class="form-control" style="background-color:wheat; font-weight:bold;" value="@signInUrl" disabled />
                            </div>
                        </div>
                        if (Model.IsApproved && !Model.AskClose && isCreater)
                        {
                            <br />
                            <div style="text-align:right;">
                                <button class="btn bg-purple" id="ask_close" data-toggle="modal" data-target="#askCloseModal">結案送審</button>
                            </div>
                        }
                        else
                        {
                            <br />
                            <div class="form-group" style="margin:0px;">
                                <div class="col-sm-3 close-file-outline">
                                    @if (Model.AskClose && !Model.PresidentClose)
                                    {
                                        <label class="label label-default bg-purple">總經理結案審核中</label><br />
                                    }
                                    else if (Model.AskClose && Model.PresidentClose && !Model.IsClose)
                                    {
                                        <label class="label label-default bg-purple">校長結案審核中</label><br />
                                    }
                                    else if (Model.IsClose)
                                    {
                                        <label class="label label-default bg-purple">已結案</label><br />
                                    }
                                    <button class="btn btn-default" id="ask_close" data-toggle="modal" data-target="#askCloseModal" style="width: 100%; border: 2px solid darkgray;">結案文件</button>
                                </div>
                            </div>
                        }
                    }
                    else if (Model.ID != 0)
                    {
                        <input type="button" class="btn btn-success" id="open_qrcode" value="Qrcode(簽到,課後意見)" />
                        <br />
                        <div class="form-group" style="margin: 5px 0px;">
                            <div class="col-sm-6" style="margin-left:0px;">
                                <label class="label bg-olive">簽到連結</label>
                                <input class="form-control" style="background-color:wheat; font-weight:bold;" value="@signInUrl" disabled />
                            </div>
                        </div>
                    }
                </div>
                <input id="controller_str" type="hidden" value="TrainingAdmin" />
                @using (Html.BeginForm("Edit", "TrainingAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.SeriesParentID)
                    @Html.HiddenFor(model => model.Category)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.MeetingNumber)
                    @Html.HiddenFor(model => model.IsOnline)
                    @Html.HiddenFor(model => model.FromAudit)
                    @Html.HiddenFor(model => model.AskClose)
                    @Html.HiddenFor(model => model.IsApproved)
                    @Html.HiddenFor(model => model.TrainingCourseID)

                    <div class="box-body">
                        @if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin && !baseAdminController.modelState)
                        {
                            <div class="form-group">
                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                    @Html.CheckBoxFor(model => model.IsModel, new { @class = "form-check-input" })
                                    <div class="state p-warning" style="margin-top: 10px;">
                                        @Html.LabelFor(model => model.IsModel, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.IsModel)
                            @Html.HiddenFor(model => model.ModelID)
                        }
                        @if (isParent)
                        {
                            if (!Model.IsClose && Model.IsApproved && Model.ID != 0 && Model.AskClose)
                            {
                                if (!Model.PresidentClose && adminInfo.Type == (int)MeetSignIn.Models.AdminType.President)
                                {
                                    <div class="form-group">
                                        <label>總經理評語</label>
                                        @Html.TextAreaFor(model => model.PresidentComment, new { @class = "form-control", @placeholder = "總經理評語" })
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                            @Html.CheckBoxFor(model => model.PresidentClose, new { @class = "form-check-input" })
                                            <div class="state p-notice">
                                                @Html.LabelFor(model => model.PresidentClose, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                }
                                else if (Model.PresidentClose)
                                {
                                    @Html.HiddenFor(model => model.PresidentComment)
                                    @Html.HiddenFor(model => model.PresidentClose)
                                    <div class="form-group">
                                        <label>總經理評語</label>
                                        @Html.TextAreaFor(model => model.PresidentComment, new { @class = "form-control", @placeholder = "總經理評語", @disabled = true })
                                    </div>
                                    <br />
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.PresidentComment)
                                    @Html.HiddenFor(model => model.PresidentClose)
                                }
                                if (adminInfo.IsPrincipal)
                                {
                                    <div class="form-group">
                                        <label>校長評語</label>
                                        @Html.TextAreaFor(model => model.PrincipalComment, new { @class = "form-control", @placeholder = "校長評語" })
                                    </div>
                                    <br />
                                    if (Model.PresidentClose)
                                    {
                                        <div class="form-group">
                                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                <code>如要確認結案，請勾選此項並於底部點選儲存</code><br />
                                                @Html.CheckBoxFor(model => model.IsClose, new { @class = "form-check-input lock_switch" })
                                                <div class="state p-notice" style="margin-top: 10px;">
                                                    @Html.LabelFor(model => model.IsClose, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.IsClose)
                                    }
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.PrincipalComment)
                                }
                            }
                            else if (Model.ID != 0)
                            {
                                @Html.HiddenFor(model => model.PresidentComment)
                                @Html.HiddenFor(model => model.PresidentClose)
                                @Html.HiddenFor(model => model.PrincipalComment)
                                @Html.HiddenFor(model => model.IsClose)
                                if (!Model.IsApproved)
                                {
                                    <label class="lable label-danger" style="padding: 2px 5px; border-radius: 3px;">計畫表尚未完成審核，請於核准後再行結案動作</label><br />
                                }
                                <div class="form-group">
                                    <label>總經理評語</label>
                                    @Html.TextAreaFor(model => model.PresidentComment, new { @class = "form-control", @placeholder = "總經理評語", @disabled = true })
                                </div>
                                <br />
                                <div class="form-group">
                                    <label>校長評語</label>
                                    @Html.TextAreaFor(model => model.PrincipalComment, new { @class = "form-control", @placeholder = "校長評語", @disabled = true })
                                </div>
                                <br />
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.PresidentComment)
                                @Html.HiddenFor(model => model.PresidentClose)
                                @Html.HiddenFor(model => model.PrincipalComment)
                                @Html.HiddenFor(model => model.IsClose)
                            }
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.PresidentComment)
                            @Html.HiddenFor(model => model.PresidentClose)
                            @Html.HiddenFor(model => model.PrincipalComment)
                            @Html.HiddenFor(model => model.IsClose)
                        }
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">基本資訊</a></li>
                                @if (isParent)
                                {
                                    if (Model.ID != 0 && (Model.Category == (int)MeetSignIn.Models.Category.Internal || Model.Category == (int)MeetSignIn.Models.Category.External))
                                    {
                                        <li class="">
                                            <a href="#tab_4" data-toggle="tab" data-index="4">
                                                計畫/申請表
                                                @if (Model.IsInvalid)
                                                {
                                                    <label class="label label-danger" style="margin-left:3px; margin-top:3px;">已駁回</label>
                                                }
                                                else
                                                {
                                                    if (Model.AuditState == (int)MeetSignIn.Models.AuditState.Approval)
                                                    {
                                                        <label class="label label-success" style="margin-left:3px; margin-top:3px;">已核准</label>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(model => Model.AuditStatus, "_ParticipateStateStatus")
                                                        <br />
                                                    }

                                                }
                                            </a>
                                        </li>
                                    }
                                    if (isCreater || adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor)
                                    {
                                        <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">上課照片</a></li>
                                        <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">課堂產出/影片</a></li>
                                        <li class=""><a href="#tab_3" data-toggle="tab" data-index="3">講義資料</a></li>
                                        <li class=""><a href="#tab_5" data-toggle="tab" data-index="5">課堂報告</a></li>
                                        if (isCreater && Model.ID != 0 && Model.GroupType == (int)MeetSignIn.Models.GroupType.Group && isParent)
                                        {
                                            <li class=""><a href="#tab_6" data-toggle="tab" data-index="6">團體回饋表單</a></li>
                                        }
                                    }
                                }
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (DateTime.Now >= Model.StartDate)
                                    {
                                        if (Model.IPInfo != null && Model.IPInfo.Learning)
                                        {
                                            <div class="form-group">
                                                <!--簽到比例-->
                                                <div class="col-md-4">
                                                    <div id="SignChart" class="training-chart"></div>
                                                </div>
                                                <!--意見回饋比例-->
                                                <div class="col-md-4">
                                                    <div id="OpinionChart" class="training-chart"></div>
                                                </div>
                                                <!--通過比例-->
                                                <div class="col-md-4">
                                                    <div id="LearningChart" class="training-chart"></div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <!--簽到比例-->
                                                <div class="col-md-6">
                                                    <div id="SignChart" class="training-chart"></div>
                                                </div>
                                                <!--意見回饋比例-->
                                                <div class="col-md-6">
                                                    <div id="OpinionChart" class="training-chart"></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (isParent)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VisionID, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.VisionID, Model.VisionOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title)
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control lock_switch", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Organiser)
                                            @Html.TextBoxFor(model => model.Organiser, new { @class = "form-control lock_switch", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Organiser, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6" style="padding-left: 0px !important;">
                                                @Html.LabelFor(model => model.FactoryID)
                                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control lock_switch" })
                                            </div>
                                            <div class="col-sm-6" style="right: 0px !important;">
                                                @Html.LabelFor(model => model.RoomID)
                                                @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, new { @class = "form-control lock_switch" })
                                            </div>
                                        </div>
                                        <div class="form-group" id="url_form" style="display:none;">
                                            @Html.LabelFor(model => model.Url, new { style = "margin-top: 15px !important;" })
                                            @Html.TextAreaFor(model => model.Url, new { @class = "form-control lock_switch", @rows = "5" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Note, new { style = "margin-top: 15px !important;" })
                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control lock_switch", @rows = "10" })
                                        </div>
                                        @*<div class="form-group">
                @Html.LabelFor(model => model.Category, new { style = "margin-top: 15px !important;" })
                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, new { @class = "form-control lock_switch" })
            </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Theme, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Theme, Model.ThemeOptions, new { @class = "form-control lock_switch" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GroupType, new { style = "margin-top: 15px !important;" })
                                            <br />
                                            @foreach (var gto in Model.GroupTypeOptions.OrderByDescending(q => q.Value))
                                            {
                                                <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.RadioButtonFor(model => model.GroupType, gto.Value, new { @class = "form-check-input gp_type" })
                                                    <div class="state p-info">
                                                        <label>@gto.Text</label>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        @Html.HiddenFor(model => model.Fee)
                                        @Html.HiddenFor(model => model.Cert)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Lecturer)
                                            @Html.TextBoxFor(model => model.Lecturer, new { @class = "form-control lock_switch", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Lecturer, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeptID, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.DeptID, Model.DeptIDOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title)
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control lock_switch", @maxlength = "50", @disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Organiser)
                                            @Html.TextBoxFor(model => model.Organiser, new { @class = "form-control lock_switch", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Organiser, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.HiddenFor(model => model.VisionID)
                                        @Html.HiddenFor(model => model.Title)
                                        @*@Html.HiddenFor(model => model.Organiser)*@
                                        <div class="form-group">
                                            <div class="col-sm-6" style="padding-left: 0px !important;">
                                                @Html.LabelFor(model => model.FactoryID)
                                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control lock_switch" })
                                            </div>
                                            <div class="col-sm-6" style="right: 0px !important;">
                                                @Html.LabelFor(model => model.RoomID)
                                                @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, new { @class = "form-control lock_switch" })
                                            </div>
                                        </div>
                                         <div class="form-group" id="url_form" style="display:none;">
                                            @Html.LabelFor(model => model.Url, new { style = "margin-top: 15px !important;" })
                                            @Html.TextAreaFor(model => model.Url, new { @class = "form-control lock_switch", @rows = "5" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Note, new { style = "margin-top: 15px !important;" })
                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control lock_switch", @rows = "10" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.FactoryID)
                                        @Html.HiddenFor(model => model.RoomID)*@
                                        @*@Html.HiddenFor(model => model.Url)
                                        @Html.HiddenFor(model => model.Note)*@
                                        @Html.HiddenFor(model => model.Theme)
                                        @Html.HiddenFor(model => model.GroupType)
                                        @Html.HiddenFor(model => model.Fee)
                                        @Html.HiddenFor(model => model.Cert)
                                        @Html.HiddenFor(model => model.Lecturer)
                                        @Html.HiddenFor(model => model.DeptID)
                                    }
                                    <div class="notify-list-area">

                                        <div class="form-group dept_selecter">
                                            @Html.LabelFor(model => model.Department, new { style = "margin-top: 15px !important;" })
                                            @*@Html.DropDownListFor(model => model.Department, Model.DepartmentOptions, new { @class = "form-control lock_switch" })*@
                                            <br />
                                            @Html.HiddenFor(model => model.Department)
                                            @foreach (var item in Model.DepartmentOptions.ToList())
                                            {
                                                string active = activeDepts.Contains(item.Text) ? "dept_btn_active" : "";
                                                <input type="button" class="btn btn-sm dept_btn @active" style="margin:3px;" id="dept_@item.Value" value="@item.Text" />
                                            }
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.selectedNotifyList, new { style = "margin-top: 15px !important;" })
                                            <button class="btn" data-widget="collapse" id="switch_check_list"><i class="fa fa-eye-slash"></i></button>
                                            <div id="check_list_area" class="check_list_area">
                                                @Html.HiddenFor(model => model.selectedNotifyList)
                                                <p><input type="checkbox" id="check_all" name="all" onclick="Check_All(this,'ckb')" /> All</p>
                                                <div id="check_list" @*style="max-height:20%; width: 50%;"*@>
                                                </div>
                                                <div id="loading_gif" style="margin-left: 45%; display: none;">
                                                    <img src="~/Content/images/loading.gif" style="height: 85px;" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" style="max-height: 300px; overflow-y: auto;">
                                            <!--顯示已選名單-->
                                            @Html.LabelFor(model => model.Notify, new { style = "margin-top: 15px !important;" })
                                            <table class="table table-bordered table-striped dataTable">
                                                <thead>
                                                    <tr>
                                                        <td>工號</td>
                                                        <td>姓名</td>
                                                        <td>課別</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="notify_tb">
                                                    @if (Model.Notify != null)
                                                    {
                                                        foreach (var item in Model.Notify)
                                                        {
                                                            <tr class="tb_item" id="@item.JobID">
                                                                <td>@item.JobID</td>
                                                                <td><label class="text text-success">@item.Name @item.EngName</label></td>
                                                                <td><label class="label label-primary">@item.DepartmentStr</label></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SignDate)
                                        @Html.TextBoxFor(model => model.SignDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate)
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Hours)
                                        @Html.TextBoxFor(model => model.Hours, new { @class = "form-control lock_switch", @type = "number", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.HiddenFor(model => model.EndDate)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate)
                                        <input id="end_date" value="@Model.EndDate.ToString("yyyy/MM/dd HH:mm")" class="form-control lock_switch" disabled />
                                    </div>

                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsSignable, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsSignable, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LateMinutes, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.LateMinutes, Model.LateMinutesOptions, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Device)<br />
                                        <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                            @Html.CheckBoxFor(model => model.DeviceCheck, new { @class = "form-check-input lock_switch" })
                                            <div class="state p-success">
                                                @Html.LabelFor(model => model.DeviceCheck, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                <strong style="color: red;"> ∗ 需確認並勾選此項以進行後續步驟</strong>
                                            </div>
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.DeviceCheck, "", new { @class = "text-danger" })*@
                                        @Html.Hidden(nameof(Model.IsTrue), "true")
                                        @Html.TextAreaFor(model => model.Device, new { @class = "form-control", @maxlength = "500", @rows = "6", @style = "resize: none;" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NotifyMsg) (可填寫上課大綱或課前/課後提醒事項)
                                        @Html.TextAreaFor(model => model.NotifyMsg, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Remark) (可填寫上課大綱或課前/課後提醒事項)
                                        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control js-ckeditor" })
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="tab_4">
                                    <div class="form-group">
                                        @if (Model.Category == (int)MeetSignIn.Models.Category.External)
                                        {
                                            @Html.ActionLink("外訓申請表", "External", "TrainingAdmin", new { trainingId = Model.ID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important; background-color:#ad784b !important;", @target = "_blank" })
                                        }
                                        else if (Model.Category == (int)MeetSignIn.Models.Category.Internal)
                                        {
                                            @Html.ActionLink("內訓計畫表", "Internal", "TrainingAdmin", new { trainingId = Model.ID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important; background-color:#ad784b !important;", @target = "_blank" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainPic) (上課照 or 課後團體照，非必填)<br />
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.PicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainPic)
                                        @if (Model.PicList != null && Model.PicList.Count() > 0)
                                        {
                                            foreach (var item in Model.PicList)
                                            {
                                                <img src="~/FileUploads/TrainingPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />

                                                @Html.ActionLink("刪除檔案", "DeletePic", "TrainingAdmin", new { id = item.ID, trainingId = Model.ID, editPage = "Edit" }, new { @class = "btn btn-danger js-delete-confirm", @target = "_blank" })
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainVideo) (課堂錄影，非必填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningVideo, "", new { @class = "form-control", @type = "file", @accept = ".mp4", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainVideo, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainVideo)
                                        @if (!string.IsNullOrEmpty(Model.MainVideo))
                                        {
                                            <iframe src="~/FileUploads/TrainingPhoto/@Model.MainVideo" scrolling="no" frameborder="0" width="100%" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>

                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteVideo", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainFile) (課堂使用講義，非必填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningFile, "", new { @class = "form-control", @type = "file", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainFile, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainFile)
                                        @if (!string.IsNullOrEmpty(Model.MainFile))
                                        {
                                            if (Model.MainFile.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/TrainingPhoto/@Model.MainFile" width="100%" height="300px"></iframe>
                                            }
                                            else if (Model.MainFile.IndexOf(".jpg") > 0 || Model.MainFile.IndexOf(".png") > 0)
                                            {
                                                <img src="~/FileUploads/TrainingPhoto/@Model.MainFile" class="img-thumbnail" style="width:400px" />
                                            }
                                            else
                                            {
                                                <p style="font-weight:bold;">@Model.MainFile</p>
                                            }
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteFile", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainReport) (課後能直觀課堂情形之文件檔案，非必填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningReport, "", new { @class = "form-control", @type = "file", @accept = ".pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainReport, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainReport)
                                        @if (!string.IsNullOrEmpty(Model.MainReport))
                                        {
                                            if (Model.MainReport.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/TrainingPhoto/@Model.MainReport" width="100%" height="300px"></iframe>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" href="~/FileUploads/TrainingPhoto/@Model.MainReport" target="_blank" style="margin-bottom:3px;">下載檔案</a>
                                            }
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteReport", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_6">
                                    @if (Model.ID != 0 && Model.GroupType == (int)MeetSignIn.Models.GroupType.Group)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MainAcceptance) (承辦人上傳課後回饋驗收文件)
                                            @if (!isFinished)
                                            {
                                                @Html.TextBoxFor(model => model.TraningAcceptance, "", new { @class = "form-control", @type = "file", @accept = ".pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                                <code>請上傳總和不超過10MB的檔案</code><br />
                                                @Html.ValidationMessageFor(model => model.MainAcceptance, "", new { @class = "text-danger" })
                                            }
                                            @Html.HiddenFor(model => model.MainAcceptance)
                                            @if (!string.IsNullOrEmpty(Model.MainAcceptance))
                                            {
                                                if (Model.MainAcceptance.IndexOf(".pdf") > 0)
                                                {
                                                    <iframe src="~/FileUploads/TrainingPhoto/@Model.MainAcceptance" width="100%" height="300px"></iframe>

                                                    <br />
                                                    @Html.ActionLink("刪除檔案", "DeleteAcceptance", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                }
                                            }
                                        </div>
                                        @Html.ActionLink("前往編輯", "Edit", "InternalAcceptanceAdmin", new { trainingId = Model.ID, personId = adminInfo.Account, isGroup = true }, new { @class = "btn bg-fuchsia internal_btn", @style = "margin: 3px !important;" })
                                        <hr align="center" width="100%" class="hr_split" style="border-color: #44b633; border-style: dashed; ">
                                        if (Model.IAInfo != null)
                                        {
                                            var IAInfo = Model.IAInfo;
                                            if (IAInfo.HasLearning)
                                            {
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <hr align="center" width="100%" class="hr_split">
                                                        <label>是否合格</label>
                                                        @if (IAInfo.IsPassed)
                                                        {
                                                            <label class="label label-success">通過</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger">未通過</label>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <label>測驗分數</label>
                                                        <div class="textInfo-gray">@Html.Raw(IAInfo.Score)</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <label>驗收說明</label>
                                                        <div class="textInfo-gray">@Html.Raw(IAInfo.AcceptanceDesc)</div>
                                                    </div>
                                                </div>
                                            }
                                            if (IAInfo.HasActionPlan)
                                            {
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <label>行動計畫</label>
                                                        <div class="textInfo-gray">@Html.Raw(IAInfo.ActionPlan)</div>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        @if (!string.IsNullOrEmpty(IAInfo.ActionPlanFile))
                                                        {
                                                            if (IAInfo.ActionPlanFile.IndexOf(".pdf") > 0)
                                                            {
                                                                <iframe src="~/FileUploads/InternalAcceptancePhoto/@IAInfo.ActionPlanFile" width="100%" height="300px"></iframe>
                                                            }
                                                            <br />
                                                            <a class="btn btn-info" href="~/FileUploads/InternalAcceptancePhoto/@IAInfo.ActionPlanFile" target="_blank">下載檔案</a>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            if (IAInfo.HasPerformance)
                                            {
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <hr align="center" width="100%" class="hr_split" style="border-color: firebrick; border-style: double;">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <label>績效</label>
                                                        <div class="textInfo-gray">@Html.Raw(IAInfo.Performance)</div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (isCreater || adminInfo.Type < (int)MeetSignIn.Models.AdminType.Manager || Model.SameDeptManager || IsCommittee)
                        {
                            if (Model.ID != 0 && (Model.Category == (int)MeetSignIn.Models.Category.Internal || Model.Category == (int)MeetSignIn.Models.Category.External))
                            {
                                <button id="SaveBtn" type="button" class="btn btn-primary" style="margin: 3px !important;">儲存</button>
                            }
                            else
                            {
                                <button id="SaveBtn" type="button" class="btn btn-primary" style="margin: 3px !important;">下一步(申請計畫表)</button>
                            }
                            if (!isTimeOut && Model.ID != 0 && isCreater)
                            {
                                @Html.ActionLink("刪除教育訓練", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })
                            }

                            if (Model.ID != 0)
                            {
                                @Html.ActionLink("查看訓練名單/簽到資料", "Index", "TrainingPersonAdmin", new { TraningID = Model.ID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })

                                if (isCreater)
                                {
                                    @Html.ActionLink("發送通知", "SendNotify", new { tid = Model.ID, }, new { @class = "btn btn-warning", @style = "margin: 3px !important;", @onclick = "return confirm('確定要發送嗎 ? ');" })
                                }
                            }
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                    </div>
                }
            </div>
            <div class="mask"></div>
            <div class="pop" style="border-radius:7px;">
                <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                    ×
                </div>
                <label class="label label-success">簽到Qrcode</label><br />
                <input name="print" class="btn btn-primary" type="button" id="bt" value="點選列印" style="margin-top: 5px;" />
                <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print">
                    @if (Model.ID != 0)
                    {
                        @Html.GenerateQrCode($"{signInUrl}")
                    }
                </div>

                <label class="label label-warning classopinion_btn">課後意見Qrcode</label><br />
                <input name="print2" class="btn btn-primary" type="button" id="bt2" value="點選列印" style="margin-top: 5px;" />
                <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print2">
                    @if (Model.ID != 0)
                    {
                        @Html.GenerateQrCode($"{opinionUrl}")
                    }
                </div>

                @if (Model.HasExam)
                {
                    <label class="label label-warning quiz_btn">試卷Qrcode</label><br />
                    <input name="print2" class="btn btn-primary" type="button" id="bt3" value="點選列印" style="margin-top: 5px;" />
                    <p style="font-weight:bold;">連結 : <a href="@quizUrl" target="_blank">@quizUrl</a></p>
                    <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print2">
                        @if (Model.ID != 0)
                        {
                            @Html.GenerateQrCode($"{quizUrl}")
                        }
                    </div>
                }

            </div>
            @*<div class="pop2" style="border-radius:7px;">
                    <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                        ×
                    </div>
                    <input name="print" class="btn btn-primary" type="button" id="bt" value="點選列印" />
                    <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print">
                        @if (Model.ID != 0)
                        {
                            @Html.GenerateQrCode($"{signInUrl}")
                        }
                    </div>

                </div>*@
        </div>

        <div class="modal fade" id="askCloseModal" tabindex="-1" aria-labelledby="askCloseModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 80%; width: 80% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">結案文件</h3>
                    </div>
                    @using (Html.BeginForm("ClosingTraining", "TrainingAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "CloseTrainingForm" }))
                    {
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.Category)
                        @Html.HiddenFor(model => model.SendClose)
                        @Html.HiddenFor(model => model.Creater)
                        @Html.HiddenFor(model => model.GroupType)
                        @Html.HiddenFor(model => model.MainAcceptance)
                        <div class="modal-body">
                            <div class="box-body" style="max-height: 400px; overflow-y: auto;">

                            </div>
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_51" data-toggle="tab" data-index="51">反應評估</a></li>
                                    <li class=""><a href="#tab_52" data-toggle="tab" data-index="52">學習評估</a></li>
                                    <li class=""><a href="#tab_53" data-toggle="tab" data-index="53">行為評估</a></li>
                                    <li class=""><a href="#tab_54" data-toggle="tab" data-index="54">成果評估</a></li>
                                    <li class=""><a href="#tab_55" data-toggle="tab" data-index="55">課後檢討報告</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_51">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.ResponseASSAFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.ResponseASSBFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.ResponseASSCFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.ResponseASSDFile, "MultiFilesUploadEdit")
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_52">
                                        <div class="form-group">
                                            @*@Html.EditorFor(model => model.LearningASSAFile, "MultiFilesUploadEdit")*@
                                            @Html.EditorFor(model => model.LearningASSBFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.LearningASSCFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.LearningASSDFile, "MultiFilesUploadEdit")
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_53">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.BehaviorASSAFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.BehaviorASSBFile, "MultiFilesUploadEdit")
                                            @*@Html.EditorFor(model => model.BehaviorASSCFile, "MultiFilesUploadEdit")*@
                                            @Html.EditorFor(model => model.BehaviorASSDFile, "MultiFilesUploadEdit")
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_54">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.OutcomeASSAFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.OutcomeASSBFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.OutcomeASSCFile, "MultiFilesUploadEdit")
                                            @Html.EditorFor(model => model.OutcomeASSDFile, "MultiFilesUploadEdit")
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_55">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.EvaluationASSAFile, "MultiFilesUploadEdit")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @if (isCreater)
                            {
                                if (!Model.AskClose || !isParent)
                                {
                                    <button type="button" class="btn bg-teal" id="save_close">確認</button>
                                    <button type="button" class="btn bg-yellow" id="send_close">送審</button>
                                }
                            }
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <script>
        $(function () {
            $('#save_close').on('click', function () {
                if (!$('#DeviceCheck').is(':checked')) {
                    document.getElementById("Device").focus();
                    alert('需確認並勾選設備檢查才可繼續 ! ');
                    return false;
                }
                $('#SendClose').val(false);
                $('#CloseTrainingForm').submit();
            });
            $('#send_close').on('click', function () {
                if (!$('#DeviceCheck').is(':checked')) {
                    document.getElementById("Device").focus();
                    alert('需確認並勾選設備檢查才可繼續 ! ');
                    return false;
                }
                $('#SendClose').val(true);
                $('#CloseTrainingForm').submit();
            });
            ClosePop();
            $('#open_qrcode').on('click', function () {
                OpenPop();
            });
            $('#open_qrcode2').on('click', function () {
                OpenPop2();
            });
            $('#copy_meeting').on('click', function () {
                CopyMeeting();
            });

            SetSignChart();
            SetOpinionChart();
            SetLearningChart();
        });

        function Check_All(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) {
                checkboxs[i].checked = obj.checked;
            }
            $('input[name="ckb"]').each(function () {
                SwitchNotifyStatus($(this));
            });
        }

        function SendNotify() {
            var mid = $('#ID').val();

        }

        $(document).click(function (e) {
            var popup = $(".pop");
            var open_popup = $("#open_qrcode");
            //判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
                //則隱藏彈窗
                //popup.hide(500);
                ClosePop();
            }
            //var popup = $(".pop2");
            //var open_popup = $("#open_qrcode2");
            ////判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            //if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
            //    //則隱藏彈窗
            //    //popup.hide(500);
            //    OpenPop2();
            //}
        });

        function OpenPop() {
            //$(".content").toggle();
            $('.pop').fadeIn(200);
            $('.mask').fadeIn(400);
        }

        function ClosePop() {
            //$(".content").toggle();
            $('.pop').fadeOut(400);
            $('.mask').fadeOut(400);
        }
        //function OpenPop2() {
        //    //$(".content").toggle();
        //    $('.pop2').fadeIn(200);
        //    $('.mask').fadeIn(400);
        //}

        //function ClosePop2() {
        //    //$(".content").toggle();
        //    $('.pop2').fadeOut(400);
        //    $('.mask').fadeOut(400);
        //}

        function CopyMeeting() {
            var meetingId = @Model.ID;
            $.ajax({
                url: "/Admin/TrainingAdmin/CopyMeeting",
                type: 'POST',
                dataType: "text",
                async: false,
                data: {
                    meetingId: meetingId
                },
                success: function (data) {
                    return data;
                }
            });
        }

        //function printdiv(printpage) {
        //    var newstr = printpage.innerHTML;
        //    var oldstr = document.body.innerHTML;

        //    document.body.innerHTML = newstr;
        //    window.print();
        //    document.body.innerHTML = oldstr;
        //    return false;
        //}
        window.onload = function () {
            var bt = document.getElementById("bt");
            var div_print = document.getElementById("div_print");
            bt.onclick = function () {
                myPrint(div_print, '簽到');
            }
            var bt2 = document.getElementById("bt2");
            var div_print2 = document.getElementById("div_print2");
            bt2.onclick = function () {
                myPrint(div_print2, '課後意見');
            }
        }
        function myPrint(obj, typeTitle) {
            //打開一个新窗口newWindow
            var newWindow = window.open("列印視窗", "_blank");
            //要打印的div的内容
            var docStr = obj.innerHTML;
            newWindow.document.write('<div align="left" style="font-size: 30px;">' + typeTitle + ' Qrcode</div>');
            newWindow.document.write('<div align="left">課程名稱 : ' + '@Model.Title' + '</div>');
            newWindow.document.write('<div align="left">發起人 : ' + '@Model.Organiser' + '</div>');
            newWindow.document.write('<div align="left">場地 : ' + '@Model.RoomStr' + '</div>');
            newWindow.document.write('<div align="left">時間 : ' + '@Model.StartDate.ToString("yyyy/MM/dd HH:mm")' + '~' + '@Model.EndDate.ToString("yyyy/MM/dd HH:mm")' + '</div>');
            //打印内容寫入newWindow文檔
            newWindow.document.write(docStr);
            //關閉文檔
            newWindow.document.close();
            //調用打印機
            newWindow.print();
            //關閉newWindow頁面
            newWindow.close();
        }
    </script>
    <!--ckeditor-->
    <!--<script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>-->
    <script>
        $(function () {
            ////Ckeditor init
            //$('.js-ckeditor').each(function (i, e) {
            //    var id = $(e).attr('id');
            //    CKEDITOR.replace(id, {
            //        filebrowserImageUploadUrl: "/Admin/BaseAdmin/Upload",
            //        height: '500px'
            //    });
            //});
        });
    </script>
    <script>
        function setDateRange(timeElement) {
            timeElement.daterangepicker({
                "timePicker": true,
                "timePicker24Hour": true,
                "maxSpan": {
                    "days": 7
                },
                "locale": {
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "linkedCalendars": false,
                "showCustomRangeLabel": false,
                "startDate": "@Model.StartDate.ToString("yyyy/MM/dd HH")",
                "endDate": "@Model.EndDate.ToString("yyyy/MM/dd")",
                "minDate": "@DateTime.Now.AddDays(-7).ToString("yyyy/MM/dd")",
                "maxDate": "@DateTime.Now.AddMonths(1).ToString("yyyy/MM/dd")",
                "drops": "auto"
            }, function (start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });
        }
    </script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function () {
            var isNew = '@(Model.ID == 0)' == 'True';
            var isTimeOut = '@isTimeOut';
            var isAudit = '@Model.IsAudit';
            var isAudited = '@Model.IsAudited';
            var isAbnormal = '@Model.IsAbnormal';
            var isLockTime = '@(Model.StartDate.AddDays(-7) <= DateTime.Now && Model.ID != 0)';
            //預設監聽
            setDateTime($("#SignDate"), 1);
            setDateTime($("#StartDate"), 1);
            ChangeEndDate();
            //依據時間鎖定
            //if (isTimeOut == 'False') {
            //    ChangeFactory();
            //    ChangeDepartment();
            //    CheckedNotify();
            //    $('.lock_switch').each(function () {
            //        $(this).removeAttr('readonly', 'true');
            //    });
            //}
            //else {
            //    $('.lock_switch').each(function () {
            //        $(this).attr('readonly', 'true');
            //    });
            //}

            //要求結案


            //依據審核鎖定
            if ((isAudit == 'False' && isAudited == 'False' && isLockTime == "False") || isAbnormal == "False") {
                if (!isNew) {
                    ChangeFactory();
                    ChangeDepartment();
                    CheckedNotify();
                    $('.lock_switch').each(function () {
                        $(this).removeAttr('readonly', 'true');
                    });
                }                
            }
            else {
                $('.lock_switch').each(function () {
                    $(this).attr('readonly', 'true');
                });
            }

            $('.tb_item').each(function () {
                var jobId = $(this).attr('id');
                if (selectedArr.indexOf(jobId < 0)) {
                    selectedArr.push(jobId);
                }
            });

            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            //$('#Department').on('change', function () {
            //    ChangeDepartment();
            //});
            $('.dept_btn').each(function () {
                $(this).on('click', function () {
                    $('#loading_gif').removeAttr('style', 'display:none;');
                    $('#Department').val($(this).attr('id').split('_')[1]);
                    ChangeDepartment();
                    $('#loading_gif').attr('style', 'display:none;');
                });
            });
            $('#StartDate').on('change', function () {
                ChangeEndDate();
            });
            $('#Hours').on('change', function () {
                ChangeEndDate();
            });

        });

    </script>
    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            $('#switch_check_list').on('click', function () {
                $('#check_list_area').toggle("slow", function () {
                });
            });
            $('#FactoryID').on('change', function () {
                ChangeRoom();
            });
            ChangeRoom();

            //儲存資料
            $('#SaveBtn').on('click', function () {
                //var result = CheckRoomStatus();
                var room = $('#RoomID').val();
                var start = $('#StartDate').val();
                var end = $('#EndDate').val();
                $.ajax({
                    url: "/Admin/TrainingAdmin/CheckRoomStatus",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: {
                        room: room,
                        start: start,
                        end: end,
                        excmid: $('#ID').val()
                    },
                    success: function (data) {
                        //return data;
                        if (data == '可選會議室') {
                            $('#selectedNotifyList').val(selectedArr);
                            $('#EditForm').submit();
                        }
                        else {
                            alert(data);
                        }
                    }
                });

            });
        });

        function ChangeRoom() {
            if ($('#FactoryID').val() == '9') {
                $('#url_form').removeAttr('style', 'display:none;');
            }
            else {
                $('#url_form').attr('style', 'display:none;');
            }
        }

        function ChangeEndDate() {
            var hours = parseFloat($('#Hours').val());
            var startDate = new Date($('#StartDate').val());
            var minutes = Math.round(60 * (hours % 1));
            startDate = new Date(startDate.setMinutes(new Date(startDate).getMinutes() + minutes));
            var newEndDateInt = startDate.setHours(startDate.getHours() + hours);
            var newEndDateStr = new Date(newEndDateInt).toLocaleString("zh-TW", {
                day: 'numeric',    //(e.g., 1)
                month: 'numeric',    //(e.g., Oct)
                year: 'numeric',   //(e.g., 2019)
                hour: '2-digit',   //(e.g., 02)
                minute: '2-digit', //(e.g., 02)
                hour12: false, // 24 小時制
            });


            $('#EndDate').val(newEndDateStr);
            $('#end_date').val(newEndDateStr);
        }
    </script>
}