﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.FeeOverViewView
@{
    MeetSignIn.Repositories.T8Repositories.DepartmentRepository t8DepartmentRepository = new MeetSignIn.Repositories.T8Repositories.DepartmentRepository(new MeetSignIn.Models.T8ERPEntities());
}
@section styles
{
    <link href="~/Content/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <style>
        input[type=radio] {
            display: none;
        }

        .tag-radio {
            background-color: white;
            color: #ab816b;
            border-color: #ab816b;
            border-width: 1px;
            border-radius: 0.5rem;
            border: solid 2px;
            font-size: 13px;
            padding: 5px 6px;
            margin: 5px;
        }

        input[type=radio] + span {
            display: inline-block;
            background-color: white;
            padding: 1px 1px;
            border: solid 2px;
            color: #8d6d5d;
            user-select: none; /* 防止文字被滑鼠選取反白 */
            border-color: #edd9ce;
            border-width: 2px;
            border-radius: 0.5rem;
            font-size: 13px;
            margin: 3px;
        }

            input[type=radio] + span:hover {
                background-color: #56473f;
                color: #fbe2d4;
                border-color: #56473f;
            }

        input[type=radio]:checked + span {
            color: gray;
            background-color: wheat;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        訓練統計
    </h1>
</section>

<section class="content">
    <div class="row">

        <div class="content">
            <div class="col-md-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">受訓課別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" id="department" value="" />
                        <div class="form-group">
                            <label>
                                <input type="radio" class="department-tag tag-radio" value="全部" id="" name="Department_ckb">
                                <span>全部</span>
                            </label>
                            @{
                                var groupList = Model.DeptList.GroupBy(q => q.ParentDeptID).Distinct();
                            }
                            @foreach (var parent in groupList)
                            {
                                string deptName = t8DepartmentRepository.FindByDeptId(parent.Key).DeptName;
                                <div style="margin-left:7px;">
                                    <strong>@deptName</strong>
                                    @foreach (var item in Model.DepartmentList.Where(q => q.ParentDeptID == parent.Key))
                                    {
                                        <label style="margin-bottom: 0px !important;">
                                            <input type="radio" class="department-tag tag-radio" value="@item.Title" id="@item.DeptID" name="Department_ckb">
                                            <span>@item.Title (@item.DeptID)</span>
                                        </label>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">主題類別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" id="theme" value="0" />
                        <div class="form-group">
                            <label>
                                <input type="radio" class="theme-tag tag-radio" value="全部" id="0" name="Department_ckb">
                                <span>全部</span>
                            </label>
                            @foreach (var theme in Model.ThemeOptions)
                            {
                                <div style="margin-left:7px;">
                                    <label style="margin-bottom: 0px !important;">
                                        <input type="radio" class="theme-tag tag-radio" value="@theme.Text" id="@theme.Value" name="Theme_ckb">
                                        <span>@theme.Text </span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3 class="box-title">時間範圍</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>開始時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>結束時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-sm-10" style="margin-top:5px;">
                                    <button type="button" class="btn btn-info" id="search_btn">搜尋</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="top_chart">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">費用</h3>
                        <button type="button" class="btn btn-success btn-sm" id="export_excel"> 匯出Excel</button>
                        @*<a href="@Url.Action("ExportFee", "TrainingAdmin")" class="btn btn-success btn-sm" id="export_excel">匯出</a>*@
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th data-sorting="JobID">
                                        @Html.DisplayNameFor(x => x.TrainingTItle)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(x => x.Organizer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(x => x.Lecturer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(x => x.CourseDate)
                                    </th>
                                    <th data-sorting="SignStatus">
                                        @Html.DisplayNameFor(x => x.Registery)
                                    </th>
                                    <th data-sorting="SignTime">
                                        @Html.DisplayNameFor(x => x.Travel)
                                    </th>
                                    <th data-sorting="IsSent">
                                        @Html.DisplayNameFor(x => x.Others)
                                    </th>
                                    <th data-sorting="IsSent">
                                        @Html.DisplayNameFor(x => x.Total)
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="list_area">
                                @*@foreach (var item in Model.ExternalTrainingList.Where(q => !q.Title.Contains("測試")))
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Organizer</td>
                                        <td>@item.Lecturer</td>
                                        <td>@item.CourseDate</td>
                                        <td>@item.Registery</td>
                                        <td>@item.Travel</td>
                                        <td>@item.Others</td>
                                        <td>@item.Total</td>
                                    </tr>
                                }*@

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <iframe src="http://10.10.10.44:3000/public/dashboard/b079889e-a0f7-4c65-8f83-45fc41b0e1b4"
                        frameborder="0"
                        width="100%"
                        height="1000px"
                        allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <!--Chart.js-->
    <script src="~/Content/assets/scripts/chart.js"></script>
    <script src="~/Content/daterangepicker-master/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.theme-tag').on('click', function () {
                var theme = $(this).attr('id');
                $('#theme').val(theme);
                SetCharts();
            });
            $('.department-tag').on('click', function () {
                var department = $(this).attr('id');
                $('#department').val(department);
                SetCharts();
            });
            SetCharts();

            $('#StartDate').on('change', function () {
                SetCharts();
            });
            $('#EndDate').on('change', function () {
                SetCharts();
            });

            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 1);

            $('#export_excel').on('click', function () {
                var url = '/Admin/TrainingAdmin/ExportFee?StartDate=' + $('#StartDate').val() +
                    '&EndDate=' + $('#EndDate').val() +
                    '&theme=' + $('#theme').val() == null ? 0 : parseInt($('#theme').val()) +
                    //'&Title = ' + $('#Title').val() +
                    //'&FactoryID = ' + $('#FactoryID').val() +
                    //'&RoomID = ' + $('#RoomID').val() +
                    //'&DeptID = ' + $('#DeptID').val() +
                    '&DepartmentStr=' + $('#DepartmentStr').val();
                window.open(url);
            });
        })

        function SetCharts() {
            ////訓練類別圖表 Category
            //SetCategoryChart('CategoryChart', '訓練類別');
            ////研訓類別圖表 Theme
            //SetThemeChart('ThemeChart', '研訓類別');
            ////費用圖表 Fee
            ////SetFeeChart('FeeChart', '費用');
            ////時數圖表 Hours
            //SetHoursChart('HoursChart', '時數');

            SetTableData();

            $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
        }

        function SetTableData() {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetTrainingFeeList",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    //deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    theme: $('#theme').val() == null ? 0 : parseInt($('#theme').val()),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                },
                success: function (data) {
                    console.log(data);
                    var htmlStr = ``;
                    $('#list_area').empty();
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        htmlStr += `<tr>
                                        <td>${item.Title}</td>
                                        <td>${item.Organizer}</td>
                                        <td>${item.Lecturer}</td>
                                        <td>${item.CourseDate}</td>
                                        <td>${item.Registery}</td>
                                        <td>${item.Travel}</td>
                                        <td>${item.Others}</td>
                                        <td>${item.Total}</td>
                                    </tr>`;
                    }

                    $('#list_area').html(htmlStr);
                }
            });
        }
        //function SetCategoryChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/TrainingAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetCategoryChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Category',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            console.log(response);
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                total += response[i].Num;
        //                points.push({
        //                    y: response[i].Percentage,
        //                    legendText: '' + response[i].Num,
        //                    label: response[i].Title,
        //                });
        //            }
        //            //產生圓餅圖
        //            CreatePie(idName, title + ' (總數 : ' + total + ')', points);
        //        }
        //    });
        //}
        //function SetThemeChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/TrainingAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetThemeChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Theme',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            console.log(response);
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                total += response[i].Num;
        //                points.push({
        //                    y: response[i].Percentage,
        //                    legendText: '' + response[i].Num,
        //                    label: response[i].Title,
        //                });
        //            }
        //            //產生圓餅圖
        //            CreatePie(idName, title + ' (總數 : ' + total + ')', points);
        //        }
        //    });
        //}
        ////function SetFeeChart(idName, title) {
        ////    $.ajax({
        ////        url: "/Admin/TrainingAdmin/GetChart",
        ////        //url: "/Admin/TrainingAdmin/GetFeeChart",
        ////        type: 'POST',
        ////        dataType: "json",
        ////        async: false,
        ////        data: {
        ////            type: 'Fee',
        ////            deptId: $('#deptId').val(),
        ////            department: $('#department').val(),
        ////            StartDate: $('#StartDate').val(),
        ////            EndDate: $('#EndDate').val(),
        ////        },
        ////        success: function (response) {
        ////            console.log(response);
        ////            var points = [];
        ////            var total = 0;
        ////            for (var i = 0; i < response.length; i++) {
        ////                if (response[i].Title == '') {
        ////                    response[i].Title = '0';
        ////                }
        ////                total = total + response[i].DoubleTitle;
        ////                points.push({
        ////                    x: i + 1,
        ////                    y: response[i].Num,
        ////                    label: response[i].Title
        ////                });
        ////            }
        ////            var asixY = {
        ////                title: "次數",
        ////            };
        ////            //產生直條圖
        ////            CreateColumn(idName, title + '總數($' + total + ')', points, asixY, '金額(新台幣)');
        ////        }
        ////    });
        ////}
        //function SetHoursChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/TrainingAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetHoursChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Hours',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            console.log(response);
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                total = total + response[i].DoubleTitle;
        //                points.push({
        //                    x: i + 1,
        //                    y: response[i].Num,
        //                    label: response[i].Title
        //                });
        //            }
        //            var asixY = {
        //                title: "次數",
        //            };
        //            //產生直條圖
        //            CreateColumn(idName, title + '總數(' + total + '小時)', points, asixY, '時數(小時)');
        //        }
        //    });
        //}

        function CreatePie(idName, title, points) {
            var chart = new CanvasJS.Chart(idName, {
                title: {
                    text: title
                },
                animationEnabled: true,
                legend: {
                    fontSize: 16,
                    fontFamily: "Helvetica"
                    //fontFamily: "Garamond"
                },
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Helvetica",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: false,//下方顏色顯示
                        toolTipContent: "{legendText}",
                        dataPoints: points,
                    }
                ]
            });
            chart.render();
        }
        function CreateColumn(idName, title, points, axisY, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        horizontalAlign: "right"
                    },
                    //axisX: axisX,
                    axisY: axisY,
                    legend: {
                        //verticalAlign: "bottom",
                        //horizontalAlign: "left",
                        fontSize: 16,
                        fontFamily: "Helvetica"
                    },
                    data: [
                        {
                            type: "column",
                            //color: "#778899",
                            legendText: legendText,
                            legendMarkerType: "none",
                            showInLegend: "true",
                            dataPoints: points
                        }
                    ]
                });

            chart.render();
        }


    </script>
}


