﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.TrainingIndexView
@{
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    bool isHR = adminInfo.DeptId == "B40";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        教育訓練管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "TrainingAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜尋主題/發起人</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "主題/發起人" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, "---類別---", new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.IsClose, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.IsClose, "UseStatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---廠區---", new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.RoomID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, "---會議室---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DeptID, Model.DeptIDOptions, "---選擇課別---", new { @class = "form-control" })
                            </div>
                            @*</div>
                                <div class="form-group">*@
                            @Html.LabelFor(model => model.DepartmentStr, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.DepartmentStr, Model.DeptIDOptions, "---選擇課別---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                            @*</div>
                                <div class="form-group">*@
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">顯示承辦資料</label>
                            <div class="col-sm-6">
                                <div class="form-check pretty p-switch p-fill" style="margin-bottom: 10px; padding-top: 10px;">
                                    @Html.CheckBoxFor(model => model.IsOfficer, new { @class = "form-check-input" })
                                    <div class="state p-success">
                                        @Html.LabelFor(model => model.IsOfficer, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <button type="submit" class="btn btn-info fa fa-search"> 搜尋</button>
                                <button type="button" class="btn btn-success fa fa-file-excel-o" id="export_excel"> 匯出Excel</button>
                                @Html.ActionLink(" 未結案清單", "ClosedStatusIndex", "TrainingAdmin", new { }, new { @class = "btn btn-default fa fa-clipboard-list", @style = "border-color: mediumseagreen;" })
                                @*<button type="button" class="btn btn-default fa fa-clipboard-list"> 未結案清單</button>*@
                                @*<input type="button" class="btn btn-success fa fa-file-excel" id="export_excel" value="匯出Excel" />*@
                                @if (isHR)
                                {
                                    @Html.ActionLink("通知未結案承辦人", "SendUnClosedNotifiy", "TrainingAdmin", new { startDate = Model.StartDate, endDate = Model.EndDate}, new { @class = "btn btn-info bg-blue", @target = "_blank", @style = "margin: 3px !important;" })
                                }
                                @if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Sysadmin)
                                {
                                    <br />
                                    @Html.ActionLink(" 申請【外訓】", "ExternalEdit", "TrainingAdmin", new { }, new { @class = "btn btn-default bg-black fa fa-plus add_external_btn", @style = "margin-top: 3px;" })
                                    @Html.ActionLink(" 申請【內訓】", "Edit", "TrainingAdmin", new { }, new { @class = "btn btn-default bg-black fa fa-plus add_internal_btn", @style = "margin-top: 3px;" })
                                    @Html.ActionLink(" 申請【研討會、講座】", "SeminarEdit", "TrainingAdmin", new { }, new { @class = "btn btn-default bg-black fa fa-plus add_seminar_btn", @style = "margin-top: 3px;" })
                                    if (adminInfo.Type != (int)MeetSignIn.Models.AdminType.Sysadmin)
                                    {
                                        <br />
                                        @Html.ActionLink(" 課後回饋表單", "Participate", "TrainingAdmin", new { PersonID = adminInfo.Account }, new { @class = "btn btn-dark bg-maroon fa fa-file-text-o", @style = "margin-top: 3px;" })
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">教育訓練列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th width="20%">
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th width="12%">
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayNameFor(x => x.DeptID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            bool isCreater = adminInfo.ID == item.Creater;
                                            bool isParent = item.SeriesParentID == 0;
                                            <tr>
                                                <td>
                                                    @if (isParent)
                                                    {
                                                        <strong style="font-size: 16px;"><i class="fa fa-star"></i> @item.Title</strong>
                                                        <small style="color: gray;"><i class="fa fa-hashtag"></i> 主課程</small>
                                                    }
                                                    else
                                                    {
                                                        <strong style="font-size: 16px;"><i class="fa fa-angle-double-right"></i> @item.Title</strong>
                                                        <small style="color: gray;"><i class="fa fa-hashtag"></i> 系列課程</small>
                                                    }
                                                    @if (!isParent)
                                                    {
                                                        <br />
                                                        if (item.Category == (int)MeetSignIn.Models.Category.External)
                                                        {//外訓
                                                            <strong style="color:darkred;"><a href="@Url.Action("ExternalEdit", "TrainingAdmin", new { id = item.SeriesParentID})"><i class="fa fa-link"></i> 點擊</a>前往主課程</strong>
                                                        }
                                                        if (item.Category == (int)MeetSignIn.Models.Category.Internal)
                                                        {//外訓
                                                            <strong style="color:darkred;"><a href="@Url.Action("Edit", "TrainingAdmin", new { id = item.SeriesParentID})"><i class="fa fa-link"></i> 點擊</a>前往主課程</strong>
                                                        }
                                                    }
                                                    <br />
                                                    @if (item.Category != 3 && isParent)
                                                    {
                                                        <!--結案狀態-->
                                                        <small class="text text-warning">結案狀態:</small>
                                                        if (item.IsClose)
                                                        {
                                                            <label class="label label-default bg-purple" style="margin-left:3px; margin-top:3px;">已結案</label>
                                                        }
                                                        else if (item.PresidentClose)
                                                        {
                                                            <label class="label label-default bg-purple" style="margin-left:3px; margin-top:3px; color:gray;">待校長結案</label>
                                                        }
                                                        else if (item.AskClose)
                                                        {
                                                            <label class="label label-default bg-purple" style="margin-left: 3px; margin-top: 3px; color: gray;">待總經理結案</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="label label-danger" style="margin-left:3px; margin-top:3px;">未結案</label>
                                                        }
                                                        <br />
                                                        <!--簽核狀態-->
                                                        <small class="text text-warning">計畫/申請表:</small>
                                                        if (item.IsInvalid)
                                                        {
                                                            <label class="label label-danger" style="margin-left:3px; margin-top:3px;">已駁回</label>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(model => item.AuditStatus, "_ParticipateStateStatus")
                                                            <br />
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @if (isCreater)
                                                    {
                                                        <div class="organiser_text">
                                                            <span class="text">@item.Organiser</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @item.Organiser
                                                    }
                                                </td>
                                                <td>
                                                    @item.DeptName
                                                </td>
                                                <td>
                                                    <div style="height: 100px; overflow-y: auto;">
                                                        @Html.DisplayFor(model => item.DepartmentListStr, "_TagList")
                                                    </div>
                                                </td>
                                                <td>
                                                    @item.RoomStr
                                                    <br />
                                                    @Html.DisplayFor(model => item.Category, "_TrainingCategory")
                                                </td>
                                                <td>
                                                    @item.StartDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @item.EndDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsSignable, "_UseStatus")
                                                </td>
                                                <td>
                                                    @if (isCreater || adminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor || isHR)
                                                    {//承辦人
                                                        string editStr = isCreater ? "編輯" : "查看";
                                                        string editStyle = isCreater ? "btn-primary" : "btn-default bg-navy";
                                                        if (item.Category == (int)MeetSignIn.Models.Category.External)
                                                        {//外訓
                                                            @Html.ActionLink(editStr, "ExternalEdit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn " + editStyle, @style = "margin: 3px !important;" })
                                                            if (isParent)
                                                            {
                                                                @Html.ActionLink("計畫表", "External", "TrainingAdmin", new { trainingId = item.ID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important; background-color: #ad784b !important;" })

                                                                if ((isCreater || isHR) && item.AuditStatus != "尚未填寫" && isParent)
                                                                {
                                                                    @Html.ActionLink("課程", "ECEdit", "TrainingCourseAdmin", new { tid = item.ID }, new { @class = "btn bg-purple", @style = "margin: 3px !important;" })
                                                                }
                                                            }
                                                        }
                                                        else if (item.Category == (int)MeetSignIn.Models.Category.Internal)
                                                        {//內訓
                                                            @Html.ActionLink(editStr, "Edit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn " + editStyle, @style = "margin: 3px !important;" })
                                                            if (isParent)
                                                            {
                                                                @Html.ActionLink("計畫表", "Internal", "TrainingAdmin", new { trainingId = item.ID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important; background-color: #ad784b !important;" })

                                                                if ((isCreater || isHR) && item.AuditStatus != "尚未填寫" && isParent)
                                                                {
                                                                    @Html.ActionLink("課程", "ICEdit", "TrainingCourseAdmin", new { tid = item.ID }, new { @class = "btn bg-purple", @style = "margin: 3px !important;" })
                                                                }
                                                            }
                                                        }
                                                        else if (item.Category == (int)MeetSignIn.Models.Category.Seminar && isParent)
                                                        {//研討會
                                                            @Html.ActionLink(editStr, "SeminarEdit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn " + editStyle, @style = "margin: 3px !important;" })
                                                        }
                                                        else if (item.Category == (int)MeetSignIn.Models.Category.ExternalLecturer)
                                                        {
                                                            @Html.ActionLink(editStr, "ExternalEdit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn " + editStyle, @style = "margin: 3px !important;" })
                                                            if (isParent)
                                                            {
                                                                @Html.ActionLink("計畫表", "External", "TrainingAdmin", new { trainingId = item.ID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important; background-color: #ad784b !important;" })

                                                                if (item.AuditStatus != "尚未填寫")
                                                                {
                                                                    @Html.ActionLink("課程", "ECEdit", "TrainingCourseAdmin", new { tid = item.ID }, new { @class = "btn bg-purple", @style = "margin: 3px !important;" })
                                                                }
                                                            }
                                                        }

                                                        @Html.ActionLink("訓練名單", "Index", "TrainingPersonAdmin", new { TraningID = item.ID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })
                                                        if (isCreater)
                                                        {//承辦人
                                                            @Html.ActionLink("停用", "Delete", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })
                                                        }
                                                    }

                                                    @*@if ((isCreater || isHR) && isParent)*@
                                                    @if (isCreater || isHR)
                                                    {
                                                        @Html.ActionLink("異動", "Index", "TrainingAbnormalAdmin", new { TrainingID = item.ID }, new { @class = "btn btn-warning bg-orange", @style = "margin: 3px !important;" })
                                                    }
                                                    @*@if (item.IsClose || isHR || adminInfo.Type < (int)MeetSignIn.Models.AdminType.Manager ||             isCreater)
                                                        {
                                                            @Html.ActionLink("PDDRO", "PDDRO", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-success bg-olive", @style = "margin: 3px !important;" })
                                                        }*@
                                                    @if (isParent)
                                                    {
                                                        @Html.ActionLink("PDDRO", "PDDRO", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-success bg-olive", @style = "margin: 3px !important;" })
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <script>
        $(function () {
            //datetimepicker
            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 0);
        });
    </script>

    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            ChangeFactory();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });

            $('#export_excel').on('click', function () {
                var url = '/Admin/TrainingAdmin/ExportListExcel?StartDate=' + $('#StartDate').val() +
                    '&EndDate=' + $('#EndDate').val() +
                    '&Title = ' + $('#Title').val() +
                    '&FactoryID = ' + $('#FactoryID').val() +
                    '&RoomID = ' + $('#RoomID').val() +
                    '&DeptID = ' + $('#DeptID').val() +
                    '&DepartmentStr=' + $('#DepartmentStr').val() +
                    '&IsClose=' + $('#IsClose').val();
                window.open(url);
            });
        });
    </script>
}


