﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.InternalPlanView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增內訓計畫表" : "編輯內訓計畫表";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();

    bool isCreater = adminInfo.ID == Model.TrainingInfo.Creater;
    bool isLockTime = Model.TrainingInfo.StartDate.AddDays(-7) <= DateTime.Now;
    bool lockModify = (Model.IsAudit && Model.IsAudited && isLockTime) && !Model.IsAbnormal;
}

@section styles
{
    <style>
        .col-sm-6 {
            margin-top: 0px !important;
        }

        .lmt-h {
            height: 60px !important;
        }

        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        內訓計畫表
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Edit", "TrainingAdmin", new { ID = Model.TrainingID })">@Model.TrainingInfo.Title</a></li>
        <li class="active">內訓計畫表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @Html.ActionLink("返回教育訓練【" + Model.TrainingInfo.Title + "】", "Edit", "TrainingAdmin", new { ID = Model.TrainingID }, new { @class = "btn btn-default", @style = "margin: 3px !important;" })
                    @Html.ActionLink("查看訓練名單/簽到資料", "Index", "TrainingPersonAdmin", new { TraningID = Model.TrainingID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })
                    @if ((adminInfo.DeptId == "B40" || isCreater))
                    {
                        @Html.ActionLink("異動", "Index", "TrainingAbnormalAdmin", new { TrainingID = Model.TrainingID }, new { @class = "btn btn-warning bg-orange", @style = "margin: 3px !important;" })
                        @Html.ActionLink("課程", "ICEdit", "TrainingCourseAdmin", new { tid = Model.TrainingID }, new { @class = "btn bg-purple", @style = "margin: 3px !important;" })
                    }
                    @if (Model.IsAudit && isCreater)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Internal", "TrainingAdmin", new { trainingId = Model.TrainingID, isNew = true }, new { @class = "btn btn-default bg-maroon", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                    }
                    @if (Model.ID != 0 && !Model.IsAudit && isCreater)
                    {
                        <button id="SendCreateAudit" type="button" class="btn btn-warning">送審</button>
                    }
                </div>

                <div class="box-body">
                    @using (Html.BeginForm("Internal", "TrainingAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.TrainingID)
                        @Html.HiddenFor(model => model.CreateDate)
                        @Html.HiddenFor(model => model.IsAudit)
                        @Html.HiddenFor(model => model.IsAudited)
                        @Html.HiddenFor(model => model.FromAudit)
                        @Html.HiddenFor(model => model.IsSkip)
                        <div class="nav-tabs-custom" style="box-shadow:none;">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">計畫資訊</a></li>
                                @*<li class=""><a href="#tab_2" data-toggle="tab" data-index="1">利益關係文件</a></li>*@
                                <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">講師職能文件</a></li>
                            </ul>
                            <div class="tab-content" style="padding:0px;">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.People)
                                            @if (lockModify)
                                            {
                                                @Html.TextBoxFor(model => model.People, new { @class = "form-control", @type = "number", @disabled = "true" })
                                                @Html.HiddenFor(model => model.People)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.People, new { @class = "form-control", @type = "number" })
                                                @Html.ValidationMessageFor(model => model.People, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.Weeks)
                                            @if (lockModify)
                                            {
                                                @Html.TextBoxFor(model => model.Weeks, new { @class = "form-control", @type = "number", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Weeks)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Weeks, new { @class = "form-control", @type = "number" })
                                                @Html.ValidationMessageFor(model => model.Weeks, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                            <h3 style="font-weight:bold; color: #a84040">規劃與執行能力</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(model => model.Investigation)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Investigation, new { @class = "form-control", @maxlength = "500", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Investigation)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Investigation, new { @class = "form-control", @maxlength = "500", @style = "resize: none;" })
                                                @Html.ValidationMessageFor(model => model.Investigation, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4" style="margin-top: 0px !important;">
                                            @Html.LabelFor(model => model.Education)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Education, new { @class = "form-control", @maxlength = "100", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Education)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Education, new { @class = "form-control", @maxlength = "100", @style = "resize: none; height: 80px;" })
                                                @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                        <div class="col-sm-4" style="margin-top:0px !important;">
                                            @Html.LabelFor(model => model.Experience)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Experience, new { @class = "form-control", @maxlength = "200", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Experience)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Experience, new { @class = "form-control", @maxlength = "200", @style = "resize: none; height: 80px;" })
                                            }
                                        </div>
                                        <div class="col-sm-4" style="margin-top: 0px !important;">
                                            @Html.LabelFor(model => model.Professional)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Professional, new { @class = "form-control", @maxlength = "100", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Professional)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Professional, new { @class = "form-control", @maxlength = "100", @style = "resize: none; height: 80px;" })
                                                @Html.ValidationMessageFor(model => model.Professional, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(model => model.Eligible)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Eligible, new { @class = "form-control", @maxlength = "500", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Eligible)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Eligible, new { @class = "form-control", @maxlength = "500", @style = "resize: none;" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(model => model.Objective)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @maxlength = "500", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Objective)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @maxlength = "500", @style = "resize: none;" })
                                                @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                            <h3 style="font-weight:bold; color: #a84040">裝備與設施</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            @Html.LabelFor(model => model.Conditions)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Conditions, new { @class = "form-control", @maxlength = "200", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Conditions)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Conditions, new { @class = "form-control", @maxlength = "200", @style = "resize: none; height: 80px;" })
                                            }

                                        </div>

                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Devices)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Devices, new { @class = "form-control", @maxlength = "200", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Devices)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Devices, new { @class = "form-control", @maxlength = "200", @style = "resize: none; height: 80px;" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                            <h3 style="font-weight:bold; color: #a84040">訓練績效評估</h3>
                                        </div>
                                    </div>

                                    @if (lockModify)
                                    {
                                        <p class="label label-primary" style="background-color: #0a0800b0 !important; margin-left: 15px;">內訓驗收</p><br />
                                        <div class="form-group" style="margin-top: 8px;">
                                            <div class="col-sm-12">
                                                @Html.DisplayFor(model => model.Learning, "_UseStatus")
                                                @Html.LabelFor(model => model.Learning)
                                                @Html.HiddenFor(model => model.Learning)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Html.DisplayFor(model => model.Behavior, "_UseStatus")
                                                @Html.LabelFor(model => model.Behavior)
                                                @Html.HiddenFor(model => model.Behavior)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Html.DisplayFor(model => model.Outcome, "_UseStatus")
                                                @Html.LabelFor(model => model.Outcome)
                                                @Html.HiddenFor(model => model.Outcome)
                                            </div>
                                        </div>
                                        <br />
                                        <p class="label label-primary" style="background-color: #0a0800b0 !important; margin-left: 15px;">課後意見表</p><br />
                                        <div class="form-group" style="margin-top: 8px;">
                                            <div class="col-sm-12">
                                                @Html.DisplayFor(model => model.Response, "_UseStatus")
                                                @Html.LabelFor(model => model.Response)
                                                @Html.HiddenFor(model => model.Response)
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="label label-primary" style="background-color: #0a0800b0 !important;">課後意見表</p><br />
                                        <div class="form-group" style="margin-top: 10px;">
                                            <div class="col-sm-12">
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.Response, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-info">
                                                        @Html.LabelFor(model => model.Response, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <p class="label label-primary" style="background-color: #0a0800b0 !important;">內訓驗收</p><br />
                                        <div class="form-group" style="margin-top: 10px;">
                                            <div class="col-sm-12">
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.Learning, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-info">
                                                        @Html.LabelFor(model => model.Learning, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.Behavior, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-info">
                                                        @Html.LabelFor(model => model.Behavior, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                                    @Html.CheckBoxFor(model => model.Outcome, new { @class = "form-check-input lock_switch" })
                                                    <div class="state p-success">
                                                        @Html.LabelFor(model => model.Outcome, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                            <h3 style="font-weight:bold; color: #a84040">訓練模式特色與創新性</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(model => model.Address)
                                            @if (lockModify)
                                            {
                                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @maxlength = "200", @style = "resize: none;", @disabled = "true" })
                                                @Html.HiddenFor(model => model.Address)
                                            }
                                            else
                                            {
                                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @maxlength = "200", @style = "resize: none; height: 80px;" })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                            <h3 style="font-weight:bold; color: #a84040">利益關係人</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Stakeholders)<br />
                                            @foreach (var item in Model.StakeholdersOptions)
                                            {
                                                <div class="js-signer-Stakeholders btn btn-info" id="dept_@item.Value" style="margin: 2px 2px;">@item.Text</div>
                                            }
                                            <br />
                                            @Html.TextBoxFor(model => model.Stakeholders, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                            @Html.ValidationMessageFor(model => model.Stakeholders, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="hv-item">
                                                @Html.LabelFor(model => model.StakeholderDoc)
                                                <div class="hv-content">
                                                    <p>
                                                        展現課程規劃流程，利益關係人有適當參與課程設計及審查。<br />
                                                        展現利益關係人參與課程設計與審查有適當之紀錄。<br />
                                                        ex : <br />
                                                        * 課程規劃/設計會議的會議紀錄/簽到冊。<br />
                                                        * 學員課程設計問卷調查。<br />
                                                        * 課程規劃/設計相關訪談紀錄（主管/學員/講師）。<br />
                                                        * 相關內部簽呈…等。<br />
                                                    </p>
                                                </div>
                                            </div>
                                            <br />
                                            @Html.TextBoxFor(model => model.HoldersFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.StakeholderDoc, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.HiddenFor(model => model.StakeholderDoc)
                                        @if (Model.HolderList != null && Model.HolderList.Count() > 0)
                                        {
                                            foreach (var item in Model.HolderList)
                                            {
                                                string fileName = item.FileName;
                                                <div class="col-md-6">
                                                    <div class="box box-default">
                                                        <div class="box-body">
                                                            @Html.Partial("_DisplayFile", "TrainingPhoto" + "_" + fileName)
                                                            @Html.ActionLink("刪除檔案", "DeleteHolderFile", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin:3px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>


                                    @Html.HiddenFor(model => model.JsonCourse)
                                    <div>
                                        @if (!lockModify)
                                        {
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <hr align="center" width="100%" class="hr_dashed">
                                                    <button class="btn bg-olive" type="button" style="margin-top:10px; margin-left:0px;" id="add_course">新增課程</button>
                                                </div>
                                            </div>
                                        }
                                        <div id="course_list">
                                            @if (Model.CourseList != null && Model.CourseList.Count() > 0)
                                            {
                                                for (int i = 0; i < Model.CourseList.Count(); i++)
                                                {
                                                    var item = Model.CourseList[i];
                                                    int num = i + 1;
                                                    <div class="course_item" id="course_@num">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <h3 class="h3_course">
                                                                    內訓課程@(num)
                                                                    @if (i > 0)
                                                                    {
                                                                        <button type="button" class="close close_course" id="close_@num">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    }
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" class="course_id" value="@item.ID" />
                                                        <input type="hidden" class="course_trainingId" value="@item.TrainingID" />
                                                        <input type="hidden" class="course_internalId" value="@item.InternalID" />
                                                        <div class="form-group" style="margin-left:5px;">
                                                            <div class="col-sm-4">
                                                                <label>大綱</label>
                                                                <textarea class="form-control lmt-h course_outline lock_disabled" maxlength="200" style="resize:none; ">@item.Outline</textarea>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label>日期</label>
                                                                <input class="form-control lmt-h course_date lock_disabled" id="course_date_@num" value="@item.Date.ToString("yyyy-MM-dd")" required />
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <label>授課時間</label>
                                                                <textarea class="form-control lmt-h course_time lock_disabled" maxlength="200" style="resize: none;">@item.Time</textarea>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label>時數</label>
                                                                <input class="form-control lmt-h course_hours lock_disabled" type="number" step="0.1" value="@item.Hours" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="margin-left:5px;">
                                                            <div class="col-sm-5">
                                                                <label>課程進度/內容</label>
                                                                <textarea class="form-control lmt-h course_progress lock_disabled" maxlength="500" style="resize: none;">@item.Progress</textarea>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label>授課講師</label>
                                                                <input class="form-control lmt-h course_lecturer lock_disabled" maxlength="50" value="@item.Lecturer" />
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <label>訓練方式</label>
                                                                <input class="form-control lmt-h course_method lock_disabled" maxlength="500" value="@item.TrainingMethod" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="course_item" id="course_1">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <h3 class="h3_course">
                                                                內訓課程1
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-left:5px;">
                                                        <div class="col-sm-4">
                                                            <label>大綱</label>
                                                            <textarea class="form-control lmt-h course_outline lock_disabled" maxlength="200" style="resize:none; "></textarea>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>日期</label>
                                                            <input class="form-control lmt-h course_date lock_disabled" id="course_date_1" value="@DateTime.Now.ToString("yyyy/MM/dd")" required />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>授課時間</label>
                                                            <textarea class="form-control lmt-h course_time lock_disabled" maxlength="200" style="resize: none;"></textarea>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>時數</label>
                                                            <input class="form-control lmt-h course_hours lock_disabled" type="number" step="0.1" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-left:5px;">
                                                        <div class="col-sm-5">
                                                            <label>課程進度/內容</label>
                                                            <textarea class="form-control lmt-h course_progress lock_disabled" maxlength="500" style="resize: none;"></textarea>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>授課講師</label>
                                                            <input class="form-control lmt-h course_lecturer lock_disabled" maxlength="50" />
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <label>訓練方式</label>
                                                            <input class="form-control lmt-h course_method lock_disabled" maxlength="500" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                        </div>
                                    </div>
                                    @if (isCreater && Model.OfficerAudit <= 1 || string.IsNullOrEmpty(Model.OfficerRemark))
                                    {//承辦人
                                        @Html.HiddenFor(model => model.OfficerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.OfficerRemark)
                                                @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                @Html.ValidationMessageFor(model => model.OfficerRemark, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.OfficerAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.OfficerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.OfficerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.OfficerRemark)
                                        @Html.HiddenFor(model => model.OfficerAuditDate)
                                    }

                                    @if ((Model.AuditLevelInfo != null || Model.TrainingInfo.Creater == 1) && !isCreater)
                                    {
                                        bool activeAudit = false;
                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                        {//主管
                                            activeAudit = true;
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.ManagerAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark)
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                    @Html.ValidationMessageFor(model => model.ManagerRemark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ManagerAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerRemark)
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                                        {//副總
                                            activeAudit = true;
                                            <div class="form-group">

                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.ViceAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ViceRemark)
                                                    @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                    @Html.ValidationMessageFor(model => model.ViceRemark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ViceAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ViceAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ViceRemark)
                                            @Html.HiddenFor(model => model.ViceAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                                        {//總經理
                                            activeAudit = true;
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.PresidentAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PresidentRemark)
                                                    @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                    @Html.ValidationMessageFor(model => model.PresidentRemark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PresidentAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PresidentAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PresidentRemark)
                                            @Html.HiddenFor(model => model.PresidentAuditDate)
                                        }

                                        //if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Principal && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                        if (adminInfo.IsPrincipal && !activeAudit && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview && Model.PresidentAudit > 1)
                                        {//校長
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.PrincipalAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PrincipalRemark)
                                                    @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                    @Html.ValidationMessageFor(model => model.PrincipalRemark, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PrincipalAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PrincipalAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PrincipalRemark)
                                            @Html.HiddenFor(model => model.PrincipalAuditDate)
                                        }
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                        @Html.HiddenFor(model => model.ViceAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceRemark)
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                        @Html.HiddenFor(model => model.PresidentAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentRemark)
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                        @Html.HiddenFor(model => model.PrincipalAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalRemark)
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                        </div>
                                    </div>
                                    @Html.DisplayFor(model => Model, "_AuditSignature")

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="hv-item">
                                                @Html.LabelFor(model => model.FunctionDocs) (可不填)
                                                <div class="hv-content">
                                                    <p>
                                                        展現訓練單位有適當的分工及人員有足夠的訓練相關職能。<br />
                                                        展現部門主管對人員發展之責任且具備適當的人員發展能力。<br />
                                                        ex : <br />
                                                        * 訓練或人資部門人員的經驗與專業能力的要求。<br />
                                                        * 訓練或人資部門人員職位所需職能的說明書。<br />
                                                        * 訓練或人資部門的職能評估表等資料。<br />
                                                        * 部門主管訓練發展能力及責任的規範。<br />
                                                        * 訓練人員及部門主管規劃辦理訓練經驗及實際瞭解 TTQS 情形。<br />
                                                    </p>
                                                </div>
                                            </div>
                                            <br />
                                            @Html.TextBoxFor(model => model.DocFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.DocFiles, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.HiddenFor(model => model.FunctionDocs)
                                        @if (Model.DocList != null && Model.DocList.Count() > 0)
                                        {
                                            foreach (var item in Model.DocList)
                                            {
                                                string fileName = item.FileName;
                                                <div class="col-md-6">
                                                    <div class="box box-default">
                                                        <div class="box-body">
                                                            @Html.Partial("_DisplayFile", "ManagerPhoto" + "_" + fileName)
                                                            @Html.ActionLink("刪除檔案", "DeleteFile", "ManagerAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin:3px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                @*<div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Stakeholders)<br />
                                            @foreach (var item in Model.StakeholdersOptions)
                                            {
                                                <div class="js-signer-Stakeholders btn btn-info" id="dept_@item.Value" style="margin: 2px 2px;">@item.Text</div>
                                            }
                                            <br />
                                            @Html.TextBoxFor(model => model.Stakeholders, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="hv-item">
                                                @Html.LabelFor(model => model.StakeholderDoc)
                                                <div class="hv-content">
                                                    <p>
                                                        展現課程規劃流程，利益關係人有適當參與課程設計及審查。<br />
                                                        展現利益關係人參與課程設計與審查有適當之紀錄。<br />
                                                        ex : <br />
                                                        * 課程規劃/設計會議的會議紀錄/簽到冊。<br />
                                                        * 學員課程設計問卷調查。<br />
                                                        * 課程規劃/設計相關訪談紀錄（主管/學員/講師）。<br />
                                                        * 相關內部簽呈…等。<br />
                                                    </p>
                                                </div>
                                            </div>
                                            <br />
                                            @Html.TextBoxFor(model => model.HoldersFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.StakeholderDoc, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.HiddenFor(model => model.StakeholderDoc)
                                        @if (Model.HolderList != null && Model.HolderList.Count() > 0)
                                        {
                                            foreach (var item in Model.HolderList)
                                            {
                                                string fileName = item.FileName;
                                                <div class="col-md-6">
                                                    <div class="box box-default">
                                                        <div class="box-body">
                                                            @Html.Partial("_DisplayFile", "TrainingPhoto" + "_" + fileName)
                                                            @Html.ActionLink("刪除檔案", "DeleteHolderFile", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin:3px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>*@
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                        <div class="box-footer">
                            <div class="col-sm-12" style="margin-top: 10px; padding-left:0px;">
                                @if (Model.PrincipalAudit > 1)
                                {
                                    @*<p class="label label-success">已核准</p>*@
                                    <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                                }
                                else
                                {
                                    <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                                    if (Model.ID == 0)
                                    {
                                        <button id="SkipBtn" type="button" class="btn btn-default bg-navy">跳過</button>
                                    }
                                }
                                @if (Model.FromAudit)
                                {
                                    int stateInt = 0;
                                    switch (adminInfo.Type)
                                    {
                                        case (int)MeetSignIn.Models.AdminType.Manager:
                                            stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                            break;
                                        case (int)MeetSignIn.Models.AdminType.Vice:
                                            stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                            break;
                                        //case (int)MeetSignIn.Models.AdminType.Principal:
                                        //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                        //    break;
                                        case (int)MeetSignIn.Models.AdminType.President:
                                            stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                            break;
                                    }
                                    if (adminInfo.IsPrincipal)
                                    {
                                        stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                    }
                                    @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                                }
                                else
                                {
                                    @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                                }
                            </div>
                        </div>

                    }
                </div>


            </div>
        </div>
    </div>
    @*<div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius:5px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">新增課程進度</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>課程大綱</label>
                                <textarea class="form-control" id="new_outline" maxlength="200" style="resize:none;" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>日期</label>
                                <input class="form-control" id="new_date" required />
                            </div>
                            <div class="form-group">
                                <label>授課時間</label>
                                <textarea class="form-control" id="new_time" maxlength="200" style="resize:none;" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>時數</label>
                                <input class="form-control" id="new_hours" type="number" step="0.1" required/>
                            </div>
                            <div class="form-group">
                                <label>課程進度/內容</label>
                                <textarea class="form-control" id="new_progress" maxlength="500" style="resize:none;" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>授課講師</label>
                                <input class="form-control" id="new_lecturer" maxlength="50" required />
                            </div>
                            <div class="form-group">
                                <label>訓練方式</label>
                                <input class="form-control" id="new_method" maxlength="500" required />
                            </div>
                            <button type="button" class="btn btn-primary" id="save_course">儲存</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">關閉</button>

                    </div>
                </div>

            </div>

        </div>*@
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedStakeholdersType = $('#Stakeholders');
            var remove;

            //Stakeholders
            $selectedStakeholdersType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedStakeholdersType.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Stakeholders').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedStakeholdersType.tagsinput('add', val);
            });
        })
    </script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Content/js/internal.js"></script>

}