﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.OverViewView
@{
    MeetSignIn.Repositories.T8Repositories.DepartmentRepository t8DepartmentRepository = new MeetSignIn.Repositories.T8Repositories.DepartmentRepository(new MeetSignIn.Models.T8ERPEntities());
}
@section styles
{
    <link href="~/Content/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <style>
        input[type=radio] {
            display: none;
        }

        .tag-radio {
            background-color: white;
            color: #ab816b;
            border-color: #ab816b;
            border-width: 1px;
            border-radius: 0.5rem;
            border: solid 2px;
            font-size: 13px;
            padding: 5px 6px;
            margin: 5px;
        }

        input[type=radio] + span {
            display: inline-block;
            background-color: white;
            padding: 1px 1px;
            border: solid 2px;
            color: #8d6d5d;
            user-select: none; /* 防止文字被滑鼠選取反白 */
            border-color: #edd9ce;
            border-width: 2px;
            border-radius: 0.5rem;
            font-size: 13px;
            margin: 3px;
        }

            input[type=radio] + span:hover {
                background-color: #56473f;
                color: #fbe2d4;
                border-color: #56473f;
            }

        input[type=radio]:checked + span {
            color: gray;
            background-color: wheat;
        }
    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        訓練統計
    </h1>
</section>

<section class="content">
    <div class="row">

        <div class="content">
            <div class="col-md-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">訓練課別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" id="deptId" value="" />
                        <div class="form-group">
                            <label style="margin-bottom: 0px !important;">
                                <input type="radio" class="dept-tag tag-radio" value="全部" id="" name="DeptID_ckb">
                                <span>全部</span>
                            </label>
                            @{
                                var groupList = Model.DeptList.GroupBy(q => q.ParentDeptID).Distinct();
                            }
                            @foreach (var parent in groupList)
                            {
                                string deptName = t8DepartmentRepository.FindByDeptId(parent.Key).DeptName;
                                <div style="margin-left:7px;">
                                    <strong>@deptName</strong>
                                    @foreach (var item in Model.DeptList.Where(q => q.ParentDeptID == parent.Key))
                                    {
                                        <label style="margin-bottom: 0px !important;">
                                            <input type="radio" class="dept-tag tag-radio" value="@item.Title" id="@item.DeptID" name="DeptID_ckb">
                                            <span>@item.Title (@item.DeptID)</span>
                                        </label>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-tags"></i>
                        <h3 class="box-title">受訓課別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" id="department" value="" />
                        <div class="form-group">
                            <label>
                                <input type="radio" class="department-tag tag-radio" value="全部" id="" name="Department_ckb">
                                <span>全部</span>
                            </label>
                            @foreach (var parent in groupList)
                            {
                                string deptName = t8DepartmentRepository.FindByDeptId(parent.Key).DeptName;
                                <div style="margin-left:7px;">
                                    <strong>@deptName</strong>
                                    @foreach (var item in Model.DepartmentList.Where(q => q.ParentDeptID == parent.Key))
                                    {
                                        <label style="margin-bottom: 0px !important;">
                                            <input type="radio" class="department-tag tag-radio" value="@item.Title" id="@item.DeptID" name="Department_ckb">
                                            <span>@item.Title (@item.DeptID)</span>
                                        </label>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3 class="box-title">時間範圍</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>開始時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>結束時間</label><br />
                            <div class="col-xs-6">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-sm-10" style="margin-top:5px;">
                                    <button type="button" class="btn btn-info" id="search_btn">搜尋</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart"></i>
                        <h3 class="box-title">統計資料</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @*<label>總經理評語</label>*@
                            <!--1.整體辦訓狀況 [包含公司(組織)所提供的所有訓練措施以及政府補助計畫]
                            a.辦訓課程總數							            〔124〕(班)
                            b.受訓總人次							                〔2223〕(人次)
                            c.辦訓總時數(訓練課程時數加總)				    〔295.5〕(小時)
                            d.受訓總人數							                〔297〕(人)
                            d1.高階主管受訓總人數(處長級與以上)		        〔3〕(人)
                            d2.低階主管受訓總人數(理級與課級)		        〔4〕(人)
                            d3.非管理職員工受訓總人數				            〔290〕(人)
                            e.青年(29歲(含)以下)受訓總人數				    〔〕(人)-->
                            <div class="col-md-12">
                                <h3>1.整體辦訓狀況 [包含公司(組織)所提供的所有訓練措施以及政府補助計畫]</h3>
                            </div>
                            <div class="col-md-6">
                                <label>a.辦訓課程總數</label>
                                <input type="text" class="form-control" id="stt_1a" value="@Model.TrainingStatistics.Overall.TrainingNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>b.受訓總人次</label>
                                <input type="text" class="form-control" id="stt_1b" value="@Model.TrainingStatistics.Overall.VisitorsNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>c.辦訓總時數(訓練課程時數加總)</label>
                                <input type="text" class="form-control" id="stt_1c" value="@Model.TrainingStatistics.Overall.TrainingHours" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d.受訓總人數</label>
                                <input type="text" class="form-control" id="stt_1d" value="@Model.TrainingStatistics.Overall.TraineesNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d1.高階主管受訓總人數(處長級與以上)	</label>
                                <input type="text" class="form-control" id="stt_1d1" value="@Model.TrainingStatistics.Overall.SeniorNum " disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d2.低階主管受訓總人數(理級與課級)</label>
                                <input type="text" class="form-control" id="stt_1d2" value="@Model.TrainingStatistics.Overall.JuniorNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d3.非管理職員工受訓總人數</label>
                                <input type="text" class="form-control" id="stt_1d3" value="@Model.TrainingStatistics.Overall.EmployeeNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>e.青年(29歲(含)以下)受訓總人數</label>
                                <input type="text" class="form-control" id="stt_1e" value="@Model.TrainingStatistics.Overall.YoungNum " disabled />
                            </div>

                            <!--2.內部訓練狀況
                            a.內部訓練之課程總數						        〔95〕(班)
                            b.內部訓練之受訓總人次					            〔2181〕(人次)
                            c.內部訓練之訓練總時數					            〔237.5〕(小時)
                            d.內部訓練之受訓總人數					            〔297〕(人)
                            d1.高階主管接受內部訓練總人數(處長級與以上)	〔3〕(人)
                            d2.中低階主管接受內部訓練總人數(理級與課級)	〔4〕(人)
                            d3.非管理職員工接受內部訓練總人數		        〔290〕(人)
                            e.內部訓練總花費						                〔0〕(元)-->
                            <div class="col-md-12">
                                <h3>2.內部訓練狀況</h3>
                            </div>
                            <div class="col-md-6">
                                <label>a.內部訓練之課程總數</label>
                                <input type="text" class="form-control" id="stt_2a" value="@Model.TrainingStatistics.Internal.TrainingNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>b.內部訓練之受訓總人次</label>
                                <input type="text" class="form-control" id="stt_2b" value="@Model.TrainingStatistics.Internal.VisitorsNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>c.內部訓練之訓練總時數</label>
                                <input type="text" class="form-control" id="stt_2c" value="@Model.TrainingStatistics.Internal.TrainingHours" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d.內部訓練之受訓總人數</label>
                                <input type="text" class="form-control" id="stt_2d" value="@Model.TrainingStatistics.Internal.TraineesNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d1.高階主管接受內部訓練總人數(處長級與以上)</label>
                                <input type="text" class="form-control" id="stt_2d1" value="@Model.TrainingStatistics.Internal.SeniorNum " disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d2.中低階主管接受內部訓練總人數(理級與課級)</label>
                                <input type="text" class="form-control" id="stt_2d2" value="@Model.TrainingStatistics.Internal.JuniorNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d3.非管理職員工接受內部訓練總人數</label>
                                <input type="text" class="form-control" id="stt_2d3" value="@Model.TrainingStatistics.Internal.EmployeeNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>e.內部訓練總花費</label>
                                <input type="text" class="form-control" id="stt_2e" value="@Model.TrainingStatistics.Internal.TotalFee " disabled />
                            </div>

                            <!--3.外部訓練狀況
                            a.外部訓練之課程總數						        〔29〕(班)
                            b.外部訓練之受訓總人次					            〔42〕(人次)
                            c.外部訓練之訓練總時數					            〔58.0〕(小時)
                            d.外部訓練之受訓總人數					            〔21〕(人)
                            d1.高階主管接受外部訓練總人數(處長級與以上)	〔1〕(人)
                            d2.中低階主管接受外部訓練總人數(理級與課級)	〔0〕(人)
                            d3.非管理職員工接受外部訓練總人數		        〔20〕(人)
                            e.外部訓練總花費						                〔132370〕(元)-->
                            <div class="col-md-12">
                                <h3>3.外部訓練狀況</h3>
                            </div>
                            <div class="col-md-6">
                                <label>a.外部訓練之課程總數</label>
                                <input type="text" class="form-control" id="stt_3a" value="@Model.TrainingStatistics.External.TrainingNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>b.外部訓練之受訓總人次</label>
                                <input type="text" class="form-control" id="stt_3b" value="@Model.TrainingStatistics.External.VisitorsNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>c.外部訓練之訓練總時數</label>
                                <input type="text" class="form-control" id="stt_3c" value="@Model.TrainingStatistics.External.TrainingHours" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d.外部訓練之受訓總人數</label>
                                <input type="text" class="form-control" id="stt_3d" value="@Model.TrainingStatistics.External.TraineesNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d1.高階主管接受外部訓練總人數(處長級與以上)</label>
                                <input type="text" class="form-control" id="stt_3d1" value="@Model.TrainingStatistics.External.SeniorNum " disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d2.中低階主管接受外部訓練總人數(理級與課級)</label>
                                <input type="text" class="form-control" id="stt_3d2" value="@Model.TrainingStatistics.External.JuniorNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>d3.非管理職員工接受外部訓練總人數</label>
                                <input type="text" class="form-control" id="stt_3d3" value="@Model.TrainingStatistics.External.EmployeeNum" disabled />
                            </div>
                            <div class="col-md-6">
                                <label>e.外部訓練總花費</label>
                                <input type="text" class="form-control" id="stt_3e" value="@Model.TrainingStatistics.External.TotalFee " disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart"></i>
                        <h3 class="box-title">課程執行率</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <!--課程執行率追蹤-->
                            <div class="col-md-6">
                                <p style="color: darkred; font-weight:bold;">選擇上方時間段後點選【匯出】</p>
                                <button id="export_exacutive" class="btn btn-success bg-olive">匯出</button>
                            </div>
                        </div>
                        <div>
                             <div class="col-md-12">
                                <div id="ExacutiveChart" style="height: 300px; padding: 0px; position: relative;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="top_chart">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-pie-chart"></i>
                        <h3 class="box-title">訓練類別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="CategoryChart" width="400" height="400"></canvas>*@
                        <div id="CategoryChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-pie-chart"></i>
                        <h3 class="box-title">研訓類別</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="ThemeChart" width="400" height="400"></canvas>*@
                        <div id="ThemeChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>
                        <h3 class="box-title">費用</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="FeeChart" width="400" height="400"></canvas>*@
                        <a class="btn btn-default btn-lg" href="@Url.Action("FeeOverView", "TrainingAdmin")">查看</a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart" "></i>
                        <h3 class="box-title">時數</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        @*<canvas id="HoursChart" width="400" height="400"></canvas>*@
                        <div id="HoursChart" style="height: 300px; padding: 0px; position: relative;"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <iframe src="http://10.10.10.44:3000/public/dashboard/b079889e-a0f7-4c65-8f83-45fc41b0e1b4"
                        frameborder="0"
                        width="100%"
                        height="1000px"
                        allowtransparency></iframe>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <!--Chart.js-->
    <script src="~/Content/assets/scripts/chart.js"></script>
    <script src="~/Content/daterangepicker-master/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.dept-tag').on('click', function () {
                var deptId = $(this).attr('id');
                $('#deptId').val(deptId);
                SetCharts();
            });
            $('.department-tag').on('click', function () {
                var department = $(this).attr('id');
                $('#department').val(department);
                SetCharts();
            });
            SetCharts();

            $('#export_exacutive').on('click', function () {
                ExportExacutiveRate();
            });

            $('#StartDate').on('change', function () {
                SetCharts();
            });
            $('#EndDate').on('change', function () {
                SetCharts();
            });

            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 1);
        })

        function SetCharts() {
            //課程出席率圖表 Category
            //SetExacutiveChart('ExacutiveChart', '課程執行率');
            GetExacutiveData('attend');
            GetExacutiveData('opinion');
            GetExacutiveData('acceptance');
            GetExacutiveData('quiz');
            //訓練類別圖表 Category
            SetCategoryChart('CategoryChart', '訓練類別');
            //研訓類別圖表 Theme
            SetThemeChart('ThemeChart', '研訓類別');
            //費用圖表 Fee
            //SetFeeChart('FeeChart', '費用');
            //時數圖表 Hours
            SetHoursChart('HoursChart', '時數');
            //統計數據
            SetStatistics();

            $('html,body').animate({ scrollTop: $('#top_chart').offset().top }, 800);
        }

        function GetExacutiveData(type) {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetExacutiveData",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: type,
                    deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    startDate: $('#StartDate').val(),
                    endDate: $('#EndDate').val(),
                },
                success: function (response) {
                    console.log(response);

                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total = total + response[i].DoubleTitle;
                        points.push({
                            x: i + 1,
                            y: response[i].Num,
                            label: response[i].Title
                        });
                    }
                    var asixY = {
                        title: "次數",
                    };
                    //產生直條圖
                    CreateStackedColumn(idName, title + '標題', points, asixY, );
                }
            });
        }

        //function SetExacutiveChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/TrainingAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetHoursChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Exacutive',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            console.log(response);
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                total = total + response[i].DoubleTitle;
        //                points.push({
        //                    x: i + 1,
        //                    y: response[i].Num,
        //                    label: response[i].Title
        //                });
        //            }
        //            var asixY = {
        //                title: "次數",
        //            };
        //            //產生直條圖
        //            CreateColumn(idName, title + '總數(' + total + '小時)', points, asixY, '時數(小時)');
        //        }
        //    });
        //}

        function SetCategoryChart(idName, title) {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetChart",
                //url: "/Admin/TrainingAdmin/GetCategoryChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Category',
                    deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total += response[i].Num;
                        points.push({
                            y: response[i].Percentage,
                            legendText: '' + response[i].Num,
                            label: response[i].Title,
                        });
                    }
                    //產生圓餅圖
                    CreatePie(idName, title + ' (總數 : ' + total + ')', points);
                }
            });
        }
        function SetThemeChart(idName, title) {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetChart",
                //url: "/Admin/TrainingAdmin/GetThemeChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Theme',
                    deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total += response[i].Num;
                        points.push({
                            y: response[i].Percentage,
                            legendText: '' + response[i].Num,
                            label: response[i].Title,
                        });
                    }
                    //產生圓餅圖
                    CreatePie(idName, title + ' (總數 : ' + total + ')', points);
                }
            });
        }
        //function SetFeeChart(idName, title) {
        //    $.ajax({
        //        url: "/Admin/TrainingAdmin/GetChart",
        //        //url: "/Admin/TrainingAdmin/GetFeeChart",
        //        type: 'POST',
        //        dataType: "json",
        //        async: false,
        //        data: {
        //            type: 'Fee',
        //            deptId: $('#deptId').val(),
        //            department: $('#department').val(),
        //            StartDate: $('#StartDate').val(),
        //            EndDate: $('#EndDate').val(),
        //        },
        //        success: function (response) {
        //            console.log(response);
        //            var points = [];
        //            var total = 0;
        //            for (var i = 0; i < response.length; i++) {
        //                if (response[i].Title == '') {
        //                    response[i].Title = '0';
        //                }
        //                total = total + response[i].DoubleTitle;
        //                points.push({
        //                    x: i + 1,
        //                    y: response[i].Num,
        //                    label: response[i].Title
        //                });
        //            }
        //            var asixY = {
        //                title: "次數",
        //            };
        //            //產生直條圖
        //            CreateColumn(idName, title + '總數($' + total + ')', points, asixY, '金額(新台幣)');
        //        }
        //    });
        //}
        function SetHoursChart(idName, title) {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetChart",
                //url: "/Admin/TrainingAdmin/GetHoursChart",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    type: 'Hours',
                    deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                },
                success: function (response) {
                    console.log(response);
                    var points = [];
                    var total = 0;
                    for (var i = 0; i < response.length; i++) {
                        total = total + response[i].DoubleTitle;
                        points.push({
                            x: i + 1,
                            y: response[i].Num,
                            label: response[i].Title
                        });
                    }
                    var asixY = {
                        title: "次數",
                    };
                    //產生直條圖
                    CreateColumn(idName, title + '總數(' + total + '小時)', points, asixY, '時數(小時)');
                }
            });
        }
        function SetStatistics() {
            $.ajax({
                url: "/Admin/TrainingAdmin/GetStatistics",
                type: 'POST',
                dataType: "json",
                async: false,
                data: {
                    deptId: $('#deptId').val(),
                    department: $('#department').val(),
                    startDate: $('#StartDate').val(),
                    endDate: $('#EndDate').val(),
                },
                success: function (response) {
                    console.log(response);
                    var overall = response.Overall;
                    $('#stt_1a').val(overall.TrainingNum);
                    $('#stt_1b').val(overall.VisitorsNum);
                    $('#stt_1c').val(overall.TrainingHours);
                    $('#stt_1d').val(overall.TraineesNum);
                    $('#stt_1d1').val(overall.SeniorNum);
                    $('#stt_1d2').val(overall.JuniorNum);
                    $('#stt_1d3').val(overall.EmployeeNum);
                    $('#stt_1e').val(overall.YoungNum);

                    var internal = response.Internal;
                    $('#stt_2a').val(internal.TrainingNum);
                    $('#stt_2b').val(internal.VisitorsNum);
                    $('#stt_2c').val(internal.TrainingHours);
                    $('#stt_2d').val(internal.TraineesNum);
                    $('#stt_2d1').val(internal.SeniorNum);
                    $('#stt_2d2').val(internal.JuniorNum);
                    $('#stt_2d3').val(internal.EmployeeNum);
                    $('#stt_2e').val(internal.TotalFee);

                    var external = response.External;
                    $('#stt_3a').val(external.TrainingNum);
                    $('#stt_3b').val(external.VisitorsNum);
                    $('#stt_3c').val(external.TrainingHours);
                    $('#stt_3d').val(external.TraineesNum);
                    $('#stt_3d1').val(external.SeniorNum);
                    $('#stt_3d2').val(external.JuniorNum);
                    $('#stt_3d3').val(external.EmployeeNum);
                    $('#stt_3e').val(external.TotalFee);
                }
            });
        }
        function ExportExacutiveRate() {
            var url = '/Admin/TrainingAdmin/ExportExacutiveRate?deptId=' + $('#deptId').val() + '&department=' + $('#department').val() + '&startDate=' + $('#StartDate').val() + '&endDate=' + $('#EndDate').val();
            window.open(url);
            //$.ajax({
            //    url: "/Admin/TrainingAdmin/ExportExacutiveRate",
            //    type: 'POST',
            //    dataType: "text",
            //    async: false,
            //    data: {
            //        deptId: $('#deptId').val(),
            //        department: $('#department').val(),
            //        startDate: $('#StartDate').val(),
            //        endDate: $('#EndDate').val(),
            //    },
            //    success: function (response) {
            //        console.log(response);
            //    }
            //});
        }

        function CreatePie(idName, title, points) {
            var chart = new CanvasJS.Chart(idName, {
                title: {
                    text: title
                },
                animationEnabled: true,
                legend: {
                    fontSize: 16,
                    fontFamily: "Helvetica"
                    //fontFamily: "Garamond"
                },
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Helvetica",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: false,//下方顏色顯示
                        toolTipContent: "{legendText}",
                        dataPoints: points,
                    }
                ]
            });
            chart.render();
        }
        function CreateColumn(idName, title, points, axisY, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    title: {
                        text: title,
                        horizontalAlign: "right"
                    },
                    //axisX: axisX,
                    axisY: axisY,
                    legend: {
                        //verticalAlign: "bottom",
                        //horizontalAlign: "left",
                        fontSize: 16,
                        fontFamily: "Helvetica"
                    },
                    data: [
                        {
                            type: "column",
                            //color: "#778899",
                            legendText: legendText,
                            legendMarkerType: "none",
                            showInLegend: "true",
                            dataPoints: points
                        }
                    ]
                });

            chart.render();
        }
        function CreateStackedColumn(idName, title, points, axisY, legendText) {
            var chart = new CanvasJS.Chart(idName,
                {
                    animationEnabled: true,
                    title: {
                        text: title,
                        horizontalAlign: "right"
                    },
                    axisY: {
                        suffix: "%"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: axisY,
                    legend: {
                        //verticalAlign: "bottom",
                        //horizontalAlign: "left",
                        fontSize: 16,
                        fontFamily: "Helvetica"
                    },
                    data: [
                        //{
                        //    type: "column",
                        //    //color: "#778899",
                        //    legendText: legendText,
                        //    legendMarkerType: "none",
                        //    showInLegend: "true",
                        //    dataPoints: points
                        //},
                        {
                            type: "stackedColumn100",
                            name: "Real-Time",
                            showInLegend: true,
                            xValueFormatString: "YYYY",
                            yValueFormatString: "#,##0\"%\"",
                            dataPoints: [
                                { x: new Date(2010, 0), y: 40 },
                                { x: new Date(2011, 0), y: 50 },
                                { x: new Date(2012, 0), y: 60 },
                                { x: new Date(2013, 0), y: 61 },
                                { x: new Date(2014, 0), y: 63 },
                                { x: new Date(2015, 0), y: 65 },
                                { x: new Date(2016, 0), y: 67 }
                            ]
                        },
                        {
                            type: "stackedColumn100",
                            name: "Real-Time",
                            showInLegend: true,
                            xValueFormatString: "YYYY",
                            yValueFormatString: "#,##0\"%\"",
                            dataPoints: [
                                { x: new Date(2010, 0), y: 40 },
                                { x: new Date(2011, 0), y: 50 },
                                { x: new Date(2012, 0), y: 60 },
                                { x: new Date(2013, 0), y: 61 },
                                { x: new Date(2014, 0), y: 63 },
                                { x: new Date(2015, 0), y: 65 },
                                { x: new Date(2016, 0), y: 67 }
                            ]
                        },
                        {
                            type: "stackedColumn100",
                            name: "Real-Time",
                            showInLegend: true,
                            xValueFormatString: "YYYY",
                            yValueFormatString: "#,##0\"%\"",
                            dataPoints: [
                                { x: new Date(2010, 0), y: 40 },
                                { x: new Date(2011, 0), y: 50 },
                                { x: new Date(2012, 0), y: 60 },
                                { x: new Date(2013, 0), y: 61 },
                                { x: new Date(2014, 0), y: 63 },
                                { x: new Date(2015, 0), y: 65 },
                                { x: new Date(2016, 0), y: 67 }
                            ]
                        },
                    ]
                });

            chart.render();
        }


    </script>
}


