﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.TrainingIndexView
@{
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    int External = (int)MeetSignIn.Models.Category.External;
    int Internal = (int)MeetSignIn.Models.Category.Internal;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        課後回饋表單 - @Model.PersonID @Model.PersonName
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Participate", "TrainingAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.PersonID)
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜尋訓練標題</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "訓練標題" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---廠區---", new { @class = "form-control" })
                                </div>

                                @Html.LabelFor(model => model.RoomID, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, "---會議室---", new { @class = "form-control" })
                                </div>
                            </div>*@
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.DeptID, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.DeptID, Model.DeptIDOptions, "---選擇課別---", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentStr, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.DepartmentStr, Model.DeptIDOptions, "---選擇課別---", new { @class = "form-control" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*<input type="button" class="btn btn-success" id="export_excel" value="匯出Excel" />
                                    @Html.ActionLink("申請教育訓練", "Edit", "TrainingAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">教育訓練列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th width="15%">
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayNameFor(x => x.DeptID)
                                            </th>
                                            <th width="15%">
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th data-sorting="StartDate" width="10%">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate" width="10%">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th>課後驗收</th>
                                            @*<th>心得報告</th>*@
                                            <th>意見表</th>
                                            @*<th>行動方案</th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            bool isCreater = adminInfo.ID == item.Creater;
                                            bool isExternal = item.Category == External;
                                            bool isInternal = item.Category == Internal;
                                            bool notFinished = false;
                                            if (item.HasAcceptance)
                                            {
                                                if (isExternal && item.EAStatus == "尚未填寫")
                                                {
                                                    notFinished = true;
                                                }
                                                else if (isInternal && item.IAStatus == "尚未填寫")
                                                {
                                                    notFinished = true;
                                                }
                                            }
                                            if (item.OpinionStatus == "尚未填寫")
                                            {
                                                notFinished = true;
                                            }
                                            string notFinishedClass = notFinished ? "background-color:#fff8de;" : "";
                                            <tr style="@notFinishedClass">
                                                <td>
                                                    @if (item.IsInvalid)
                                                    {
                                                        <label class="label label-danger" style="margin-left:3px; margin-top:3px;">已駁回</label>
                                                    }
                                                    else
                                                    {
                                                        if (item.AuditState == (int)MeetSignIn.Models.AuditState.PresidentAudit)
                                                        {
                                                            <label class="label label-success" style="margin-left:3px; margin-top:3px;">已核准</label>
                                                            <br />
                                                        }
                                                        <span class="text text-warning">計畫/申請表:</span> @Html.DisplayFor(model => item.AuditStatus, "_ParticipateStateStatus")
                                                        <br />
                                                    }
                                                    @item.Title
                                                </td>
                                                <td>
                                                    @if (isCreater)
                                                    {
                                                        <div class="organiser_text">
                                                            <span class="text">@item.Organiser</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @item.Organiser
                                                    }
                                                </td>
                                                <td>
                                                    @item.DeptName
                                                </td>
                                                <td>
                                                    <div style="height: 100px; overflow-y: auto;">
                                                        @Html.DisplayFor(model => item.DepartmentListStr, "_TagList")
                                                    </div>
                                                </td>
                                                <td>
                                                    @item.RoomStr
                                                    <br />
                                                    @if (isExternal)
                                                    {
                                                        <p class="label bg-navy" style="background-color: #88a1bb !important; ">外訓</p>
                                                    }
                                                    else if (isInternal)
                                                    {
                                                    <p class="label bg-navy" style="background-color: #d5604d !important;">內訓</p>
                                                    }
                                                    @*<p class="label bg-navy">@Model.CategoryOptions.Where(q => q.Value == categoryStr).FirstOrDefault().Text</p>*@
                                                </td>
                                                <td>
                                                    @item.StartDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @item.EndDate.ToString("yyyy/MM/dd hh:mm tt (ddd)")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsSignable, "_UseStatus")
                                                </td>
                                                <td>
                                                    @if (item.HasAcceptance)
                                                    {
                                                        if (isExternal)
                                                        {
                                                            @Html.DisplayFor(model => item.EAStatus, "_ParticipateStateStatus")
                                                            @Html.ActionLink("外訓驗收", "Edit", "ExternalAcceptanceAdmin", new { trainingId = item.ID, personId = Model.PersonID }, new { @class = "btn bg-fuchsia external_btn", @style = "margin: 3px !important;" })
                                                        }
                                                        else if (isInternal)
                                                        {
                                                            @Html.DisplayFor(model => item.IAStatus, "_ParticipateStateStatus")
                                                            @Html.ActionLink("內訓驗收", "Edit", "InternalAcceptanceAdmin", new { trainingId = item.ID, personId = Model.PersonID }, new { @class = "btn bg-fuchsia internal_btn", @style = "margin: 3px !important;" })
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>無須填寫</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.HasOpinion)
                                                    {
                                                        if (item.OpinionStatus == "已填寫")
                                                        {
                                                            <span class="label label-default" style="background-color: #81f78f; margin: 3px !important; ">@item.OpinionStatus</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-default" style="background-color: #ededed; margin: 3px !important;">@item.OpinionStatus</span>
                                                        }
                                                        @Html.ActionLink("課後意見表", "Edit", "ClassOpinionAdmin", new { trainingId = item.ID, personId = Model.PersonID }, new { @class = "btn bg-fuchsia classopinion_btn", @style = "margin: 3px !important;" })
                                                    }
                                                    else
                                                    {
                                                        <span>無須填寫</span>
                                                    }
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(model => item.ActionPlanStatus, "_ParticipateStateStatus")
                                                        @Html.ActionLink("課後行動方案", "Edit", "ClassActionPlanAdmin", new { trainingId = item.ID, personId = Model.PersonID }, new { @class = "btn bg-yellow", @style = "margin: 3px !important;background-color:#a38b66 !important; border-color: #a38b66;" })
                                                    </td>*@
                                                <td>
                                                    @if (isCreater)
                                                    {
                                                        if (isExternal)
                                                        {
                                                            @Html.ActionLink("編輯", "ExternalEdit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                        }
                                                        else if (isInternal)
                                                        {
                                                            @Html.ActionLink("編輯", "Edit", "TrainingAdmin", new { id = item.ID }, new { @class = "btn btn-primary", @style = "margin: 3px !important;" })
                                                        }
                                                    }
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Organiser)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DeptID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.DepartmentStr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.RoomID)
                                            </th>
                                            <th data-sorting="StartDate">
                                                @Html.DisplayNameFor(x => x.StartDate)
                                            </th>
                                            <th data-sorting="EndDate">
                                                @Html.DisplayNameFor(x => x.EndDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.IsSignable)
                                            </th>
                                            <th>課後驗收</th>
                                            @*<th>心得報告</th>*@
                                            <th>意見表</th>
                                            @*<th>行動方案</th>*@
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>

    <script>
        $(function () {
            //datetimepicker
            setDateTime($("#StartDate"), 1);
            setDateTime($("#EndDate"), 0);
        });
    </script>

    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            ChangeFactory();
            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });

            $('#export_excel').on('click', function () {
                var url = '/Admin/TrainingAdmin/ExportListExcel?StartDate=' + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val() + '&Title = ' + $('#Title').val() + '&FactoryID = ' + $('#FactoryID').val() + '&RoomID = ' + $('#RoomID').val() + '&DeptID = ' + $('#DeptID').val() + '&DepartmentStr=' + $('#DepartmentStr').val();
                window.open(url);
            });
        });
    </script>
}


