﻿@model MeetSignIn.Areas.Admin.ViewModels.Training.SeminarTrainingView
@using MeetSignIn.Utility.Helpers;
@{
    ViewBag.Title = "SeminarEdit";
    string title = Model.ID == 0 ? "申請內訓研討會" : "編輯研討會、講座";
    bool isCreater = Model.AdminInfo.ID == Model.Creater || Model.ID == 0;
    bool isTimeOut = Model.ID != 0 && Model.EndDate < DateTime.Now;
    string signInUrl = Model.ID != 0 ? $"{Request.Url.Scheme}://220.228.58.43:18151/Sign/TrainingCheck?rn={Model.RoomNum}&tid={Model.ID}" : "";
    string opinionUrl = Model.ID != 0 ? $"{Request.Url.Scheme}://220.228.58.43:18151/Admin/ClassOpinionAdmin/ToOpinion?trainingId={Model.ID}" : "";
    Url.Action("ToOpinion", "ClassOpinionAdmin", new { trainingId = Model.ID });
    bool isFinished = Model.AuditState == (int)MeetSignIn.Models.AuditState.Approval || Model.IsInvalid;
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    var activeDepts = Model.Notify == null ? new List<string>() : Model.Notify.Select(q => q.DepartmentStr).Distinct().ToList();
    int reject = (int)MeetSignIn.Models.ApprovalState.Reject;
    int approved = (int)MeetSignIn.Models.ApprovalState.Approved;
}

@section styles
{
    <style>
        .mask {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: 2;
            top: 0;
            left: 0;
            opacity: 0.5;
        }

        .pop {
            display: none;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*width: 90%;
            height: 60%;*/
            /*text-align: center;*/
            background-color: #e8eae6;
            box-sizing: border-box;
            padding: 4%;
            z-index: 100;
            /*to hide popup initially*/
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 15px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 4px;
        }

        .pop h2, h6 {
            padding-top: 40px !important;
        }

        .nav-tabs-custom > .nav-tabs > li.active {
            /* border: none;*/
            border-radius: 3px 3px 0px 0px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            /* border-top: 3px solid transparent;*/
            border-top-color: #3c8dbc;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        教育訓練管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.ID != 0)
                    {
                        <input type="button" class="btn btn-success" id="open_qrcode" value="Qrcode(簽到,課後意見)" />
                        @*<input type="button" class="btn btn-warning" id="open_qrcode2" value="課後意見連結" style="background-color:#d98d57 !important; border-color: #d98d57;"  />*@
                        @Html.ActionLink("複製訓練", "Copy", new { id = Model.ID }, new { @class = "btn btn-default" })
                        <br />
                        <div class="form-group" style="margin: 5px 0px;">
                            <div class="col-sm-6" style="margin-left:0px;">
                                <label class="label bg-olive">簽到連結</label>
                                <input class="form-control" style="background-color:wheat; font-weight:bold;" value="@signInUrl" disabled />
                            </div>
                        </div>
                        @*<p class="text text-info">@signInUrl</p>*@
                        if (Model.IsAudit && adminInfo.ID == Model.Creater)
                        {
                            @Html.ActionLink("取消審核/重新編輯", "SeminarEdit", "TrainingAdmin", new { trainingId = Model.ID, isNew = true }, new { @class = "btn btn-default bg-maroon", onclick = "return confirm('點擊後資料將須重新審核，確定要重新編輯嗎?');" })
                        }
                    }

                </div>
                <input id="controller_str" type="hidden" value="TrainingAdmin" />
                @using (Html.BeginForm("SeminarEdit", "TrainingAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.MeetingNumber)
                    @Html.HiddenFor(model => model.IsOnline)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_0" data-toggle="tab" data-index="0">基本資訊</a></li>
                                @if (isCreater || Model.AdminInfo.Type < (int)MeetSignIn.Models.AdminType.ClassSupervisor)
                                {
                                    <li class=""><a href="#tab_1" data-toggle="tab" data-index="1">上課照片</a></li>
                                    <li class=""><a href="#tab_2" data-toggle="tab" data-index="2">課堂產出/影片</a></li>
                                    <li class=""><a href="#tab_3" data-toggle="tab" data-index="3">講義資料</a></li>
                                    <li class=""><a href="#tab_5" data-toggle="tab" data-index="5">課堂報告</a></li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (DateTime.Now >= Model.StartDate)
                                    {
                                    <div class="form-group">
                                        <!--簽到比例-->
                                        <div class="col-md-6">
                                            <div id="SignChart" class="training-chart"></div>
                                        </div>
                                        <!--意見回饋比例-->
                                        <div class="col-md-6">
                                            <div id="OpinionChart" class="training-chart"></div>
                                        </div>
                                    </div>
                                    }
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VisionID, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.VisionID, Model.VisionOptions, new { @class = "form-control lock_switch" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control lock_switch", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Organiser)
                                        @Html.TextBoxFor(model => model.Organiser, new { @class = "form-control lock_switch", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Organiser, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6" style="padding-left: 0px !important;">
                                            @Html.LabelFor(model => model.FactoryID)
                                            @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                        <div class="col-sm-6" style="right: 0px !important;">
                                            @Html.LabelFor(model => model.RoomID)
                                            @Html.DropDownListFor(model => model.RoomID, Model.RoomOptions, new { @class = "form-control lock_switch" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="url_form" style="display:none;">
                                        @Html.LabelFor(model => model.Url, new { style = "margin-top: 15px !important;" })
                                        @Html.TextAreaFor(model => model.Url, new { @class = "form-control lock_switch", @rows = "5" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, new { style = "margin-top: 15px !important;" })
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control lock_switch", @rows = "10" })
                                    </div>
                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.Category, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Category, Model.CategoryOptions, new { @class = "form-control lock_switch" })
                                        </div>*@
                                    @Html.HiddenFor(model => model.Category)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Theme, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.Theme, Model.ThemeOptions, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @foreach (var gto in Model.GroupTypeOptions.OrderByDescending(q => q.Value))
                                        {
                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                @Html.RadioButtonFor(model => model.GroupType, gto.Value, new { @class = "form-check-input gp_type" })
                                                <div class="state p-info">
                                                    <label>@gto.Text</label>
                                                </div>
                                            </div>
                                        }
                                        @*<div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                @Html.RadioButtonFor(model => model.GroupType, "2", new { @class = "form-check-input gp_type" })
                                                <div class="state p-info">
                                                    <label>個人(個別回饋)</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                                @Html.RadioButtonFor(model => model.GroupType, "1", new { @class = "form-check-input gp_type" })
                                                <div class="state p-info">
                                                    <label>團體(統一回饋)</label>
                                                </div>
                                            </div>*@
                                    </div>
                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.Fee)
                                            @Html.TextBoxFor(model => model.Fee, new { @class = "form-control lock_switch", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Cert, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Cert, Model.CertOptions, new { @class = "form-control lock_switch" })
                                        </div>*@
                                    @Html.HiddenFor(model => model.Fee)
                                    @Html.HiddenFor(model => model.Cert)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lecturer)
                                        @Html.TextBoxFor(model => model.Lecturer, new { @class = "form-control lock_switch", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Lecturer, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptID, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.DeptID, Model.DeptIDOptions, new { @class = "form-control lock_switch" })
                                    </div>
                                    <div class="notify-list-area">
                                        <div class="form-group dept_selecter">
                                            @Html.LabelFor(model => model.Department, new { style = "margin-top: 15px !important;" })
                                            @*@Html.DropDownListFor(model => model.Department, Model.DepartmentOptions, new { @class = "form-control lock_switch" })*@
                                            <br />
                                            @Html.HiddenFor(model => model.Department)
                                            @foreach (var item in Model.DepartmentOptions.ToList())
                                            {
                                                string active = activeDepts.Contains(item.Text) ? "dept_btn_active" : "";
                                                <input type="button" class="btn btn-sm dept_btn @active" style="margin:3px;" id="dept_@item.Value" value="@item.Text" />
                                            }
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.selectedNotifyList, new { style = "margin-top: 15px !important;" })
                                            <button class="btn" data-widget="collapse" id="switch_check_list"><i class="fa fa-eye-slash"></i></button>
                                            <div id="check_list_area" class="check_list_area">
                                                @Html.HiddenFor(model => model.selectedNotifyList)
                                                <p><input type="checkbox" id="check_all" name="all" onclick="Check_All(this,'ckb')" /> All</p>
                                                <div id="check_list" @*style="max-height:20%; width: 50%;"*@>
                                                </div>
                                                <div id="loading_gif" style="margin-left: 45%; display: none;">
                                                    <img src="~/Content/images/loading.gif" style="height: 85px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="max-height: 300px; overflow-y: auto;">
                                            <!--顯示已選名單-->
                                            @Html.LabelFor(model => model.Notify, new { style = "margin-top: 15px !important;" })
                                            <table class="table table-bordered table-striped dataTable">
                                                <thead>
                                                    <tr>
                                                        <td>工號</td>
                                                        <td>姓名</td>
                                                        <td>課別</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="notify_tb">
                                                    @if (Model.Notify != null)
                                                    {
                                                        foreach (var item in Model.Notify)
                                                        {
                                                            <tr class="tb_item" id="@item.JobID">
                                                                <td>@item.JobID</td>
                                                                <td><label class="text text-success">@item.Name @item.EngName</label></td>
                                                                <td><label class="label label-primary">@item.DepartmentStr</label></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SignDate)
                                        @Html.TextBoxFor(model => model.SignDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate)
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Hours)
                                        @Html.TextBoxFor(model => model.Hours, new { @class = "form-control lock_switch", @type = "number", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.HiddenFor(model => model.EndDate)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate)
                                        <input id="end_date" value="@Model.EndDate.ToString("yyyy/MM/dd HH:mm")" class="form-control lock_switch" disabled />
                                    </div>


                                    <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px;">
                                        @Html.CheckBoxFor(model => model.IsSignable, new { @class = "form-check-input lock_switch" })
                                        <div class="state p-success">
                                            @Html.LabelFor(model => model.IsSignable, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LateMinutes, new { style = "margin-top: 15px !important;" })
                                        @Html.DropDownListFor(model => model.LateMinutes, Model.LateMinutesOptions, new { @class = "form-control lock_switch" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Remark) (可不填)
                                        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control js-ckeditor" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NotifyMsg) (可不填)
                                        @Html.TextAreaFor(model => model.NotifyMsg, new { @class = "form-control" })
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split">
                                        </div>
                                    </div>
                                    @if ((Model.ID == 0 || adminInfo.ID == Model.Creater) && Model.OfficerAudit <= 1)
                                    {//承辦人
                                        @*<div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.OfficerAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.OfficerAudit, "2", new { @class = "lock_disabled audit_radio" })<div class="state p-success-o"><label>簽核</label></div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        @Html.HiddenFor(model => model.OfficerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.OfficerRemark)
                                                @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control lock_disabled", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.OfficerAuditDate)
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.OfficerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.OfficerRemark)
                                                @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.OfficerRemark)
                                        @Html.HiddenFor(model => model.OfficerAuditDate)
                                    }

                                    @if (Model.AuditLevelInfo != null || Model.Creater == 1)
                                    {
                                        bool activeAudit = false;
                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager && Model.ManagerAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ManagerReview)
                                        {//主管
                                            activeAudit = true;
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.ManagerAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark)
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ManagerAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ManagerRemark)
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice && Model.ViceAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.ViceReview)
                                        {//副總
                                            activeAudit = true;
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.ViceAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ViceRemark)
                                                    @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ViceAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.ViceAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.ViceRemark)
                                            @Html.HiddenFor(model => model.ViceAuditDate)
                                        }

                                        if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President && Model.PresidentAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PresidentReview)
                                        {//總經理
                                            activeAudit = true;
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.PresidentAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PresidentRemark)
                                                    @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PresidentAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PresidentAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PresidentRemark)
                                            @Html.HiddenFor(model => model.PresidentAuditDate)
                                        }

                                        //if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Principal && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                        if (adminInfo.IsPrincipal && !activeAudit && Model.PrincipalAudit <= 1 && adminInfo.Account == Model.AuditLevelInfo.PrincipalReview)
                                        {//校長
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(model => model.PrincipalAudit)
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                                    </div>
                                                    <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                        @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PrincipalRemark)
                                                    @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PrincipalAuditDate)
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.PrincipalAudit)
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                    @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => model.PrincipalRemark)
                                            @Html.HiddenFor(model => model.PrincipalAuditDate)
                                        }
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.ManagerAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ManagerRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ManagerRemark)
                                        @Html.HiddenFor(model => model.ManagerAuditDate)
                                        @Html.HiddenFor(model => model.ViceAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.ViceRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.ViceRemark)
                                        @Html.HiddenFor(model => model.ViceAuditDate)
                                        @Html.HiddenFor(model => model.PresidentAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PresidentRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PresidentRemark)
                                        @Html.HiddenFor(model => model.PresidentAuditDate)
                                        @Html.HiddenFor(model => model.PrincipalAudit)
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(model => model.PrincipalRemark, new { @class = "label label-default bg-orange" })
                                                @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 80px;", @disabled = "true" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.PrincipalRemark)
                                        @Html.HiddenFor(model => model.PrincipalAuditDate)
                                    }


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split" style="border-color: yellowgreen; border-style: double;">
                                        </div>
                                    </div>
                                    @Html.DisplayFor(model => Model, "_AuditSignature")

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <hr align="center" width="100%" class="hr_split" style="border-color:lightskyblue; border-style: double;">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainPic) (可不填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.PicsFiles, "", new { @class = "form-control", @type = "file", @multiple = "true", @accept = "image/x-png,image/jpeg", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainPic)
                                        @if (Model.PicList != null && Model.PicList.Count() > 0)
                                        {
                                            foreach (var item in Model.PicList)
                                            {
                                                <img src="~/FileUploads/TrainingPhoto/@item.Pics" class="img-thumbnail" style="width:400px" />

                                                @Html.ActionLink("刪除檔案", "DeletePic", "TrainingAdmin", new { id = item.ID, trainingId = Model.ID, editPage = "SeminarEdit" }, new { @class = "btn btn-danger js-delete-confirm", @target = "_blank" })
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainVideo) (可不填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningVideo, "", new { @class = "form-control", @type = "file", @accept = ".mp4", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainVideo, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainVideo)
                                        @if (!string.IsNullOrEmpty(Model.MainVideo))
                                        {
                                            <iframe src="~/FileUploads/TrainingPhoto/@Model.MainVideo" scrolling="no" frameborder="0" width="100%" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>

                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteVideo", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainFile) (可不填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningFile, "", new { @class = "form-control", @type = "file", @accept = "image/x-png,image/jpeg,.pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainFile, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainFile)
                                        @if (!string.IsNullOrEmpty(Model.MainFile))
                                        {
                                            if (Model.MainFile.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/TrainingPhoto/@Model.MainFile" width="100%" height="300px"></iframe>
                                            }
                                            else if (Model.MainFile.IndexOf(".jpg") > 0 || Model.MainFile.IndexOf(".png") > 0)
                                            {
                                                <img src="~/FileUploads/TrainingPhoto/@Model.MainFile" class="img-thumbnail" style="width:400px" />
                                            }
                                            else
                                            {
                                                <p style="font-weight:bold;">@Model.MainFile</p>
                                            }
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteFile", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MainReport) (可不填)
                                        @if (!isFinished)
                                        {
                                            @Html.TextBoxFor(model => model.TraningReport, "", new { @class = "form-control", @type = "file", @accept = ".pdf,doc,.docx,csv,xls,.xlsx", @style = "height: 100% !important;" })
                                            <code>請上傳總和不超過10MB的檔案</code><br />
                                            @Html.ValidationMessageFor(model => model.MainReport, "", new { @class = "text-danger" })
                                        }
                                        @Html.HiddenFor(model => model.MainReport)
                                        @if (!string.IsNullOrEmpty(Model.MainReport))
                                        {
                                            if (Model.MainReport.IndexOf(".pdf") > 0)
                                            {
                                                <iframe src="~/FileUploads/TrainingPhoto/@Model.MainReport" width="100%" height="300px"></iframe>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" href="~/FileUploads/TrainingPhoto/@Model.MainReport" target="_blank" style="margin-bottom:3px;">下載檔案</a>
                                            }
                                            <br />
                                            @Html.ActionLink("刪除檔案", "DeleteReport", "TrainingAdmin", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (isCreater || Model.AdminInfo.Type < (int)MeetSignIn.Models.AdminType.Manager || Model.SameDeptManager)
                        {
                            if (Model.PrincipalAudit > 1)
                            {
                                <p class="label label-success">已結案</p>
                            }
                            else
                            {
                                <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                            }
                            if (!Model.IsAudit)
                            {
                                <button id="SendCreateAudit" type="button" class="btn btn-warning">送審</button>
                            }
                            @*<button id="SaveBtn" type="button" class="btn btn-primary" style="margin: 3px !important;">儲存</button>*@

                            if (!isTimeOut && Model.ID != 0 && isCreater)
                            {
                                @Html.ActionLink("刪除教育訓練", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm", @style = "margin: 3px !important;" })
                            }

                            if (Model.ID != 0)
                            {
                                @Html.ActionLink("查看訓練名單/簽到資料", "Index", "TrainingPersonAdmin", new { TraningID = Model.ID }, new { @class = "btn btn-info", @style = "margin: 3px !important;" })
                                if (isCreater)
                                {
                                @Html.ActionLink("發送通知", "SendNotify", new { tid = Model.ID, }, new { @class = "btn btn-warning", @style = "margin: 3px !important;", @onclick = "return confirm('確定要發送嗎 ? ');" })
                                }
                            }
                        }
                        @if (Model.FromAudit)
                        {
                            int stateInt = 0;
                            switch (adminInfo.Type)
                            {
                                case (int)MeetSignIn.Models.AdminType.Manager:
                                    stateInt = (int)MeetSignIn.Models.AuditState.OfficerAudit;
                                    break;
                                case (int)MeetSignIn.Models.AdminType.Vice:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ManagerAudit;
                                    break;
                                //case (int)MeetSignIn.Models.AdminType.Principal:
                                //    stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                                //    break;
                                case (int)MeetSignIn.Models.AdminType.President:
                                    stateInt = (int)MeetSignIn.Models.AuditState.ViceAudit;
                                    break;
                            }
                            if (adminInfo.IsPrincipal)
                            {
                                stateInt = (int)MeetSignIn.Models.AuditState.PresidentAudit;
                            }
                            @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { State = stateInt }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                        }
                        @*@Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default", @style = "margin: 3px !important;" })*@

                    </div>
                }
            </div>
            <div class="mask"></div>
            <div class="pop" style="border-radius:7px;">
                <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                    ×
                </div>
                <label class="label label-success">簽到Qrcode</label><br />
                <input name="print" class="btn btn-primary" type="button" id="bt" value="點選列印" style="margin-top: 5px;" />
                <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print">
                    @if (Model.ID != 0)
                    {
                        @Html.GenerateQrCode($"{signInUrl}")
                    }
                </div>

                <label class="label label-warning classopinion_btn">課後意見Qrcode</label><br />
                <input name="print2" class="btn btn-primary" type="button" id="bt2" value="點選列印" style="margin-top: 5px;" />
                <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print2">
                    @if (Model.ID != 0)
                    {
                        @Html.GenerateQrCode($"{opinionUrl}")
                    }
                </div>
            </div>
            @*<div class="pop2" style="border-radius:7px;">
                    <div onclick="ClosePop()" class="btn btn-danger" style="margin-left: 95% !important; ">
                        ×
                    </div>
                    <input name="print" class="btn btn-primary" type="button" id="bt" value="點選列印" />
                    <div style="margin-top:10px;" class="meeting_signIn_Info" id="div_print">
                        @if (Model.ID != 0)
                        {
                            @Html.GenerateQrCode($"{signInUrl}")
                        }
                    </div>

                </div>*@
        </div>
    </div>
</section>

@section scripts{
    <!--CanvasJS-->
    <script src="~/Content/assets/scripts/canvasjs.min.js"></script>
    <script>
        $(function () {
            ClosePop();
            $('#open_qrcode').on('click', function () {
                OpenPop();
            });
            $('#open_qrcode2').on('click', function () {
                OpenPop2();
            });
            $('#copy_meeting').on('click', function () {
                CopyMeeting();
            });

            SetSignChart();
            SetOpinionChart();
        });

        function Check_All(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) {
                checkboxs[i].checked = obj.checked;
            }
            $('input[name="ckb"]').each(function () {
                SwitchNotifyStatus($(this));
            });
        }

        function SendNotify() {
            var mid = $('#ID').val();

        }

        $(document).click(function (e) {
            var popup = $(".pop");
            var open_popup = $("#open_qrcode");
            //判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
                //則隱藏彈窗
                //popup.hide(500);
                ClosePop();
            }
            //var popup = $(".pop2");
            //var open_popup = $("#open_qrcode2");
            ////判斷事件對象不是彈窗對象  並且  彈窗對象不包含事件對象
            //if (!popup.is(e.target) && !open_popup.is(e.target) && popup.has(e.target).length == 0) {
            //    //則隱藏彈窗
            //    //popup.hide(500);
            //    OpenPop2();
            //}
        });

        function OpenPop() {
            //$(".content").toggle();
            $('.pop').fadeIn(200);
            $('.mask').fadeIn(400);
        }

        function ClosePop() {
            //$(".content").toggle();
            $('.pop').fadeOut(400);
            $('.mask').fadeOut(400);
        }
        //function OpenPop2() {
        //    //$(".content").toggle();
        //    $('.pop2').fadeIn(200);
        //    $('.mask').fadeIn(400);
        //}

        //function ClosePop2() {
        //    //$(".content").toggle();
        //    $('.pop2').fadeOut(400);
        //    $('.mask').fadeOut(400);
        //}

        function CopyMeeting() {
            var meetingId = @Model.ID;
            $.ajax({
                url: "/Admin/TrainingAdmin/CopyMeeting",
                type: 'POST',
                dataType: "text",
                async: false,
                data: {
                    meetingId: meetingId
                },
                success: function (data) {
                    return data;
                }
            });
        }

        //function printdiv(printpage) {
        //    var newstr = printpage.innerHTML;
        //    var oldstr = document.body.innerHTML;

        //    document.body.innerHTML = newstr;
        //    window.print();
        //    document.body.innerHTML = oldstr;
        //    return false;
        //}
        window.onload = function () {
            var bt = document.getElementById("bt");
            var div_print = document.getElementById("div_print");
            bt.onclick = function () {
                myPrint(div_print, '簽到');
            }
            var bt2 = document.getElementById("bt2");
            var div_print2 = document.getElementById("div_print2");
            bt2.onclick = function () {
                myPrint(div_print2, '課後意見');
            }
        }
        function myPrint(obj, typeTitle) {
            //打開一个新窗口newWindow
            var newWindow = window.open("列印視窗", "_blank");
            //要打印的div的内容
            var docStr = obj.innerHTML;
            newWindow.document.write('<div align="left" style="font-size: 30px;">' + typeTitle + ' Qrcode</div>');
            newWindow.document.write('<div align="left">課程名稱 : ' + '@Model.Title' + '</div>');
            newWindow.document.write('<div align="left">發起人 : ' + '@Model.Organiser' + '</div>');
            newWindow.document.write('<div align="left">場地 : ' + '@Model.RoomStr' + '</div>');
            newWindow.document.write('<div align="left">時間 : ' + '@Model.StartDate.ToString("yyyy/MM/dd HH:mm")' + '~' + '@Model.EndDate.ToString("yyyy/MM/dd HH:mm")' + '</div>');
            //打印内容寫入newWindow文檔
            newWindow.document.write(docStr);
            //關閉文檔
            newWindow.document.close();
            //調用打印機
            newWindow.print();
            //關閉newWindow頁面
            newWindow.close();
        }
    </script>
    <script>
        function setDateRange(timeElement) {
            timeElement.daterangepicker({
                "timePicker": true,
                "timePicker24Hour": true,
                "maxSpan": {
                    "days": 7
                },
                "locale": {
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "linkedCalendars": false,
                "showCustomRangeLabel": false,
                "startDate": "@Model.StartDate.ToString("yyyy/MM/dd HH")",
                "endDate": "@Model.EndDate.ToString("yyyy/MM/dd")",
                "minDate": "@DateTime.Now.AddDays(-7).ToString("yyyy/MM/dd")",
                "maxDate": "@DateTime.Now.AddMonths(1).ToString("yyyy/MM/dd")",
                "drops": "auto"
            }, function (start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });
        }
    </script>
    <script>
        $(function () {
            var isTimeOut = '@isTimeOut';
            var isAudit = '@Model.IsAudit';
            var isLockTime = '@(Model.StartDate.AddDays(-7) <= DateTime.Now && Model.ID != 0)';
            //預設監聽
            setDateTime($("#SignDate"), 1);
            setDateTime($("#StartDate"), 1);
            ChangeEndDate();
            //依據時間鎖定
            //if (isTimeOut == 'False') {
            //    ChangeFactory();
            //    ChangeDepartment();
            //    CheckedNotify();
            //    $('.lock_switch').each(function () {
            //        $(this).removeAttr('readonly', 'true');
            //    });
            //}
            //else {
            //    $('.lock_switch').each(function () {
            //        $(this).attr('readonly', 'true');
            //    });
            //}
            //依據審核鎖定
            if (isAudit == 'False' && isLockTime == "False") {
                ChangeFactory();
                ChangeDepartment();
                CheckedNotify();
                $('.lock_switch').each(function () {
                    $(this).removeAttr('readonly', 'true');
                });
            }
            else {
                $('.lock_switch').each(function () {
                    $(this).attr('readonly', 'true');
                });
            }

            $('.tb_item').each(function () {
                var jobId = $(this).attr('id');
                if (selectedArr.indexOf(jobId < 0)) {
                    selectedArr.push(jobId);
                }
            });

            $('#FactoryID').on('change', function () {
                ChangeFactory();
            });
            //$('#Department').on('change', function () {
            //    ChangeDepartment();
            //});
            $('.dept_btn').each(function () {
                $(this).on('click', function () {
                    $('#loading_gif').removeAttr('style', 'display:none;');
                    $('#Department').val($(this).attr('id').split('_')[1]);
                    ChangeDepartment();
                    $('#loading_gif').attr('style', 'display:none;');
                });
            });
            $('#StartDate').on('change', function () {
                ChangeEndDate();
            });
            $('#Hours').on('change', function () {
                ChangeEndDate();
            });

        });

    </script>
    <script src="~/Content/js/meeting.js"></script>
    <script>
        $(function () {
            $('#switch_check_list').on('click', function () {
                $('#check_list_area').toggle("slow", function () {
                });
            });
            $('#FactoryID').on('change', function () {
                ChangeRoom();
            });
            ChangeRoom();

            //儲存資料
            $('#SaveBtn').on('click', function () {
                Submit();
            });

            $('#SendCreateAudit').on('click', function () {
                if (confirm('確定將資料送審嗎?')) {
                    $('#IsAudit').val(true);
                    Submit();
                }
            });

            function Submit() {
                var room = $('#RoomID').val();
                var start = $('#StartDate').val();
                var end = $('#EndDate').val();
                $.ajax({
                    url: "/Admin/TrainingAdmin/CheckRoomStatus",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: {
                        room: room,
                        start: start,
                        end: end,
                        excmid: $('#ID').val()
                    },
                    success: function (data) {
                        //return data;
                        if (data == '可選會議室') {
                            $('#selectedNotifyList').val(selectedArr);
                            $('#EditForm').submit();
                        }
                        else {
                            alert(data);
                        }
                    }
                });
            }
        });

        function ChangeRoom() {
            if ($('#FactoryID').val() == '9') {
                $('#url_form').removeAttr('style', 'display:none;');
            }
            else {
                $('#url_form').attr('style', 'display:none;');
            }
        }

        function ChangeEndDate() {
            var hours = parseFloat($('#Hours').val());
            var startDate = new Date($('#StartDate').val());
            var minutes = Math.round(60 * (hours % 1));
            startDate = new Date(startDate.setMinutes(new Date(startDate).getMinutes() + minutes));
            var newEndDateInt = startDate.setHours(startDate.getHours() + hours);
            var newEndDateStr = new Date(newEndDateInt).toLocaleString("zh-TW", {
                day: 'numeric',    //(e.g., 1)
                month: 'numeric',    //(e.g., Oct)
                year: 'numeric',   //(e.g., 2019)
                hour: '2-digit',   //(e.g., 02)
                minute: '2-digit', //(e.g., 02)
                hour12: false, // 24 小時制
            });


            $('#EndDate').val(newEndDateStr);
            $('#end_date').val(newEndDateStr);
        }
    </script>
}