﻿@model MeetSignIn.ViewModels.Auth.LoginView
@{
}

<div class="main-banner">
    <div class="bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h2 style="color: #aad3fd !important;">績效評比表單</h2>
                        <h3>使用者登入</h3>
                        @*<h3 style="color: darkorange !important;">填入工號</h3>*@
                    </div>
                </div>
                <div class="col-lg-12" style="margin-bottom: 14px;">
                    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { enctype = "multipart/form-data", @name = "gs", @id = "search-form", @style = "padding: 0px;" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ReturnUrl)
                        @*@Html.HiddenFor(model => model.MeetingID)*@
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.Account, new { @class = "searchText", @style = "border: 0px; border-top-right-radius: 7px; border-top-left-radius: 7px;", @placeholder = "工號", @required = "true", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <fieldset>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "searchText", @style = "border: 0px; border-top: 1px solid #8d99af;", @placeholder = "密碼", @required = "true", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                        </div>

                        <button class="main-button" style="border-radius: 7px;" type="submit"><i class="fa fa-arrow-right"></i> 登入</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


