﻿@model MeetSignIn.Areas.Admin.ViewModels.QNR.QNRView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增調查問卷" : "編輯調查問卷";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
    bool isCreater = adminInfo.Account == Model.CreatePersonId;
    bool isSupervisor = adminInfo.Type < (int)MeetSignIn.Models.AdminType.TeamLeader;
    bool isSys = adminInfo.Type == (int)MeetSignIn.Models.AdminType.Sysadmin;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        調查問卷管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.ID != 0 && isCreater)
                    {
                        @Html.ActionLink("複製問卷", "CopyQNR", new { id = Model.ID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("匯出", "ExportExcel", new { id = Model.ID }, new { @class = "btn btn-success" })
                    }
                </div>

                @using (Html.BeginForm("Edit", "QNRAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreatePersonId)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    @if (isSys)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title)
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height: 150px" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Year)
                                            @Html.DropDownListFor(model => model.Year, Model.YearOptions, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Month, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Month, Model.MonthOptions, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Depts)<br />
                                            @foreach (var item in Model.DeptOptions)
                                            {
                                                <div class="js-signer-Depts btn dept_btn" id="dept_@item.Value" style="margin: 2px 5px;">@item.Text</div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Depts, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-dept" } })
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                                @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input lock_switch" })
                                                <div class="state p-success">
                                                    @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Title)
                                        @Html.HiddenFor(model => model.Description)
                                        @Html.HiddenFor(model => model.Year)
                                        @Html.HiddenFor(model => model.Month)
                                        @Html.HiddenFor(model => model.Depts)
                                        @Html.HiddenFor(model => model.IsOnline)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title)
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @disabled = "true" })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height: 150px", @disabled = "true" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Year)
                                            @Html.DropDownListFor(model => model.Year, Model.YearOptions, new { @class = "form-control", @disabled = "true" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Month, new { style = "margin-top: 15px !important;" })
                                            @Html.DropDownListFor(model => model.Month, Model.MonthOptions, new { @class = "form-control", @disabled = "true" })
                                        </div>

                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Depts, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                                @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input", @disabled = "true" })
                                                <div class="state p-success">
                                                    @Html.LabelFor(model => model.IsOnline, new { @class = "form-check-label", @style = "font-weight:bold; " })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Model.ID != 0)
                                    {
                                        <!--編輯問題-->
                                        <div class="form-group">
                                            <h3>編輯問題</h3>
                                            <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                    <div class="col-sm-12 table-responsive">
                                                        @if (isSys)
                                                        {
                                                            <button id="add_qnr" type="button" class="btn btn-primary" data-toggle="modal" data-target="#QuestionModal">新增問題</button>
                                                        }
                                                        <table class="table table-bordered table-hover dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        編號
                                                                    </th>
                                                                    <th>
                                                                        問題
                                                                    </th>
                                                                    <th>
                                                                        類型
                                                                    </th>
                                                                    <th>
                                                                        必填
                                                                    </th>
                                                                    <th>
                                                                        排序
                                                                    </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.QuestionList != null && Model.QuestionList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.QuestionList)
                                                                    {
                                                                        <tr id="question_@item.ID">
                                                                            <td>
                                                                                @item.ID
                                                                            </td>
                                                                            <td>
                                                                                @item.Question
                                                                            </td>
                                                                            <td>
                                                                                @MeetSignIn.Utility.Helpers.EnumHelper.GetDescription((MeetSignIn.Models.AnswerType)item.AnswerType)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.IsRequired, "_UseStatus")
                                                                            </td>
                                                                            <td>
                                                                                @item.Sort
                                                                            </td>
                                                                            <td>
                                                                                @if (isSys)
                                                                                {
                                                                                <button class="btn btn-primary edit_qnr" type="button" data-toggle="modal" data-target="#QuestionModal" data-id="@item.ID">編輯</button>
                                                                                <button class="btn btn-danger delete_qnr" data-id="@item.ID">刪除</button>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--填寫資料-->
                                        <div class="form-group">
                                            <h3>人員填寫紀錄</h3>
                                            <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="row">
                                                    <div class="col-sm-12 table-responsive">
                                                        <table class="table table-bordered table-hover dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        人員
                                                                    </th>
                                                                    <th>
                                                                        部門
                                                                    </th>
                                                                    <th>
                                                                        填寫日期
                                                                    </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.PersonResultList != null && Model.PersonResultList.Count() > 0)
                                                                {
                                                                    foreach (var item in Model.PersonResultList)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @item.PersonId @item.PersonName
                                                                            </td>
                                                                            <td>
                                                                                @item.DeptId @item.DeptName
                                                                            </td>
                                                                            <td>
                                                                                @item.CreateDate.ToString("yyyy-MM-dd")
                                                                            </td>
                                                                            <td>
                                                                                @if (isSupervisor)
                                                                                {
                                                                                <button class="btn btn-primary display_result" type="button" data-personid="@item.PersonId" data-qnrid="@item.QNRID" data-toggle="modal" data-target="#ResultModal">查看</button>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        @if (isSys)
                        {
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
        <div class="modal fade" id="QuestionModal" tabindex="-1" aria-labelledby="QuestionModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 70%; width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">編輯問題</h3>
                    </div>

                    <div class="modal-body">
                        <div class="box-head" id="question_body">

                        </div>
                        <div class="box-body">
                            <input type="hidden" id="question_id" />
                            <input type="hidden" id="question_linkqid" />
                            <input type="hidden" id="question_triggeranswer" />
                            <div class="form-group d-none" style="margin-left:5px;">
                                <label>觸發問題</label>
                                <input id="question_linkqid_dis" class="form-control" disabled/>
                            </div>
                            <div class="form-group d-none" style="margin-left:5px;">
                                <label>觸發選項</label>
                                <input id="question_triggeranswer_dis" class="form-control" disabled/>
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>問題</label>
                                <input id="question_question" class="form-control" />
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>類型</label>
                                <select id="question_answertype" class="form-control">
                                    <option value="1">文字</option>
                                    <option value="2">多行文字</option>
                                    <option value="3">日期</option>
                                    <option value="4">單選</option>
                                    <option value="5">複選</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <div class="d-none">
                                    <label>選項組</label>
                                    <select id="question_optiongroup" class="form-control">
                                        <option value="">---請選擇選項組---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>排序</label>
                                <input id="question_sort" class="form-control" type="number" placeholder="0" />
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                    <input class="form-check-input" type="checkbox" id="question_isrequired" />
                                    <div class="state p-warning">
                                        <label class="form-check-label" style="font-weight:bold;">必填</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-none" style="margin-left:5px;" id="option_table">
                                <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12 table-responsive">
                                            <table class="table table-bordered table-hover dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            選項
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="option_item">
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none" id="link_question">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (isSys)
                        {
                            <button id="save_qnr" type="submit" class="btn btn-primary">儲存</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ResultModal" tabindex="-1" aria-labelledby="ResultModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 70%; width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">人員填寫紀錄</h3>
                    </div>

                    <div class="modal-body">
                        <div class="box-body" id="result_content">
                            <!--填寫問卷資料-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            GetOptionGroup();
            $('#question_answertype').on('change', function () {
                ChangeAnswerType();
            });

            $('#add_qnr').on('click', function () {
                AddQNR();
            });

            $('.edit_qnr').on('click', function () {
                EditQNR($(this));
            });

            ListenTriggerAnswer();

            $('#save_qnr').on('click', function () {
                var saveData = {
                    id: parseInt($('#question_id').val()) || 0,
                    qnrId: parseInt($('#ID').val()),
                    question: $('#question_question').val(),
                    answertype: parseInt($('#question_answertype').val()) || 0,
                    sort: parseInt($('#question_sort').val()) || 0,
                    optiongroup: parseInt($('#question_optiongroup option:selected').val()) || 0,
                    isrequired: $('#question_isrequired').is(':checked')
                };

                $.ajax({
                    url: "/Admin/QNRAdmin/SaveQuestion",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        if (response == 'success') {
                            toastr.success('儲存成功');
                            setTimeout(function () {
                                window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                            }, 1000);
                        }
                        else {
                            toastr.error('儲存失敗');
                        }
                    }
                });
            });

            $('.delete_qnr').on('click', function () {
                if (confirm('確定刪除此問題嗎?')) {
                    $('#question_' + $(this).data('id')).clear();
                    $.ajax({
                        url: "/Admin/OptionGroupAdmin/DeleteQuestion",
                        type: 'POST',
                        dataType: "text",
                        async: false,
                        data: {
                            Id: Id
                        },
                        success: function (response) {
                            console.log(response);
                            if (response == 'success') {
                                toastr.success('刪除成功');
                                setTimeout(function () {
                                    window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                                }, 1000);
                            }
                            else {
                                toastr.error('刪除失敗');
                            }
                        }
                    });

                }
            });

            $('.display_result').on('click', function () {
                //取得填寫資料
                $.ajax({
                    url: "/Admin/QNRAdmin/GetQNRResult",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        personId: $(this).data('personid'),
                        qnrid: $(this).data('qnrid'),
                    },
                    success: function (data) {
                        console.log(data);
                        var htmlStr = '';
                        $('#result_content').empty();
                        for (var i = 0; i < data.length; i++) {
                            var result = data[i];
                            switch (result.AnswerType) {
                                case 1://文字
                                    htmlStr += `<div class="form-group" style="margin-left:5px;">
                                                    <label>${result.Question}</label>
                                                    <input class="form-control" value="${result.Answer}" disabled/>
                                                </div>`;
                                    break;
                                case 2://多行文字
                                    htmlStr += `<div class="form-group" style="margin-left:5px;">
                                                    <label>${result.Question}</label>
                                                    <textarea class="form-control" disabled>${result.Answer}</textarea>
                                                </div>`;
                                    break;
                                case 3://日期
                                    htmlStr += `<div class="form-group" style="margin-left:5px;">
                                                    <label>${result.Question}</label>
                                                    <input class="form-control" value="${result.Answer}" disabled/>
                                                </div>`;
                                    break;
                                case 4://單選
                                    htmlStr += `<div class="form-group" style="margin-left:5px;">
                                                    <label>${result.Question}</label>
                                                    <input class="form-control" value="${result.Answer}" disabled/>
                                                </div>`;
                                    break;
                                case 5://複選
                                    htmlStr += `<div class="form-group" style="margin-left:5px;">
                                                    <label>${result.Question}</label>
                                                    <input class="form-control" value="${result.Answer}" disabled/>
                                                </div>`;
                                    break;
                            }
                        }

                        $('#result_content').html(htmlStr);
                    }
                });
            });

            $('#question_optiongroup').on('change', function () {
                ChangeOptionGroup();
            });

            function AddQNR() {               
                $('#question_id').val(0);
                $('#question_question').val('');
                $('#question_answertype').val(1);
                $('#question_sort').val(0);
                $('#question_optiongroup').val(0);
                $('#question_isrequired').prop("checked", false);
                GetLinkQuestionInfo();
                ChangeAnswerType();
            }

            function EditQNR(element) {                
                GetQuestionInfo(element.data('id'));
                GetLinkQuestionInfo()
                ChangeAnswerType();
            }

            function GetQuestionInfo(Id) {
                $.ajax({
                    url: "/Admin/QNRAdmin/GetQuestion",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        questionId: Id
                    },
                    success: function (response) {
                        $('#question_id').val(response.ID);
                        $('#question_linkqid').val(response.LinkQNRQID);
                        $('#question_triggeranswer').val(response.TriggerAnswer);
                        $('#question_question').val(response.Question);
                        $('#question_answertype').val(response.AnswerType);
                        $('#question_sort').val(response.Sort);
                        $('#question_optiongroup').val(response.OptionGroup);
                        if (response.IsRequired == true) {
                            $('#question_isrequired').prop("checked", true);
                        }
                        else {
                            $('#question_isrequired').prop("checked", false);
                        }

                    }
                });
            }

            function GetLinkQuestionInfo() {
                var linkqid = $(this).data('linkqid');
                if (linkqid != null && linkqid != '0') {
                    $('#question_linkqid').val(linkqid);
                    $('#question_triggeranswer').val($(this).data('triggeranswer'));
                    $('#question_linkqid_dis').val(linkqid);
                    $('#question_triggeranswer_dis').val($(this).data('triggeranswer'));
                }
            }

            function ListenTriggerAnswer() {
                $('.add_link_qnr').each(function () {
                    var linkqid = $(this).data('linkqid');
                    $(this).on('click', function () {
                        if (linkqid != null) {
                            $('#question_body').html(`<h5><button class="btn btn-default edit_link_qnr" data-id="${linkqid}">返回</button></h5>`);
                            ListenTriggerAnswer();
                        }
                        else {
                            $('#question_body').empty();
                        }
                        AddQNR();                       
                    });
                });

                $('.edit_link_qnr').each(function () {
                    var linkqid = $(this).data('linkqid');
                    $(this).on('click', function () {
                        if (linkqid != null) {
                            $('#question_body').html(`<h5><button class="btn btn-default edit_link_qnr" data-id="${linkqid}">返回</button></h5>`);
                            ListenTriggerAnswer();
                        }
                        else {
                            $('#question_body').empty();
                        }
                        EditQNR($(this));                      
                    });
                });
            }

            function ChangeOptionGroup() {
                var groupId = $('#question_optiongroup').val();
                var qId = parseInt($('#question_id').val());
                $.ajax({
                    url: "/Admin/QNRAdmin/GetOptions",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        groupId: groupId,
                        qId: qId
                    },
                    success: function (data) {
                        var htmlStr = '';
                        $('#option_item').empty();
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            htmlStr += `<tr>
                                                <td>
                                                    ${item.Title}
                                                </td>
                                                <td style="text-align: right;">`;
                            if (item.QNRQID == 0) {
                                htmlStr += `<button class="btn btn-success add_link_qnr" type="button" data-id="0" data-linkqid="${qId}" data-triggeranswer="${item.ID}"><i class="fa fa-plus-square-o"> 連結問題</i></button>`;
                            }
                            else {
                                htmlStr += `<button class="btn btn-primary edit_link_qnr" type="button" data-id="${item.QNRQID}" data-linkqid="${qId}" data-triggeranswer="${item.ID}"><i class="fa fa-pencil-square-o"> 連結問題</i></button>`;
                            }
                            htmlStr += `</td>
                                        </tr>`;
                        }
                        $('#option_item').html(htmlStr);
                        ListenTriggerAnswer();
                    }
                });
            }

            function GetOptionGroup() {
                var htmlStr = '';
                $.ajax({
                    url: "/Admin/OptionGroupAdmin/GetOptionGroup",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        console.log(response);
                        for (var i = 0; i < response.length; i++) {
                            var item = response[i];
                            htmlStr += `<option value="${item.ID}">${item.Title}</option>`;
                        }
                        $('#question_optiongroup').html(htmlStr);
                    }
                });
            }

            function ChangeAnswerType() {
                switch ($('#question_answertype').val()) {
                    case '4':
                        $('#question_optiongroup').parent().removeClass('d-none');
                        $('#option_table').removeClass('d-none');
                        ChangeOptionGroup();
                        break;
                    case '5':
                        $('#question_optiongroup').parent().removeClass('d-none');
                        $('#option_table').addClass('d-none');
                        break;
                    default:
                        $('#question_optiongroup').parent().addClass('d-none');
                        $('#option_table').addClass('d-none');
                        break;
                }
            }

            var remove;
            var $selectedDeptType = $('#Depts');

            //Depts
            $selectedDeptType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedDeptType.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('.js-signer-Depts').on('click', function () {
                //var id = $(this).val();
                var val = $(this).text();
                $selectedDeptType.tagsinput('add', val);
            });
        });
    </script>
}