﻿@model MeetSignIn.Areas.Admin.ViewModels.PFWorks.PFWorksIndexView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增評比作業" : "編輯評比作業";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        評比作業管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "PFWorksAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DeptId)
                    @Html.HiddenFor(model => model.ClassID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeptId)
                                        <input type="text" class="form-control" value="@Model.DeptId @Model.DeptName" disabled />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ClassID)
                                        <input type="text" class="form-control" value="@Model.ClassName" disabled />
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Points)
                                        <input type="number" id="Points" class="form-control" value="@Model.Points" disabled />
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", "PFWorksAdmin", new { DeptId = Model.DeptId, ClassID = Model.ClassID}, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">評比項目列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">

                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ClassCatesList.Count() > 0)
                                        {
                                            foreach (var cate in Model.ClassCatesList.OrderBy(q => q.Sort))
                                            {
                                                <tr>
                                                    <td width="15%">@cate.Title</td>
                                                    <td width="85%">
                                                        @if (cate.ItmList.Count() > 0)
                                                        {
                                                            <table class="table table-hover dataTable">
                                                                <thead>
                                                                    <tr>
                                                                        <td width="35%">評比項目</td>
                                                                        <td width="5%">必填</td>
                                                                        <td width="55%">層級</td>
                                                                        <td width="5%">點數</td>
                                                                        @*<td width="20%">啟用狀態</td>*@
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var itm in cate.ItmList.OrderBy(q => q.Sort))
                                                                    {
                                                                        <tr class="pfwork" id="pfwork_@itm.ID">
                                                                            <td>
                                                                                @itm.Title
                                                                            </td>
                                                                            <td>
                                                                                @if (itm.IsRequired)
                                                                                {
                                                                                    <label class="label label-info">是</label>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <label class="label label-default">否</label>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                <select class="form-control work_lvlid" id="lvlid_@(itm.ID)" data-id="0" data-itm="@itm.ID" data-points="0" style="width:400px;">
                                                                                    @if (itm.LvlList.Count() > 0)
                                                                                    {
                                                                                        foreach (var lvl in itm.LvlList)
                                                                                        {
                                                                                            <option value="@lvl.ID">@lvl.Title</option>
                                                                                        }
                                                                                    }
                                                                                </select>
                                                                            </td>        
                                                                            <td>
                                                                                <span id="lvlpoints_@(itm.ID)"></span>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('.pfwork').each(function () {
                var itemId = $(this).attr('id').split('_')[1];
                SetWorksInfo(parseInt(itemId));
            });

            function SetWorksInfo(itemId) {
                var thisItem = $('#lvlid_' + itemId);
                if (itemId != 0 && $('#Title').val() != '') {
                    $.ajax({
                        url: "/PFWorksAdmin/GetWorks",
                        type: 'POST',
                        anysc: false,
                        dataType: "json",
                        data: {
                            workId: @Model.ID,
                            title: $('#Title').val(),
                            itemId: itemId,
                            classId: '@Model.ClassID',
                            deptId: '@Model.DeptId',
                        },
                        success: function (data) {
                            thisItem.data('points', data.Points);
                            thisItem.data('id', data.ID);
                            thisItem.val(data.LvlID);

                            var points = parseInt($('#Points').val());
                            $('#Points').val(points + data.Points);
                            $('#lvlpoints_' + itemId).text(data.Points);
                        }
                    });
                }
                thisItem.data('itm', itemId);
            }

            $('#SaveBtn').on('click', function () {
                SaveWorks();
            });

            function SaveWorks() {
                if ($('#Title').val() == '') {
                    alert('請輸入評比作業標題 !');
                    return false;
                }
                var saveData = [];
                $('.work_lvlid').each(function () {
                    var itm = $(this).data('itm');
                    var data = {
                        ID: parseInt($(this).data('id')),
                        //Title: $('#Title').val(),
                        //ClassID: parseInt('@Model.ClassID'),
                        //DeptId: '@Model.DeptId',
                        ItemID: parseInt(itm),
                        LvlID: parseInt($('#lvlid_' + itm).val()),
                        IsOnline: $('#isonline_' + itm).is(':checked'),
                    };
                    saveData.push(data);
                });

                $.ajax({
                    url: "/PFWorksAdmin/SaveWorks",
                    type: 'POST',
                    anysc: false,
                    dataType: "text",
                    data: {
                        'id': parseInt($('#ID').val()),
                        'title': $('#Title').val(),
                        'classId': parseInt('@Model.ClassID'),
                        'deptId': '@Model.DeptId',
                        'points': parseInt($('#Points').val()),
                        'jsonData': JSON.stringify({
                            'saveData': saveData
                        })
                    },
                    success: function (response) {
                        if (response != '0') {
                            location.href = '/Admin/PFWorksAdmin/Edit/' + response + '?DeptId=@Model.DeptId&ClassID=@Model.ClassID';
                        }
                        else {
                            alert('儲存失敗 ! ');
                        }
                        //console.log(response);
                        //location.reload();
                    }
                });

            }
        })
    </script>
}