﻿@model MeetSignIn.Areas.Admin.ViewModels.PFWorks.PFWorksIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.DeptName - 評比作業管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "PFWorksAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.RoomNumber, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control", @placeholder = "會議室編號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.FactoryID, Model.FactoryOptions, "---選擇廠區---", new { @class = "form-control" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增評比作業", "Edit", "PFWorksAdmin", new { DeptId = Model.DeptId, ClassID = Model.ClassID }, new { @class = "btn btn-default bg-olive" })
                                @Html.ActionLink("返回" + Model.DeptName + "評比分類項目", "DeptPFEdit", "PFCategoryAdmin", new { DeptId = Model.DeptId + "_" + Model.DeptName }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">評比作業列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @*@Html.Partial("_PageSizeAdmin", Model.PageResult)*@
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Title)
                                            </th>
                                            @*<th>
                                                @Html.DisplayNameFor(x => x.IsOnline)
                                            </th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.WorkList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Title
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>*@
                                                <td>
                                                    @*@Html.ActionLink("查看", "Edit", "PFWorksAdmin", new { DeptId = item.DeptId, ClassID = item.ClassID, Title = item.Title }, new { @class = "btn btn-primary" })*@ 
                                                    @Html.ActionLink("查看", "Edit", "PFWorksAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


