﻿@model MeetSignIn.Areas.Admin.ViewModels.OptionGroup.OptionGroupView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增選項組" : "編輯選項組";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        選項組管理
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "OptionGroupAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>

                                    @if (Model.ID != 0)
                                    {
                                    <div class="form-group">
                                        <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12 table-responsive">
                                                    <button id="add_Item" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ItemModal">新增</button>
                                                    <table class="table table-bordered table-hover dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    選項名稱
                                                                </th>
                                                                <th>
                                                                    啟用狀態
                                                                </th>
                                                                <th>
                                                                    排序
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ItemList.Count() > 0)
                                                            {
                                                                foreach (var item in Model.ItemList)
                                                                {
                                                                <tr id="groupitem_@item.ID">
                                                                    <td>
                                                                        @item.Title
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                                    </td>
                                                                    <td>
                                                                        @item.Sort
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-primary edit_Item" type="button" data-toggle="modal" data-target="#ItemModal" data-id="@item.ID">編輯</button>
                                                                        <button class="btn btn-danger delete_Item" data-id="@item.ID">刪除</button>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <button id="SaveBtn" type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
        <div class="modal fade" id="ItemModal" tabindex="-1" aria-labelledby="ItemModal" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 70%; width: 70% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">編輯選項</h3>
                    </div>

                    <div class="modal-body">
                        <div class="box-body">
                            <input type="hidden" id="item_id"/>
                            <div class="form-group" style="margin-left:5px;">
                                <label>選項名稱</label>
                                <input id="item_title" class="form-control" />
                            </div>
                            <div class="form-group" style="margin-left:5px;">
                                <label>排序</label>
                                <input id="item_sort" class="form-control" type="number" placeholder="0" />
                            </div>
                            @*<div class="pretty p-switch p-fill" style="margin-bottom:10px;">
                                <input class="form-check-input" id="item_isonline" />
                                <div class="state p-notice">
                                    <label>啟用狀態</label>
                                </div>
                            </div>*@
                            <div class="form-group" style="margin-left:5px;">
                                <div class="form-check pretty p-switch p-fill" style="margin-bottom:10px; margin-top: 10px;">
                                    <input class="form-check-input" type="checkbox" id="item_isonline" />
                                    <div class="state p-success">
                                        <label class="form-check-label" style="font-weight:bold;">啟用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="save_item" type="submit" class="btn btn-primary">儲存</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#add_Item').on('click', function () {
                $('#item_id').val(0);
                $('#item_title').val('');
                $('#item_sort').val(0);
                $('#item_isonline').prop("checked", true);
            });

            $('.edit_Item').on('click', function () {
                GetItemInfo($(this).data('id'));
            });

            $('#save_item').on('click', function () {
                var saveData = {
                    id: parseInt($('#item_id').val()) || 0,
                    optiongroupId: parseInt($('#ID').val()),
                    title: $('#item_title').val(),
                    sort: parseInt($('#item_sort').val()) || 0,
                    isonline: $('#item_isonline').is(':checked')
                };
               
                $.ajax({
                    url: "/Admin/OptionGroupAdmin/SaveOptionItem",
                    type: 'POST',
                    dataType: "text",
                    async: false,
                    data: saveData,
                    success: function (response) {
                        console.log(response);
                        if (response == 'success') {
                            toastr.success('儲存成功');
                            setTimeout(function () {
                                window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                            }, 1000);
                        }
                        else {
                            toastr.error('儲存失敗');
                        }
                    }
                });
            });

            $('.delete_Item').on('click', function () {
                if (confirm('確定刪除此選項嗎?')) {
                    $('#optionitem_' + $(this).data('id')).clear();
                    $.ajax({
                        url: "/Admin/OptionGroupAdmin/DeleteOptionItem",
                        type: 'POST',
                        dataType: "text",
                        async: false,
                        data: {
                            Id: Id
                        },
                        success: function (response) {
                            console.log(response);
                            if (response == 'success') {
                                toastr.success('刪除成功');
                                setTimeout(function () {
                                    window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                                }, 1000);
                            }
                            else {
                                toastr.error('刪除失敗');
                            }
                        }
                    });
                }
            });

            function GetItemInfo(Id) {
                $.ajax({
                    url: "/Admin/OptionGroupAdmin/GetOptionItem",
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    data: {
                        itemId: Id
                    },
                    success: function (response) {
                        console.log(response);
                        $('#item_id').val(response.ID);
                        $('#item_title').val(response.Title);
                        $('#item_sort').val(response.Sort);
                        if (response.IsOnline == true) {
                            $('#item_isonline').prop("checked", true);
                        }
                        else {
                            $('#item_isonline').prop("checked", false);
                        }
                       
                    }
                });
            }

        });
    </script>
}