﻿@model MeetSignIn.Areas.Admin.ViewModels.ClassReport.ClassReportView
@{
    ViewBag.Title = "Edit";
    string title = Model.ID == 0 ? "新增課後心得報告" : "編輯課後心得報告";
    var adminInfo = MeetSignIn.Utility.Helpers.AdminInfoHelper.GetAdminInfo();
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        課後心得報告
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAdmin")"><i class="fa fa-home"></i> 首頁</a></li>
        <li><a href="@Url.Action("Participate", "TrainingAdmin", new { PersonID = Model.PersonID })">教育訓練</a></li>
        <li class="active">【@Model.TrainingInfo.Title】 課後心得報告</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@title</h3>
                    @if (Model.IsAudit && adminInfo.Account == Model.PersonID)
                    {
                        @Html.ActionLink("取消審核/重新編輯", "Edit", "ClassReportAdmin", new { trainingId = Model.TrainingID, personId = Model.PersonID, isNew = true }, new { @class = "btn btn-default bg-maroon" })
                    }
                </div>

                @using (Html.BeginForm("Edit", "ClassReportAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.TrainingID)
                    @Html.HiddenFor(model => model.PersonID)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.IsAudit)
                    @Html.HiddenFor(model => model.FromAudit)

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <div class="tab-pane active" id="tab_0">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.Name)
                                        <input class="form-control" maxlength="50" value="@Model.Name" disabled>
                                    </div>
                                    <div class="col-sm-5">
                                        @Html.LabelFor(model => model.TrainingInfo.Title)
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.Title" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓時間</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.StartDate.ToString("yyyy/MM/dd") - @Model.TrainingInfo.EndDate.ToString("yyyy/MM/dd")" disabled />
                                    </div>
                                    <div class="col-sm-5">
                                        <label>主辦單位</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.DeptName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>受訓地點</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.RoomStr" disabled>
                                    </div>
                                    <div class="col-sm-5">
                                        <label>講師名稱</label>
                                        <input class="form-control" maxlength="50" value="@Model.TrainingInfo.Lecturer" disabled>
                                    </div>
                                </div>
                                @if (Model.IsAudit)
                                {
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <hr align="center" width="100%" class="hr_split">
                                            @Html.LabelFor(model => model.Report)
                                            @Html.TextAreaFor(model => model.Report, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.Usage)
                                            @Html.TextAreaFor(model => model.Usage, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.RequireAdvice)
                                            @Html.TextAreaFor(model => model.RequireAdvice, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.RequireAdvice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.Report)
                                    @Html.HiddenFor(model => model.Usage)
                                    @Html.HiddenFor(model => model.RequireAdvice)
                                }
                                else
                                {
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <hr align="center" width="100%" class="hr_split">
                                            @Html.LabelFor(model => model.Report)
                                            @Html.TextAreaFor(model => model.Report, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.Usage)
                                            @Html.TextAreaFor(model => model.Usage, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.RequireAdvice)
                                            @Html.TextAreaFor(model => model.RequireAdvice, new { @class = "form-control js-ckeditor lock_disabled", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.RequireAdvice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                                @if (adminInfo.ID == Model.TrainingInfo.Creater)
                                {//承辦人
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.OfficerAudit)
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.OfficerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.OfficerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.OfficerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.OfficerRemark)
                                            @Html.TextAreaFor(model => model.OfficerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @if (Model.OfficerAudit > 1)
                                            {
                                                <div style="position:relative;">
                                                    <img class="signature_img" src="~/Content/Signature/@Model.OfficerSignature" />
                                                    <p class="signature_date">@Model.OfficerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                </div>
                                            }
                                            @Html.HiddenFor(model => model.OfficerSignature)
                                            @Html.HiddenFor(model => model.OfficerAuditDate)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalSignature)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                }
                                else if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Manager)
                                {//主管
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.ManagerAudit)
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ManagerAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ManagerAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ManagerAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ManagerRemark)
                                            @Html.TextAreaFor(model => model.ManagerRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @if (Model.ManagerAudit > 1)
                                            {
                                                <div style="position:relative;">
                                                    <img class="signature_img" src="~/Content/Signature/@Model.ManagerSignature" />
                                                    <p class="signature_date">@Model.ManagerAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                </div>
                                            }
                                            @Html.HiddenFor(model => model.ManagerSignature)
                                            @Html.HiddenFor(model => model.ManagerAuditDate)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalSignature)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                }
                                else if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.Vice)
                                {//副理
                                    <div class="form-group">

                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.ViceAudit)
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ViceAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ViceAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.ViceAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.ViceRemark)
                                            @Html.TextAreaFor(model => model.ViceRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @if (Model.ViceAudit > 1)
                                            {
                                                <div style="position:relative;">
                                                    <img class="signature_img" src="~/Content/Signature/@Model.ViceSignature" />
                                                    <p class="signature_date">@Model.ViceAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                </div>
                                            }
                                            @Html.HiddenFor(model => model.ViceSignature)
                                            @Html.HiddenFor(model => model.ViceAuditDate)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalSignature)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                }
                                else if (adminInfo.IsPrincipal)
                                {//校長
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.PrincipalAudit)
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PrincipalAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PrincipalAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PrincipalAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PrincipalRemark)
                                            @Html.TextAreaFor(model => model.PrincipalRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @if (Model.PrincipalAudit > 1)
                                            {
                                                <div style="position:relative;">
                                                    <img class="signature_img" src="~/Content/Signature/@Model.PrincipalSignature" />
                                                    <p class="signature_date">@Model.PrincipalAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                </div>
                                            }
                                            @Html.HiddenFor(model => model.PrincipalSignature)
                                            @Html.HiddenFor(model => model.PrincipalAuditDate)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                }
                                else if (adminInfo.Type == (int)MeetSignIn.Models.AdminType.President)
                                {//總經理
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(model => model.PresidentAudit)
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PresidentAudit, "1", new { @class = "audit_radio" })<div class="state p-warning-o"><label>待審</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PresidentAudit, "2", new { @class = "audit_radio" })<div class="state p-success-o"><label>核准</label></div>
                                            </div>
                                            <div class="pretty p-default p-curve p-bigger" style="margin-top:10px;">
                                                @Html.RadioButtonFor(model => model.PresidentAudit, "3", new { @class = "audit_radio" })<div class="state p-danger-o"><label>駁回</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.PresidentRemark)
                                            @Html.TextAreaFor(model => model.PresidentRemark, new { @class = "form-control", @maxlength = "500", @style = "resize: none; height: 200px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            @if (Model.PresidentAudit > 1)
                                            {
                                                <div style="position:relative;">
                                                    <img class="signature_img" src="~/Content/Signature/@Model.PresidentSignature" />
                                                    <p class="signature_date">@Model.PresidentAuditDate.ToString("yyyy 年 MM 月 dd 日")</p>
                                                </div>
                                            }
                                            @Html.HiddenFor(model => model.PresidentSignature)
                                            @Html.HiddenFor(model => model.PresidentAuditDate)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalSignature)
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.OfficerAudit)
                                    @Html.HiddenFor(model => model.OfficerRemark)
                                    @Html.HiddenFor(model => model.OfficerSignature)
                                    @Html.HiddenFor(model => model.ManagerAudit)
                                    @Html.HiddenFor(model => model.ManagerRemark)
                                    @Html.HiddenFor(model => model.ManagerSignature)
                                    @Html.HiddenFor(model => model.ViceAudit)
                                    @Html.HiddenFor(model => model.ViceRemark)
                                    @Html.HiddenFor(model => model.ViceSignature)
                                    @Html.HiddenFor(model => model.PrincipalAudit)
                                    @Html.HiddenFor(model => model.PrincipalRemark)
                                    @Html.HiddenFor(model => model.PrincipalSignature)
                                    @Html.HiddenFor(model => model.PresidentAudit)
                                    @Html.HiddenFor(model => model.PresidentRemark)
                                    @Html.HiddenFor(model => model.PresidentSignature)
                                }

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-10">
                            <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
                            @if (Model.ID != 0 && adminInfo.Account == Model.PersonID && !Model.IsAudit)
                            {
                                <button id="SendAudit" type="button" class="btn btn-warning">送審</button>
                            }
                            @if (Model.FromAudit)
                            {
                                @Html.ActionLink("取消/回列表", "Index", "AuditAdmin", new { }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("取消/回列表", "Participate", "TrainingAdmin", new { PersonID = adminInfo.Account }, new { @class = "btn btn-default" })
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#SaveBtn').on('click', function () {
                $('#EditForm').submit();
            });
            if ($('#IsAudit').val() == 'True') {
                $('.lock_disabled').each(function () {
                    $(this).attr('disabled', true);
                });
            }
        })
    </script>
}