﻿@model MeetSignIn.Areas.Admin.ViewModels.ClassReport.ClassReportIndexView
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        課後心得報告管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ClassReportAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.TrainingID)
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.PersonID, new { @class = "form-control", @placeholder = "工號" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "姓名" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.Name, Model.FactoryOptions, "---選擇廠區---", new { @class = "form-control" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @*@Html.ActionLink("新增課後心得報告", "Edit", "ClassReportAdmin", new { }, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">課後心得報告列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.TrainingInfo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PersonID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.TrainingInfo.Title
                                                </td>
                                                <td>
                                                    @item.PersonID
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <th>
                                                    @item.CreateDate.ToString("yyyy/MM/dd")
                                                </th>
                                                <td>
                                                    @Html.ActionLink("查看", "Edit", "ClassReportAdmin", new { id = item.ID, trainingId = item.TrainingID, personId = item.PersonID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(x => x.TrainingInfo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.PersonID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(x => x.CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}


